$aubergine: #25003e; // background
$zucchini: #003e24; // background
$focus: #3bffb7; // background
$grape: #8146f6; // background secondary
$grape-light: #d3c5fa; // background secondary
$litschi: #ff9aa2; // background secondary
$blueberry: #3d67ff; // background passive
$orange: #ffba68; // tertiary
$banana: #ffe872; // tertiary
$apple: #b2ff8e; // tertiary
$success: #4dd753; // success
$warning: #ffe046; // warning
$error: #ff515f; // danger/error
$lime-green: #7ff409; // links on dark
$action: #4200ff; // links on light
$active-green: #0f8545; // buttons & links
$elevation-shadow: rgba(66, 0, 255, 0.2); // LSD/Elevation/Shadow
$elevation-shadow-soft: rgba(0, 0, 0, 0.2); // LSD/Elevation/ShadowSoft
$body-background: #fff;

$white: #fff;
$black: #000;
$black60: #666666; // rgba(0, 0, 0, 0.6);
$black75: rgba(0, 0, 0, 0.75);
$grape75: rgba(123, 97, 255, 0.4);
$heading-title-color: #152536;

$g-900: #1e1e1e;
$g-800: #333641;
$g-700: #6e748c;
$g-600: #9094a7;
$g-400: #d3d5da;
$g-300: #dddee8;
$g-200: #eeeff7;
$g-100: #f9f9fb;

$theme-colors: (
  "primary": $base-color,
  "secondary": $g-600,
  "success": $success,
  "danger": $error,
  "warning": $warning,
  "info": $grape,
  "light": $g-200,
  "dark": $g-900,
  "black60": $black60,
  "cancel": $g-600, // replace with secondary
);
