@mixin h1 {
  font-weight : $font-weight-600;
  font-size   : $font-size-lg;
  line-height : $line-height-26;
}

@mixin h3 {
  font-weight : $font-weight-500;
  font-size   : $font-size-sm;
  line-height : $line-height-20;
}
