/* Fix for IE11 - no array question radio buttons on small screens */
@media all and (max-width: 760px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  table.ls-answers .checkbox-item label.ls-label-xs-visibility::before {
    margin-left: 0px;
  }
  table.ls-answers .checkbox-item label.ls-label-xs-visibility::after {
    margin-left: 0px;
  }
}
