$modal-inner-padding: 1.5rem; // 24px

.modal-content {
  border: none;
  box-shadow: none;
  border-radius: 0px;
}
.modal-header {
  border-bottom: none;
  .btn-close {
    width: 0.75em;
    height: 0.75em;
    opacity: 1;
    font-size: $btn-font-size-sm;
    &:focus {
      box-shadow: none;
    }
  }
}
.modal-title {
  line-height: $line-height-26;
}

.modal-footer {
  border-top: none;
  padding: $modal-inner-padding;
}
