{#
/**
 * Cell for total
 * @var $empty
 */
#}
<!-- td_total -->
<td class="total information-item">
    {% if empty %}
        &nbsp;
    {% else %}
        <label class="sr-only">{{ gT("Total") }}</label>
        <input title="[[ROW_NAME]] total" {% if inputsize %}size="{{ inputsize }}"{% endif %} value="" type="text" disabled="disabled" class="disabled form-control total"  data-number='1' />
    {% endif %}
</td>
<!-- end of td_total -->
