.captcha-page {
    .control-label {
        @include control-label;
    }
    button#default {
        @include submit-button;
    }
    .form-heading {
        @include formheading;
    }
}

.captcha-item {
    margin-top: 24px;
    .captcha-container {
        display: flex;
    }
}
@media only screen and (max-width: 766px) {
    .reload-button, .captcha-input {
        padding-top: 8px;
    }
}