{#
    LimeSurvey
    Copyright (C) 2007-2017 The LimeSurvey Project Team / Louis Gac
    All rights reserved.
    License: GNU/GPL License v2 or later, see LICENSE.php
    LimeSurvey is free software. This version may have been modified pursuant
    to the GNU General Public License, and as distributed it includes or
    is derivative of works licensed under the GNU General Public License or
    other free or open source software licenses.
    See COPYRIGHT.php for copyright notices and details.


    (¯`·._.·(¯`·._.· Yii Flash Message ·._.·´¯)·._.·´¯)
    
    Show the possible Yii Flash messages (not related to survey, but rather to application).
    Only advanced users may use it.
#}

{%
    set mapYiiToBootstrapClass  = {
        'error'   : 'danger',
        'success' : 'success',
        'notice'  : 'info',
    }
%}

{% for key, message in aSurveyInfo.yiiflashmessages %}
    <div class='alert alert-{{ mapYiiToBootstrapClass.key }} alert-dismissible flash-{{ key }}'>
        {{ message | t }}
    </div>
{% endfor %}
