{#
/**
 * Array 5 point choice
 *
 * @var $answerwidth
 * @var $answertext2
 */
#}

<!-- answer_td_answertext -->
<td class="answertextright information-item">{{ answertext2 }}</td>
<!-- endof answer_td_answertext -->
