.form-change-lang {
    padding-bottom: 10px;

    .control-label {
        @include h2;
    }

    .language-icon {
        float: left; //preparation for rtl
        margin-right: 4px;
        font-weight: $font-weight-normal;
    }

    #language-changer-select {
        @include h2;
        cursor: pointer;
        border: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        z-index: 10;

        &:focus-visible {
            outline: none;
        }

        &:focus {
            border: 1px solid;
            border-radius: 4px;
            padding: 4px;
        }
    }

    .ls-language-changer-item {
        display: none;
    }
}

.top-content .form-change-lang {
    float: right
}