/*!
 * Style for the template
 *
 */
.container-fluid{max-width: 1170px;}

/* Sticky footer styles
 * see http://getbootstrap.com/examples/sticky-footer/
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

/* For testing purpose : better view of HTML answers part */
.answers-wrapper {
    margin: 0;
    padding: 0;
    border:1px dotted red;
}


/**
 * For the question label (number/code and mandatory)
 * If user add p or div : one line more
 */
.question-number,
.question-code
{float:left:margin-right:0.2em}



/* table alignment */
.table.question tbody .answertext{text-align:right}
.table.question .answertextright{text-align:left}
