# Do not remove this file. With a correct apache configuration
# this file should prevent acces cache file generated in runtime (randome string)
# prevent access to generated application.log and plugin.log
<IfVersion < 2.4>
    Order Allow,Deny
    Deny from all
</IfVersion>
<IfVersion >= 2.4>
    Require all denied
    <IfModule mod_access_compat.c>
        Order Allow,Deny
        Deny from all
    </IfModule>
</IfVersion>
