.grid-view {
    .table{
        td.button-column,th.button-column{ white-space: nowrap;text-align:initial}
        th > .sort-link .caret{ right: -10px; }
    }
}
.grid-view .table td .text-content {
    width:25em;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    height:1.5em;
    display:inline-block
}