<!-- Hints  -->
<div class="card card-primary border-left-danger h-100">
    <div class="card-header">
        <h5 class="card-title">{{gT("Hints and warnings")}}</h5>
    </div>
    <ul class="list-group list-group-flush">
        {% for warning in warnings %}
        <li class="list-group-item p-0 border-0">
            <div class="ls-flex-row col-12 text-warning">
                {{warning}}
            </div>
        </li>
        {% endfor %}
        {% for hint in hints %}
        <li class="list-group-item p-0 border-0">
            <div class="ls-flex-row col-12">
                {{hint}}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
