{#
/**
 * This file render the asterisk for mandatory questions
 */
#}
<!-- Add a visual information + just Mandatory string for aria : can be improved -->
<div class="asterisk float-start">
  <small class="text-danger fa fa-asterisk ri-asterisk small" aria-hidden='true'></small>
  <span class="visually-hidden text-danger">{{ gT("(This question is mandatory)") }}</span>
</div>
