{#
/**
 * This file render the help message when validating
 * @var $message
 */
#}
<div class="ls-questionhelp {{ classes }}" role="alert" {% if id %} id="{{ id }}" {% endif %} >
    {{ message }}
</div>
