.form-control {
  box-shadow: 4px 4px 0px $g-200;
  border: $input-border-width solid $input-border-color !important;

  &:focus {
    box-shadow: 4px 4px 0px rgba(66, 0, 255, 0.2);
  }
}

.form-control.ls-important-field {
  padding: 14px 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border: 2px solid $g-900;
  box-shadow: 8px 8px 0px $g-200;

  &:focus {
    box-shadow: 8px 8px 0px rgba(66, 0, 255, 0.2);
  }
}

input[type=file] {
  position: relative;
  padding: 13px 14px;
  box-shadow: 8px 8px 0px #EEEFF7;
}
input[type=file]::file-selector-button {
  border: none;
  background: #ffffff;
  padding: 8px 12px;
  color: #1E1E1E;
  border: 1px solid #1E1E1E;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  right: -10px;
}
