// input field
.form-control {
  border: $input-border-width solid $input-border-color !important;
}

.form-control.ls-important-field {
  padding: 14px 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border: 2px solid $g-900 !important;
  box-shadow: 8px 8px 0px $g-200;

  &:focus {
    box-shadow: 8px 8px 0px $elevation-shadow;
  }
}

input[type="file"] {
  position: relative;
  padding: 12px 14px;
  box-shadow: 8px 8px 0px #eeeff7;
}
input[type="file"]::file-selector-button {
  background: $white;
  padding: 8px 12px;
  color: $g-900;
  border: 1px solid $g-900 !important;
  border-radius: 4px !important;
  cursor: pointer;
  position: absolute;
  right: -8px;
  font-weight: 500;
  font-size: 14px;
}

// select
.form-select {
  border: 1px solid $g-900;
  font-weight: 400;
  font-size: 14px;
  // if line-height is set as 16px, then the letter is cut off
  line-height: 1.5;
}

.question-code-button {
  top: 5px;
  right: 5px;
}

.type-selector-button {
  top: 4px;
  right: 5px;
  background: #7c8191;
  color: #fff;
}
@import "select2.scss";
