.select2-container--bootstrap-5 {
    .select2-selection--multiple {
        textarea:focus {
            box-shadow : none;
        }
    }
    .select2-selection--single {
        height : auto;
        .select2-selection__rendered {
            line-height : $line-height-16;
        }
    }
}

.select2-container--bootstrap-5 .select2-selection {
    border: $input-border-width solid $input-border-color;
    font-weight: $font-weight-normal;
    font-size: $dropdown-font-size;
    line-height: $line-height-16;
    color: $g-900;
    background-color: $white;
    border-radius: $border-radius;
    padding: 10px 36px 10px 12px;
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection, .select2-container--bootstrap-5.select2-container--open .select2-selection {
    border: $input-border-width solid $input-border-color;
    box-shadow: 4px 4px 0px $elevation-shadow;
}

.select2-container--disabled {
    &.select2-container--focus .select2-selection {
        box-shadow: none;
        color: $g-600;
        border: $input-border-width solid $input-border-color-disabled;
    }
    & .select2-selection__rendered {
        color: $g-600;
    }
    .select2-selection {
        border: $input-border-width solid $input-border-color-disabled;
        background-color: $g-400;
        color: $g-600;
    }
}

.select2-container--bootstrap-5 .select2-dropdown {
    color: $g-900;
    background-color: $white;
    border-color: $g-200;
    border-radius: $border-radius;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected, .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[aria-selected=true]:not(.select2-results__option--highlighted) {
    color: $white;
    background-color: var(--bs-primary);
}