.upload-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px;
}

.upload-label {
  width: 704px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed;
  border-color: $g-400;
  border-radius: 8px;
  background-color: $white;
  padding: 40px;
  cursor: pointer;
  transition: border-color 0.3s;
  text-align: center;
  height: 150px;
}

.upload-label:hover {
  border-color: $g-600; /* Gray-600 */
}

.upload-text {
  color: #4a5568;
  font-size: 16px;
}

.upload-input {
  display: none;
}

.import-modal{
  max-width: 807px !important;
}
