// css for participant related sites like captcha, token,...
.token-page {
    .form-heading {
        @include formheading;
        margin-bottom: 40px;
    }
    .control-label {
        margin-bottom: 12px;
        font-weight: $font-weight-normal;
        line-height: $line-height-24;
    }
    .load-survey-submit {
        margin-top: 40px;
    }
    .captcha-item {
        margin-top: 24px;
        .captcha-container {
            display: flex;
        }
    }

    @media only screen and (max-width: 766px) {
        .reload-button, .captcha-input {
            padding-top: 8px;
        }
    }
}
