.modal-content {
  background-color: $white;
  border: none;
  box-shadow: none;
  border-radius: 0px;
}
.modal-backdrop {
  background-color: $black;
}
.modal-header {
  border-bottom: none;
  .btn-close {
    align-self: flex-start;
    margin: 0 -0.75rem -0.75rem auto;
    color: $g-900;
    width: 0.75em;
    height: 0.75em;
    opacity: 1;
    font-size: $btn-font-size-sm;
    &:focus {
      box-shadow: none;
    }
    &:hover {
      background-color: $g-200;
    }
  }
}
.modal-title {
  color: $g-900;
  line-height: $line-height-26;
}

.modal-footer {
  border-top: none;
  padding: $modal-inner-padding;
}

#selector__exportTypeSelector-modal .modal-dialog {
  border : 1px solid $g-900;
}

.modal-dialog {
  .modal-content {
    background-color: $g-200;
    padding: 20px;
  }
  .modal-header {
    padding: 5px 20px;

  }
  .modal-body {
    padding-bottom: 0;
  }
  .table {
      color: black;
      border-radius: 4px;
      border: solid 2px rgb(39 39 39 / 15%);
      box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.2);
      padding: 20px;

      td {
        padding: 12px 0px !important;
      }
      td:not(:first-child), th:not(:first-child) {
        text-align: center;
      }
      thead > tr > th {
        border-bottom: 1px solid #9DA1B2;
        font-weight: 500;
      }
      tbody td {
        border: 0;
        border: none;
        border-style: none;
      }
      tbody tr:hover {
        cursor: pointer;
        background-color: $g-200;

        i:before {
          color: var(--bs-primary);
        }
      }
      thead th:first-child, .table tbody td:first-child {
        padding-left: 10px !important;
      }

      i:before {
        display: inline-block;
        vertical-align: middle;
        color: grey;
        font-size: 1.2em;
        padding: 0 5px;
      }
      input[type='checkbox']:before,
      input[type='checkbox']:after {
        color: black;
        border-color: black;
        background-color: white;
      }
  }

  .modal-footer {
    padding-top: 0;
    display: block;
  }
  .selector--exitForm {
    background-color: white;
  }
}
