body {
    text-align: right;
	direction:rtl;
}

ul,ol {
    text-align: right;
}

.maintitle {
    padding: 0.2em 0.2em 0.2em 1em;
    width: 96%;
	text-align: right;
	direction:rtl;
}

.menubar-main {
    float: right;
}


.menubar-title {
    float: right;
    text-align: right;
}

.menubar-title-left {
    float: right;
}

.menubar-title-right {
    float: left;
}


.menubar-left {
    text-align: right;
    float: right;
}

.menubar-left img,
.menubar-left a {
    float: right;
}

.menubar-right {
    float: left;
}

#separator1 {
    padding-left: 0;
    padding-right: 3px;
}

#separator2 {
    padding-left: 10px;
}

#separator3, 
#separator12 {
    padding-right: 0;
    padding-left: 0;
}

#separator4, 
#separator16 {
    padding-left: 1px;
    padding-right: 50px;
}

div.menubar input {
    margin-left: 2px;
	margin-top: 5px;
}

.header, .formheader, .headertwo {
    padding-left: 0;
    padding-right: 1em;
    text-align: right;
}

.form30 li, 
.form44 li {
    clear: right;
}

.form44 li label:first-child,
.form30 li label:first-child ,
.form30newtabs li label:first-child {
    text-align: left;
    padding-left: 3px;
    float: right;
	margin-right: 0;
	margin-left: 0.5em;
}

#emailtemplates .ui-tabs-panel .limebutton {
    margin: 3px 30.5% 10px 20%;
}

.form30 table {
    float: none;
	margin-right: 30%;
}

#frmglobalsettings table.statisticssummary {
	margin-right: auto;
}

#surveydetails td + td, #groupdetails td + td, #questiondetails td + td {
    text-align: right;
}

#surveydetails td:first-child, #groupdetails td:first-child, #questiondetails td:first-child {
    text-align: left;
}


/* Superfish menu */

.sf-menu {
    float: right;
}

.sf-menu li {
    float:right;
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    right:0;
	left:auto;
}

ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
    right: 99%; 
	left:auto;
}

ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
    right:10em; left:auto;
}

.sf-menu a.sf-with-ul {
    padding-right: 1em;
    padding-left: 1.7em;
}

.sf-sub-indicator {
    right: auto;
    left: 0.75em;
}

.sf-sub-indicator {
    background-image: url("images/arrows_rtl.png");
}

.sf-shadow ul {
    background-position: left bottom;
    border-bottom-right-radius: 17px;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0 0 9px 8px;
}

/* Tabs */

.ui-tabs .ui-tabs-nav li {
    float: right;
    margin: 0 0 -1px 0.2em;
}


/* Question type preview combobox */
.dd {
    float: right;
    text-align: right;
}

.dd .ddTitle span.arrow {
    float: left;
}

.dd .ddChild .opta a, .dd .ddChild .opta a:visited {
    padding-left: 0;
    padding-right: 10px;
}

/* Conditions designer */

.condition-tbl-left,
.condition-tbl-right {
    float: right;
    text-align: right;
}

.condition-tbl-left {
    padding: 10px 0 0 1%;
    text-align: left;
}

/* Ckeditor */
.cke_skin_office2003, .cke_skin_office2003 .cke_wrapper {
    float: right !important;
}

#questionbottom li
{
    clear:both;
}
.button-list{text-align:right}

/* *** organizeGroupsAndQuestions_view *** */
.organizeFooter
{
	margin-top:0; 
	padding-top:0; 
	margin-left:0px;
	margin-right:75px;
	padding-right: 40px;
	background-image: url("images/org_chk_arrow_rtl.png");
	background-repeat:no-repeat;
	background-position:right top;
	text-align: right;
	direction:rtl;
}

.organizeFooter .actions, .organizeHeader .actions
{
	float:right;
	margin-left: 6px;
}

.organizeFooter .conclude
{
	float:right;
	width:20px;
	margin-left: 6px;
	background-image: url("images/arrows_rtl.png");
	background-position:middle;
}

.movableList ol li ol.question-list
{
	margin-left: 0px;  		/* indent space for question level: 1 icon width */
	margin-right: 20px;
}

/* organize list: common group & question level styles */
/* edit width & margin data for icon columns only here! */
	
.movableList div.gq-leftcol
{
	float:right; 
	width:54px; 				/* total width of left column, start with definition here */
}
		
.movableList div.gq-rightcol
{
	float:left; 
	width:335px;				/* total width of right column, start with definition here */
}
	
.movableList div.gq-infocol
{
	/* margin: 0 335px 0 54px;  	/* total width of left and right column */
	margin: 0 54px 0 335px;
}
		
.movableList div.lefticons
{
	width:45px; 				/* required frame width for the left icon bay, left column -12px */
	margin-right:3px;
}
		
.movableList div.lefticons input
{
	vertical-align:top;
}
		
.movableList div.righticons
{
	text-align: right; /* left; */
	width:323px; 				/* required frame width for the right icon bay, right column width - 12px */
	margin-right:6px;
}

.movableList img.handle
{
	cursor: move;
}

.movableList ol li ol li div.question-wrapper div.gq-rightcol div.righticons img, .movableList ol li div.ui-widget-header div.gq-rightcol div.righticons img
{
	width: 20px;
	height: 20px;
	margin: 0px;
	padding: 0px;
}

.movableList div.gq-infotext
{
	font-size: 80.01%;			/* make text a little smaller = improved clear view */
	margin-top: 2px;
	margin-bottom: 3px;
}
