/* The following styles are for all versions of IE */

 .numeric div.question
,.choice-5-pt-radio div.question
,.yes-no div.question
,.gender div.question
,.date div.question
,.numeric-multi div.question
,.numeric div.question
,.list-with-comment div.question
,.list-dropdown-flexible div.question
,.ranking div.question
,.numeric-multi div.question
,.language div.question
,.multiple-opt-comments div.question
,.multiple-short-txt div.question
,.text-short div.question
,.text-long div.question
,.text-huge div.question
,.numeric-multi div.question
,.array-5-pt div.question
,.array-10-pt div.question
,.array-yes-uncertain-no div.question
,.array-increase-same-decrease div.question
,.array-flexible-row div.question
,.array-flexible-column div.question
,.slider div.question
,.array-multi-flexi div.question
,.array-multi-flexi-text div.question
,.array-flexible-duel-scale div.question
{
	border: 1px solid #000;
}

.numeric-multi dl.multiplenumerichelp dt
{
	margin-bottom: -1.3em;
}

.multiple-short-txt ul
{
	margin-top: 0.5em;
}
