/* The following styles are for versions of IE older than 7 */

#progress-graph div.graph 
{
	margin-top: -1.7em;
}


 .numeric div.question
,.choice-5-pt-radio div.question
,.yes-no div.question
,.gender div.question
,.date div.question
,.numeric-multi div.question
,.numeric div.question
,.list-with-comment div.question
,.list-dropdown-flexible div.question
,.ranking div.question
,.numeric-multi div.question
,.language div.question
,.multiple-opt-comments div.question
,.multiple-short-txt div.question
,.text-short div.question
,.text-long div.question
,.text-huge div.question
,.numeric-multi div.question
,.array-5-pt div.question
,.array-10-pt div.question
,.array-yes-uncertain-no div.question
,.array-increase-same-decrease div.question
,.array-flexible-row div.question
,.array-flexible-column div.question
,.slider div.question
,.array-multi-flexi div.question
,.array-multi-flexi-text div.question
,.array-flexible-duel-scale div.question
{
	margin: 1em 1em;
	width: 100%;
}
 .multiple-opt-comments ul.X2  label.answertext , .multiple-short-txt ul.X2  label , .numeric-multi ul.X2  label
,.multiple-opt-comments ul.X4  label.answertext , .multiple-short-txt ul.X4  label , .numeric-multi ul.X4  label
,.multiple-opt-comments ul.X6  label.answertext , .multiple-short-txt ul.X6  label , .numeric-multi ul.X6  label
,.multiple-opt-comments ul.X8  label.answertext , .multiple-short-txt ul.X8  label , .numeric-multi ul.X8  label
,.multiple-opt-comments ul.X10 label.answertext , .multiple-short-txt ul.X10 label , .numeric-multi ul.X10 label
,.multiple-opt-comments ul.X12 label.answertext , .multiple-short-txt ul.X12 label , .numeric-multi ul.X12 label
,.multiple-opt-comments ul.X14 label.answertext , .multiple-short-txt ul.X14 label , .numeric-multi ul.X14 label
,.multiple-opt-comments ul.X16 label.answertext , .multiple-short-txt ul.X16 label , .numeric-multi ul.X16 label
,.multiple-opt-comments ul.X18 label.answertext , .multiple-short-txt ul.X18 label , .numeric-multi ul.X18 label
,.multiple-opt-comments ul.X20 label.answertext , .multiple-short-txt ul.X20 label , .numeric-multi ul.X20 label
,.multiple-opt-comments ul.X20 label.answertext , .multiple-short-txt ul.X20 label , .numeric-multi ul.X20 label
,.multiple-opt-comments ul.X22 label.answertext , .multiple-short-txt ul.X22 label , .numeric-multi ul.X22 label
,.multiple-opt-comments ul.X24 label.answertext , .multiple-short-txt ul.X24 label , .numeric-multi ul.X24 label
,.multiple-opt-comments ul.X28 label.answertext , .multiple-short-txt ul.X28 label , .numeric-multi ul.X28 label
,.multiple-opt-comments ul.X30 label.answertext , .multiple-short-txt ul.X30 label , .numeric-multi ul.X30 label
{
	margin-bottom: -1.2em;
	display: block;
}

.numeric-multi dl.multiplenumerichelp
{
	margin-top: -5em;
}

.numeric-multi dl.multiplenumerichelp dt
{
	margin-bottom: -1.3em;
}
