body {
color:#444;
background-color:#4E70A9;
font-family:Verdana;
font-size:12px;
border:0;
margin:0;
padding:0px;
background-image: url(linearer_gradient_LimeSurvey2.gif);
background-repeat:repeat-x;
}

#completed
{
   width:75%;
   text-align:center;
 background-color:#fff;
 margin:10px auto;
 padding-top:10px;
   outline: 1px solid #111111;
}

#answers
{
font-size: 10px; 
vertical-align:middle;
margin:0 auto;
width: 300px;
}

#questionhelp
{
font-size: 10px; 
font-style: italic;
line-height:30px;
vertical-align:middle;
}

#questionhelp img
{
   margin:5px;
}
#question
{
outline: 1px solid #444;
background-color:#fff;
width:97%;
margin:20px auto;
}

#questiontext
{
font-weight:bold;
}

#groupheader
{
  margin:1%;
}


#groupdescription
{
  margin:1%;
}
#container{
   width:85%;
  margin:0 auto;
outline: 1px solid #444444;
background-color:#E9E9E9;
padding:5px 0;
}

#welcometext
{
width: 50%;
margin:0 auto;
padding-bottom: 30px;
text-align:center;
}

#welcome
{
background-color:#2F5376;
color:#fff;
text-align:center;
padding: 10px 0px;
}

.submit {
background-color:#FFF;
color:#2F5376;
}

.select {
background-color:#EFEFEF;
color:#555;
}

.textarea {
background-color:#EFEFEF;
width:400px;
}

.clearall
A:hover {
text-decoration:underline;
}

.graph {
border:solid;
background-color:#EFEFEF;
font-family:Verdana;
font-size:10px;
border-color:#FFF;
border-width:1px;
}

.answertextright {
text-align:left;
}

.innergraph {
background-color:#EFEFEF;
color:#777;
font-family:Verdana;
font-size:10px;
direction: ltr;
}

.rank {
background-color:#E1E1E1;
color:#777;
}

.array1 {
background-color:#D1D1D1;
text-align:center;
}

.array2 {
background-color:#EFEFEF;
text-align:center;
}

.question {
background-color:#FFF;
font-family:Verdana;
font-size:12pt;
}

.questiontext{
font-family:verdana;
font-size:12px;
font-weight:bold;
}

.questionhelp {
font-size:10px;
font-style:italic;
}

.asterisk {
color:red;
font-size:9pt;
font-family:verdana;
}

.innergraph img {
height:12px;
vertical-align:top;
}

.innergraph table {
height:12px;
border:1px solid #000;
table-layout:fixed !important;
}

.innergraph td {
height:12px;
}

.printouttable {
width:100%;
}

.printouttable td {
border-color:#fff #fff #ddf;
border-style:solid;
border-width:1px;
}

.printouttable td:first-child {
background-color:#4E70A9;
font-weight:700;
text-align:right;
padding-right:5px;
padding-left:5px;
color:#fff;
}

.printouttitle {
padding-right:5px;
padding-left:5px;
font-size:18px;
}

.surveytitle {
font-size:1.2em;
height:1.5em;
}

.surveytitle:hover {
background-color:#F0F0FF;
}

.languagechanger {
font-size:1em;
}

.errormandatory,.warningjs {
font-size:12px;
font-weight:700;
color:RED;
}

font,.text {
font-family:Verdana;
font-size:10px;
}

.clearall
A:link,.clearall
A:visited,.clearall
A:active {
text-decoration:none;
}

table.question {
width: 100%;
}

table.question tr.array1:hover,table.question tr.array2:hover {
background-color:#A7A9D1;
}
