caption,th {
  text-align: right;
}
div.questiontext ul,
div.questiontext ol {
  padding-left: 0px;
  padding-right: 25px;
}
.answertextright {
  text-align: right;
}
#progress-graph {
  text-align: right;
}
#progress-graph div.zero {
  margin-left: 0%;
}
#progress-graph div.graph {
  margin-right: 2.8em;
  margin-left: 0%;
}

#progress-graph div.cent {
  margin-right: 12.1em;
  margin-left: 0%;
}
.printouttable td:first-child {
  text-align: left;
  padding-right: 5px;
  padding-left: 5px;
}
/* - - -  - - -  - - -  - - - - - -  - - -  - - - -
   START: General list styles - - -  - - -  - - - - */
.choice-5-pt-radio .answers ul,.list-radio-flexible .answers ul,.list-radio .answers ul,.list-with-comment .answers ul,.multiple-opt .answers ul,.multiple-opt-comments .answers ul,.multiple-short-txt .answers ul,.numeric-multi .answers ul,.yes-no .answers ul,.gender .answers ul
  {
  margin-right: 0%;
  padding-right: 0%;
}
.choice-5-pt-radio .answers li,.list-radio-flexible .answers li,.list-radio .answers li,.list-with-comment .answers li,.multiple-opt .answers li,.multiple-opt-comments .answers li,.multiple-short-txt .answers li,.numeric-multi .answers li,.yes-no .answers li,.gender .answers li
  {
  text-align: right;
  margin-left:0;margin-right:0.5em;
}
.choice-5-pt-radio .answers li,.list-radio-flexible .answers li,.list-radio .answers li,.list-with-comment .answers li,.yes-no .answers li,.gender .answers li
  {
  margin-right: 2em;margin-left:0;
}
.choice-5-pt-radio .answers ul,.yes-no .answers ul,.gender .answers ul {
  text-align: right;
}
.choice-5-pt-radio .answers ul li,.yes-no .answers ul li,.gender .answers ul li {
  margin-right:0;margin-left: 0;
}
.date p.question {
  margin-right: 1em;margin-left:0;
}
.date p.tip,.numeric-multi p.tip,.numeric p.tip,.list-with-comment div.list p.tip
  {
  margin-right: 0.9em;margin-left:0;
}
ul.cols-2 li,ul.cols-3 li,ul.cols-4 li,ul.cols-5 li,ul.cols-6 li,ul.cols-7 li,ul.cols-8 li
  {
  float: right;
}
ul.cols-2-ul,ul.cols-3-ul,ul.cols-4-ul,ul.cols-5-ul,ul.cols-6-ul,ul.cols-7-ul,ul.cols-8-ul
  {
  float: right;
}
ul.cols-2-ul li,ul.cols-3-ul li,ul.cols-4-ul li,ul.cols-5-ul li,ul.cols-6-ul li,ul.cols-7-ul li,ul.cols-8-ul li
  {
  padding-left:1.5em;
}
.list-dropdown-flexible p.question {
  margin-left:0;margin-right: 1em;
}
.list-with-comment div.list {
  float: right;
}
.list-with-comment p.select {
  float: right;
}
.list-with-comment div.list p {
  text-align: right;
}
.numeric-multi ul.computed {
  float: right;
  padding-right:0;padding-left: 2em;
}
.numeric-multi div.multinum-slider {
  float: right;
}
.multiple-opt-comments ul li span.option {
  padding-right:1.5em;padding-left:1em;
}
.numeric-multi ul li label,.numeric-multi ul.slider li label {
  padding-left:1em;padding-right:0;
}
.multiple-short-txt ul li label {
  padding-left: 1em;padding-right:0;
}
.multiple-opt-comments ul li span.comment,.multiple-short-txt ul li span,.numeric-multi ul li span,.numeric-multi ul li.slider span
  {
  padding-left:1em;padding-right:0;
}
.multiple-opt-comments ul li span {
  padding-left:1em;padding-right:0;
}
.numeric-multi ul.multiplenumerichelp li span,.numeric-multi ul.multiplenumerichelp.slider li span
  {
  padding-left:0.3em;padding-right:0;
}
.numeric input,.text-short input,.text-long textarea,.text-huge textarea
  {
  margin-right: 1em;margin-left:0;
}
#limesurvey table.question tbody th.answertext {
  text-align: left;
}

#limesurvey table.question tbody th.answertextright {
  text-align: right;
}
.numeric-multi label.slider-label {
  padding: 0.2em 0 0 1em;
}
/*.slider_callout {
  margin-left:0px;
  margin-right: -3px;
  text-align: right;
}
.slider_showmin {
  float: right;
  text-align: right;
}
.slider_showmax {
  float: left;
  text-align: left;
}
.slider_lefttext {
  display: table-cell;
  padding-left: 11px;padding-right:0;
  text-align: left;
}
.slider_righttext {
  padding-right: 11px;padding-left:0;
}*/
table.navigator td.clear-all {
  text-align:left;
}
table.navigator td.submit-buttons {
  text-align:center;
}
table.navigator td.save-all {
  text-align:right;
}
.choice-5-pt-radio .answers li {
  margin-right: 0.5em;margin-left:0;
}
#loadtable td,#savetable td {
  padding-left:0;padding-right: 3px;
}
p.captcha {
  margin-left:0;margin-right: 10px;
}
#tokenform label {
  float: right;
  margin-left: 0.5em;margin-right:0;
  text-align: left;
}
#tokenform img {
  margin:0 0 -5px 5px;
}
#tokenform input.submit {
  margin:1em 18em 1em 0;
}
table.statisticstable {
  text-align: right;
}
#listingList a {
  margin-right:5px;margin-left: 0;
}
/* Question Index */
.outerframe.withindex,.withindex .outerframe{
  margin-right: 1em;
  margin-left: 26em;
}
#index {
  left: 0;
  width: 25em;
  border-left: 0px none #FFF;
  border-right: 1px solid #000;
}
#index .container .row {
  text-align: right;
}
#index .container .row .hdr {
  text-align: left;
  padding: 0 0 0 0.5em;
}
