<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!-- Those metadatas will be display in the template configuration page. They are not used for now. -->
    <metadatas>
        <name>Base with Awesome checkbox</name>
        <creationDate>14/04/2016</creationDate>
        <author>Denis Chenu</author>
        <authorEmail>denis@sondages.pro</authorEmail>
        <license>GNU General Public License version 3 or later and MIT</license>
        <version>0.1</version>
        <description>LimeSurvey Template with the less update.</description>
        <!--
             The last_update field must be updated before each release,
             to be sure that the asset manager will publish new assets and make visible CSS changes for final users (without browser cache refresh)
         -->
        <last_update>2016-08-07 12:08:00</last_update>
    </metadatas>

    <files>
        <!--
            Here the list of the css/js files to load.
            Any file here will be loaded via the asset manager
        -->
        <css>
            <filename>css/bootstrap.min.css</filename>
            <filename>css/bootstrap-ls.css</filename>
            <filename>css/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css</filename>
            <filename>css/jquery-ui.css</filename>
            <!--<filename>assets/css/bootstrap-theme.css</filename>-->
            <filename>css/limesurvey.css</filename>
            <filename>css/template-core.css</filename>
            <filename>css/template.css</filename>
        </css>
        <js>
            <filename>js/template.js</filename>
        </js>
        <print_css>
            <filename>css/print_template.css</filename>
        </print_css>

        <rtl>
            <css>
                <!--
                <filename>assets/css/jquery-ui-custom-rtl.css</filename>
                <filename>assets/css/bootstrap-rtl.min.css</filename>
                <filename>assets/css/bootstrap-theme-rtl.css</filename>
                <filename>assets/css/limesurvey-rtl.css</filename>
                <filename>assets/css/template-rtl.css</filename>
                -->
            </css>
            <js>
            </js>
        </rtl>
    </files>

    <!--
        Here the list of the css/js files the user is allowed to edit from the template editor.
        If the template does not contain any reference to external images, those files will be published one by one with the asset manager.
        So any edition of those files will update the tmp/asset directory, and users will not need to refresh browser cache
    -->
    <files_editable>
            <css>
                <filename>css/template.css</filename>
            </css>
            <js>
                <filename>js/template.js</filename>
            </js>
    </files_editable>

    <!-- Here datas about how LimeSurvey should load the template -->
    <engine>
        <cssframework>bootstrap</cssframework>
        <pstpldirectory>pstpl</pstpldirectory>
        <filesdirectory>files</filesdirectory>

        <!--
            Deactivate overwrite for now : all part are not extendable (navigator/clearall/saveall and this one neede to be extendable ....)
            And need manual update of config.php : this can not be in public distributed template
        -->
        <overwrite_question_views>false</overwrite_question_views>

        <!-- Here, you can publish packages set as third party extensions in application/config/third_party -->
        <!-- If bootstrap is registred as a css framework, it will be loaded first -->
        <packages>
            <package>jqueryui</package>
            <package>jquery-touch-punch</package>
            <package>limesurvey-public</package>
        </packages>
    </engine>
</config>
