<?xml version="1.0" encoding="UTF-8"?>
<!--
    Material Design Theme.
    In future versions of LimeSurvey, it will be used to fill a theme table,
    and to give user control on theme configuration (like variables to use to render the questions, banners, background, etc.)
-->

<config>
    <!-- Those metadata will be displayed in the theme configuration page. They are not used for now. -->
    <metadata>
        <name>material</name>
        <creationDate>07/18/2017</creationDate>
        <author>Louis-Sébastien Gac Artigas</author>
        <authorEmail>louis.gac@limesurvey.org</authorEmail>
        <authorUrl>http://www.limesurvey.org</authorUrl>
        <copyright>Copyright (C) 2005 - 2016 LimeSurvey Gmbh, Inc. All rights reserved.</copyright>
        <license>GNU General Public License version 2 or later</license>
        <version>1.0</version>
        <apiVersion>3</apiVersion>
        <description><![CDATA[<strong>LimeSurvey Material Design Theme</strong><br> A theme based on FezVrasta's Material design for Bootstrap 3 <a href='https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/gh-pages-v3/index.html'></a>]]></description>
        <last_update></last_update>
        <extends>default</extends>
    </metadata>

    <!--
        Here the list of the css/js files to load.
        Any file here will be loaded via the asset manager (when in config.php debug = 0)
    -->
    <files>
        <css>
            <add>css/bootstrap-material-design.css</add>
            <add>css/ripples.min.css</add>
            <add>css/theme.css</add>
        </css>
        <js>
            <add>scripts/theme.js</add>
            <add>scripts/material.js</add>
            <add>scripts/ripples.min.js</add>
            <add>scripts/ajaxify.js</add>
        </js>
        <print_css>
            <add>css/print_theme.css</add>
        </print_css>
    </files>

    <!-- NOTE: Material extends Default, but it doesn't provides the same options (no box container, no background image, no theme switcher) -->
    <options>
        <ajaxmode>on</ajaxmode>
        <brandlogo>on</brandlogo>
        <brandlogofile>./files/logo.png</brandlogofile>
        <boxcontainer>on</boxcontainer>
        <animatebody>off</animatebody>
        <bodyanimation>fadeInRight</bodyanimation>
        <animatequestion>off</animatequestion>
        <questionanimation>flipInX</questionanimation>
        <animatealert>off</animatealert>
        <alertanimation>shake</alertanimation>
    </options>
    <!-- Here datas about how LimeSurvey should load the theme -->
    <engine>
        <!-- If empty, bootstrap css/js files will not be loaded. In the future, we may have more engines, like foundation -->
        <!-- NOTE: Material extends Advanced, advanced replaced bootstrap core by flatly, so wu must put back a bootsrap.css here-->
        <!-- TODO: add a new keyword for those situations, like "restore"-->
        <cssframework>
            <name>bootstrap</name>
            <css replace="css/bootstrap.css">css/bootstrap.css</css>
        </cssframework>

        <!-- Path of the views files (can be different than pstpl -->
        <viewdirectory>views</viewdirectory>

        <!-- Asset manager will copy the whole theme directory to tmp. So it's possible to refer any file in the files directory in CSS via relative path (e.g: '../files/foo.jpg')   -->
        <filesdirectory>files</filesdirectory>

        <!-- Here, you can publish packages set as third party extensions in application/config/third_party or  application/config/package -->
        <!-- If bootstrap is registered as a css framework, it will be loaded first -->
        <packages>
        </packages>

        <!--
            List of pages/files for tempalte editor
            When a user select a page, the related files will be offer in the editable files
        -->
        <template_editor>
            <screens>
                <question>
                    <file type="view" role="global">layout_global.twig</file>
                    <file type="view" role="layout">layout_main.twig</file>
                    <file type="view" role="subview">./subviews/survey/group.twig</file>
                    <file type="view" role="subview">./subviews/survey/question.twig</file>
                    <file type="view" role="subview">./subviews/nav_bar.twig</file>
                    <file type="view" role="subview">./subviews/head.twig</file>
                    <file type="view" role="subview">./subviews/warnings.twig</file>
                    <file type="view" role="subview">./subviews/progess_bar.twig</file>
                    <file type="view" role="subview">./subviews/no_js_alert.twig</file>
                    <file type="view" role="subview">./subviews/language_changer.twig</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                </question>

                <surveylist>
                    <file type="view" role="global">layout_global.twig</file>
                    <file type="view" role="layout">layout_survey_list.twig</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                </surveylist>

                <welcome>
                    <file type="view" role="global">layout_global.twig</file>
                    <file type="view" role="layout">layout_first_page.twig</file>
                    <file type="view" role="subview">./subviews/welcome.twig</file>
                    <file type="view" role="subview">./subviews/warnings.twig</file>
                    <file type="view" role="subview">./subviews/no_js_alert.twig</file>
                    <file type="view" role="subview">./subviews/privacy/privacy.twig</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                </welcome>

                <completed>
                    <file type="view" role="global">layout_global.twig</file>
                    <file type="view" role="layout">layout_submit.twig</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                </completed>

                <assessments>
                    <file type="view" role="global">layout_global.twig</file>
                    <file type="view" role="layout">layout_submit.twig</file>
                    <file type="view" role="subview">./subviews/assessments.twig</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                </assessments>

                <error>
                    <file type="view" role="layout">layout_errors.twig</file>
                </error>

                <clearall>
                    <file type="view" role="global">layout_global.twig</file>
                    <file type="view" role="layout">layout_clearall.twig</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                </clearall>

                <load>
                    <file type="view" role="global">layout_global.twig</file>
                    <file type="view" role="layout">layout_load.twig</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                </load>

                <save>
                    <file type="view" role="global">layout_global.twig</file>
                    <file type="view" role="layout">layout_save.twig</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                </save>
            </screens>

        </template_editor>
    </engine>
</config>
