.welcome {
    #lime-logo {
        animation : fadein 1s;
    }
    .recent-activity {
        margin-top    : 1.72rem;
        font-size     : 0.95rem;
        padding-right : 3rem;
        opacity       : 0.7;
    }
    .survey-dashboard {
        display : flex;
    }
}

#welcomeModal {
    z-index : 20000;
}
.list-surveys-container {
  display: flex;
  padding: 8px;
  flex-grow: 1;

}
