.ls-panelboxes-panelbox {
    padding:20px; 
    height: 200px;
    position:relative;
    margin: 10px 0;

    .ls-panelboxes-panelbox-inner {
        position: absolute;
        width:95%;
        height:100%;
    }
}
