<div class="col-8 offset-2">
    <div class="card border-secondary">
        <div class="card-body text-secondary">
                <p>{{ gT("Currently saved settings are incomplete. After saving both 'Client ID' and 'Client Secret' you will be able to validate the credentials.") }}</p>
        </div>
    </div>
</div>