/*!
 * Style for the template
 *
 */
.container-fluid{max-width: 80em;}

/* Sticky footer styles
 * see http://getbootstrap.com/examples/sticky-footer/
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
/* Some no boostrap class */
.ls-language-changer-item{text-align:right}
.dir-rtl .ls-language-changer-item{text-align:left}
.answers-wrapper {
    margin: 0;
    padding: 0.5em 15px;
    border:1px dotted #ccc;
    background:#fff;
    border-radius:4px;
}
/**
 * For the question label (number/code and mandatory)
 * If user add p or div : one line more
 */
.question-number,.question-code{float:left;margin:0 0.3em}

/**
 * Some specific
 */
.boilerplate .answers-wrapper,
.equation .answers-wrapper{
display:none;
}
