
#comsettingdrop
{
  width: 15%;
  margin-left: auto ;
  margin-right: auto ;
}
#comsettingcheck
{
  width: 11%;
  margin-left: auto ;
  margin-right: auto ;
}
#dd{
  width: 25%;
  margin-left: auto ;
  margin-right: auto ;
}
#plus{
  width: 20%;
  margin-left: auto ;
  margin-right: auto ;
}

#addlang {
  margin: 1em 0;
}

#ddtable table,
#addlang table {
	margin: 0 auto;
	width: 30%;
	min-width: 400px;
}

#ddtable th,
#addlang th {
	padding: 1px 3px;
}

#ddtable td,
#addlang td {
	padding: 3px;
}

#ddtable td.actions,
#addlang td.actions {
	text-align: right;
}

#ddtable td.actions img,
#addlang td.actions img {
	margin-left: 3px;
}

#ddtable td.actions img.cancel {
	display: none;
}