.public-stats {
  .statsSurveyTitle {
    @include largeheading;
    margin: 0 0 10px;
  }
  .statsNumRecords {
    font-size: $font-size-md;
    font-weight: $font-weight-normal;
    line-height: $line-height-24;
    margin: 0 0 10px;
  }
}
