/* This file is part of LimeSurvey - http://www.limesurvey.org */

/* reset the width of slider horizontal */
.slider-list .slider.slider-horizontal {
    width: 100%;
}

/* Use a transparent background-image (more easy for user to update background-color only */
.slider-list .slider-handle {
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}

.slider-list .slider.slider-untouched .slider-handle {
    background-color: grey;
}

.slider-list .slider.slider-untouched .slider-track .slider-selection {
    background: transparent;
    box-shadow: none;
}

/* FA for custom */
.slider-list .slider-handle.custom::before {
    font-family: FontAwesome;
}

/* reset button */
.slider-list .btn-slider-reset {
    text-align: center;
    position: relative;
}

.slider-list .slider-vertical .slider-min-block {
    position: absolute;
    top: 0;
    margin-top: -10px;
}

.slider-list .slider-vertical .slider-max-block {
    position: absolute;
    bottom: 0;
    margin-bottom: -10px;
}

.slider-list .slider-horizontal .slider-min-block {
    float: left;
}

.slider-list .slider-horizontal .slider-max-block {
    float: right;
}

.slider-list .ls-slider-item-vertical .slider-min-block,
.slider-list .ls-slider-item-vertical .slider-max-block {
    margin-right: -1rem;
}

.slider-list .ls-slider-item-horizontal .slider-container {
    padding: 0 20px;
}

.slider-list .slider-item {
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .slider-list .ls-slider-answer-row {
        margin-top: 20px;
    }
    .slider-list .ls-slider-item-horizontal .slider-left {
        order: 4;
    }
    .slider-list .ls-slider-item-horizontal .slider-right {
        order: 5;
    }
    .slider-list .ls-slider-item-horizontal .slider-min-block {
        order: 2;
    }
    .slider-list .ls-slider-item-horizontal .slider-max-block {
        order: 3;
        text-align: right;
    }
    .slider-list .ls-slider-item-horizontal .slider-container {
        order: 1;
    }
    .slider-list .ls-slider-item-horizontal .ls-input-group-reset {
        order: 6;
        text-align: center;
    }
}
@media (min-width: 768px) {
    .slider-list .ls-slider-item-horizontal .slider-min-block {
        margin-right: -1rem;
    }
    .slider-list .ls-slider-item-horizontal .slider-max-block {
        margin-left: -1rem;
    }
}

@media (min-width: 768px) {
    .slider-list.form-horizontal .control-label {
        text-align: right;
    }
}

