$input-padding-y    : 10px;
$input-padding-x    : 12px;
$input-line-height  : 16px;
$input-border-width : 2px;
$dropdown-font-size: $font-size-sm;
// input field
.form-control {
    padding      : $input-padding-y $input-padding-x;
    border-width : $input-border-width;
    line-height  : $input-line-height;
}
.input-group-text {
    padding      : $input-padding-y $input-padding-x;
    border-width : $input-border-width;
    line-height  : $input-line-height;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){
    margin-left: -$input-border-width;
}

.ls-answers label, .answer-item label {
    label {
        @include h2
    }

    .radio-label {
        padding-left : 12px;
    }
}

textarea {
    resize: both;
    max-width: 100%;
}

// radiobutton
.radio-item .ls-label-xs-visibility, .checkbox-item .ls-label-xs-visibility {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 20px;
    height: 20px;
    line-height: 21px;
    text-indent: 21px;
}

// select
.form-select {
    font-weight  : $font-weight-normal;
    font-size    : $dropdown-font-size;
    line-height  : $line-height-16;
    border-width : $input-border-width;
}
