<?xml version="1.0" encoding="UTF-8"?>

<config>
    <!-- Metadata -->
    <metadata>
        <name>list_dropdown</name>
        <type>question_theme</type>
        <title>List (Dropdown)</title>
        <creationDate>09/08/2018</creationDate>
        <author>LimeSurvey GmbH</author>
        <authorEmail>info@limesurvey.org</authorEmail>
        <authorUrl>http://www.limesurvey.org</authorUrl>
        <copyright>Copyright (C) 2005 - 2018 LimeSurvey Gmbh, Inc. All rights reserved.</copyright>
        <license>GNU General Public License version 2 or later</license>
        <version>1.0</version>
        <apiVersion>1</apiVersion>
        <description>List (dropdown) question type configuration</description>
        <questionType>!</questionType>
        <group>Single choice questions</group>
        <subquestions>0</subquestions>
        <other>1</other>
        <answerscales>1</answerscales>
        <hasdefaultvalues>1</hasdefaultvalues>
        <assessable>1</assessable>
        <class>list-dropdown</class>
    </metadata>

    <compatibility>
        <version>4.0</version>
        <version>5.0</version>
    </compatibility>

    <!--
        List of the css/js files to load.
        Any file here will be loaded via the asset manager (when in config.php debug = 0)
    -->
    <files>
        <css>
            <filename></filename>
        </css>
        <js>
            <filename></filename>
        </js>
        <preview>
            <filename></filename>
        </preview>
    </files>

    <generalattributes>
        <attribute>question_template</attribute>
        <attribute>gid</attribute>
        <attribute>other</attribute>
        <attribute>mandatory</attribute>
        <attribute>relevance</attribute>
        <attribute>encrypted</attribute>
        <attribute>save_as_default</attribute>
        <attribute>clear_default</attribute>
    </generalattributes>

    <!-- Question attributes -->
    <attributes>
        <!-- Display Attributes START -->
        <attribute>
            <name>category_separator</name>
            <category>Display</category>
            <sortorder>100</sortorder>
            <inputtype>text</inputtype>
            <help>Category separator</help>
            <caption>Category separator</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>answer_order</name>
            <category>Display</category>
            <sortorder>100</sortorder>
            <inputtype>singleselect</inputtype>
            <options>
                <option>
                    <value>normal</value>
                    <text>Normal</text>
                </option>
                <option>
                    <value>random</value>
                    <text>Random</text>
                </option>
                <option>
                    <value>alphabetical</value>
                    <text>Alphabetical</text>
                </option>
                <option>
                    <value>random_alphabetical</value>
                    <text>Random A-Z/Z-A</text>
                </option>
            </options>
            <default>normal</default>
            <help>Present answer options in normal, random or alphabetical order</help>
            <caption>Answer options order</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>dropdown_prefix</name>
            <category>Display</category>
            <sortorder>201</sortorder>
            <inputtype>buttongroup</inputtype>
            <options>
                <option>
                    <value>0</value>
                    <text>None</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Order - like 3)</text>
                </option>
            </options>
            <default>0</default>
            <help>Accelerator keys for list items</help>
            <caption>Prefix for list items</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>dropdown_size</name>
            <category>Display</category>
            <sortorder>200</sortorder>
            <inputtype>text</inputtype>
            <default></default>
            <help>For list dropdown boxes, show up to this many rows</help>
            <caption>Height of dropdown</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>other_replace_text</name>
            <category>Display</category>
            <sortorder>100</sortorder>
            <inputtype>text</inputtype>
            <expression>1</expression>
            <i18n>1</i18n>
            <help>Replaces the label of the &#039;Other:&#039; answer option with a custom text</help>
            <caption>Label for &#039;Other:&#039; option</caption>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
        </attribute>
        <attribute>
            <name>other_position</name>
            <category>Display</category>
            <sortorder>150</sortorder>
            <inputtype>singleselect</inputtype>
            <options>
                <option>
                    <value>beginning</value>
                    <text>At beginning</text>
                </option>
                <option>
                    <value>default</value>
                    <text>Before &#039;No Answer&#039;</text>
                </option>
                <option>
                    <value>end</value>
                    <text>At end</text>
                </option>
                <option>
                    <value>specific</value>
                    <text>After specific answer option</text>
                </option>
            </options>
            <default>default</default>
            <help>Indicates where the &#039;Other&#039; option should be placed</help>
            <caption>Position for &#039;Other:&#039; option</caption>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
            <i18n></i18n>
        </attribute>
        <attribute>
            <name>other_position_code</name>
            <category>Display</category>
            <sortorder>151</sortorder>
            <inputtype>text</inputtype>
            <expression></expression>
            <i18n></i18n>
            <help>The code of the answer option after which the &#039;Other:&#039; option will be placed if the position is set to &#039;After specific answer option&#039;</help>
            <caption>Answer code for &#039;After specific answer option&#039;</caption>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
        </attribute>
        <attribute>
            <name>hide_tip</name>
            <category>Display</category>
            <sortorder>100</sortorder>
            <inputtype>switch</inputtype>
            <options>
                <option>
                    <value>0</value>
                    <text>No</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Yes</text>
                </option>
            </options>
            <default>0</default>
            <help>Hide the tip that is normally shown with a question</help>
            <caption>Hide tip</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>hidden</name>
            <category>Display</category>
            <sortorder>101</sortorder>
            <inputtype>switch</inputtype>
            <options>
                <option>
                    <value>0</value>
                    <text>No</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Yes</text>
                </option>
            </options>
            <default>0</default>
            <help>Hide this question at any time. This is useful for including data using answer prefilling.</help>
            <caption>Always hide this question</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>cssclass</name>
            <category>Display</category>
            <sortorder>102</sortorder>
            <inputtype>text</inputtype>
            <expression>1</expression>
            <help>Add additional CSS class(es) for this question. Use a space between multiple CSS class names. You may use expressions - remember this part is static.</help>
            <caption>CSS class(es)</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
        </attribute>
        <attribute>
            <name>printable_help</name>
            <category>Display</category>
            <sortorder>201</sortorder>
            <inputtype>text</inputtype>
            <expression>1</expression>
            <i18n>1</i18n>
            <default></default>
            <help>In the printable version the condition is being replaced with this explanation text.</help>
            <caption>Condition help for printable survey</caption>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
        </attribute>
        <!-- Display Attributes END -->
        <!-- Logic Attributes START -->
        <attribute>
            <name>random_group</name>
            <category>Logic</category>
            <sortorder>180</sortorder>
            <inputtype>text</inputtype>
            <help>Place questions into a specified randomization group, all questions included in the specified group will appear in a random order</help>
            <caption>Randomization group name</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>em_validation_q</name>
            <category>Logic</category>
            <sortorder>200</sortorder>
            <inputtype>textarea</inputtype>
            <expression>2</expression>
            <xssfilter>0</xssfilter>
            <help>Enter a boolean equation to validate the whole question.</help>
            <caption>Question validation equation</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
        </attribute>
        <attribute>
            <name>other_comment_mandatory</name>
            <category>Logic</category>
            <sortorder>100</sortorder>
            <inputtype>switch</inputtype>
            <options>
                <option>
                    <value>0</value>
                    <text>No</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Yes</text>
                </option>
            </options>
            <default>0</default>
            <help>Make the &#039;Other:&#039; comment field mandatory when the &#039;Other:&#039;
                option is active
            </help>
            <caption>&#039;Other:&#039; comment mandatory</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>em_validation_q_tip</name>
            <category>Logic</category>
            <sortorder>210</sortorder>
            <inputtype>textarea</inputtype>
            <expression>1</expression>
            <i18n>1</i18n>
            <help>This is a hint text that will be shown to the participant describing the question validation equation.</help>
            <caption>Question validation tip</caption>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
        </attribute>
        <!-- Logic Attributes END -->
        <!-- Other Attributes START -->
        <attribute>
            <name>page_break</name>
            <category>Other</category>
            <sortorder>100</sortorder>
            <inputtype>switch</inputtype>
            <options>
                <option>
                    <value>0</value>
                    <text>No</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Yes</text>
                </option>
            </options>
            <default>0</default>
            <help>Insert a page break before this question in printable view.</help>
            <caption>Insert page break in printable view</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>scale_export</name>
            <category>Other</category>
            <sortorder>100</sortorder>
            <inputtype>singleselect</inputtype>
            <options>
                <option>
                    <value>0</value>
                    <text>Default</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Nominal</text>
                </option>
                <option>
                    <value>2</value>
                    <text>Ordinal</text>
                </option>
                <option>
                    <value>3</value>
                    <text>Scale</text>
                </option>
            </options>
            <default>0</default>
            <help>Set a specific SPSS export scale type for this question</help>
            <caption>SPSS export scale type</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <!-- Other Attributes END -->
        <!-- Statistics Attributes START -->
        <attribute>
            <name>public_statistics</name>
            <category>Statistics</category>
            <sortorder>80</sortorder>
            <inputtype>switch</inputtype>
            <options>
                <option>
                    <value>0</value>
                    <text>No</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Yes</text>
                </option>
            </options>
            <default>0</default>
            <help>Show statistics of this question in the public statistics page</help>
            <caption>Show in public statistics</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>statistics_showgraph</name>
            <category>Statistics</category>
            <inputtype>switch</inputtype>
            <sortorder>101</sortorder>
            <options>
                <option>
                    <value>0</value>
                    <text>No</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Yes</text>
                </option>
            </options>
            <help>Display a chart in the statistics?</help>
            <caption>Display chart</caption>
            <default>1</default>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>statistics_graphtype</name>
            <category>Statistics</category>
            <inputtype>singleselect</inputtype>
            <sortorder>102</sortorder>
            <options>
                <option>
                    <value>0</value>
                    <text>Bar chart</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Pie chart</text>
                </option>
                <option>
                    <value>2</value>
                    <text>Radar</text>
                </option>
                <option>
                    <value>3</value>
                    <text>Line</text>
                </option>
                <option>
                    <value>4</value>
                    <text>PolarArea</text>
                </option>
                <option>
                    <value>5</value>
                    <text>Doughnut</text>
                </option>
            </options>
            <help>Select the type of chart to be displayed</help>
            <caption>Chart type</caption>
            <default>0</default>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <!-- Statistics Attributes END -->
        <!-- Timer Attributes START -->
        <attribute>
            <name>time_limit_timer_style</name>
            <category>Timer</category>
            <sortorder>100</sortorder>
            <inputtype>textarea</inputtype>
            <help>CSS Style for the message that displays in the countdown timer during the countdown</help>
            <caption>Time limit timer CSS style</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>time_limit_message_delay</name>
            <category>Timer</category>
            <sortorder>102</sortorder>
            <inputtype>integer</inputtype>
            <help>Display the &#039;time limit expiry message&#039; for this many seconds before performing the &#039;time limit action&#039; (defaults to 1 second if left blank)</help>
            <caption>Time limit expiry message display time</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>time_limit_message</name>
            <category>Timer</category>
            <sortorder>104</sortorder>
            <inputtype>textarea</inputtype>
            <expression>1</expression>
            <i18n>1</i18n>
            <help>The message to display when the time limit has expired (a default message will display if this setting is left blank)</help>
            <caption>Time limit expiry message</caption>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
        </attribute>
        <attribute>
            <name>time_limit_message_style</name>
            <category>Timer</category>
            <sortorder>106</sortorder>
            <inputtype>textarea</inputtype>
            <help>CSS style for the &#039;time limit expiry message&#039;</help>
            <caption>Time limit message CSS style</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>time_limit_warning</name>
            <category>Timer</category>
            <sortorder>108</sortorder>
            <inputtype>integer</inputtype>
            <help>Display a &#039;time limit warning&#039; when there are this many seconds remaining in the countdown (warning will not display if left blank)</help>
            <caption>1st time limit warning message timer</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>time_limit_warning_display_time</name>
            <category>Timer</category>
            <sortorder>110</sortorder>
            <inputtype>integer</inputtype>
            <help>The &#039;time limit warning&#039; will stay visible for this many seconds (will not turn off if this setting is left blank)</help>
            <caption>1st time limit warning message display time</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>time_limit_warning_message</name>
            <category>Timer</category>
            <sortorder>112</sortorder>
            <inputtype>textarea</inputtype>
            <expression>1</expression>
            <i18n>1</i18n>
            <help>The message to display as a &#039;time limit warning&#039; (a default warning will display if this is left blank)</help>
            <caption>1st time limit warning message</caption>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
        </attribute>
        <attribute>
            <name>time_limit_warning_style</name>
            <category>Timer</category>
            <sortorder>114</sortorder>
            <inputtype>textarea</inputtype>
            <help>CSS style used when the &#039;time limit warning&#039; message is displayed</help>
            <caption>1st time limit warning CSS style</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>time_limit_warning_2</name>
            <category>Timer</category>
            <sortorder>116</sortorder>
            <inputtype>integer</inputtype>
            <help>Display the 2nd &#039;time limit warning&#039; when there are this many seconds remaining in the countdown (warning will not display if left blank)</help>
            <caption>2nd time limit warning message timer</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>time_limit_warning_2_display_time</name>
            <category>Timer</category>
            <sortorder>118</sortorder>
            <inputtype>integer</inputtype>
            <help>The 2nd &#039;time limit warning&#039; will stay visible for this many seconds (will not turn off if this setting is left blank)</help>
            <caption>2nd time limit warning message display time</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>time_limit_warning_2_message</name>
            <category>Timer</category>
            <sortorder>120</sortorder>
            <inputtype>textarea</inputtype>
            <expression>1</expression>
            <i18n>1</i18n>
            <help>The 2nd message to display as a &#039;time limit warning&#039; (a default warning will display if this is left blank)</help>
            <caption>2nd time limit warning message</caption>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
        </attribute>
        <attribute>
            <name>time_limit_warning_2_style</name>
            <category>Timer</category>
            <sortorder>122</sortorder>
            <inputtype>textarea</inputtype>
            <help>CSS style used when the 2nd &#039;time limit warning&#039; message is displayed</help>
            <caption>2nd time limit warning CSS style</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>time_limit</name>
            <category>Timer</category>
            <sortorder>90</sortorder>
            <inputtype>integer</inputtype>
            <help>Limit time to answer question (in seconds)</help>
            <caption>Time limit</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>time_limit_action</name>
            <category>Timer</category>
            <sortorder>92</sortorder>
            <inputtype>singleselect</inputtype>
            <options>
                <option>
                    <value>1</value>
                    <text>Warn and move on</text>
                </option>
                <option>
                    <value>2</value>
                    <text>Move on without warning</text>
                </option>
                <option>
                    <value>3</value>
                    <text>Disable only</text>
                </option>
            </options>
            <default>1</default>
            <help>Action to perform when time limit is up</help>
            <caption>Time limit action</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>time_limit_disable_next</name>
            <category>Timer</category>
            <sortorder>94</sortorder>
            <inputtype>switch</inputtype>
            <default>0</default>
            <options>
                <option>
                    <value>0</value>
                    <text>No</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Yes</text>
                </option>
            </options>
            <help>Disable the next button until time limit expires</help>
            <caption>Time limit disable next</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>time_limit_disable_prev</name>
            <category>Timer</category>
            <sortorder>96</sortorder>
            <inputtype>switch</inputtype>
            <options>
                <option>
                    <value>0</value>
                    <text>No</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Yes</text>
                </option>
            </options>
            <default>0</default>
            <help>Disable the prev button until the time limit expires</help>
            <caption>Time limit disable prev</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>time_limit_countdown_message</name>
            <category>Timer</category>
            <sortorder>98</sortorder>
            <inputtype>textarea</inputtype>
            <expression>1</expression>
            <i18n>1</i18n>
            <help>The text message that displays in the countdown timer during the countdown</help>
            <caption>Time limit countdown message</caption>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
        </attribute>
        <!-- Timer Attributes END -->
    </attributes>

    <!-- Core question js/css configuration -->
    <engine>
        <load_core_css>true</load_core_css>
        <load_core_js>true</load_core_js>
        <show_as_template>true</show_as_template>
        <show_as_question_type>true</show_as_question_type>
    </engine>
</config>
