 {% extends "./subviews/printanswers/printanswers_question.twig" %}
 {% block question_answer %}
 <div class="col-lg-8">
    <table class="table table-condensed table-striped">
    {% for subquestionId, subquestion in question.subquestions %}
        {% if subquestion.question_order == 1 %}
            <tr>
                <th></th>
                {% for colname, value in question.dualscale_header %}
                    <th><b>{{value}}</b></th>
                {% endfor %}                    
            </tr>
        {% endif %}
        
        <tr>
            <td>
                {{subquestion.question}} ({{subquestion.title}})
            </td>
            {% for colname, value in subquestion.answervalues %}
                <td>
                    {{value}}
                </td>    
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}

