 {% extends "./subviews/printanswers/printanswers_question.twig" %}
 {% block question_answer %}
 <div class="col-lg-8">
    <div class="row">
        <div class="col-lg-4 text-end">
        </div>
        <div class="col-lg-8 text-start">
            {% if question.answervalue is same as("Y") %}
                {{ gT("Yes") }} <i class="ri-check-fill"></i>
            {% elseif question.answervalue is same as("N") %}
                {{ gT("No") }} <i class="ri-close-fill"></i>
            {% else %}
                {{question.answervalue}}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

