 {% extends "./subviews/printanswers/printanswers_question.twig" %}
 {% block question_answer %}
 <div class="col-lg-8">
    <div class="row">
        <div class="col-lg-4 text-end">
        </div>
        <div class="col-lg-8 text-start">
            {% if question.answervalue is same as("M") %}
                {{ gT("Male") }} <i class="ri-men-line"></i>
            {% elseif question.answervalue is same as("F") %}
                {{ gT("Female") }} <i class="ri-women-line"></i>
            {% else %}
                {{question.answervalue}}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

