.settings
.project
/upload/surveys/*
/upload/templates/*
/upload/labels/*
!/upload/labels/readme.txt
/tmp/runtime/HTML
/application/controllers/admin/updater.php
/tmp/*.html
/tmp/*.lss
/tmp/*.png
/tmp/*.xls
/tmp/*.lsa
/tmp/upload/fu*
/upload/.htaccess
/nbproject
/tmp/assets/*
!/tmp/assets/.gitignore
!/tmp/assets/index.html
/tmp/runtime/cache/*
.svn
/third_party/jqgrid/src
.settings/org.eclipse.php.core.prefs
.buildpath
/application/config/config.php
application/config/_config.php
*.un~
