/* CSS Document */
body{font-family:Calibri, sans-serif;font-size:.9em}
#page{width:600px;margin:0 auto}
pre{background:#f5f5f5;padding:5px}
h1 small{font-size:15px}
a{color:#00c;text-decoration:underline}
a:hover{text-decoration:none}
.footer{text-align:center;clear:both;padding:3em 0 25em 0;font-size:11px}

.tabs, .tabs li{margin:0;padding:0;list-style:none;float:left}
.tabs{width:100%;border-bottom:1px solid #ddd}
.tabs li{margin-left:4px}
.tabs a{border:1px solid #ddd;background:#f5f5f5;padding:0 10px;line-height:24px;display:block;height:24px;text-decoration:none;margin-bottom:-1px}
.tabs a.active{background:#fff;border-bottom:1px solid #fff}
.tabs a:hover{background:#fff}

.tab{border:1px solid #ddd;border-top:0;clear:both;position:relative;padding:10px}
.tab h2{margin-top:0}
