.numeric-multi {
    .ls-group-total-separator-row {
        display: flex !important;
    }
    .ls-group-total-separator hr {
        border-top: solid 2px;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .dynamic-total {
        @include h2;
    }
    .ls-group-dynamic .control-label, .ls-group-dynamic .form-control-static {
        border : 2px solid transparent;
        padding-left : 12px;
        padding-right : 12px;
    }
}