/* The following styles are for all versions of IE */
.multiple-opt-comments ul  li , .multiple-short-txt ul  li , .numeric-multi ul  li
{
	height: 3em;
}

.numeric-multi dl.multiplenumerichelp dt
{
	margin-right: 10em;
	margin-bottom: -1.4em;
}
.innergraph img {
height:16px;
vertical-align:top;
margin:0px 0px 0px 0px;
}