/* The following styles are for versions of IE older than 7 */

.numeric-multi dl.multiplenumerichelp
{
	margin-top: -5em;
}
.numeric-multi dl.multiplenumerichelp dt
{
	margin-bottom: -1.5em;
}
.numeric-multi dl.multiplenumerichelp dd
{
	margin-bottom: 1em;
}
