.answertextright {
text-align:left;
}

.array1 {
background-color:#abc;
text-align:center;
}

.array2 {
background-color:#EFEFEF;
text-align:center;
}

.asterisk {
color:red;
font-size:9pt;
font-family:verdana;
}

.clearall {
font-family:arial;
margin:0 0 10px;
}

.clearall A:link {
color:#222;
}

.clearall A:visited {
text-decoration:none;
color:#666;
}

.clearall A:active {
text-decoration:none;
color:#EEE;
}

.clearall A:hover {
text-decoration:none;
color:#222;
}

.graph {
border:solid;
background-color:#fff;
border-color:#777;
border-width:2px;
}

.innergraph {
background-color:#EFEFEF;
color:#777;
font-family:arial;
font-size:8pt;
direction: ltr;
}

.submit {
background-color:#ace;
font-size:9pt;
font-family:arial;
border:3px double#ddd;
cursor:pointer;
}

.rank,.rank td {
font-size:10px;
background-color:#f5f9f9;
}

.select {
background-color:#EFEFEF;
color:#555;
font-family:arial;
font-size:9pt;
}

.textarea {
color:#666;
font-size:12px;
font-family:arial;
width:99%;
}

.warningjs {
font-size:12px;
font-weight:700;
color:RED;
}

.innergraph img {
height:12px;
vertical-align:top;
}

.innergraph table {
height:12px;
border:1px solid #000;
table-layout:fixed !important;
}

.innergraph td {
height:12px;
}

.survey-assessment,survey-completed {
text-align:center;
width:75%;
border:1px solid #111;
}

.survey-cleared {
text-align:center;
margin:0 auto;
}

.survey-groupdescription {
background:#eee;
font-weight:400;
border-bottom:1px solid #ddd;
color:#000;
margin:0 0 10px;
padding:0 0 2px 3px;
}

.survey-groupname {
background:#eee;
font-weight:700;
color:#009;
font-size:16px;
border-top:1px solid #ddd;
margin:10px 0 0;
padding:2px 0 0 3px;
}

.survey-main {
font-size:13px;
background:#F9F9F9;
border:4px double #999;
padding:5px;
}

.survey-navigator {
margin:0 0 10px;
}

.survey-survey-description {
margin:5px 0 10px;
}


.survey-survey-percent
{
	padding: 0.2em 0%;
}
#progress-graph
{
	line-height: 1.5em;
	width: 17em;
	font-size: 90%;
	font-family: verdana, arial, helvetica, sans-serif;
	color: rgb(119, 119, 119);
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.2em;
	padding: 0.6em 0.5em 0.4em 1em;
	text-align: left;
	background-color: #fff;
	border: 2px solid rgb(128, 128, 128);
}
.hide
{
	font-weight: normal;
	position: absolute;
	top: -9999px;
	left: -9999px;
}
#progress-graph div.zero
{
	width: 2.6em;
	margin-right: 0%;
}
#progress-graph div.graph
{
	width: 10em;
	height: 1.5em;
	border: 1px solid maroon;
	margin-top: -1.7em;
	margin-left: 2.6em;
	margin-right: 0%;
}
#progress-graph div.cent
{
	width: 3em;
	margin-top: -1.5em;
	margin-left: 13.6em;
	margin-right: 0%;	
}

.question {
background-color:#f5f9f9;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:700;
color:#262C4C;
}

.question td {
font-size:10px;
}

.questionhelp {
font-size:10px;
font-style:italic;
}

.questiontext{
font-family:verdana;
font-size:12px;
font-weight:bold;
}

.text {
color:#777;
font-size:12px;
font-family:arial;
}

.answertext {
font-family:arial;
color:#000;
font-size:12px;
font-weight:400;
}

.survey-question {
border:1px solid #ddd;
background-color:#f5f9f9;
margin:0 0 0 5px;
padding:0 0 0 3px;
}

.survey-question-answer {
font-weight:400;
}

.survey-question-help {
line-height:24px;
margin:2px 0 0 2px;
clear: both;
}

.survey-question-help img {
padding:0 10px 0 0;
}

.survey-question-space {
height:5px;
}

.survey-question-text {
	display: block;
	width: 97%;
	font-weight:700;
}

.survey-welcome {
border-top:1px solid #ddd;
border-bottom:1px solid #ddd;
background-color:#f5f9f9;
padding:5px;
}

.numquestions {
font-size:11px;
color:green;
}

table,tr,td,th {
font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size:13px;
/*
text-align:center;
*/
}

.grayboxheader {
font-family:Arial, Helvetica, sans-serif;
font-weight:700;
color:#000;
text-align:center;
}

.grayboxfont {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:400;
color:#424142;
}

.percentage {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:400;
color:#000;
}

.error {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
font-weight:700;
text-align:center;
color:#CB0404;
}

.printouttable td {
border-color:#fff #fff #ddf;
border-style:solid;
border-width:1px;
}

.printouttable td:first-child {
background-color:#ddf;
font-weight:700;
text-align:right;
padding-right:5px;
padding-left:5px;
}

.printouttitle {
padding-right:5px;
padding-left:5px;
font-size:18px;
}

.surveytitle {
font-size:1.2em;
height:1.5em;
}

.languagechanger {
font-size:1em;
}

table,.printouttable {
width:100%;
}

table.question {
width: 100%;
}

table.question tr.array1:hover,table.question tr.array2:hover {
background-color:#A7A9D1;
}

.errormandatory,.warningjs {
font-size:12px;
font-weight:700;
color:RED;
}


/* -------------------------------------------------
   START: Question styles  ------------------------- */

/* =====================================
== Full list of question classes =======

 .boilerplate
,.numeric
,.choice-5-pt-radio
,.yes-no
,.gender
,.date
,.numeric-multi
,.numeric
,.list-radio
,.list-radio-flexible
,.list-with-comment
,.list-dropdown
,.list-dropdown-flexible
,.ranking
,.numeric-multi
,.language
,.multiple-opt-comments
,.multiple-short-txt
,.text-short
,.text-long
,.text-huge
,.numeric-multi
,.array-5-pt
,.array-10-pt
,.array-yes-uncertain-no
,.array-increase-same-decrease 
,.array-flexible-row 
,.array-flexible-column 
,.slider 
,.array-multi-flexi 
,.array-multi-flexi-text
,.array-flexible-duel-scale 
*/

/* - - -  - - -  - - -  - - - - - -  - - -  - - - -
   START: General list styles - - -  - - -  - - - - */
 .choice-5-pt-radio ul
,.list-radio-flexible ul
,.list-radio ul
,.list-with-comment ul
,.multiple-opt ul
,.multiple-opt-comments ul
,.multiple-short-txt ul
,.numeric-multi ul
,.yes-no ul
,.gender ul
{
	margin-left: 0%;
	padding-left: 0%;
}

 .choice-5-pt-radio li
,.list-radio-flexible li
,.list-radio li
,.list-with-comment li
,.multiple-opt li
,.multiple-opt-comments li
,.multiple-short-txt li
,.numeric-multi li
,.yes-no li
,.gender li
{
	list-style-type: none;
	text-align: left;
	margin: 0% 0% 0.5em 0.5em;
}
 .choice-5-pt-radio li
,.list-radio-flexible li
,.list-radio li
,.list-with-comment li
{
	margin-left: 2em;
	text-indent: -1.8em;
}

/* END:  General list styles - - - -  - - -  - - - -
- - - - -  - - -  - - -  - - - - - -  - - -  - - - - */


/* STYLES NOT YET DEFINED - - - - -
.boilerplate {}
*/

 .choice-5-pt-radio ul
,.yes-no ul
,.gender ul
{
	text-align: left;
	margin-left: 0%;
	padding-left: 0%;
}
 .choice-5-pt-radio ul li
,.yes-no ul li
,.gender ul li
{
	display: inline;
	padding: 0% 2em 0% 0%;
	margin-left: 0%;
}

/* STYLES NOT YET DEFINED - - - - -
.date {}
*/
.date p.question { margin-left: 1em; }
.date p.question select.day {}
.date p.question select.month {}
.date p.question select.year {}

 .date p.tip
,.numeric-multi p.tip
,.numeric p.tip
{
	margin-left: 1.5em;
	font-size: 80%;
	font-style: italic;
	line-height: 150%;
}
.numeric p.question {font-size: 80%; font-weight: bold; margin-left: 1em; }

 .numeric-multi p.tip.error
,.numeric-multi input.tip.error
{
	color: #f70;
	font-weight: bold;
	text-align: left;
}
 .numeric-multi p.tip.good
,.numeric-multi input.tip.good

{
	color: #090;
	font-weight: bold;
}

/* DEFINED ABOVE UNDER "General list styles" - - - - -
.list-radio-flexible
.list-radio
*/

  ul.cols-2 , table.cols-2
, ul.cols-3 , table.cols-3
, ul.cols-4 , table.cols-4
, ul.cols-5 , table.cols-5
, ul.cols-6 , table.cols-6
, ul.cols-7 , table.cols-7
, ul.cols-8 , table.cols-8
{
	width: 98%;
	margin: 0% auto 0% auto;
}
  ul.cols-2 li , ul.cols-2-ul
, ul.cols-3 li , ul.cols-3-ul
, ul.cols-4 li , ul.cols-4-ul
, ul.cols-5 li , ul.cols-5-ul
, ul.cols-6 li , ul.cols-6-ul
, ul.cols-7 li , ul.cols-7-ul
, ul.cols-8 li , ul.cols-8-ul
{
	float: left;
	padding: 0% 0.5em;
	white-space: normal
}

ul.cols-2 li , ul.cols-2-ul , table.cols-2 td { width: 48%; }
ul.cols-3 li , ul.cols-3-ul , table.cols-3 td { width: 30.5%; }
ul.cols-4 li , ul.cols-4-ul , table.cols-4 td { width: 23%; }
ul.cols-5 li , ul.cols-5-ul , table.cols-5 td { width: 19%; }
ul.cols-6 li , ul.cols-6-ul , table.cols-6 td { width: 15%; }
ul.cols-7 li , ul.cols-7-ul , table.cols-7 td { width: 13%; }
ul.cols-8 li , ul.cols-8-ul , table.cols-8 td { width: 11.5%; }

.list-dropdown-flexible p.question
{
	margin-left: 1em;
}
/* STYLES NOT YET DEFINED - - - - -
.list-dropdown {}
*/
.list-with-comment
{
	float: left;
	width: 100%;
}
.list-with-comment div.list
{
	width: 47%;
	float: left;
	padding: 0.5em;
}
.list-with-comment p.select
{
	width: 47%;
	float: left;
	padding: 0.5em;
	margin: 0%;
}
.list-with-comment div.list p
{
	margin: 0%;
	text-align: left;
}
.list-with-comment p.comment
{
	margin: 0%;
	padding: 0.5em;
	text-align: left;
	float: left;
	width: 47%;
}
.list-with-comment p.comment textarea
{
	width: 100%;
}


.ranking td.position { text-align: right; }

/* DEFINED ABOVE UNDER "General list styles" - - - - -
.multiple-opt
*/

.language {}

/* The following styles only apply to modern (relatively) complete CSS2 compliant browsers. (Not less than IE 8) */
 [class=multiple-opt-comments] td.answer
,[class=multiple-short-txt] td.answer
,[class=numeric-multi] td.answer
{
}
 [class=multiple-opt-comments] ul
,[class=multiple-short-txt] ul
,[class=numeric-multi] ul
{
	display: table;
	padding: 0%;
	margin: 1em;
}
[class=numeric-multi] ul	{	margin: 0% 1em 1.5em 1em;	}

.numeric-multi ul.computed
{
	float:left;
	padding-right: 2em;
}
.numeric-multi ul.slider.computed
{
	width: 22em;
}
 [class=multiple-opt-comments] ul li
,[class=multiple-short-txt] ul li
,[class=numeric-multi] ul li
{
	display: table-row;
}
 [class=multiple-short-txt] ul li label
,[class=numeric-multi] ul li label
{
	padding: 0.3em 1em 0% 0%;
	display: table-cell;
	vertical-align: baseline;
}
[class=numeric-multi] ul.computed li label
[class=numeric-multi] ul.slider.computed li label
{
	padding-right: 0%;
}

 [class=multiple-opt-comments] ul li span.comment
,[class=multiple-short-txt] ul li span
,[class=numeric-multi] ul li span
{
	padding: 0.3em 0% 0% 1em;
	display: table-cell;
	vertical-align: baseline;
	font-size: 80%;
	white-space: nowrap;
}
[class=multiple-opt-comments] ul li span
{
	padding: 0.3em 1em 0% 0%;
}
.numeric-multi div.multinum-slider
{
    margin-top: 1.5em;
	width: 20em;
}

.numeric-multi ul.multiplenumerichelp
,.numeric-multi ul.multiplenumerichelp.slider	{	display: table; font-size: 90%; }
.numeric-multi ul.multiplenumerichelp.slider li	{	display: table-row;	}

 [class=numeric-multi] ul.multiplenumerichelp li label
,.numeric-multi ul.multiplenumerichelp.slider li label
{
	padding: 0.3em 0% 0% 0%;
	display: table-cell;
}
 [class=numeric-multi] ul.multiplenumerichelp li span
,.numeric-multi ul.multiplenumerichelp.slider li span
{
	padding: 0% 0% 0% 0.3em;
	display: table-cell;
}
.numeric-multi ul.multiplenumerichelp span input {
    border: none;
    background-color: #F5F9F9;
    color: #222;
    padding: 0%;
    width: 7em;
}



 .text-short input
,.text-long textarea
,.text-huge textarea
{
	margin-left: 1em;
}
.text-huge textarea
{
	display: block;
}
/* STYLES NOT YET DEFINED - - - - -
.yes-no {}
.gender {}
*/

 #limesurvey table.question thead th
,#limesurvey table.question .repeat th
{
	vertical-align: bottom;
	text-align: center;
}
#limesurvey table.question .answer tbody td
{
	text-align: center;
}
 #limesurvey table.question tbody th.answertext
,#limesurvey table.question tbody th.arraycaptionleft
{
	text-align: right;
	font-weight: normal;
}
#limesurvey table.question tbody th.answertextright
{
	text-align: left;
	font-weight: normal;
}
.array-flexible-column col.odd
{
	background-color: #eee;
}


 .boilerplate td td
,.numeric td td
,.choice-5-pt-radio td td
,.yes-no td td
,.gender td td
,.date td td
,.numeric-multi td td
,.numeric td td
,.list-with-comment td td
,.list-dropdown-flexible td td
,.ranking td td
,.numeric-multi td td
,.language td td
,.multiple-opt-comments td td
,.multiple-short-txt td td
,.text-short td td
,.text-long td td
,.text-huge td td
,.numeric-multi td td
,.array-5-pt td
,.array-10-pt td
,.array-yes-uncertain-no td
,.array-increase-same-decrease td
,.array-flexible-row td
,.array-flexible-column td
,.array-multi-flexi td
,.array-multi-flexi-text td
,.array-flexible-duel-scale td 
{
	clear: both;
}

/* Jquery CSS
 */
/** UI Base **/
.ui-wrapper { border: 1px solid #50A029; }
.ui-wrapper input, .ui-wrapper textarea { border: 0; }
/** UI Slider **/
.ui-slider-handle { position: absolute; height: 23px; width: 12px; top: 0px; left: 0px; background-image: url(../../images/slider-handle.gif);  }
.ui-slider-disabled .ui-slider-handle { opacity: 0.5; filter: alpha(opacity=50); }
.ui-slider-1 { width: 200px; height: 23px; padding: 1px; position: relative; background-image: url(../../images/slider-bg-1.png); background-repeat: no-repeat; background-position: center center; }
.ui-slider-2 { width: 200px; height: 23px; position: relative; background-image: url(../../images/slider-bg-2.png); background-repeat: no-repeat; background-position: center center; }
.slider_callout { no-repeat; height: 20px; width: 100px; overflow: hidden; position: absolute; top: -17px; margin-left:+15px; font-family: 'Myriad Pro'; color: #284a6e; font-weight: bold; text-align: left;}
