/* This CSS file is included if a Right-to-Left language is used */
.outerframe.answertextright {
  text-align: right;
}
.survey-groupdescription {
  padding: 0 3px 2px 0;
}
.survey-groupname {
  padding: 2px 3px 0 0;
}
.survey-question {
  margin: 0 5px 0 0;
  padding: 0 3px 0 0;
}
.survey-question-help {
  margin: 2px 2px 0 0;
}
.survey-question-help img {
  padding: 0 0 0 10px;
}
.printouttable td:first-child {
  text-align: left;
}
.choice-5-pt-radio .survey-question-answer li,.list-radio-flexible .survey-question-answer li,.list-radio .survey-question-answer li,.list-with-comment .survey-question-answer li,.multiple-opt .survey-question-answer li,.multiple-opt-comments .survey-question-answer li,.multiple-short-txt .survey-question-answer li,.numeric-multi .survey-question-answer li,.yes-no .survey-question-answer li,.gender .survey-question-answer li
  {
  list-style-type: none;
  text-align: right;
  margin: 0 0.5em 0.5em 0;
}
.choice-5-pt-radio .survey-question-answer li,.list-radio-flexible .survey-question-answer li,.list-radio .survey-question-answer li,.list-with-comment .survey-question-answer li
  {
  margin-right: 2em;margin-left:0;
}
.choice-5-pt-radio .survey-question-answer ul,.yes-no .survey-question-answer ul,.gender .survey-question-answer ul {
  text-align: right;
}
.choice-5-pt-radio .survey-question-answer ul li,.yes-no .survey-question-answer ul li,.gender .survey-question-answer ul li {
  padding: 0 0 0 2em;
}
.date p.question {
  margin-right: 1em;
}
.date p.tip,.numeric-multi p.tip,.numeric p.tip {
  margin-right: 1.5em;
}
.numeric-multi p.tip.error,.numeric-multi input.tip.error {
  text-align: right;
}
ul.cols-2 li,ul.cols-2-ul,ul.cols-3 li,ul.cols-3-ul,ul.cols-4 li,ul.cols-4-ul,ul.cols-5 li,ul.cols-5-ul,ul.cols-6 li,ul.cols-6-ul,ul.cols-7 li,ul.cols-7-ul,ul.cols-8 li,ul.cols-8-ul
  {
  float: right;
}
.list-with-comment {
  float: right;
}
.list-with-comment div.list {
  float: right;
}
.list-with-comment p.select {
  float: right;
}
.list-with-comment div.list p {
  text-align: right;
}
.list-with-comment p.comment {
  text-align: right;
  float: right;
}
.ranking td.position {
  text-align: left;
}
.numeric-multi ul.computed {
  float: right;
  padding-left: 2em;padding-right: 0;
}
.multiple-opt-comments ul li span.option {
  padding: 0.3em 1.8em 0 1em;
}
.multiple-short-txt ul li label,.numeric-multi ul li label {
  padding: 0.3em 0 0 1em;
}
.multiple-opt-comments ul li span.comment,.multiple-short-txt ul li span,.numeric-multi ul li span
  {
  padding: 0.3em 1em 0 0;
}
.numeric-multi div.multinum-slider {
  float: right;
}
.numeric-multi ul.multiplenumerichelp li span,.numeric-multi ul.multiplenumerichelp.slider li span
  {
  padding: 0 0.3em 0 0;
}
.text-short input,.text-short textarea,.text-long textarea,.text-huge textarea
  {
  margin-right: 1em;margin-left: 0;
}
#limesurvey table.question tbody th.answertext {
  text-align: left;
}

#limesurvey table.question tbody th.answertextright {
  text-align: right;
}
#tokenform label {
  float: right;
  text-align: left;
}
#tokenform img {
  margin-left: 5px;
}
#tokenform input.submit {
  margin-right: 18em;margin-left: 0;
}
.outerframe.withindex,.withindex .outerframe{
  margin-right: 1em;
  margin-left: 26em;
}
#index {
  left: 0;
  border-right: 4px double #999;
}
#index h3 {
  margin: 0.5em 0.5em 0 0;
}

#index .container .row {
  text-align: right;
}
#index .container .row .hdr {
  padding: 0 0 0 0.5em;
}
/* ranking questions */
.dragDropTable .dragDropChoiceList li,
.dragDropTable .dragDropRankList li {
	text-align: right;
}
.dragDropTable .dragDropRankList li span.DDRnumberprefix,
.dragDropTable .dragDropChoiceList li span.DDRnumberprefix {
	float: right;
}

