{# 
    GititSurvey 
    Copyright (C) 2007-2017 The GititSurvey Project Team / Louis Gac 
    All rights reserved. 
    License: GNU/GPL License v2 or later, see LICENSE.php 
    GititSurvey is free software. This version may have been modified pursuant 
    to the GNU General Public License, and as distributed it includes or 
    is derivative of works licensed under the GNU General Public License or 
    other free or open source software licenses. 
    See COPYRIGHT.php for copyright notices and details. 
 
    (¯`·._.·(¯`·._.· Print answers Layout  ·._.·´¯)·._.·´¯) 
 
    This file displays the page shown to user when a participant registers for taking a survey. 
 
    NOTE: see layout_main.twig for more infos 
#}<section> 
        {% if (aSurveyInfo.printPdf != 1) %} 
            {# This will display the script and the hidden inputs needed for ExpressionScript Engine #} 
            {{ aSurveyInfo.EM.ScriptsAndHiddenInputs  }} 
        {% endif %} 
 
        {{ include('./subviews/printanswers/printanswers_head.twig') }} 
        {{ include('./subviews/printanswers/printanswers_table.twig') }} 
        {{ include('./subviews/printanswers/printanswers_foot.twig') }} 
    </section>
