.sidebar-left {
    border-right: 1px solid #eee;
    border-right: none !important;
    border-right: 0 !important;
    height: 100vh;
    left: 0;
    top: 62px;
    margin-top: 2px;
    max-height: calc(100vh - 56px);
    overflow-y: auto;
    padding-top: 4px;
    position: fixed;
    font-size: 1.955rem;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Noto Sans, Liberation Sans, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.sidebar {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    height: 100%;
    max-width: 350px;
    padding: 8px 0;
}
.fill-current {
    fill: currentColor;
}
.survey-structure, .survey-settings {
    font-size: .8rem;
}
.sidebar-header.primary {
    background-color: #eeeff7;
}
.sidebar-header {
    font-size: .855rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 12px 8px 12px 18px;
}
.sidebar-header .btn-close-lime {
    color: #1e1e1e;
    font-size: .855em;
    opacity: 1;
}
.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(129, 70, 246, var(--bs-bg-opacity)) !important;
    /*background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
    */
}
#left-sidebar .form-label {
    color: #1e1e1e;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 16px;
}
#left-sidebar {
    z-index: 1000;
}
.topbar {
    height: 62px;
    box-shadow: none;
}
.topbar.scroll-shadow {
    background-color: white;
    box-shadow: 58px 1px 2px -2px gray;
}

.btn-icon:before {
    font-size: 1.6em;
}
.sidebar-row {
    align-items: center;
    color: #1e1e1e;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -.21px;
    line-height: 20px;
    margin-bottom: 6px;
    padding-right: 10px;
}
.sidebar-row-title .content-editable {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
}
.content-editor .content-editable {
    word-break: break-word;
}
.disabled {
    opacity: 0.5;
}
.sidebar-icons-item {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    cursor: pointer;
}
.sidebar-icons-item:first-child {
    margin-top: 0;
}
.survey-settings-panel-item {
    display: flex;
    padding: 16px 24px;
    cursor: pointer;
    border-radius: 4px;
    align-items: center;
}
.sidebar-icons-container {
    width: 52px;
}
.sidebar-container {
    width: 350px;
}
.side-panel {
    height: 100%;
}
.survey-structure {
    overflow-y: auto;
    width: 290px;
}

