{#
/**
 * Optional td item for total, grand total, etc
 * [[COL_CODE]] are replaced by code of subquestion Scale X
 * [[COL_NAME]] are replaced by text of subquestion Scale X
 * @var $basename
 * @var $inputsize
 * @var $empty
 */
#}
<!-- col_total -->
<td class="total information-item">
    {% if empty %}
        &nbsp;
    {% else %}
        <label for="totals{{ basename }}total_[[COL_CODE]]" class="ls-label-xs-visibility">[[COL_NAME]]</label>
        <input
            type="text"
            id="totals{{ basename }}total_[[COL_CODE]]"
            aria-labelledby="answertext{{ basename }}_[[COL_CODE]]"
            size="{{ inputsize }}"
            value="" disabled="disabled" class="disabled form-control"  data-number='1' />
    {% endif %}
</td>

