/* The following styles are for all versions of IE */

.numeric-multi dl.multiplenumerichelp dt
{
	margin-bottom: -1.3em;
}

.multiple-short-txt ul
{
	margin-top: 1em;
}

.innergraph img {
height:18px;
vertical-align:top;
margin:0px 0px 0px 0px;
}