/* The following styles are for all versions of IE */

.numeric-multi dl.multiplenumerichelp dt
{
	margin-bottom: -1.3em;
}

.multiple-opt-comments ul , .multiple-short-txt ul , .numeric-multi ul
{
	margin-top: 0.8em;
}

.innergraph img {
height:18px;
vertical-align:top;
margin:0px 0px 0px 0px;
}