/* The following styles are for all versions of IE */

 .choice-5-pt-radio li
,.list-radio-flexible li
,.list-radio li
,.list-with-comment li
{
	text-indent: -2.2em;
}
.multiple-short-txt ul { margin-top: 1em; }

 .multiple-opt-comments ul.X2  label.answertext , .multiple-short-txt ul.X2  label , .numeric-multi ul.X2  label
,.multiple-opt-comments ul.X4  label.answertext , .multiple-short-txt ul.X4  label , .numeric-multi ul.X4  label
,.multiple-opt-comments ul.X6  label.answertext , .multiple-short-txt ul.X6  label , .numeric-multi ul.X6  label
,.multiple-opt-comments ul.X8  label.answertext , .multiple-short-txt ul.X8  label , .numeric-multi ul.X8  label
,.multiple-opt-comments ul.X10 label.answertext , .multiple-short-txt ul.X10 label , .numeric-multi ul.X10 label
,.multiple-opt-comments ul.X12 label.answertext , .multiple-short-txt ul.X12 label , .numeric-multi ul.X12 label
,.multiple-opt-comments ul.X14 label.answertext , .multiple-short-txt ul.X14 label , .numeric-multi ul.X14 label
,.multiple-opt-comments ul.X16 label.answertext , .multiple-short-txt ul.X16 label , .numeric-multi ul.X16 label
,.multiple-opt-comments ul.X18 label.answertext , .multiple-short-txt ul.X18 label , .numeric-multi ul.X18 label
,.multiple-opt-comments ul.X20 label.answertext , .multiple-short-txt ul.X20 label , .numeric-multi ul.X20 label
,.multiple-opt-comments ul.X20 label.answertext , .multiple-short-txt ul.X20 label , .numeric-multi ul.X20 label
,.multiple-opt-comments ul.X22 label.answertext , .multiple-short-txt ul.X22 label , .numeric-multi ul.X22 label
,.multiple-opt-comments ul.X24 label.answertext , .multiple-short-txt ul.X24 label , .numeric-multi ul.X24 label
,.multiple-opt-comments ul.X28 label.answertext , .multiple-short-txt ul.X28 label , .numeric-multi ul.X28 label
,.multiple-opt-comments ul.X30 label.answertext , .multiple-short-txt ul.X30 label , .numeric-multi ul.X30 label
{
	margin-bottom: -1.8em;
	display: block;
}


.numeric-multi dl.multiplenumerichelp
{
	margin-top: -4.5em;
}
.numeric-multi dl.multiplenumerichelp.slider { left: 20em; }
.numeric-multi dl.multiplenumerichelp.X2  { left: 14em; }
.numeric-multi dl.multiplenumerichelp.X4  { left: 16em; }
.numeric-multi dl.multiplenumerichelp.X6  { left: 18em; }
.numeric-multi dl.multiplenumerichelp.X8  { left: 20em; }
.numeric-multi dl.multiplenumerichelp.X10 { left: 22em; }
.numeric-multi dl.multiplenumerichelp.X12 { left: 24em; }
.numeric-multi dl.multiplenumerichelp.X14 { left: 26em; }
.numeric-multi dl.multiplenumerichelp.X16 { left: 28em; }
.numeric-multi dl.multiplenumerichelp.X18 { left: 30em; }
.numeric-multi dl.multiplenumerichelp.X20 { left: 32em; }
.numeric-multi dl.multiplenumerichelp.X22 { left: 34em; }
.numeric-multi dl.multiplenumerichelp.X24 { left: 36em; }
.numeric-multi dl.multiplenumerichelp.X26 { left: 38em; }
.numeric-multi dl.multiplenumerichelp.X28 { left: 40em; }
.numeric-multi dl.multiplenumerichelp.X30 { left: 42em; }
.numeric-multi dl.multiplenumerichelp.X-large { display: static; }

.numeric-multi dl.multiplenumerichelp dt
{
	margin-right: 1em;
	margin-bottom: -1.7em;
	position: static;
}
.innergraph img {
height:14px;
vertical-align:top;
margin:0px 0px 0px 0px;
}