.questionhelp {
font-size:10px;
}

.questiontext{
font-family:verdana;
font-size:12px;
font-weight:bold;
}

.clearall {
font-size:11px;
}

.answertextright {
text-align:left;
}

.array1 {
font-family:verdana;
font-size:11px;
text-align:center;
background-color:#fff;
}

.array2 {
font-family:verdana;
font-size:11px;
text-align:center;
background-color:#eee;
}

.arraycaptionleft {
text-align:right;
}

.saveall {
font-size:10px;
font-weight:400;
color:#000;
background-color:#999;
}

.asterisk {
color:red;
font-size:9pt;
font-family:verdana;
}

.innergraph {
direction: ltr;
}

.innergraph img {
height:12px;
vertical-align:top;
}

.innergraph table {
height:12px;
border:1px solid #000;
table-layout:fixed !important;
}

.innergraph td {
height:12px;
}

.printouttable {
width:100%;
}

.printouttable td {
border-color:#fff #fff #ddf;
border-style:solid;
border-width:1px;
}

.printouttable td:first-child {
background-color:#ddf;
font-weight:700;
text-align:right;
padding-right:5px;
padding-left:5px;
}

.printouttitle {
padding-right:5px;
padding-left:5px;
font-size:18px;
}

.surveytitle {
font-size:1.2em;
height:1.5em;
}

.languagechanger {
font-size:1em;
}

body.default,.question,.answertext {
font-family:verdana;
font-size:11px;
}

.errormandatory,.warningjs {
font-size:12px;
font-weight:700;
color:RED;
}

table.question {
width: 100%;
}

table.question tr.array1:hover,table.question tr.array2:hover {
background-color:#A7A9D1;
}
/* Jquery CSS
 */
/** UI Base **/
.ui-wrapper { border: 1px solid #50A029; }
.ui-wrapper input, .ui-wrapper textarea { border: 0; }
/** UI Slider **/
.ui-slider-handle { position: absolute; height: 23px; width: 12px; top: 0px; left: 0px; background-image: url(../../images/slider-handle.gif);  }
.ui-slider-disabled .ui-slider-handle { opacity: 0.5; filter: alpha(opacity=50); }
.ui-slider-1 { width: 200px; height: 23px; position: relative; background-image: url(../../images/slider-bg-1.png); background-repeat: no-repeat; background-position: center center; }
.ui-slider-2 { width: 200px; height: 23px; position: relative; background-image: url(../../images/slider-bg-2.png); background-repeat: no-repeat; background-position: center center; }
.slider_callout { no-repeat; height: 20px; width: 30; overflow: hidden; position: absolute; top: -18px; margin-left:+15px; padding: 8px 0px 0px 0px;
        font-family: "Myriad Pro"; color: #284a6e; font-weight: bold; text-align: center;}
