.meatball-dropdown.lsr-dropdown {
  .dropdown-toggle {
    padding: 0;
    background-color: transparent;
    border: none;
    color: $g-700;
    font-size: 24px;

    &:after {
      content: none;
    }
  }

  .dropdown-menu {
    border: 1px solid $g-900;
    width: 250px;
    border-radius: 2px;
    padding: 6px 12px;
    min-width: 220px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  }

  .dropdown-header {
    @include label-s-med;

    text-transform: uppercase;
    color: $g-700;
    padding: 8px 6px;
  }

  .dropdown-item {
    @include label-m;

    padding: 8px;
    border-radius: 2px;
    display: flex;
    align-items: center;

    i {
      padding-right: 8px;
    }

    &:hover,
    &.text-danger:hover {
      background-color: $g-200;
    }

    // when foucsed the border color should be $grape
    &:focus,
    &.text-danger:focus {
      outline: 1px solid $grape;
      background-color: $white;
    }
  }
}
