<p>{{ aSurveyInfo.optin_message }} </p>
{% if aSurveyInfo.optin_link %}
    <p><a href="{{ aSurveyInfo.optin_link }}" class="btn btn-outline-secondary btn-lg"> {{ gT("I confirm") }} </a><p>
{% endif %}
