{#
    LimeSurvey
    Copyright (C) 2007-2017 The LimeSurvey Project Team / Louis Gac
    All rights reserved.
    License: GNU/GPL License v2 or later, see LICENSE.php
    LimeSurvey is free software. This version may have been modified pursuant
    to the GNU General Public License, and as distributed it includes or
    is derivative of works licensed under the GNU General Public License or
    other free or open source software licenses.
    See COPYRIGHT.php for copyright notices and details.

    (¯`·._.·(¯`·._.· Language Changer  ·._.·´¯)·._.·´¯)

    Show a language changer inside the main container.

    It uses the Yii helper CHtml::dropDownList().
    @see: http://www.yiiframework.com/wiki/48/by-example-chtml/#hh5

#}

{% if aSurveyInfo.alanguageChanger.show == true %}

    {# set a shortcut for aSurveyInfo.alanguageChanger.datas #}
    {% set aLCD  = aSurveyInfo.alanguageChanger.datas %}

    {#
        array of attributes of the Drop Down list.
        To add a new attribute, just add an entry:
        'attribute' : 'value',
    #}
    {% set htmlOptions = {
            'id'             : false,
            'class'          : 'form-control',
            'data-targeturl' : aLCD.targetUrl,
        }
    %}

    {# When the language changer is shown outside of the main form, like in the welcome page, it must have its own form. #}
    {% if aLCD.withForm == true %}
        <form method="get" class="ls-languagechanger-form">
    {% endif %}
        
        <!-- Language Changer -->
        <div class="form-inline form-change-lang {{ aSurveyInfo.alanguageChanger.sClass }} " >
            <label class="form-group">
                <span class="control-label">{{ "Language:" | t }}</span>
                {{
                    C.Html.dropDownList(
                        'lang',
                        aLCD.sSelected,
                        aLCD.aListLang,
                        htmlOptions
                    )
                }}

            </label>

                {% if aLCD.withForm == true %}
                    <!-- for no js functionality (need form) -->
                    {% set buttonhtmlOptions = {
                            'type' : 'submit',
                            'value': 'changelang',
                            'name' : 'move',
                            'class': 'btn btn-default ls-js-hidden',
                            }
                    %}

                    {{
                        C.Html.htmlButton(
                        ("Change the language" | gT ),
                        htmlOptions
                        )
                    }}
                {% endif %}
        </div>

    {% if aLCD.withForm == true %}
        </form>
    {% endif %}
{% endif %}


{# TODO: add a javascript file, and register it here #}
<script>
// Method for link
$(document).ready(function(){
    $('.form-change-lang').on('change','select',function() {
        var lang = $(this).val();
        /* we are not in a forum, can not submit directly */
        if($('form#limesurvey').length==1){
            /* The limesurvey form exist in document, move select and button inside and click */
            $("form#limesurvey [name='lang']").remove();                        // Remove existing lang selector
            $("<input type='hidden'>").attr('name','lang').val(lang).appendTo($('form#limesurvey'));
            $('#changlangButton').clone().appendTo($('form#limesurvey')).click();
        }else{
            // If there are no form : we can't use it */
            /* No form, not targeturl : just see what happen */
            $("<form>", {
                "class":'ls-js-hidden',
                "html": '<input type="hidden" name="lang" value="' + lang + '" />',
                "action": target,
                "method": 'get'
            }).appendTo(document.body).submit();
        }
    });
});
</script>
