tr.LEMgroup td
{
background-color:lightgrey;
}

tr.LEMquestion
{
background-color:#EAF2D3;
}

tr.LEManswer td
{
background-color:white;
}

.LEMerror
{
color:red;
font-weight:bold;
}
tr.LEMsubq td
{
background-color:lightyellow;
}
.expression-tooltip .tooltip-inner {
    max-width: none;
}


/**
 * Workaround for https://bugs.gitit-tech.com/view.php?id=18250
 */
.main-content-container {
    overflow-x: visible;
}
.table-responsive {
    overflow-x: visible;
}
#vue-sidebar-container {
    display: none;
}
#pjax-content {
    max-width: 100%!important;
}
#vue-apps-main-container > .col-11 {
    width: 100%;
    max-width: 100%;
}
