{#
    This file is part of LimeSurvey
    Copyright (C) 2018-2026 The LimeSurvey Project Team
    This file render the language changer out of limesurvey form when no form is required (example survey listing)
    This file can be added for a no javascript solution to change language when not inside limesurvey form
#}
{% if(aSurveyInfo.surveyUrl) %}
    {{ C.Html.form(aSurveyInfo.surveyUrl,'get') }} {# auto adding needed parameters #}
{% else %}
    <form method="get">
{% endif %}
    {{ include('./subviews/navigation/language_changer.twig') }}
</form>
