.printanswers-container {
  margin-bottom : 3em;
  span {
    color: $g-900;
    line-height: $line-height-24;
    font-size: $font-size-md;
    font-weight: $font-weight-normal;
    margin-right: 5px;
  }
}

