<div class="col-8 offset-2 mb-3">
    <div class="card border-danger">
        <div class="card-body">
            <p>{{ message }}</p>
        </div>
    </div>
</div>
<script>
    $(document).ready(() => {
        const urlParams = new URLSearchParams(window.location.search);
        const tab = urlParams.get('tab');
        if (tab) {
            $('[href="#' + tab + '"]').tab('show');
        }
    });
</script>