<div class="col-8 offset-2 mb-3">
    <div class="card border-secondary">
        <div class="card-body text-secondary">
            <p>{{ gT("Currently saved settings are incomplete. After saving 'Client ID', 'Client Secret' and 'Tenant ID' you will be able to validate the credentials.") }}</p>
        </div>
    </div>
</div>
<script>
    $(document).ready(() => {
        const urlParams = new URLSearchParams(window.location.search);
        const tab = urlParams.get('tab');
        if (tab) {
            $('[href="#' + tab + '"]').tab('show');
        }
    });
</script>