<?xml version="1.0" encoding="UTF-8"?>

<config>
    <!-- Metadata -->
    <metadata>
        <name>arrays/multiflexi</name>
        <type>question_theme</type>
        <title>Array (Numbers)</title>
        <creationDate>09/08/2018</creationDate>
        <author>LimeSurvey GmbH</author>
        <authorEmail>info@limesurvey.org</authorEmail>
        <authorUrl>http://www.limesurvey.org</authorUrl>
        <copyright>Copyright (C) 2005 - 2018 LimeSurvey Gmbh, Inc. All rights reserved.</copyright>
        <license>GNU General Public License version 2 or later</license>
        <version>1.0</version>
        <apiVersion>1</apiVersion>
        <description>Array (Numbers) question type configuration</description>
        <questionType>:</questionType>
        <group>Arrays</group>
        <subquestions>2</subquestions>
        <answerscales>0</answerscales>
        <hasdefaultvalues>0</hasdefaultvalues>
        <assessable>1</assessable>
        <class>array-multi-flexi</class>
    </metadata>

    <compatibility>
        <version>4.0</version>
        <version>5.0</version>
    </compatibility>

    <!--
        List of the css/js files to load.
        Any file here will be loaded via the asset manager (when in config.php debug = 0)
    -->
    <files>
        <css>
            <filename></filename>
        </css>
        <js>
            <filename></filename>
        </js>
        <preview>
            <filename></filename>
        </preview>
    </files>

    <generalattributes>
        <attribute>question_template</attribute>
        <attribute>gid</attribute>
<!--        <attribute>other</attribute>-->
        <attribute>mandatory</attribute>
        <attribute>relevance</attribute>
        <attribute>encrypted</attribute>
        <attribute>save_as_default</attribute>
        <attribute>clear_default</attribute>
        <attribute>preg</attribute>
    </generalattributes>

    <!-- Question attributes -->
    <attributes>
        <!-- Display Attributes START -->
        <attribute>
            <name>repeat_headings</name>
            <category>Display</category>
            <sortorder>100</sortorder>
            <inputtype>integer</inputtype>
            <default></default>
            <min>0</min>
            <help>Repeat headers every n-th subquestions (Set to 0 to deactivate).</help>
            <caption>Repeat headers</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>reverse</name>
            <category>Display</category>
            <sortorder>100</sortorder>
            <inputtype>switch</inputtype>
            <options>
                <option>
                    <value>0</value>
                    <text>No</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Yes</text>
                </option>
            </options>
            <default>0</default>
            <help>Present answer options in reverse order</help>
            <caption>Reverse answer order</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>answer_width</name>
            <category>Display</category>
            <sortorder>100</sortorder>
            <inputtype>integer</inputtype>
            <min>0</min>
            <max>100</max>
            <help>Set the percentage width of the (sub-)question column (1-100)</help>
            <caption>(Sub-)question width</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>random_order</name>
            <category>Display</category>
            <sortorder>100</sortorder>
            <inputtype>singleselect</inputtype>
            <options>
                <option>
                    <value>0</value>
                    <text>No</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Yes</text>
                </option>
            </options>
            <default>0</default>
            <help>Present subquestions/answer options in random order</help>
            <caption>Random order</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>parent_order</name>
            <category>Display</category>
            <sortorder>100</sortorder>
            <inputtype>text</inputtype>
            <caption>Get order from previous question</caption>
            <help>Enter question ID to get subquestion order from a previous question</help>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>hide_tip</name>
            <category>Display</category>
            <sortorder>100</sortorder>
            <inputtype>switch</inputtype>
            <options>
                <option>
                    <value>0</value>
                    <text>No</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Yes</text>
                </option>
            </options>
            <default>0</default>
            <help>Hide the tip that is normally shown with a question</help>
            <caption>Hide tip</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>hidden</name>
            <category>Display</category>
            <sortorder>101</sortorder>
            <inputtype>switch</inputtype>
            <options>
                <option>
                    <value>0</value>
                    <text>No</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Yes</text>
                </option>
            </options>
            <default>0</default>
            <help>Hide this question at any time. This is useful for including data using answer prefilling.</help>
            <caption>Always hide this question</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>cssclass</name>
            <category>Display</category>
            <sortorder>102</sortorder>
            <inputtype>text</inputtype>
            <expression>1</expression>
            <help>Add additional CSS class(es) for this question. Use a space between multiple CSS class names. You may use expressions - remember this part is static.</help>
            <caption>CSS class(es)</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
        </attribute>
        <attribute>
            <name>multiflexible_min</name>
            <category>Display</category>
            <sortorder>110</sortorder>
            <inputtype>text</inputtype>
            <expression>2</expression>
            <help>Minimum value for array(multi-flexible) question type</help>
            <caption>Minimum value</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
        </attribute>
        <attribute>
            <name>input_boxes</name>
            <category>Display</category>
            <sortorder>110</sortorder>
            <inputtype>switch</inputtype>
            <options>
                <option>
                    <value>0</value>
                    <text>No</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Yes</text>
                </option>
            </options>
            <default>0</default>
            <help>Present as text input boxes instead of dropdown lists</help>
            <caption>Text inputs</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>multiflexible_step</name>
            <category>Display</category>
            <sortorder>111</sortorder>
            <inputtype>integer</inputtype>
            <default>1</default>
            <min>1</min>
            <help>Step value</help>
            <caption>Step value</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>multiflexible_max</name>
            <category>Display</category>
            <sortorder>112</sortorder>
            <inputtype>text</inputtype>
            <expression>2</expression>
            <help>Maximum value for array(mult-flexible) question type</help>
            <caption>Maximum value</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
        </attribute>
        <attribute>
            <name>input_size</name>
            <category>Display</category>
            <sortorder>100</sortorder>
            <inputtype>integer</inputtype>
            <default></default>
            <help>Set the size of the input or textarea. The input will be displayed approximately this size in width.</help>
            <caption>Text input box size</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>multiflexible_checkbox</name>
            <category>Display</category>
            <sortorder>100</sortorder>
            <inputtype>switch</inputtype>
            <options>
                <option>
                    <value>0</value>
                    <text>No</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Yes</text>
                </option>
            </options>
            <default>0</default>
            <help>Use checkbox layout</help>
            <caption>Checkbox layout</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>printable_help</name>
            <category>Display</category>
            <sortorder>201</sortorder>
            <inputtype>text</inputtype>
            <expression>1</expression>
            <i18n>1</i18n>
            <default></default>
            <help>In the printable version the condition is being replaced with this explanation text.</help>
            <caption>Condition help for printable survey</caption>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
        </attribute>
        <!-- Display Attributes END -->
        <!-- Logic Attributes START -->
        <attribute>
            <name>min_answers</name>
            <category>Logic</category>
            <sortorder>10</sortorder>
            <inputtype>text</inputtype>
            <expression>2</expression>
            <help>Ensure a minimum number of possible answers (0=No limit)</help>
            <caption>Minimum answers</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
        </attribute>
        <attribute>
            <name>max_answers</name>
            <category>Logic</category>
            <sortorder>11</sortorder>
            <inputtype>text</inputtype>
            <expression>2</expression>
            <help>Limit the number of possible answers</help>
            <caption>Maximum answers</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
        </attribute>
        <attribute>
            <name>array_filter</name>
            <category>Logic</category>
            <sortorder>100</sortorder>
            <inputtype>text</inputtype>
            <help>Enter the code(s) of Multiple choice question(s) (separated by semicolons) to only show the matching answer options in this question.</help>
            <caption>Array filter</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>array_filter_style</name>
            <category>Logic</category>
            <sortorder>100</sortorder>
            <inputtype>buttongroup</inputtype>
            <options>
                <option>
                    <value>0</value>
                    <text>Hidden</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Disabled</text>
                </option>
            </options>
            <default>0</default>
            <help>Specify how array-filtered subquestions should be displayed</help>
            <caption>Array filter style</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>array_filter_exclude</name>
            <category>Logic</category>
            <sortorder>100</sortorder>
            <inputtype>text</inputtype>
            <help>Enter the code(s) of Multiple choice question(s) (separated by semicolons) to exclude the matching answer options in this question.</help>
            <caption>Array filter exclusion</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>random_group</name>
            <category>Logic</category>
            <sortorder>180</sortorder>
            <inputtype>text</inputtype>
            <help>Place questions into a specified randomization group, all questions included in the specified group will appear in a random order</help>
            <caption>Randomization group name</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>em_validation_q</name>
            <category>Logic</category>
            <sortorder>200</sortorder>
            <inputtype>textarea</inputtype>
            <expression>2</expression>
            <xssfilter>0</xssfilter>
            <help>Enter a boolean equation to validate the whole question.</help>
            <caption>Question validation equation</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
        </attribute>
        <attribute>
            <name>em_validation_sq</name>
            <category>Logic</category>
            <sortorder>220</sortorder>
            <inputtype>textarea</inputtype>
            <expression>2</expression>
            <xssfilter>0</xssfilter>
            <help>Enter a boolean equation to validate each subquestion.</help>
            <caption>Subquestion validation equation</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
        </attribute>
        <attribute>
            <name>em_validation_sq_tip</name>
            <category>Logic</category>
            <sortorder>230</sortorder>
            <inputtype>textarea</inputtype>
            <expression>1</expression>
            <i18n>1</i18n>
            <help>This is a tip shown to the participant describing the subquestion validation equation.</help>
            <caption>Subquestion validation tip</caption>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
        </attribute>
        <attribute>
            <name>em_validation_q_tip</name>
            <category>Logic</category>
            <sortorder>210</sortorder>
            <inputtype>textarea</inputtype>
            <expression>1</expression>
            <i18n>1</i18n>
            <help>This is a hint text that will be shown to the participant describing the question validation equation.</help>
            <caption>Question validation tip</caption>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
        </attribute>
        <!-- Logic Attributes END -->
        <!-- Other Attributes START -->
        <attribute>
            <name>page_break</name>
            <category>Other</category>
            <sortorder>100</sortorder>
            <inputtype>switch</inputtype>
            <options>
                <option>
                    <value>0</value>
                    <text>No</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Yes</text>
                </option>
            </options>
            <default>0</default>
            <help>Insert a page break before this question in printable view.</help>
            <caption>Insert page break in printable view</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>scale_export</name>
            <category>Other</category>
            <sortorder>100</sortorder>
            <inputtype>singleselect</inputtype>
            <options>
                <option>
                    <value>0</value>
                    <text>Default</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Nominal</text>
                </option>
                <option>
                    <value>2</value>
                    <text>Ordinal</text>
                </option>
                <option>
                    <value>3</value>
                    <text>Scale</text>
                </option>
            </options>
            <default>0</default>
            <help>Set a specific SPSS export scale type for this question</help>
            <caption>SPSS export scale type</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <!-- Other Attributes END -->
        <!-- Statistics Attributes START -->
        <attribute>
            <name>public_statistics</name>
            <category>Statistics</category>
            <sortorder>80</sortorder>
            <inputtype>switch</inputtype>
            <options>
                <option>
                    <value>0</value>
                    <text>No</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Yes</text>
                </option>
            </options>
            <default>0</default>
            <help>Show statistics of this question in the public statistics page</help>
            <caption>Show in public statistics</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>statistics_showgraph</name>
            <category>Statistics</category>
            <inputtype>switch</inputtype>
            <sortorder>101</sortorder>
            <options>
                <option>
                    <value>0</value>
                    <text>No</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Yes</text>
                </option>
            </options>
            <help>Display a chart in the statistics?</help>
            <caption>Display chart</caption>
            <default>1</default>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>statistics_graphtype</name>
            <category>Statistics</category>
            <inputtype>singleselect</inputtype>
            <sortorder>102</sortorder>
            <options>
                <option>
                    <value>0</value>
                    <text>Bar chart</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Pie chart</text>
                </option>
                <option>
                    <value>2</value>
                    <text>Radar</text>
                </option>
                <option>
                    <value>3</value>
                    <text>Line</text>
                </option>
                <option>
                    <value>4</value>
                    <text>PolarArea</text>
                </option>
                <option>
                    <value>5</value>
                    <text>Doughnut</text>
                </option>
            </options>
            <help>Select the type of chart to be displayed</help>
            <caption>Chart type</caption>
            <default>0</default>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <!-- Statistics Attributes END -->
        <!-- Timer Attributes START -->
        <!-- Timer Attributes END -->
        <!-- Input Attributes START -->
        <attribute>
            <name>maximum_chars</name>
            <category>Input</category>
            <sortorder>100</sortorder>
            <inputtype>integer</inputtype>
            <default></default>
            <help>Maximum characters allowed</help>
            <caption>Maximum characters</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <!-- Input Attributes END -->
    </attributes>

    <!-- Core question js/css configuration -->
    <engine>
        <load_core_css>true</load_core_css>
        <load_core_js>true</load_core_js>
        <show_as_template>true</show_as_template>
        <show_as_question_type>true</show_as_question_type>
    </engine>
</config>
