.dg-view-wrapper {
    .dg-btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &.dg-btn--cancel {
            color: #071a2d;
            background-color: #ffffff;
            border: 1px solid #cccccc;
        }
        &.dg-btn--ok {
            color: #fff;
            background-color: #d9534f;
            background-color: var(--LS-admintheme-dangercolor);
            border-color: #d43f3a;
            border-color: var(--LS-admintheme-dangercolor);
        }
    }
}
