<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>UpdateCheck</name>
        <type>plugin</type>
        <creationDate>2018-10-04</creationDate>
        <lastUpdate>2018-10-04</lastUpdate>
        <author>LimeSurvey GmbH</author>
        <authorUrl>https://www.limesurvey.org</authorUrl>
        <version>1.0.0</version>
        <license>GNU General Public License version 2 or later</license>
        <description><![CDATA[Use the ExtensionLibrary to check for extension updates.]]></description>
    </metadata>

    <compatibility>
        <version>6.0</version>
        <version>5.0</version>
        <version>4.0</version>
    </compatibility>

    <!-- Core plugins don't need updaters. -->
    <updaters>
    </updaters>
</config>
