.group-container {
    // Design inspired by the welcome page
    .group-title {
        font-size   : 40px;
        font-weight : $font-weight-600;
        line-height : 52px;
        margin-top: 1em;
        margin-bottom: 10px;
    }
    .group-description {
        font-size   : 18px;
        font-weight : $font-weight-normal;
        line-height : 24px;
    }
}