a.btn.twitter-button{
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
}

button.btn.facebook-button{
    background: #4267b2;
    border: 1px solid #4267b2;
    color: #fff;
}
