body {
color:#444;
background-color:#B7B7B7;
font-family:arial;
font-size:9pt;
}

.answertextright {
text-align:left;
}

.submit {
background-color:#CCF;
font-size:9pt;
font-family:arial;
}

.text {
background-color:#EFEFEF;
color:#777;
font-size:9pt;
font-family:arial;
}

.select {
background-color:#EFEFEF;
color:#555;
font-family:arial;
font-size:9pt;
}

.textarea {
background-color:#EFEFEF;
color:#666;
font-size:9pt;
font-family:arial;
width:400px;
}

.clearall {
font-size:7pt;
}

.clearall
A:link {
text-decoration:none;
font-family:arial;
color:#555;
}

.clearall
A:visited {
text-decoration:none;
font-family:arial;
color:#666;
}

.clearall
A:active {
text-decoration:none;
font-family:arial;
color:#EEE;
}

.clearall
A:hover {
text-decoration:underline;
font-family:arial;
color:#222;
}

.graph {
border:solid;
background-color:EFEFEF;
border-color:#777;
border-width:1px;
}

.innergraph {
background-color:EFEFEF;
color:#777;
font-family:arial;
font-size:8pt;
direction: ltr;
}

.array1 {
background-color:#D1D1D1;
color:#777;
text-align:left;
}

.array2 {
background-color:#EFEFEF;
color:#777;
}

.questionhelp {
font-size:10px;
font-style:italic;
}

.questiontext{
font-family:verdana;
font-size:12px;
font-weight:bold;
}

.warningjs {
font-size:12px;
font-weight:700;
color:RED;
}

.asterisk {
color:red;
font-size:9pt;
font-family:verdana;
}

.innergraph img {
height:12px;
vertical-align:top;
}

.innergraph table {
height:12px;
border:1px solid #000;
table-layout:fixed !important;
}

.innergraph td {
height:12px;
}

.printouttable {
width:100%;
}

.printouttable td {
border-color:#fff #fff #ddf;
border-style:solid;
border-width:1px;
}

.printouttable td:first-child {
background-color:#ddf;
font-weight:700;
text-align:right;
padding-right:5px;
padding-left:5px;
}

.printouttitle {
padding-right:5px;
padding-left:5px;
font-size:18px;
}

.surveytitle {
font-size:1.2em;
height:1.5em;
}

.surveytitle:hover {
background-color:#F0F0F0;
}

.languagechanger {
font-size:1em;
}

.rank,.question {
background-color:#E1E1E1;
color:#777;
}

table.question {
width: 100%;
}

table.question tr.array1:hover,table.question tr.array2:hover {
background-color:#A7A9D1;
}
/* Jquery CSS
 */
/** UI Base **/
.ui-wrapper { border: 1px solid #50A029; }
.ui-wrapper input, .ui-wrapper textarea { border: 0; }
/** UI Slider **/
.ui-slider-handle { position: absolute; height: 23px; width: 12px; top: 0px; left: 0px; background-image: url(../../images/slider-handle.gif);  }
.ui-slider-disabled .ui-slider-handle { opacity: 0.5; filter: alpha(opacity=50); }
.ui-slider-1 { width: 200px; height: 23px; padding: 1px; position: relative; background-image: url(../../images/slider-bg-1.png); background-repeat: no-repeat; background-position: center center; }
.ui-slider-2 { width: 200px; height: 23px; position: relative; background-image: url(../../images/slider-bg-2.png); background-repeat: no-repeat; background-position: center center; }
.slider_callout { no-repeat; height: 20px; width: 100px; overflow: hidden; position: absolute; top: -17px; margin-left:+15px; font-family: 'Myriad Pro'; color: #284a6e; font-weight: bold; text-align: left;}
        font-family: "Myriad Pro"; color: #284a6e; font-weight: bold; text-align: center;}
