<IfVersion < 2.4>
    Order Allow,Deny
    Allow from all
</IfVersion>
<IfVersion >= 2.4>
    <IfModule !mod_access_compat.c>
        Require all granted
    </IfModule>
    Order Allow,Deny
    Allow from all
</IfVersion>
