.__floater__body {
  .__floater__arrow {
    polygon {
      fill: $apple !important;
    }
  }
}

.highlight {
  border-radius: $border-radius;
  opacity: 0.5;
  background: $apple !important;
}

.tutorial-skip-button {
  position: fixed;
  bottom: 24px;
  right: 100px;
  width: 172px;
  height: 44px;
  z-index: 10001;
  padding: 4px 12px;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  background: $lime-green;
  color: $g-900;
}

.x-button-container {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    font-size: 18px;
  }
}

.tutorial-finish-modal {
  width: 320px;
  height: 40px;
  background-color: $white;

  border-radius: $border-radius;
  border: 1px solid $g-900;
  position: relative;

  .toast-component-right-icon {
    // position: absolute;
    // right: 5px;
    // top: 4px;
    display: none;
  }

  .green-mark {
    min-width: 8px;
    height: 38px;
    border-radius: 4px 0 0 4px;
    background: $success;

    &::before {
      content: '';
    }
  }

  .tutorial-finished-content {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
  }
}

.tutorial-tooltip {
  border-radius: $border-radius;
  width: 240px;
  background: $apple;
  box-shadow: 0 4px 124px 0 rgba(0, 0, 0, 0.1);
  padding: 8px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  z-index: 9999;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  .end-tour {
    border: 1px solid $g-900;
    width: 100%;
    height: 24px;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 16px;

    .reg12 {
      color: $g-900;
    }
  }

  .progress-bar-container {
    width: 100%;
    background-color: $g-300;
    height: 4px;

    .progress-bar {
      width: 25%;
      height: 100%;
      background-color: $g-900;
    }
  }

  i {
    font-size: $font-size-xl;
  }
}
