.box-widget {
    --main-color: #8046F5;
    --main-border-color: #6D748C;
}
.box-widget .card {
    vertical-align: middle;
    padding: 8px;
}
.box-widget .card {
    position: relative;
    padding: 15px 20px !important;
    margin:  10px 0  !important;
    border-radius: 4px;
    height: 180px;
    width: 240px;
}
.box-widget .card.card-clickable,
.box-widget .card .card-header:hover {
    cursor: pointer;
}

.box-widget .card .card-header .card-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: initial;
    overflow: hidden;
    max-height: 100%;
    font-family: Sans-Serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}
.box-widget .card .card-header span.card-detail  {
    color: #6E748C;
    font-size: 12px;
    font-weight: 400;

    line-height: 16px;
}

.box-widget .card .card-footer {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 30px;
    padding: 0;
    color: gray;
    font-size: 1.1em;
}

.box-widget .card .card-footer .content {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding-left: 20px;
}
.box-widget .card .card-footer .content div{
    display: inline-block;
    width: 45%;
}

.box-widget .card .card-footer .icons {
    font-size: 2em;
    text-align: right;
}

.box-widget .card .card-footer .icons a {
    outline: none;
}

.box-widget .card-link.card {
    border: solid #6D748C 3px;
    color: #6D748C;
}
.box-widget .card-link.card .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.box-widget .card-link.card .card-body i {
    padding-right: 5px;
}

@media (max-width: 1400px) {
    .box-widget .card .card-header .card-title {
        -webkit-line-clamp: 3;
    }
    .box-widget .row .col {
        width: 33%;
    }
}


@media (max-width: 1000px) {
    .box-widget .row .col {
        width: 50%;
    }
}

@media screen and (max-width: 767px) {
    .box-widget .row .col {
        width: 75%;
        aspect-ratio: 1/1;
        margin: 0 auto;
        padding: 0;
    }
    .dropdown {
        display: none;
    }
}
.box-widget .card .card-footer .content .dropdown.ls-action_dropdown {
    margin: 0;
    padding: 0;
    width: 32px;
}

.box-widget .card .card-footer .content .dropdown.ls-action_dropdown button,
.box-widget .card .card-footer .content .dropdown.ls-action_dropdown button:hover {
    box-shadow: none;
    border: solid 1px white;
}

.box-widget .card .card-footer .content .dropdown.ls-action_dropdown button i:before {
    display: inline-block;
    font-size: 1em;
    margin: 2px;
    padding-top: 5px;
}

.box-widget .btn-container {
    width: 100%;
    text-align: center;
}

.box-widget #load-more {
    display: inline-block;
    padding: 5px;
    margin-top: 25px;
}

.icons a *:not(i) {
    display: none;
}
.card-header .label {
    display: inline-block;
    font-size: 14px;
    color: white;
    padding: 1px 7px;
    margin-bottom: 5px;
    border-radius: 15px;
    font-weight: 400;
}
.box-widget .card .card-footer .content a.active i::before {
    color: var(--main-color);
}
.card.card-primary .card-body + .card-footer, .card.card-primary .card-header + .card-footer {
    padding-top: 5px;
}

.box-widget .card .card-footer .content  a i:before {
    font-size: 0.8em;
    display: inline-block;
    width: 12px !important;
    height: 15px !important;
}
