# Composer files
composer.phar
vendor/*

# Codeception files
codecept.phar
tests/_log/*
tests/acceptance/*
tests/functional/*
tests/acceptance.suite.yml
tests/functional.suite.yml

# Node modules
node_modules

# releases
releases/

# project files
.idea/*
nbproject/*

# mac deployment helpers
switch

# cache directories
Thumbs.db
*.DS_Store
*.empty