#responses-column-filter-modal .checkbox label {
  vertical-align: text-bottom;
  white-space: nowrap;
  overflow-x: hidden;
}

.responses-multiselect-checkboxes {
  overflow-y: scroll;
  height: 60vh;
}

.responses-column-filter-modal-checkbox-buttons {
  text-align: left;
  padding-bottom: 15px;
}