//see yiistrap.css for original css

.grid-view, .grid-view-ls {
    .table {
        td.button-column, th.button-column {
            white-space: nowrap;
            text-align: initial
        }
        th > .sort-link .caret {
            right: -10px;
        }
        .filters > td .filter-container {
            padding: 0;
        }
    }
}

.grid-view-ls .table td {
    vertical-align: middle;
    input[type="checkbox"]:after {
        margin-top: -3px;
        margin-right: -3px;
    }
}

.grid-view-ls .table .button-column {
    white-space: nowrap;
    text-align: initial;
    min-width: 50px;
}

.grid-view-ls .summary {
    color: #999999;
    font-size: 12px;
    text-align: right;
}

.grid-view-ls.grid-view-loading {
    background: url(../img/loader.gif) no-repeat 100% 10px;
}

.grid-view-ls.grid-view-loading .table {
    opacity: 0.3;
}

.grid-view-ls.grid-view-loading .table th > .sort-link .caret {
    display: none;
}

.grid-view-ls .table td .longtext-content {
    min-width:8em;
    max-width:16em;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    height:1.5em;
    display:inline-block
}
