.sidebar {
    display : flex;
    margin  : 8px;
    .sidebar-icons {
        .sidebar-icon {
            cursor     : pointer;
            margin-top : 10px;
            &:first-child {
                margin-top : 0;
            }
        }
    }
}