.sidebar {
    display : flex;
    padding  : 8px 8px 0px 8px;
    .sidebar-icons {
        padding : 8px 8px 8px 0;
        .sidebar-icon {
            cursor     : pointer;
            margin-top : 10px;
            &:first-child {
                margin-top : 0;
            }
        }
    }
}