// Admin Sidepanel
#sidebar {
  padding-top: 15px;
  width:100%;
  .ls-sidebar-item {
    border-left: none !important;
  }
  .background-muted {
    background-color: $g-200 !important;
  }
  .questiongroup-list-group {
    border-left: 6px solid $active-green;
    padding: 0 !important;
  }

  .question-question-list-item {
    &.selected {
      border-left: 6px solid $g-300  !important;
      margin-top: 4px !important;
      margin-left: 4px !important;
  }
    &.activated {
        border-left: 6px solid $active-green !important;
    }
  }
  .questiongroup-list-group>li.selected {
    opacity: 0.9;
    &.activated {
      opacity: 1;
    }
  }

  .button-sub-bar {
    min-height: 32px;
  }

  .dragPointer {
    cursor: move;
    &.disabled {
      color: #999999;
      cursor: not-allowed;
    }
  }

  .question-question-list {
    .question-question-list-item {
      display: flex;
      align-items: center;
      .question-question-list-item-link {
        display: inline-flex;
        flex-wrap: wrap;
      }
    }

  }

  .question_text_ellipsize {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 2px;
  }

  svg {
    color: $g-600;
  }

  .btn-primary.force.color.white.onhover {
      &:hover,
      &:active,
      &:focus {
          color: $white;
      }
  }

  .background.white {
      background-color: $white;
      box-shadow: none;
  }

  .resize-handle {
    position: absolute;
    margin: auto;
    right: 15px;
    top: 0;
    bottom: 0;
    height: 100%;
    max-height: 35px;
    cursor: col-resize;
    button {
      background-color : $white;
      outline: 0;
      &:focus, &:active, &:hover {
        outline: 0 !important;
        background-color : $white !important;
        color            : $g-900;
      }
      cursor: col-resize;
      width:100%;
      height:100%;
      text-align: left;
      border-radius: 0;
      padding: 0 4px;
      i {
        font-size: 12px;
      }
    }
  }

  .menu-open {
      animation-name: animate-gradient;
      animation-duration: 450ms;
      background: radial-gradient(circle at center, $primary-bg_menuopen 0px, $primary-bg_menuopen 8px, $white 9px, $white 100%);
  }
  .selected {
    background-color: $white !important;
      transition-property: all;
      transition-duration: .25s;
      transition-timing-function: cubic-bezier(1, 0.5, 0.5, 1);
  }

  a:not(.btn, .nav-tabs .nav-link) {
    color: $g-900;
    font-weight: $font-weight-normal;
  }

  li.dragged {
    color                      : $white;
    background                 : var(--bs-primary) none !important;
    padding-top                : 18px;
    padding-bottom             : 18px;
    transition-property        : all;
    transition-duration        : .1s;
    transition-timing-function : ease-in-out;

    .q-group {
      background                 : var(--bs-primary) !important;
    }
    a, svg, a:not(.btn, .nav-tabs .nav-link) {
      color                      : $white;
    }
  }


  .menu-label {
    color: $g-900;
    font-weight: $font-weight-600;
    font-size: 14px;
    line-height: $line-height-20;
  }

  .subpanel {
    font-size: 14px;
    .wrapper {
      .title {
        color: $g-700;
      }
      .icon {
        color: $g-700;
      }
    }
      &.level-0 {
          .list-group-item {
            border-left: 6px solid $white !important;
          }
          .selected {
              .wrapper {
                .title {
                  color: $g-900;
                }
                .icon {
                  color: $active-green;
                  font-weight: 600;
                }
              }
              border-left: 6px solid $active-green !important;
              font-weight: $font-weight-500;
          }
      }
      &.level-1 {
          .list-group-item {
            border-left: 6px solid $white !important;
          }
       
          .selected {
            border-left: 6px solid $active-green !important;
          }
      }
      &.level-2 {
        .list-group-item {
          border-left: 6px solid $white !important;
        }
     
        .selected {
          border-left: 6px solid $active-green !important;
        }
      }
  }
}

// Globally or only in sidemenu?
.list-group {
  border-radius: 0px !important;
}
.list-group-item {
  border: none !important;
  background: none !important;
  padding: 0.5rem 0.5rem;
}
