// Admin Sidepanel
#sidebar {
  padding-top: 15px;
  width:100%;

  .questiongroup-list-group>li.selected {
    opacity: 0.9;
    &.activated {
      opacity: 1;
    }
  }

  .button-sub-bar {
    min-height: 32px;
  }

  .dragPointer {
    cursor: move;
    &.disabled {
      color: #999999;
      cursor: not-allowed;
    }
  }

  .question-question-list {
    .question-question-list-item {
      padding: 0;
      .question-question-list-item-drag {
        margin: 10px 15px;
      }
      &.selected {
        padding-left: 20px;
        .question-question-list-item-drag {
          margin: 10px 10px 10px 5px;
        }
      }
      .question-question-list-item-link {
        padding: 10px 25px 10px 10px;
        display: inline-flex;
        flex-wrap: wrap;
      }
    }
  }

  .question_text_ellipsize {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 2px;
  }

  svg {
    color: $g-600;
  }

  .btn-primary.force.color.white.onhover {
      &:hover,
      &:active,
      &:focus {
          color: $white;
      }
  }

  .background.white {
      background-color: $white;
      box-shadow: none;
  }

  .resize-handle {
    position: absolute;
    margin: auto;
    right: 15px;
    top: 0;
    bottom: 0;
    height: 100%;
    max-height: 35px;
    cursor: col-resize;
    button {
      background-color : $white;
      outline: 0;
      &:focus, &:active, &:hover {
        outline: 0 !important;
        background-color : $white !important;
        color            : $g-900;
      }
      cursor: col-resize;
      width:100%;
      height:100%;
      text-align: left;
      border-radius: 0;
      padding: 0 4px;
      i {
        font-size: 12px;
      }
    }
  }

  .menu-open {
      animation-name: animate-gradient;
      animation-duration: 450ms;
      background: radial-gradient(circle at center, $primary-bg_menuopen 0px, $primary-bg_menuopen 8px, $white 9px, $white 100%);
  }
  .selected {
      padding-left: 20px;
      background: /*!rtl:linear-gradient(to left, $primary 0px, $primary 13px, $white 13px, $white 100%)*/ linear-gradient(to right, $g-300 0px, $g-300 8px, $white 8px, $white 100%);

      &.activated {
          background: /*!rtl:linear-gradient(to left, $primary 0px, $primary 13px, $white 13px, $white 100%)*/ linear-gradient(to right, $active-green 0px, $active-green 8px, $white 8px, $white 100%);
      }
      transition-property: all;
      transition-duration: .25s;
      transition-timing-function: cubic-bezier(1, 0.5, 0.5, 1);
  }

  .dragged {
    color                      : $white;
    background                 : var(--bs-primary) none !important;
    padding-top                : 18px;
    padding-bottom             : 18px;
    transition-property        : all;
    transition-duration        : .1s;
    transition-timing-function : ease-in-out;

    a, svg {
      color                      : $white;
    }
  }

  .menu-selected {
      padding-left: 10px;
      background: /*!rtl:linear-gradient(to left, $primary 0px, $primary 6px, $white 6px, $white 100%)*/ linear-gradient(to right, $primary 0px, $primary 6px, $white 6px, $white 100%);
  }

  .subpanel {
      &.level-0 {
          .menu-selected {
              background: /*!rtl:linear-gradient(to left, $primary-bg_selected_subpanel 0px, $primary-bg_selected_subpanel 6px, $white 6px, $white 100%)*/ linear-gradient(to right, $primary-bg_selected_subpanel 0px, $primary-bg_selected_subpanel 6px, $white 6px, $white 100%);
          }
          .selected {
              background: /*!rtl:linear-gradient(to left, $primary-bg_selected_subpanel 0px, $primary-bg_selected_subpanel 13px, $white 13px, $white 100%)*/ linear-gradient(to right, $primary-bg_selected_subpanel 0px, $primary-bg_selected_subpanel 13px, $white 13px, $white 100%);
          }
      }
      &.level-1 {
          .menu-selected {
              background: /*!rtl:linear-gradient(to left, $primary-bg_selected 0px, $primary-bg_selected 6px, $white 6px, $white 100%)*/ linear-gradient(to right, $primary-bg_selected 0px, $primary-bg_selected 6px, $white 6px, $white 100%);
          }
          .selected {
              background: /*!rtl:linear-gradient(to left, $primary-bg_selected 0px, $primary-bg_selected 13px, $white 13px, $white 100%)*/ linear-gradient(to right, $primary-bg_selected 0px, $primary-bg_selected 13px, $white 13px, $white 100%);
          }
      }
      &.level-2 {
          .menu-selected {
              background: /*!rtl:linear-gradient(to left, $primary-bg_selected_subpanel_2 0px, $primary-bg_selected_subpanel_2 6px, $white 6px, $white 100%)*/ linear-gradient(to right, $primary-bg_selected_subpanel_2 0px, $primary-bg_selected_subpanel_2 6px, $white 6px, $white 100%);
          }
          .selected {
              background: /*!rtl:linear-gradient(to left, $primary-bg_selected_subpanel_2 0px, $primary-bg_selected_subpanel_2 13px, $white 13px, $white 100%)*/ linear-gradient(to right, $primary-bg_selected_subpanel_2 0px, $primary-bg_selected_subpanel_2 13px, $white 13px, $white 100%);
          }
      }
  }

}