#addlang
{
  width: 30%;
  margin-left: auto ;
  margin-right: auto ;
}
#comsettingdrop
{
  width: 15%;
  margin-left: auto ;
  margin-right: auto ;
}
#comsettingcheck
{
  width: 11%;
  margin-left: auto ;
  margin-right: auto ;
}
#dd{
  width: 25%;
  margin-left: auto ;
  margin-right: auto ;
}
#plus{
  width: 20%;
  margin-left: auto ;
  margin-right: auto ;
}