{#
/**
 * @var $no_answer
 */
#}

<!-- thead -->
<td></td>
<th class="answer-text">{{ gT('Yes') }}</th>
<th class="answer-text">{{ gT('Uncertain') }}</th>
<th class="answer-text">{{ gT('No') }}</th>
{% if no_answer %}
    <th class="answer-text noanswer-text">{{ gT('No answer') }}</th>
{% endif %}
<!-- end of  thead -->
