.sortable .form-group > * {
    float: none;
}
.hide-inputs .control-label {
    width: 100%;
    padding-top: 0px;
    text-align: center;
}

.hide-inputs .form-group {
    margin-bottom: 0px;
}
.hide-inputs input {
    display: none;
}

.sortable {
    min-height: 34px;
    height: auto;
}

.resourceUsage {
    height: 100px;
    display: flex;
    border: 1px solid black;
    align-items: flex-end;
}

.resourceUsage > div {
    display: flex;
}

.resourceUsage > div.time {
    background-color: #681818;
}

.resourceUsage > div.memory {
    background-color: #6ce26c;
}
#importForm.busy #participantForm, #importForm.busy #mapForm {
    display: none;
}

#importForm #progress{
    display: none;
}
#importForm.busy #progress {
    display: inherit;
}

#importForm {
    position: relative;

}
.overlay {
    background-color: rgba(255,0,0,0.5);
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 10;
}

#importForm .overlay {
    display: none;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    line-height: 4em;
}

#importForm.aborted .overlay {
    display: inline-block;
}

#importForm.busy .busy,
#importForm.stopped .stopped,
#importForm .not-busy{
    display: inline-block;;
}

#importForm .busy,
#importForm .stopped,
#importForm.busy .not-busy,
#importForm.stopped .not-stopped{
    display: none;
}


