
/**
Stuff for alerts.

*/
.alerts {
    position: absolute;
    right: 20px; top: 20px;
}

.alerts .close{
    padding-left: 10px;
}


#ajaxprogress {
    display: none;
}


#survey-navigator .group {
    font-size: 150%;
}

#survey-navigator .question {
    padding-left: 30px;
}

/*
    Maintenance mode.

*/
body.maintenance:before {
    content: "Maintenance mode active";
    top: 0px;
    z-index: 1000;
    text-align: center;
    position: fixed;
    font-size: 30px;
    left: 0px;
    right: 0px;
    height: 50px;
    text-transform: uppercase;
    background-color: rgba(255, 0, 0, 1);
}

body.maintenance {
    padding-top: 50px;
}
/*
    Updater stuff.
*/
table.upgrade tr {
    height: 50px;
}
table.upgrade td {
    line-height: 34px !important;
}
table.upgrade .disabled button{
    display: none;
}

table.upgrade tr.disabled {
    background-color: rgba(127, 127, 127, 0.5);
}

.tab-pane {
    margin-top: 20px;
}

.navbar:not(:last-of-type) {
    margin-bottom: 0px;
}

body {
    position: relative;
    margin-top: 70px;
}

.languageList .checkbox {
    display:inline-block; width: 19%;
}