<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>AzureOAuthSMTP</name>
        <type>plugin</type>
        <creationDate>2023-04-06</creationDate>
        <last_update>2023-04-06</last_update>
        <author>LimeSurvey GmbH</author>
        <authorUrl>https://www.limesurvey.org</authorUrl>
        <version>1.0.0</version>
        <license>GNU General Public License version 2 or later</license>
        <description><![CDATA[Core: Adds Azure OAuth support for email sending]]></description>
    </metadata>

    <compatibility>
        <version>7.0</version>
        <version>6.0</version>
    </compatibility>

    <updaters disabled="disabled">
    </updaters>
</config>
