<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadatas>
        <name>Default</name>
        <creationDate>08/01/2016</creationDate>
        <author>Louis-Sébastien Gac Artigas</author>
        <authorEmail>louis.gac@limesurvey.org</authorEmail>
        <authorUrl>http://www.limesurvey.org</authorUrl>
        <copyright>Copyright (C) 2005 - 2016 LimeSurvey Gmbh, Inc. All rights reserved.</copyright>
        <license>GNU General Public License version 2 or later</license>
        <version>1.0</version>
        <description>Default LimeSurvey Template.</description>
    </metadatas>

    <files>
        <css>
            <filename>css/jquery-ui-custom.css</filename>
            <filename>css/print_template.css</filename>
            <filename>css/flat_and_modern.css</filename>
            <filename>css/template.css</filename>
            <filename>css/bootstrap-slider.css</filename>
        </css>
        <js>
            <filename>scripts/template.js</filename>
            <filename>scripts/bootstrap-slider.js</filename>
        </js>
        <rtl>
            <css>
                <filename>css/template-rtl.css</filename>
            </css>
            <js>
            </js>
        </rtl>
    </files>

    <engine>
        <cssframework>bootstrap</cssframework>
        <pstpldirectory>views</pstpldirectory>
        <packages>
            <package>jqueryui</package>
            <package>jquery-touch-punch</package>
        </packages>
    </engine>
</config>
