body
{
	font-family: arial, hevetica, sans-serif;
	font-size: 12px;	
}

h1,h2,h3,h4
{
	font-family: verdana, arial, helvetica, sans-serif;
}

h2
{
	margin-top: 2em;
}

h3
{
	margin-top: 0%;
}

*
{
	page-break-after: always; 
}
p.q-type-help
{
	margin-bottom: 0.5em;
}

div.q-help
{
	margin-top: 1.5em;
	margin-bottom: 0%;
}

div.q-answer
{
	font-size: 110%;
}
div.q-answer ul
{
	margin-left: 0%;
	padding-left: 0.2em;
}
div.q-answer ul li
{
	list-style-type:none;
	line-height: 1.9em;
	margin-left: 0%;
	padding-left: 0%;
}

div.survey-group
{
	page-break-after: always;
}
 div.boilerplate
,div.choice-5-pt-radio
,div.date
,div.list-radio-flexible
,div.list-radio
,div.list-dropdown-flexible
,div.list-dropdown
,div.list-with-comment
,div.ranking
,div.multiple-opt
,div.language
,div.multiple-opt-comments
,div.multiple-short-txt
,div.numeric-multi
,div.numeric
,div.text-short
,div.text-long
,div.text-huge
,div.yes-no
,div.gender
,div.array-5-pt
,div.array-10-pt
,div.array-yes-uncertain-no
,div.array-increase-same-decrease
,div.array-flexible-row
,div.array-flexible-column
,div.array-multi-flexi
,div.array-multi-flexi-text
,div.array-flexible-duel-scale
{
	border: 0.1em solid #aaa;
	padding: 1em;
	margin: 1em 0.5em;
	clear: both;
	page-break-inside: avoid;
	page-break-before: auto;
}

.other
{
}

 .question ul
,.question ul li
{
	margin-left: 0%;
	padding-left: 0%;
	list-style: none;
}
.question ul li { margin-bottom: 0.5em; }
 img.input-radio
,img.input-checkbox
{
	position: relative;
	top: 1px;
	margin-right: 0.5em;
}

 div.input-other
,div.input-othercomment
,div.input-rank
,div.input-text
,div.input-textarea
{
	border: 0.1em solid #666666;
}

li.other
{
	margin-top: 0.3em;
}
div.input-other
,div.input-othercomment
{
	width: 20em;
	height: 2em;
}

.multiple-opt div.input-other
{
	padding-left: 5.5em;
}
.multiple-opt-comments div.input-other
{
	margin-top: 0.3em;
	margin-left: 0em;
	width: 10em;
}
.multiple-opt-comments div.input-othercomment
{
	margin-top: -2.1em;
	margin-left: 10.5em;
	width: 24em;
}
div.other-replacetext
{
	width:1px;
}
.ranking .q-answer li
{
	padding-left: 4em;
	line-height: 2em;
}
.ranking li div.input-rank
{
	margin: 0% 0% -1.8em -4em;
	width: 3em;
	height: 2em;
}

 .multiple-opt-comments .q-answer li
,.multiple-short-txt .q-answer li
,.numeric-multi .q-answer li
{
	line-height: 2em;
}

 .multiple-opt-comments .q-answer li div.input-text
,.multiple-short-txt .q-answer li div.input-text
,.numeric-multi .q-answer li div.input-text
{
	margin-top: -2em;
}

.multiple-opt-comments ul.X2 div.input-text , .multiple-short-txt ul.X2 div.input-text  , .numeric-multi ul.X2 div.input-text { margin-left: 2.5em; }

.multiple-opt-comments ul.X4 div.input-text , .multiple-short-txt ul.X4 div.input-text  , .numeric-multi ul.X4 div.input-text { margin-left: 4.5em; }

.multiple-opt-comments ul.X6 div.input-text , .multiple-short-txt ul.X6 div.input-text  , .numeric-multi ul.X6 div.input-text { margin-left: 6.5em; }

.multiple-opt-comments ul.X8 div.input-text , .multiple-short-txt ul.X8 div.input-text  , .numeric-multi ul.X8 div.input-text { margin-left: 8.5em; }

.multiple-opt-comments ul.X10 div.input-text , .multiple-short-txt ul.X10 div.input-text  , .numeric-multi ul.X10 div.input-text { margin-left: 10.5em; }

.multiple-opt-comments ul.X12 div.input-text , .multiple-short-txt ul.X12 div.input-text  , .numeric-multi ul.X12 div.input-text { margin-left: 12.5em; }

.multiple-opt-comments ul.X14 div.input-text , .multiple-short-txt ul.X14 div.input-text  , .numeric-multi ul.X14 div.input-text { margin-left: 14.5em; }

.multiple-opt-comments ul.X16 div.input-text , .multiple-short-txt ul.X16 div.input-text  , .numeric-multi ul.X16 div.input-text { margin-left: 16.5em; }

.multiple-opt-comments ul.X18 div.input-text , .multiple-short-txt ul.X18 div.input-text  , .numeric-multi ul.X18 div.input-text { margin-left: 18.5em; }

.multiple-opt-comments ul.X20 div.input-text , .multiple-short-txt ul.X20 div.input-text  , .numeric-multi ul.X20 div.input-text { margin-left: 20.5em; }

.multiple-opt-comments ul.X22 div.input-text , .multiple-short-txt ul.X22 div.input-text  , .numeric-multi ul.X22 div.input-text { margin-left: 22.5em; }

.multiple-opt-comments ul.X24 div.input-text , .multiple-short-txt ul.X24 div.input-text  , .numeric-multi ul.X24 div.input-text { margin-left: 24.5em; }

.multiple-opt-comments ul.X26 div.input-text , .multiple-short-txt ul.X26 div.input-text  , .numeric-multi ul.X26 div.input-text { margin-left: 26.5em; }

.multiple-opt-comments ul.X28 div.input-text , .multiple-short-txt ul.X28 div.input-text  , .numeric-multi ul.X28 div.input-text { margin-left: 28.5em; }

.multiple-opt-comments ul.X30 div.input-text , .multiple-short-txt ul.X30 div.input-text  , .numeric-multi ul.X30 div.input-text { margin-left: 30.5em; }

.multiple-opt-comments ul.X-large div.input-text , .multiple-short-txt ul.X-large div.input-text  , .numeric-multi ul.X-large div.input-text { margin-left: 2em; margin-top: 0%;}


 #limesurvey .q-answer table thead th
,#limesurvey .q-answer table .repeat th
{
	text-align: center;
	vertical-align: bottom;
	font-weight: normal;
	padding: 0% 1em;
}
#limesurvey .q-answer table tbody td
{
	text-align: center;
}
#limesurvey .q-answer table tbody td img
{
	margin: 0%;
}
 #limesurvey .q-answer table tbody th.answertext
,#limesurvey .q-answer table tbody th.arraycaptionleft
{
	text-align: left;
	font-weight: normal;
}

/*
div.array-5-pt .q-answer table thead th
,div.array-10-pt table thead th
,div.array-yes-uncertain-no .q-answer table thead th
,div.array-increase-same-decrease .q-answer table thead th
,div.array-flexible-row .q-answer table thead th
,div.array-flexible-column .q-answer table thead th
,div.array-multi-flexi .q-answer table thead th
,div.array-multi-flexi-text .q-answer table thead th
,div.array-flexible-duel-scale .q-answer table thead th
*/
div.array-multi-flexi .q-answer table tbody td div.input-text
{
	margin-left: auto;
	margin-right: auto;
}


.array-flexible-column tbody th.arraycaptionleft
{
	padding-right: 1em;
}
#limesurvey .q-answer table tbody th.answertextright
{
	text-align: left;
	font-weight: normal;
}
/*
.array-increase-same-decrease {}
.array-flexible-row {}
.array-flexible-column {}
.slider {}
.array-multi-flexi {}
.array-flexible-duel-scale {}
*/
.array-flexible-column col.odd
,.array-flexible-column th.odd
{
	background-color: #0c1c2b;
	padding: 0% 0.3em;
}

