a:link,a:visited {
color:#819d26;
text-decoration:none;
}

body.default {
background-color:#FFF;
font-size:11px;
line-height:150%;
font-family:Arial,Helvetica,sans-serif;
color:#1d2d45;
}

.questionhelp {
font-size:10px;
}

.clearall {
font-size:11px;
}

.answertextright {
text-align:left;
}

.array1 {
font-family:verdana;
font-size:11px;
text-align:center;
background-color:#fff;
}

.array2 {
font-family:verdana;
font-size:11px;
text-align:center;
background-color:#eee;
}

.arraycaptionleft {
text-align:right;
}

.saveall {
font-weight:400;
color:#000;
}

.asterisk {
color:red;
font-size:9pt;
font-family:verdana;
}

.innergraph {
direction: ltr;
}

.innergraph img {
height:12px;
vertical-align:top;
}

.innergraph table {
height:12px;
border:1px solid #000;
table-layout:fixed !important;
}

.innergraph td {
height:12px;
}

.printouttable {
width:100%;
}

.printouttable td {
border-color:#fff #fff #ddf;
border-style:solid;
border-width:1px;
}

.printouttable td:first-child {
background-color:#ddf;
font-weight:700;
text-align:right;
padding-right:5px;
padding-left:5px;
}

.printouttitle {
padding-right:5px;
padding-left:5px;
font-size:18px;
}

.surveytitle {
font-size:1.2em;
height:1.5em;
}

.surveytitle:hover {
text-decoration:underline;
color:#819d26;
}

.languagechanger {
font-size:1em;
}

.question,.answertext {
font-family:verdana;
font-size:11px;
}

.questiontext{
font-family:verdana;
font-size:12px;
font-weight:bold;
}

.errormandatory,.warningjs {
font-size:12px;
font-weight:700;
color:RED;
}

table.question {
width: 100%;
}

table.question tr.array1:hover,table.question tr.array2:hover {
background-color:#A7A9D1;
}
/* -------------------------------------------------
   START: Question styles  ------------------------- */

/* NOT IN USE YET
.boilerplate {}
*/

.choice-5-pt-radio ul
{
	text-align: center;
	margin-left: 0%;
	padding-left: 0%;
}
.choice-5-pt-radio ul li
{
	list-style: none;
	display: inline;
	padding: 0% 1em;
}

/* NOT IN USE YET
.date {}
.date p.question {}
.date p.question select.day {}
.date p.question select.month {}
.date p.question select.year {}
.date p.tip {}
*/

 .list-radio-flexible ul
,.list-radio ul
{
	margin: 0%;
	padding: 0%
}
 .list-radio-flexible li
,.list-radio li
{
	list-style: none;
	text-align: left;
	margin: 0% 0% 0.5em 0%;
}

  ul.cols-2
, ul.cols-3
, ul.cols-4
, ul.cols-5
, ul.cols-6
, ul.cols-7
, ul.cols-8 { width: 98%; }

  ul.cols-2 li , ul.cols-2-ul
, ul.cols-3 li , ul.cols-3-ul
, ul.cols-4 li , ul.cols-4-ul
, ul.cols-5 li , ul.cols-5-ul
, ul.cols-6 li , ul.cols-6-ul
, ul.cols-7 li , ul.cols-7-ul
, ul.cols-8 li , ul.cols-8-ul
{
	float: left;
	padding: 0% 0.5em;
	white-space: normal
}

ul.cols-2 li , ul.cols-2-ul { width: 48%; }
ul.cols-3 li , ul.cols-3-ul { width: 31%; }
ul.cols-4 li , ul.cols-4-ul { width: 23%; }
ul.cols-5 li , ul.cols-5-ul { width: 19%; }
ul.cols-6 li , ul.cols-6-ul { width: 15%; }
ul.cols-7 li , ul.cols-7-ul { width: 13%; }
ul.cols-8 li , ul.cols-8-ul { width: 11.5%; }

.list-dropdown-flexible {}
.list-dropdown {}

.list-with-comment div.list
{
	width: 47%;
	float: left;
	padding: 0.5em;
}
.list-with-comment p.select
{
	width: 47%;
	float: left;
	padding: 0.5em;
	margin: 0%;
}
.list-with-comment div.list p
{
	margin: 0%;
	text-align: left;
}
.list-with-comment ul
{
	margin: 0%;
	padding: 0%;
}

.list-with-comment ul li
{
	list-style: none;
	text-align: left;
}
.list-with-comment p.comment
{
	margin: 0%;
	padding: 0.5em;
	text-align: left;
	float: left;
	width: 47%;
}


.ranking {}
.multiple-opt {}
.language {}
.multiple-opt-comments {}
.multiple-short-txt {}
.numeric-multi {}
.numeric {}
.text-short {}
.text-long {}
.text-huge {}
.yes-no {}
.gender {}
.array-5-pt {}
.array-10-pt {}
.array-yes-uncertain-no {}
.array-increase-same-decrease {}
.array-flexible-row {}
.array-flexible-column {}
.slider {}
.array-multi-flexi {}
.array-flexible-duel-scale {}
/* Jquery CSS
 */
/** UI Base **/
.ui-wrapper { border: 1px solid #50A029; }
.ui-wrapper input, .ui-wrapper textarea { border: 0; }
/** UI Slider **/
.ui-slider-handle { position: absolute; height: 23px; width: 12px; top: 0px; left: 0px; background-image: url(../../images/slider-handle.gif);  }
.ui-slider-disabled .ui-slider-handle { opacity: 0.5; filter: alpha(opacity=50); }
.ui-slider-1 { width: 200px; height: 23px; padding: 1px; position: relative; background-image: url(../../images/slider-bg-1.png); background-repeat: no-repeat; background-position: center center; }
.ui-slider-2 { width: 200px; height: 23px; position: relative; background-image: url(../../images/slider-bg-2.png); background-repeat: no-repeat; background-position: center center; }
.slider_callout { no-repeat; height: 20px; width: 100px; overflow: hidden; position: absolute; top: -17px; margin-left:+15px; font-family: 'Myriad Pro'; color: #284a6e; font-weight: bold; text-align: left;}
        font-family: "Myriad Pro"; color: #284a6e; font-weight: bold; text-align: center;}
