/**
 * All of this part fix already included css (bootstrap + awesome) for this template
 */
/* Boostrap don't do some reset : do it in answer part*/
.ls-answers img,.ls-answers video,.ls-answers svg{
  max-width: 100%;height: auto;
}
/**
 * Table alignment + enforce surclass boostrap .table
 */
.ls-answers > tbody > tr > td, .ls-answers > tbody > tr > th{
vertical-align:middle
}
.ls-answers td
{text-align:center;}
.ls-answers > thead > tr > th
{text-align:center;vertical-align:bottom}
/* enforce boostrap default top to middle*/

.ls-answers tbody .answertext{text-align:right}
.ls-answers .answertextright{text-align:left}
.rtl .ls-answers tbody .answertext{text-align:left}
.rtl .ls-answers .answertextright{text-align:right}

.ls-even{background-color: #f9f9f9;}
.ls-odd{}

/* radio/checkbox position */
.radio-item input[type="radio"], .checkbox-item input[type="checkbox"]
{
height:1.6rem;width:1.6rem;/* 16px */
}
li.radio-item, li.radio-text-item, li.checkbox-item, li.checkbox-text-item .checkbox-item{
position: relative;
}
li.radio-item .control-label,li.radio-text-item .control-label, li.checkbox-item .control-label, li.checkbox-text-item .checkbox-item label
{display:block;padding-left:3rem}
.rtl li.radio-item .control-label,.rtl li.radio-text-item .control-label,.rtl  li.checkbox-item .control-label,.rtl  li.checkbox-text-item .checkbox-item label{
padding-left:0;padding-right:3rem
}

li.radio-item input[type="radio"],li.radio-text-item input[type="radio"], li.checkbox-item input[type="checkbox"], li.checkbox-text-item .checkbox-item input[type="checkbox"]{
    left: 0.8rem;
    margin: -0.8rem 0 0;
    position: absolute;
    top: 50%;
    z-index: 1;
}
.rtl li.radio-item input[type="radio"],.rtl li.radio-text-item input[type="radio"],.rtl li.checkbox-item input[type="checkbox"],.rtl li.checkbox-text-item .checkbox-item input[type="checkbox"]{
    left: auto;right:0.8em
}
/*question code an number */
.question-number,.question-code{
float:left;margin:0 0.5rem;
}
.rtl .question-number,.rtl .question-code{
float:right;
}
