.cke_top {
  background: $white !important;
  border: 1px solid #1e1e1e !important;
}
.cke_reset_all,
.cke_reset_all * {
  color: $g-600 !important;
}
.cke_contents {
  border: none !important;
  border-right: 1px solid $g-900 !important;
  border-radius: 0px !important;
  border-left: 1px solid $g-900 !important;
}
.cke_bottom {
  background: white !important;
  border-right: 1px solid $g-900 !important;
  border-left: 1px solid $g-900 !important;
  border-bottom: 1px solid $g-900 !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
.cke_resizer {
  margin-right: 3px !important;
}

.cke_chrome {
  width: 100% !important;
  background: #dddee8 !important;
  padding: 0px !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  // box-shadow: 4px 4px $g-600 !important;
  filter: drop-shadow(4px 4px 0px #eeeff7);
  border: none !important;
}

.cke_toolgroup {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
}
.cke_path {
  display: none !important;
}
.cke_button_label {
  display: none !important;
}
