.accordion {
    background-color: $white;
}

.accordion-button {
    font-size: $btn-font-size-sm;
    font-weight: $font-weight-600;
    background-color: $white;
    color: $g-900;
    &:not(.collapsed) {
        background-color: $g-200;
        box-shadow: none;
        &::after {
            background: transparent
                url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
                center/1em auto no-repeat;
        }
    }
    &:focus {
        border: none;
        box-shadow: none;
        //box-shadow: $btn-hover-boxshadow;
    }
}

.accordion-item {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $g-400;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

// Question editor settings accordion
#advanced-question-editor,
#copy-question {
    .settings-accordion-container {
        #accordion {
            padding: 8px 12px;
        }

        .accordion-body {
            padding: 0;
            margin-left: 10px;
            margin-right: 10px;

            label {
                padding-bottom: 8px;
            }
        }
    }

    .ri-information-fill {
        color: $g-600;
    }

    .accordion-button {
        font-size: $btn-font-size-sm;
        font-weight: $font-weight-600;
        background-color: $white;
        color: $g-900;
        &:not(.collapsed) {
            background-color: $g-100;
            box-shadow: none;
            &::after {
                background: transparent
                    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
                    center/1em auto no-repeat;
            }
        }
        &:focus {
            border: none;
            box-shadow: none;
            //box-shadow: $btn-hover-boxshadow;
        }
    }

    .accordion-item {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $g-400;
    }
}
