// Footer
.footer {
  width: 100%;
}
.sub_footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  .sub_footer_border {
    border-top: 1px solid $g-900;
  }
}

@media print {
  footer.footer {
    display: none;
  }
}
