// Footer
.footer {
  z-index: 100;
  position: absolute !important;
  bottom: 0;
  display: block;
  width: 100%;
  // height: 60px;
  // padding-top: 1em;
}
.sub_footer {
  position: absolute;
  bottom: -50px;
  width: 100%;
}


@media print {
  footer.footer {
    display: none
  }
}