blockquote {
  footer {
    color: $gray-15;
  }
}

// Footer
.footer {
  background-color: $white;
  border-top: solid 1px $gray-08;
}

.footer {
  z-index: 100;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 60px;
  padding-top: 1em;
}

footer.footer {
  position: static;
}

@media print {
  footer.footer {
    display: none
  }
}

@media(max-width: 768px) {
  footer.footer {
    margin-left: 22px;
  }
}

#info-footer {
  font-size: 2em;
}


