// Footer
.footer {
  z-index: 100;
  position: absolute !important;
  bottom: 0;
  width: 98%;
}
.sub_footer {
  width: 100%;
  .sub_footer_border {
    border-top: 1px solid $g-900;
  }
}

@media print {
  footer.footer {
    display: none;
  }
}
