.survey-actionbar {
    padding: 16px 10px;
    .survey-actionbar-item {
        display : inline-block;
        &:not(:first-child) {
            margin-left : 4px;
        }
    }
    .survey-actionbar-button {
        border-width  : 2px;
        border-radius : 5px;
        :hover {
            box-shadow : none;
        }
    }
    .survey-actionbar-formfield {
        cursor        : pointer;
        color         : $g-700;
        border-width  : 2px;
        border-radius : 5px;
        border-color  : $g-700;
        padding-right: 25px;
    }
    .survey-actionbar-filters {
        margin-left : 16px;
    }
    .survey-actionbar-switch {
        align-self  : center;
        display     : flex;
        align-items : center;
        margin-left : 16px;
        i {
            cursor         : pointer;
            display        : inline-block;
            vertical-align : middle;
            &[active] {
                color : $grape;
            }
            &:before {
                font-size : 1.4em;
                opacity   : 0.8;
            }
            &:not(:first-child) {
                margin-left : 8px;
            }
        }
    }
    .search-bar {
        position : relative;
        i {
            position  : absolute;
            top       : 8px;
            right     : 5px;
            font-size : 1.2em;
            color     : $g-700;
        }
    }
}

@media (max-width: 768px) {
  .survey-actionbar {
    #survey-search {
      .align-items-baseline {
        display: block !important;

        .survey-actionbar-switch {
          position: absolute;
          right: 40px;
          top: 115px;
        }

        .survey-actionbar-filters,
        .survey-actionbar-actions,
        .survey-actionbar-button {
          display: block !important;
          width: 100%;
          margin: 0 !important;

          .survey-actionbar-item,
          .survey-actionbar-item,
          .survey-actionbar-item {
            width: 100%;
            margin: 5px 0 !important;
          }
        }
      }
    }
  }

  .box-widget-list {
    margin: 0 auto;
    text-align: center;

    .box-widget-card {
      text-align: left;
    }
  }
}
