.topbar {
  padding-top    : 10px;
  padding-bottom : 10px;
  z-index        : 1000;
  background-color: $g-200;

  .btn {
    margin-bottom: 4px;
  }
}

#ls-topbar {
  &.scroll-shadow {
      box-shadow: 0 1px 20px 0 rgba(196, 196, 196, 1);
  }
}


