.topbar {
    padding-top      : 10px;
    padding-bottom   : 10px;
    z-index          : 1000;
    background-color : $g-100;
    .ls-topbar-buttons {
        margin-bottom : -4px;
    }
    .btn {
        margin-bottom : 4px;
    }
    &.scroll-shadow {
        box-shadow : 0 1px 20px 0 rgba(196, 196, 196, 1);
    }
    .ls-breadcrumb {
        align-self : center;
    }
}