body {
font-family:arial, verdana, sans-serif;
font-size:14px;
line-height:17px;
background-color:#efe5ca;
}

table.question {
border:1px;
border-color:#aaa;
width: 100%;
}

td {
font-family:arial, verdana, sans-serif;
font-size:14px;
line-height:17px;
}

td.tenpoint {
    font-size:12px;
    line-height:15px;
}

.b3 {
    background-color:#603604;
}

.b9 {
    background-color:#999;
}

.ba {
    background-color:#aaa;
}

.bf {
    background-color:#fff;
}

.array1 {
    background-color:#eee;
}

.errormandatory {
    font-size:13px;
    font-weight:700;
    color:red;
}

.answertextright {
    text-align:left;
}

.questionhelp {
    font-size:0.9em;
}

.questionhelp img {
    margin:4px;
    padding-right:5px;
    vertical-align:middle;
    margin-left:0px;
}

td.questionhelp {
padding-left:5px;
}   

.questiontext{
font-family:verdana;
font-size:12px;
font-weight:bold;
}

td.graph
{
}
#progress-graph
{
	line-height: 1.5em;
	width: 17em;
	font-size: 85%;
	margin-top: 0.2em;
	padding: 0.5em 0.5em 0.4em 1em;
	text-align: left;
}
.hide
{
	font-weight: normal;
	position: absolute;
	top: -9999px;
	left: -9999px;
}
#progress-graph div.zero
{
	width: 2.6em;
	margin-right: 0%;
}
#progress-graph div.graph
{
	width: 10em;
	height: 1.5em;
	border: 1px solid maroon;
	margin-top: -1.7em;
	margin-left: 2.6em;
	margin-right: 0%;
}
#progress-graph div.cent
{
	width: 3em;
	margin-top: -1.5em;
	margin-left: 13.3em;
	margin-right: 0%;	
}
/*
.innergraph {
direction: ltr;
}

.innergraph img {
height:12px;
vertical-align:top;
}

.innergraph table {
height:12px;
border:1px solid #000;
table-layout:fixed !important;
}

.innergraph td {
height:12px;
}

*/
.printouttable {
width:100%;
}

.printouttable td {
border-color:#fff #fff #ddf;
border-style:solid;
border-width:1px;
}

.printouttable td:first-child {
background-color:#ddf;
font-weight:700;
text-align:right;
padding-right:5px;
padding-left:5px;
}

.printouttitle {
padding-right:5px;
padding-left:5px;
font-size:18px;
}

.surveytitle {
font-size:1.2em;
height:1.5em;
}

.languagechanger {
font-size:1em;
}

table,img {
border:0;
}

.bd,.be {
background-color:#8fe0dd;
}

.array2,.surveytitle:hover {
background-color:#efe5ca;
}

table.question tr.array1:hover,table.question tr.array2:hover {
background-color:#A7A9D1;
}


/* -------------------------------------------------
   START: Question styles  ------------------------- */

/* =====================================
== Full list of question classes =======

 .boilerplate
,.numeric
,.choice-5-pt-radio
,.yes-no
,.gender
,.date
,.numeric-multi
,.numeric
,.list-radio
,.list-radio-flexible
,.list-with-comment
,.list-dropdown
,.list-dropdown-flexible
,.ranking
,.numeric-multi
,.language
,.multiple-opt-comments
,.multiple-short-txt
,.text-short
,.text-long
,.text-huge
,.numeric-multi
,.array-5-pt
,.array-10-pt
,.array-yes-uncertain-no
,.array-increase-same-decrease 
,.array-flexible-row 
,.array-flexible-column 
,.slider 
,.array-multi-flexi 
,.array-multi-flexi-text
,.array-flexible-duel-scale 
*/

/* - - -  - - -  - - -  - - - - - -  - - -  - - - -
   START: General list styles - - -  - - -  - - - - */
 .choice-5-pt-radio ul
,.list-radio-flexible ul
,.list-radio ul
,.list-with-comment ul
,.multiple-opt ul
,.multiple-opt-comments ul
,.multiple-short-txt ul
,.numeric-multi ul
,.yes-no ul
,.gender ul
{
	margin-left: 0%;
	padding-left: 0%;
}

 .choice-5-pt-radio li
,.list-radio-flexible li
,.list-radio li
,.list-with-comment li
,.multiple-opt li
,.multiple-opt-comments li
,.multiple-short-txt li
,.numeric-multi li
,.yes-no li
,.gender li
{
	list-style-type: none;
	text-align: left;
	margin: 0% 0% 0.5em 0.5em;
}
 .choice-5-pt-radio li
,.list-radio-flexible li
,.list-radio li
,.list-with-comment li
,.yes-no li
,.gender li
{
	margin-left: 2em;
	text-indent: -1.8em;
}

/* END:  General list styles - - - -  - - -  - - - -
- - - - -  - - -  - - -  - - - - - -  - - -  - - - - */


/* STYLES NOT YET DEFINED - - - - -
.boilerplate {}
*/

 .choice-5-pt-radio ul
,.yes-no ul
,.gender ul
{
	text-align: left;
}
 .choice-5-pt-radio ul li
,.yes-no ul li
,.gender ul li
{
	display: inline;
	padding: 0% 1em 0% 0%;
}


/* STYLES NOT YET DEFINED - - - - -
.date {}
*/
.date p.question { margin-left: 1em; }
.date p.question select.day {}
.date p.question select.month {}
.date p.question select.year {}

.numeric p.question { margin-left: 1em; }

 .date p.tip
,.numeric-multi p.tip
,.numeric p.tip
{
	margin-left: 1.5em;
	font-size: 80%;
	font-style: italic;
	line-height: 150%;
}

 .numeric-multi p.tip.error
,.numeric-multi input.tip.error
{
	color: #f70;
	font-weight: bold;
}
 .numeric-multi p.tip.good
,.numeric-multi input.tip.good

{
	color: #090;
	font-weight: bold;
}

/* DEFINED ABOVE UNDER "General list styles" - - - - -
.list-radio-flexible
.list-radio
*/

  ul.cols-2 , table.cols-2
, ul.cols-3 , table.cols-3
, ul.cols-4 , table.cols-4
, ul.cols-5 , table.cols-5
, ul.cols-6 , table.cols-6
, ul.cols-7 , table.cols-7
, ul.cols-8 , table.cols-8
{
	width: 98%;
	margin: 0% auto 0% auto;
}
  ul.cols-2 li , ul.cols-2-ul
, ul.cols-3 li , ul.cols-3-ul
, ul.cols-4 li , ul.cols-4-ul
, ul.cols-5 li , ul.cols-5-ul
, ul.cols-6 li , ul.cols-6-ul
, ul.cols-7 li , ul.cols-7-ul
, ul.cols-8 li , ul.cols-8-ul
{
	float: left;
	padding: 0% 0.5em;
	white-space: normal
}

ul.cols-2 li , ul.cols-2-ul , table.cols-2 td { width: 48%; }
ul.cols-3 li , ul.cols-3-ul , table.cols-3 td { width: 30.5%; }
ul.cols-4 li , ul.cols-4-ul , table.cols-4 td { width: 23%; }
ul.cols-5 li , ul.cols-5-ul , table.cols-5 td { width: 19%; }
ul.cols-6 li , ul.cols-6-ul , table.cols-6 td { width: 15%; }
ul.cols-7 li , ul.cols-7-ul , table.cols-7 td { width: 13%; }
ul.cols-8 li , ul.cols-8-ul , table.cols-8 td { width: 11.5%; }

.list-dropdown-flexible p.question
{
	margin-left: 1em;
}
/* STYLES NOT YET DEFINED - - - - -
.list-dropdown {}
*/
.list-with-comment div.list
{
	width: 47%;
	float: left;
	padding: 0.5em;
}
.list-with-comment p.select
{
	width: 47%;
	float: left;
	padding: 0.5em;
	margin: 0%;
}
.list-with-comment div.list p
{
	margin: 0%;
	text-align: left;
}
.list-with-comment p.comment
{
	margin: 0%;
	padding: 0.5em;
	text-align: left;
	float: left;
	width: 47%;
}
.list-with-comment p.comment textarea
{
	width: 100%;
}


/* DEFINED ABOVE UNDER "General list styles" - - - - -
.multiple-opt
*/

.language {}

/* The following styles only apply to modern (relatively) complete CSS2 compliant browsers. (Not less than IE 8) */
 .multiple-opt-comments td.answer
,.multiple-short-txt td.answer
,.numeric-multi td.answer
{
}
 .multiple-opt-comments td.answer ul
,.multiple-short-txt td.answer ul
,.numeric-multi td.answer ul
{
	display: table;
	padding: 0%;
	margin: 1em;
}
.numeric-multi td.answer ul	{	margin: 0% 1em 1.5em 1em;	}

.numeric-multi td.answer ul.computed
{
	float:left;
	padding-right: 2em;
}
.numeric-multi td.answer ul.slider.computed
{
	width: 16em;
}
 .multiple-opt-comments td.answer ul li
,.multiple-short-txt td.answer ul li
,.numeric-multi td.answer ul li
{
	display: table-row;
}
 .multiple-short-txt td.answer ul li label
,.multiple-short-txt td.answer ul li label
,.numeric-multi td.answer ul li label
{
	padding: 0.3em 1em 0% 0%;
	display: table-cell;
    vertical-align: middle;

}
.numeric-multi td.answer ul.computed li label
.numeric-multi td.answer ul.slider.computed li label
{
	padding-right: 0%;
}

 .multiple-opt-comments td.answer ul li span.comment
,.multiple-short-txt td.answer ul li span
,.numeric-multi td.answer ul li span
{
	padding: 0.3em 0% 0% 1em;
	display: table-cell;
	vertical-align: baseline;
	font-size: 80%;
	white-space: nowrap;
}
.multiple-opt-comments td.answer ul li span
{
	padding: 0.3em 1em 0% 0%;
}
.numeric-multi td.answer div.multinum-slider
{
    margin-top: 1.5em;
	width: 16em;
}

 .numeric-multi td.answer ul.multiplenumerichelp
,.numeric-multi td.answer ul.multiplenumerichelp.slider	{	display: table; font-size: 80%;	}
.numeric-multi td.answer ul.multiplenumerichelp.slider li	{	display: table-row;	}

 .numeric-multi td.answer ul.multiplenumerichelp li label
,.numeric-multi td.answer ul.multiplenumerichelp.slider li label
{
	padding: 0.3em 0% 0% 0%;
	display: table-cell;
}
 .numeric-multi td.answer ul.multiplenumerichelp li span
,.numeric-multi td.answer ul.multiplenumerichelp.slider li span
{
	padding: 0% 0% 0% 0.3em;
	display: table-cell;
}
.numeric-multi td.answer ul.multiplenumerichelp span input {
    border: none;
    background-color: #fff;
    color: #222;
    padding: 0%;
    width: 7em;
}


 .text-short input
 ,.text-short textarea
,.text-long textarea
,.text-huge textarea
{
	margin-left: 1em;
}
/* STYLES NOT YET DEFINED - - - - -
.yes-no {}
.gender {}
*/

 #limesurvey table.question thead th
,#limesurvey table.question .repeat th
{
	text-align: center;
	vertical-align: bottom;
	font-weight: normal;
}

 #limesurvey table.question thead th
 {
     background-color: #fff;
 }


#limesurvey table.question .answer tbody td
{
	text-align: center;
}
 #limesurvey table.question tbody th.answertext
,#limesurvey table.question tbody th.arraycaptionleft
{
	text-align: right;
	font-weight: normal;
}
#limesurvey table.question tbody th.answertextright
{
	text-align: left;
	font-weight: normal;
}
.array-flexible-column col.odd
{
	background-color: #eee;
}

#limesurvey .ranking table.question .answer tbody td.rank
,#limesurvey .ranking table.question .answer tbody td.item { text-align: left; }

/* Jquery CSS
 */
 /** UI Base **/
.ui-wrapper { 
    border: 1px solid #50A029; 
}
.ui-wrapper input, .ui-wrapper textarea { 
    border: 0; 
}
/** UI Slider **/
.ui-slider-handle { 
    position: absolute; 
    height: 21px !important; 
    width: 10px !important; 
    top: -7px !important;  
    left: 0px; 
}

.ui-slider-1 { 
    width: 200px; 
    height: 9px; 
    margin-bottom: 20px; 
}


.ui-slider-2 { 
    width: 200px; 
    height: 23px; 
    position: relative; 
    background-image: url(../../images/slider-bg-2.png); 
    background-repeat: no-repeat; 
    background-position: center center; 
}

.slider_callout { 
    height: 20px; 
    width: 100px; 
    overflow: hidden; 
    position: absolute; 
    top: -19px; 
    margin-left:10px; 
    font-family: 'Arial'; 
    font-size: 9pt; 
    color: #284a6e; 
    font-weight: bold; 
    text-align: left;
}

.slider_showmin {
    overflow: hidden;
    float: left;
    /*margin-left: -30px;*/
    margin-top: 20px;
    margin-bottom: 5px;
}

.slider_showmax {
    overflow: hidden;
    float: right;
    /*margin-right: -20px;*/
    margin-top: 20px;
    margin-bottom: 15px;
}

.slider_lefttext {
    display: table-cell;
    vertical-align: middle;
    margin-right: 15px;
}

.slider_righttext {
    display: table-cell;
    vertical-align: middle;
    margin-left: 5px;
}


#tokenform
{
  margin-top:1em;
}

#tokenform input
{
}

#tokenform label {  
float: left;  
width: 20em;  
margin-right: 0.5em;  
text-align: right;
}

#tokenform li
{
  padding-bottom:5px;
}

#tokenform img
{
  margin-bottom:-5px;
  margin-right: 5px;
}


p#tokenmessage
{
  margin:20px;
}


p#tokenmessage
{
  margin:20px;
  text-align:center;
}


div#wrapper{
  width:600px;
  margin:0 auto;
}


#tokenform input.submit
{
 margin-left:18em;
 margin-top:1em;
 margin-bottom:1em;
}

#statsContainer {
	width:80%;
	margin:0 auto;
	background-color:#FFFFFF;
	padding: 0px;
	min-width: 690px;
}

#statsHeader{
	color:#000000;
	text-align:center;
	padding: 10px 0px;
	height:96px;
	background-image: url(Logo-LimeSurvey.jpg);
	background-repeat: no-repeat;
	background-position: 35px 18px;	
}

.statsSurveyTitle {
	font-size:1.0em;
	font-weight:bold;
	padding: 35px 0px 0px 0px;
	float:right;
	width:50%;
	text-align:left;
}

.statsNumRecords {
	font-size:.9em;
	clear:right;
	float:right;
	width:50%;
	text-align:left;
}

table.statisticstable{
	width: 90%; 
	border: 1px solid #ccc;
	text-align:left;
	background-color:#fff;
	margin:0px auto;
	padding-bottom: 8px;
	
}

table.statisticstable td{
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom: 1px solid #CCC;
	
}



table.statisticstable img{
	margin:10px auto;
}

div.fieldSummary{
	font-size:.9em;
	padding: 10px 10px 6px 0px;
	display: block;
	text-align:left;
}
div.questionTitle{
	font-size:1.0em;
	padding: 20px 20px 20px 20px;
	font-weight: normal;
	background-color:#8FE0DD;
}

td.statsImageholder {
	background-color:#EEEEEE;
}

.array-flexible-column col.even {
    background-color: #EFE5CA;
}
