{% if aSurveyInfo.errors is not empty %}
    <ul class='alert alert-danger list-unstyled' role='alert'>
        {% for error in aSurveyInfo.errors  %}
            <!-- Error Html warnings -->
                <li>{{ error }}</li>
                <br/>
        {% endfor %}
    </ul>
{% endif %}
