{% if sStartDate %}
  <p>{{ gT("You may register for this survey but you have to wait for the {{sStartDate}} before starting the survey.") }}</p>
{% else %}
  <p>{{ gT("You may register for this survey if you wish to take part.") }}</p>
{% endif %}
<p>{{ gT("Enter your details below, and an email containing the link to participate in this survey will be sent immediately.") }}</p>
