{#
/**
 * Default Value for question types with a single subquestion scale
 *
 * @var Question $question
 * @var string $lang
 * @var array<mixed> $defaultValues
 */
#}
{% set opts = defaultValues[lang][question.type][0] %}
{% if question.type in ['L', 'M', 'O', 'P', '!'] %}
    {% set inputStyle = 'enum' %}
{% elseif question.type in ['K', 'Q'] %}
    {% set inputStyle = 'text' %}
{% else %}
    {% set inputStyle = '' %}
{% endif %}
{% if inputStyle == 'enum' or inputStyle == 'text' %}
    <div class="default-answer-rows">
        {% for subquestion in opts['sqresult'] %}
            {% include 'defaultValuesSubquestionRow.twig' with {
                'lang': lang,
                'scale_id': 0,
                'subquestion_title': subquestion['title'],
                'subquestion_text': subquestion['question'],
                'options': subquestion['options'],
                'defaultvalue': subquestion['defaultvalue']
            } %}
        {% endfor %}
    </div>
    <!-- Template for JS -->
    {% include 'defaultValuesSubquestionRow.twig' with {
        'lang': lang,
        'scale_id': 0,
        'subquestion_title': '{{title_placeholder}}',
        'subquestion_text': '{{text_placeholder}}',
        'options': opts['template']['options'],
        'defaultvalue': '',
        'is_template': true
    } %}
{% endif %}