.tooltip-inner {
  font-family: "IBMPlexSans";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: $white;
  background-color: $black;
  padding: 0.5rem 1.5rem;
}

.tooltip {
  &.top .tooltip-arrow {
      border-top-color: $black;
  }
  &.top-left .tooltip-arrow {
      border-top-color: $black;
  }
  &.top-right .tooltip-arrow {
      border-top-color: $black;
  }
  &.right .tooltip-arrow {
      border-right-color: $black;
  }
  &.left .tooltip-arrow {
      border-left-color: $black;
  }
  &.bottom .tooltip-arrow {
      border-bottom-color: $black;
  }
  &.bottom-left .tooltip-arrow {
      border-bottom-color: $black;
  }
  &.bottom-right .tooltip-arrow {
      border-bottom-color: $black;
  }
}

