body,td,th,a,p {
  font-family:verdana,arial,sans-serif;
  font-size:10pt}

input, textarea, select {
  font-family:verdana;
  font-size:11px;
  background-color:#DDDFFF; 
  color:#000080;
  border: 1px inset #CCCCCC;
}

.headingtable, .headingtable A, .headingtable A:visited {
  color: #FFFFFF;
  font-size: 8.5pt;
  text-decoration: none;
}
.headingtable A:hover {
  color: #111111;
}

.buttons {
  border: 1px outset #CCCCCC;
}

/* StandardTable */
.outlinetable {
  border: 1px solid #111111;
}

.outlinetable td {
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  border: 0px;
}

.outlinetable th {
  background-color: #777777; color: #FFFFFF;
}

/* Summary Rows */
.rowheading {
  background-color: #BBBBBB;
  text-align: right;
  font-weight: bold;
  border: 1px solid #888888;
  vertical-align: top;
}
.rowdata {
  border: 1px solid #BBBBBB;
  background-color: #DDDDDD;
}
/* Dropdowns */
.smallselect {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 7pt;
  background-color: #CCCCCC;
}

/* Menu Tables*/
.menutable {
  border: 0.5px solid #111111;
  color: #EEEEEE;
}
.menutable th {
  /*background-color: #555555;*/
  background-color: #5E6F86;
  border: 1px solid #111111;
  color: #FFFFFF;
  font-size: 8.5pt;
  font-align: left;
}
.menutable td {
  background-color: #999999; 
  border: 1px solid #111111;
  font-size: 8.5pt;
}
.menutable A {
  color: #EEEEEE;
  font-size: 8.5pt;
  text-decoration:none;
}
.menutable A:hover {
  text-decoration:none;
  color: #999999;
  background-color: #EEEEEE;
}
.menutable input {
  border: 0px;
}
/* Navigator Table */
.navtable {
  border: 0.5px solid #111111;
  color: #EEEEEE;
}
.navtable th {
  /*background-color: #555555;*/
  background-color: #5E6F86;
  border: 1px solid #111111;
  color: #EEEEEE;
  font-size: 8.5pt;
  font-align: left;
}
.navtable td {
  background-color: #BBBBBB;
  border: 1px solid #111111;
  font-size: 7.5pt;
  color: #555555;
}
.navtable input {
  border: 0px;
}

.tabselect {
  background-color: #BBBBBB;
  border-left: 1px solid #333333;
  border-top: 1px solid #333333;
  border-right: 0.5px solid #DDDDDD;
}
.tabselect A:active, .tabselect A:link, .tabselect A:visited{
  font-size: 9pt;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 5px;
  color: #222222;
}
.tabselect A:hover {
  background-color: #777777;
}
.tabselected {
  background-color: #CCCCCC;
  border-left: 2px solid #DDDDDD;
  border-top: 2px solid #DDDDDD;
  border-right: 0.5px solid #333333;
}
.tabselected A:active, .tabselected A:link, .tabselected A:visited {
  font-size: 9pt;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 5px;
  color: #000080;
}

/* Select Boxes */
.select {
  background-color: #EEEFFF; 
  height: 18; 
  font-family: verdana; 
  font-size: 10; 
  color: #000080;
}

/* treeMenu css */
.tmenu0text {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 7.5pt;
  letter-spacing: -0.07em;
  font-weight: bold;
}
.tmenu1text {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 7.5pt;
  letter-spacing: -0.07em;
}
.tmenu2text {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 7.5pt;
  letter-spacing: -0.07em;
}
.tmenu3text {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 7pt;
  letter-spacing: -0.07em;
}

/* Since all menu items are links, the following is equally important 
 * to your menu appearance.  
 * The main thing you may want to change are the A:link and A:visited colors.
 */
*.tmenu0text A:link,*.tmenu1text A:link,*.tmenu2text A:link,*.tmenu3text A:link 
  { text-decoration:none; color:#505080; font-size: 7.5pt }
*.tmenu0text A:visited,*.tmenu1text A:visited,*.tmenu2text A:visited,*.tmenu3text A:visited 
  { text-decoration:none; color:#505080; font-size: 7.5pt }
*.tmenu0text A:active,*.tmenu1text A:active,*.tmenu2text A:active,*.tmenu3text A:active 
  { text-decoration:none; color:#805050; font-size: 7.5pt }
*.tmenu0text A:hover,*.tmenu1text A:hover,*.tmenu2text A:hover,*.tmenu3text A:hover 
  { text-decoration:underline; color:#FF0000; font-size: 7.5pt }

/* .tmlistbox controls the appearance of Listbox menus */
.tmlistbox {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7.5px;  /* match 'smalltext' value */
  font-size-adjust: 0.58; /* Verdana */
  margin-bottom: 0px;
}

/* .tmenuSelected is used with linkSelectKey to highlight selected items */
.tmenuSelected { 
  background-color: #CCCCCC;
}
*.tmenuSelected A:link    { text-decoration:none; color:#2020ff; font-size: 7pt; font-weight: bold; }
*.tmenuSelected A:visited { text-decoration:none; color:#2020ff; font-size: 7pt; font-weight: bold; }
*.tmenuSelected A:active  { text-decoration:none; color:#ff2020; font-size: 7pt; font-weight: bold; }
*.tmenuSelected A:hover   { text-decoration:underline; color:#FF0000; font-size: 7pt; font-weight: bold; }

/* dropmenu */
#dropmenudiv {
  position:absolute;
  font:normal 11px Verdana;
  border-left:2px solid black;
  border-bottom:2px solid black;
  border-right:2px solid black;
  line-height:18px;
  z-index:100;
}
#dropmenudiv A:link {
  font:normal 11px Verdana;
  line-height: 18px;
  text-decoration: none;
  color: #111111;
}
#dropmenudiv A:visited {
  font:normal 11px Verdana;
  line-height: 18px;
  text-decoration: none;
  color: #111111;
}
#dropmenudiv A:hover {
  text-decoration: underline;
  background-color: #555555;
  color: #FFFFFF;
}

.resultstable {
  border: 1px solid #111111;
  font-size: 9pt;
}

.resultstable th {
  background-color: #777777; color: #FFFFFF;
}

.result {
  background-color: #EEEEEE; border-bottom: 2px solid #BBBBBB;
}