{% if (intval(aSurveyInfo.options.showpopups) >= 0 and aSurveyInfo.saved.text) %}
    {% set savedClass = 'success' %}
    {% if (not aSurveyInfo.saved.success) %}
        {% set savedClass = 'error' %}
    {% endif %}
    {% if (aSurveyInfo.active != "Y") %}
        {% set savedClass = 'info' %}
    {% endif %}
    <div class="alert alert-{{ savedClass }} alert-dismissible fade in{% if(intval(aSurveyInfo.options.showpopups) > 0) %} ls-js-hidden{% endif %} " role="alert">
        <button class="btn-close ls-no-js-hidden" data-bs-dismiss="alert"><span class="visually-hidden">{{ gT("Close") }}</span></button>
        {{ aSurveyInfo.saved.text }}
    </div>
{% endif %}
