<div class="col-8 offset-2 mb-3">
    <div class="card border-secondary">
        <div class="card-body text-secondary">
            <p>{{ gT("Currently saved settings are incomplete. After saving the full credentials you will be able to get an auth token.") }}</p>
        </div>
    </div>
</div>