# dependencies
/node_modules
/.pnp
.pnp.js

/public/translationStrings.json

# testing
/coverage

# production
/storybook-static


!/package-lock.json
!/.npmrc
!/.env*
!/.prettierignore
!/.prettierrc.json
!/.storybook

# misc
.eslintcache
.DS_Store
.env.development.local
.env.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#storybook
build-storybook.log
