<?xml version="1.0" encoding="UTF-8"?>
<!--

    (¯`·._.·(¯`·._.· Font package Manifest  ·._.·´¯)·._.·´¯)

    Base configuration for Font package.

-->
<config>
    <!-- Metadata information -->
    <metadata>
        <name>opensans</name>
        <title>Open Sans</title>
        <type>font</type>
        <creationDate>08/03/2019</creationDate>
        <author>Dominik Vitt</author>
        <authorEmail>dominik.vitt@limesurvey.org</authorEmail>
        <authorUrl>http://www.limesurvey.org</authorUrl>
        <copyright>Copyright (C) 2005 - 2019 LimeSurvey Gmbh, Inc. All rights reserved.</copyright>
        <license>GNU General Public License version 2 or later</license>
        <version>2.0</version>
        <apiVersion>4</apiVersion>
        <description><![CDATA[<strong>Open Sans font package ]]></description>
        <lastUpdate>2019-03-08 12:00:00</lastUpdate>
    </metadata>

    <!--
        Here the list of the font css file(s) to load.
        
    -->
    <files>
        <css>opensans.css</css>
    </files>


    <engine>
    </engine>

</config>
