a {
    color       : $link-color;
    font-weight : $font-weight-500;

    &.ls-link:hover {
        color           : $link-color;
        text-decoration : underline;
    }

    &.ls-link:focus-visible {
        padding       : 1px 4px;
        @include state-border(2px, $grape90);
    }

    &.ls-link:active {
        color  : $g-900;
        border : 1px solid $grape75;
    }
}
