 {% extends "./subviews/printanswers/printanswers_question.twig" %}
 {% block question_answer %}
 <div class="col-md-8">
    <div class="row">
        <div class="col-md-4 text-right">
        </div>
        <div class="col-md-8 text-left">
            {% if question.answervalue is sameas("Y") %}
                {{ gT("Yes") }} <i class="fa fa-check"></i>
            {% elseif question.answervalue is sameas("N") %}
                {{ gT("No") }} <i class="fa fa-close"></i>
            {% else %}
                {{question.answervalue}}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

