 {% extends "./subviews/printanswers/printanswers_question.twig" %}
 {% block question_answer %}
 <div class="col-md-8">
    {% if question.subquestions is empty %}
            {{question.answervalue | escape}}
    {% else %}
            {% for subquestionId, subquestion in question.subquestions %}
                <div class="row">
                    <div class="col-md-4 text-right">
                        <b>{{subquestion.question}} ({{subquestion.qid}})</b>
                    </div>
                    <div class="col-md-8 text-left">
                        {{subquestion.answervalue}}
                    </div>
                </div>
            {% endfor %}
    {% endif %}
</div>
{% endblock %}
