/**
 * Specific configuration for New Paper template
 *
 * It's the very last file to be loaded.
 * N.B for internal team: this file will not be RTL. Any defintion specific to left/right positionning should be placed on template.css
 */

 .answer-container,.question-help-container {
     border: none;
 }

 .radio label::after {
   background-color: #3a87ad;
 }


 .checkbox label::after {
   color: #3a87ad;
 }

.question-text{
    color: #777777;
}
