<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadatas>
        <name>Ubuntu Orange</name>
        <creationDate>08/01/2016</creationDate>
        <author>Louis-Sébastien Gac Artigas</author>
        <authorEmail>louis.gac@limesurvey.org</authorEmail>
        <authorUrl>http://www.limesurvey.org</authorUrl>
        <copyright>Copyright (C) 2005 - 2016 LimeSurvey Gmbh, Inc. All rights reserved.</copyright>
        <license>GNU General Public License version 2 or later</license>
        <version>1.0</version>
        <description>LimeSurvey Template.</description>
        <last_update>2016-04-05 11:11:00</last_update>
    </metadatas>

    <files>
        <css>
            <filename>css/jquery-ui-custom.css</filename>
            <filename>css/bootstrap-slider.css</filename>
            <filename>css/ubuntu_orange.css</filename>
            <filename>css/template.css</filename>
        </css>
        <js>
            <filename>scripts/template.js</filename>
            <filename>scripts/bootstrap-slider.js</filename>
        </js>
        <print_css>
            <filename>css/print_template.css</filename>
        </print_css>
        <rtl>
            <css>
                <filename>css/template-rtl.css</filename>
            </css>
            <js>
            </js>
        </rtl>
        <!-- The logo is used for now only for Surveys List  -->
        <logo>
            <filename>files/logo.png</filename>
        </logo>
    </files>

    <!-- For template editor -->
    <files_editable>
            <css>
                <filename>css/ubuntu_orange.css</filename>
                <filename>css/template.css</filename>
            </css>
            <js>
                <filename>scripts/template.js</filename>
                <filename>scripts/bootstrap-slider.js</filename>
            </js>
    </files_editable>

    <engine>
        <cssframework>bootstrap</cssframework>
        <pstpldirectory>views</pstpldirectory>
        <packages>
            <package>jqueryui</package>
            <package>jquery-touch-punch</package>
        </packages>
    </engine>
</config>
