.survey-structure {
  font-size: $font-size-xs;
  width: 290px;
  overflow-y: auto;

  .sidebar-row-tag {
    color: $g-900;
    background-color: $g-100;
  }

  .focus-bg-purple {
    background-color: $grape !important;
    color: $white !important;
    border-radius: $border-radius;
    font-weight: $font-weight-500;

    svg {
      fill: $white;

      path {
        fill: $white;
      }
    }
  }

  .question-body-content {
    background-color: $g-100;
    color: $black;
    border-radius: $border-radius;
    font-weight: $font-weight-500;
  }
}
