div.question-help:empty{
  display: none;
}

@media (max-width: 768px) {
  .ls-label-xs-visibility {
    position:relative;
    left:auto;
    top:auto;
    width:initial;
    height:initial;
    overflow:initial;
  }
}

.checkbox, .radio {
  display: table-cell; }

.slider.slider-horizontal {
  width: 100%; }

.radio-item label, .checkbox-item label {
    display: block;
}
.radio-item input[type="radio"],.checkbox-item input[type="checkbox"] {
    display: inline-block;
    height: 17px;
    left: 0;
    margin-left: -20px;
    position: absolute;
    width: 17px;
}
[type="text"][data-number="1"] {
  text-align: right; }

table.ls-answers {
  table-layout: fixed; }

table.ls-answers {
  width: 100%; }

.ls-answers > tbody > tr > td {
  vertical-align: middle; }

.ls-answers tbody td {
  text-align: center; }

.ls-answers tbody th {
  vertical-align: middle; }

.ls-answers thead th {
  text-align: center;
  vertical-align: bottom; }

.ls-answers .answertextright {
  text-align: left; }

.dir-rtl .ls-answers .answertextright {
  text-align: right; }

table.ls-answers input[type="checkbox"], table.ls-answers input[type="radio"] {
  margin: 0; }

.ls-answers td.radio-item, .ls-answers td.checkbox-item {
  padding: 2px 2px 2px 22px; }

.radio-item label.ls-label-xs-visibility, .checkbox-item label.ls-label-xs-visibility {
  display: inline-block;
  height: 17px;
  left: auto;
  line-height: 21px;
  margin-left: -20px;
  overflow: hidden;
  position: relative;
  text-indent: 21px;
  width: 17px; }

.radio-item label.ls-label-xs-visibility::before, .checkbox-item label.ls-label-xs-visibility::before {
  margin-left: 0; }

.radio-item label.ls-label-xs-visibility::after, .checkbox-item label.ls-label-xs-visibility::after {
  margin-left: 0; }

.checkbox-item label.ls-label-xs-visibility::after {
  line-height: 17px;
  text-align: center;
  text-indent: 0;
  width: 17px; }

.radio-item label.ls-label-xs-visibility > *, .checkbox-item label.ls-label-xs-visibility > * {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px; }

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  table.ls-answers, .ls-answers thead, .ls-answers tbody, .ls-answers th, .ls-answers td, .ls-answers tr {
    display: block;
    text-align: left; }
  .ls-answers thead {
    display: none; }
  .ls-answers tbody td {
    text-align: left; }
  .ls-answers > tbody > tr > td.radio-item {
    padding: 4px 4px 4px 24px; }
  .ls-answers tbody .answertext {
    text-align: left; }
  .ls-answers .answertextright {
    text-align: right; }
  label.ls-label-xs-visibility {
    display: block;
    height: auto;
    left: auto;
    position: relative;
    width: auto; }
  .radio-item label.ls-label-xs-visibility, .checkbox-item label.ls-label-xs-visibility {
    display: block;
    height: auto;
    left: auto;
    line-height: initial;
    margin-left: 0;
    overflow: visible;
    text-indent: initial;
    width: auto; }
  .question label.ls-label-xs-visibility > * {
    height: auto;
    left: auto;
    overflow: auto;
    position: relative;
    top: auto;
    width: auto; }
  .ls-answers .radio-item label.ls-label-xs-visibility::before, .ls-answers .checkbox-item label.ls-label-xs-visibility::before {
    margin-left: -20px; }
  .ls-answers .radio-item label.ls-label-xs-visibility::after, .ls-answers .checkbox-item label.ls-label-xs-visibility::after {
    margin-left: -20px; }
  .ls-answers td.visible-xs, .ls-answers th.visible-xs {
    display: block !important; } }
