.ls-label-xs-visibility,
div.question-help:empty,
#indexcontainer,
.ls-js-hidden-sr {
  display: none; }

@media (max-width: 768px) {
  .ls-label-xs-visibility {
    display: normal; } }

.checkbox, .radio {
  display: table-cell; }

.slider.slider-horizontal {
  width: 100%; }

.list-radio .control-label,
.multiple-opt .control-label {
  display: inline; }
