body {
  font-family: arial, helvetica, sans-serif;
  font-size: 12pt;
}
h1,h2,h3,h4 {
  font-family: verdana, arial, helvetica, sans-serif;
}

* {
  page-break-after: auto;
}
.question-wrapper  {
  border: 0.1em solid #aaa;
  padding: 1em;
  margin: 1em 0.5em;
  clear: both;
  page-break-inside: avoid;
  page-break-before: auto;
}
.question-wrapper .h3{margin-top:0}
.table-print-answers thead th{text-align:center;vertical-align:bottom}
.table-print-answers tbody td{text-align:center;vertical-align:middle}
