body {
  background: #ccc; }

div[id^="question"] {
  background-color: #ededed;
  margin-bottom: 1em; }

.question-help-container .questionhelp {
  padding-bottom: 5px;
  padding-top: 5px; }

.ls-em-tip {
  padding-top: 5px; }

.group-description-container {
  margin-bottom: 15px; }

.question-title-container {
  padding-top: 5px;
  padding-bottom: 5px;
  background: #286090; }

.question-answer-container {
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999; }

.answer-container {
  padding-top: 10px;
  padding-bottom: 10px; }

.progress {
  border: 1px solid grey; }

.progress-bar {
  background: #286090; }

label {
  font-weight: normal; }

.q-mandatory,
.q-num,
.q-code,
.q-text {
  color: white;
  font-size: 16px;
  display: inline; }

.q-num {
  color: #bbb; }

th {
  font-weight: normal; }

#welcome-container {
  background: white;
  margin-top: 0px;
  border: 1px solid #999;
  margin-bottom: 15px;
  padding-bottom: 15px; }

.privacy-container {
  background: white;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  margin-bottom: 15px; }

.yesno-button,
.gender-button {
  max-width: 400px; }

#outerframeContainer {
  padding-bottom: 30px; }

td.radio-item, td.checkbox-item {
  text-align: center; }

tr.ls-heading th {
  text-align: center; }

.answer-container .form-group {
  margin-bottom: 0; }

label.radio-label, label.checkbox-label {
  display: inline; }

.choice-5-pt-radio .answer-item {
  margin-right: 10px; }

@media (max-width: 768px) {
  .choice-5-pt-radio .answer-item {
    display: block; } }

.multiple-opt-comments .form-group,
.multiple-short-txt .form-group,
.numeric-multi .form-group {
  margin-bottom: 10px; }

.well {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 15px; }
