<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>expressionFixedDbVar</name>
        <type>plugin</type>
        <creationDate>2019-07-14</creationDate>
        <lastUpdate>2021-01-26</lastUpdate>
        <author>Denis Chenu</author>
        <authorUrl>https://www.sondages.pro</authorUrl>
        <supportUrl>https://manual.limesurvey.org/ExpressionFixedDbVar</supportUrl>
        <version>1.0.2</version>
        <license>GPL</license>
        <description><![CDATA[Adds SEED and other database variable in ExpressionScript Engine. <a href="https://manual.limesurvey.org/ExpressionFixedDbVar">More information in LimeSurvey manual.</a>]]></description>
    </metadata>

    <compatibility>
        <version>6.0</version>
        <version>5.0</version>
        <version>4.0</version>
    </compatibility>

    <updaters disabled="disabled">
    </updaters>
</config>
