.btn:hover {
  color : $white;
}

.btn {
  color : $white;

  &:hover, &:focus {
    //default hover
    box-shadow : $btn-hover-boxshadow;
    color      : $white;
  }

  &:active, &.active  {
    //default hover
    box-shadow : $btn-hover-boxshadow;
    color      : $white;
  }

  &.dropdown-toggle.show, &.dropdown-toggle.show:focus {
    // default_focus
    box-shadow : $btn-focus-boxshadow;
    color      : $white;
  }

  &.disabled, &[disabled] {
    // default_disabled
    color            : $g-600;
    background-color : $g-400;
    border           : 1px solid $g-400;
    box-shadow       : none;

    &:hover, &:focus, &:active, &.active {
      // default_disabled
      color            : $g-600;
      background-color : $g-400;
      border           : 1px solid $g-400;
      box-shadow       : none;
    }
  }
}

//from lime-admin-colors.scss
//Buttons
.btn-primary, .btn-info {
  &:hover, &:focus, &:active, &.active {
    //default hover
    box-shadow       : $btn-hover-boxshadow;
    color            : $white;
    background-color : $active-green;
  }
}

.btn-secondary, .btn-cancel {
  &:hover, &:focus, &:active, &.active {
    //default hover
    box-shadow       : $btn-hover-boxshadow;
    color            : $white;
    background-color : $g-600;
    border-color     : $g-600;
  }

  &.dropdown-toggle.show, &.dropdown-toggle.show:focus {
    // default_focus
    box-shadow       : $btn-focus-boxshadow;
    color            : $white;
    background-color : $g-600;
    border-color     : $g-600;
  }
}

.btn-outline-secondary {
  color            : $g-900;
  background-color : $white;
  border           : 1px solid $g-900;

  &:hover {
    // default_outline_hover
    box-shadow       : $btn-hover-boxshadow;
    background-color : $white;
    border-color     : $g-900;
    color            : $g-900;
  }

  &:focus, &:active, &.active, &.dropdown-toggle.show, &.dropdown-toggle.show:focus, &.show {
    // default_outline_focus
    box-shadow       : $btn-focus-boxshadow;
    background-color : $white;
    color            : $g-900;
    border-color     : $g-900;
  }

  &.disabled, &[disabled] {
    background-color : $white;
    border           : 1px solid $g-600;
    color            : $g-600;

    &:hover, &:focus, &:active, &.active {
      background-color : $white;
      border           : 1px solid $g-600;
    }
  }
}

.btn-success {
  &:hover, &:focus, &:active, &.active {
    color            : $white;
    background-color : $success;
    border           : 1px solid $success;
    box-shadow       : 0 0 0 .25rem rgba(mix($success, $success, 15%), .5);
  }
}

.btn-warning {
  &:hover, &:focus, &:active, &.active {
    color            : $white;
    background-color : $warning;
    border           : 1px solid $warning;
    box-shadow       : 0 0 0 .25rem rgba(mix($warning, $warning, 15%), .5);
  }
}

.btn-danger {
  &:hover, &:focus, &:active, &.active {
    color            : $white;
    background-color : $error;
    border           : 1px solid $error;
    box-shadow       : 0 0 0 .25rem rgba(mix($error, $error, 15%), .5);
  }
}

// btn-link should be outsourced to links.scss or whatever it will be called
.btn-link {
  color : $active-green;

  &:hover, &:focus {
    color : $active-green;
  }
}

// from 000-lime-admin-common.scss
.row-button-margin-bottom {
  margin-bottom : -5px;
}

.row-button-margin-bottom .btn {
  margin-bottom : 5px;
}

.icon-btn-row {
  display : flex;

  .btn.btn-lg {
    width         : $btn-height-lg;
    padding-left  : 0;
    padding-right : 0;
  }

  .btn {
    width         : $btn-height;
    padding-left  : 0;
    padding-right : 0;
  }

  .btn.btn-sm {
    width   : $btn-height-sm;
    padding : 1px 0;
  }

  .btn.btn-xs {
    width         : 22px;
    padding-left  : 0;
    padding-right : 0;
  }

  :not(:first-child).btn, :not(:first-child) .btn {
    margin-left : 5px;
  }

  :not(:first-child).btn.btn-xs, :not(:first-child) .btn.btn-xs {
    margin-left : 3px;
  }
}

// new admin theme customization
//Sizing
.btn {
  min-height    : $btn-height;
  //padding: 8px 12px;
  font-size     : $btn-font-size;
  line-height   : $line-height-20;
  border-radius : $border-radius;
  font-weight   : $btn-font-weight;
}

.btn-sm {
  min-height    : $btn-height-sm;
  padding       : 0.375rem 0.75rem;
  font-size     : $btn-font-size-sm;
  line-height   : $line-height-16;
  border-radius : 3px;
}

.btn-lg {
  min-height    : $btn-height-lg;
  //padding: 12px;
  font-size     : $btn-font-size;
  line-height   : $line-height-28;
  border-radius : $border-radius;
}

.btn-xl {
  min-height    : $btn-height-xl;
  //padding: 12px 16px;
  font-size     : $btn-font-size;
  line-height   : $line-height-38;
  border-radius : $border-radius;
}

.btn-xs {
  min-height : auto;
}

//Dropdown divider
.menu-button-divider {
  margin : 0 8px;
}

.btn-primary .menu-button-divider,
.btn-info .menu-button-divider,
.btn-secondary .menu-button-divider {
  border-left : 1px solid $white;
}

.btn-outline-secondary .menu-button-divider,
.btn-success .menu-button-divider,
.btn-warning .menu-button-divider,
.btn-danger .menu-button-divider {
  border-left : 1px solid $g-900;
}

.btn-primary[disabled] .menu-button-divider,
.btn-primary.disabled .menu-button-divider,
.btn-info[disabled] .menu-button-divider,
.btn-info.disabled .menu-button-divider,
.btn-outline-secondary[disabled] .menu-button-divider,
.btn-outline-secondary.disabled .menu-button-divider,
.btn-secondary[disabled] .menu-button-divider,
.btn-secondary.disabled .menu-button-divider,
.btn-success[disabled] .menu-button-divider,
.btn-success.disabled .menu-button-divider,
.btn-warning[disabled] .menu-button-divider,
.btn-warning.disabled .menu-button-divider,
.btn-danger[disabled] .menu-button-divider,
.btn-danger.disabled .menu-button-divider {
  border-left : 1px solid $g-600;
}

// Custom from adminbasics:
.surveybar .btn, .surveybar button {
  margin-bottom : 5px;
}

.btn.float-end {
  margin-left : 5px;
}

@media screen and (min-width : 1280px) and (max-width : 1366px) {
  #add_user_btn {
    margin-top : 1.5em;
  }
}

.side-menu #search .card-body .navbar-form .btn {
  position      : absolute;
  right         : 0;
  top           : 0;
  border        : 0;
  border-radius : 0;
  padding       : 15px 18px;
}

.btnaddanswer:hover,
.btndelanswer:hover {
  cursor : pointer;
}

.modal-footer .btn {
  margin-bottom : 0;
}

.btn.readonly,
.btn.readonly:hover {
  cursor             : not-allowed;
  opacity            : 0.65;
  filter             : alpha(opacity=65);
  -webkit-box-shadow : none;
  box-shadow         : none;
  border             : 1px solid #cccccc;
}

body.onStatistics .btn {
  display : none;
}

// used anywhere?
[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"] {
  position       : absolute;
  clip           : rect(0, 0, 0, 0);
  pointer-events : none;
}

