.btn.cornerradius_0::before {
  content: url(../images/cornerradius_0.svg);
}

.btn.cornerradius_4::before {
  content: url(../images/cornerradius_4.svg);
}

.btn.cornerradius_20::before {
  content: url(../images/cornerradius_20.svg);

}
