// Dropdowns
.dropdown-menu {
  background-color: $white;
  //border: 1px solid $gray-09;
  border: 1px solid $black_opac_15;
  box-shadow: 0 6px 12px $black_opac_175;
  .divider {
    background-color: $gray-06;
  }
  > {
    li > a {
      color: $primary-2;
      &:hover {
        color: $white;
        background-color: $primary;
      }
      &:focus {
        color: $white;
        background-color: $primary;
      }
    }
    .active > a {
      color: $white;
      background-color: $primary;
      &:hover {
        color: $white;
        background-color: $primary;
      }
      &:focus {
        color: $white;
        background-color: $primary;
      }
    }
    .disabled > a {
      color: $gray-15;
      &:hover {
        color: $gray-15;
      }
      &:focus {
        color: $gray-15;
      }
    }
  }
}
.dropdown-header {
  color: $gray-15;
}
