.btn-circle {
  width: 44px;
  height: 44px;
  padding: 12px 10px;
  border-radius: 35px;
  text-align: center;
}

.btn-black60 {
  color: $white;
  border: none;

  &:hover {
    //@extend %default_hover;
    background-color: $black60;
  }

  &:focus {
    //@extend %default_hover;
    border: none;
    box-shadow: none;
    background-color: $black60;
  }

  &:active {
    //@extend %default_hover;
    background-color: $black60;
    border: 1px solid $black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &.active {
    //@extend %default_hover;
    background-color: $black60;
    border: 1px solid $black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &.dropdown-toggle.show, &.dropdown-toggle.show:focus, &[aria-expanded="true"] {
    //@extend %default_focus;
    background-color: $black60;
    border: 1px solid $black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

#help-button-dropup > .dropdown-menu {
  min-width: 167px;
  color: $white;
  background-color: $black60;
  box-shadow: none;
  border-radius: 4px;
  padding: 0px 0px 12px;
  inset: auto 0px 8px auto!important;

  & > li > a {
    color : $white;

    &:hover {
      background-color : $primary;
    }

    &:active, &:focus {
      color            : $g-800;
      background-color : $g-200;
    }
  }

  & .dropdown-header {
    color: $white;
    font-size: var(--bs-root-font-size);
  }

}