<?xml version="1.0" encoding="UTF-8"?>

<!--

    (¯`·._.·(¯`·._.· Vanilla Theme Manifest  ·._.·´¯)·._.·´¯)

    Base configuration for Vanilla Theme.
    The content of this file is imported into DB when you install the template.

-->

<config>
    <!-- Those metadata are displayed in the theme configuration page.  -->
    <metadata>
        <name>vanilla</name>
        <title>Bootstrap Vanilla</title>
        <creationDate>16/10/2017</creationDate>
        <author>Louis-Sébastien Gac Artigas</author>
        <authorEmail>louis.gac@limesurvey.org</authorEmail>
        <authorUrl>http://www.limesurvey.org</authorUrl>
        <copyright>Copyright (C) 2005 - 2016 LimeSurvey Gmbh, Inc. All rights reserved.</copyright>
        <license>GNU General Public License version 2 or later</license>
        <version>3.0</version>
        <apiVersion>3</apiVersion>
        <description><![CDATA[<strong>LimeSurvey Bootstrap Vanilla Survey Theme</strong><br>A clean and simple base that can be used by developers to create their own Bootstrap based theme.]]></description>
        <last_update>2018-04-11 17:00:00</last_update>
    </metadata>

    <!--
        Here the list of the css/js files to add to the template package.
        About packages in Yii: http://www.yiiframework.com/doc/api/1.1/CClientScript#packages-detail

        NOTE: The "add" tag also count as a "replace" tag.
              Eg: You can't just "add" a file in the extended theme with the same name as a file here. It will always "replace" it. You must use a diffrent file name.
              Eg: Vanilla manifest already has "<add>css/theme.css</add>". So if you use "<add>css/theme.css</add>" in an extended theme, it will replace the vanilla css/theme.css

        NOTE: If an extended theme, if you don't change a file that is defined here, you don't need to add it again.
              Eg: css/ajaxify.css is already added in vanilla. Nor fruity nor bootswatch modify it, so ne need to add / replace it in fruity or bootswatch.
                  Even if no mention at all about  "css/ajaxify.css" is theme extending vanilla, it will still be added because it's added here

        NOTE: To easy test changes in config file, you can force the use of the XML file rather than DB. To do so, turn debug mode on, and in config.php config array, on bottom of debug mode, add:
              'force_xmlsettings_for_survey_rendering' => true,

              Then, you will not need anymore to reset your theme each time you change the config file.
              But, once turning the setting off, You will still must reset the theme to the changes are pushed to DB 

    -->
    <files>
        <css>
            <add>css/base.css</add>
            <add>css/ajaxify.css</add>
            <add>css/theme.css</add>
            <add>css/custom.css</add>
        </css>
        <js>
            <add>scripts/theme.js</add>
            <add>scripts/ajaxify.js</add>
            <add>scripts/custom.js</add>
        </js>
        <print_css>
            <add>css/print_theme.css</add>
        </print_css>
    </files>

    <!-- You can add here any option you want. It will be available in twig file via aSurveyInfo.options.youroptionname -->
    <!-- eg: Ajaxmode: will be available with aSurveyInfo.options.ajaxmode -->
    <options>
        <ajaxmode>on</ajaxmode>
        <animatebody>off</animatebody>
        <hideprivacyinfo>off</hideprivacyinfo>
        <container>on</container>
        <bodyanimation>fadeInRight</bodyanimation>
        <brandlogo>on</brandlogo>
        <brandlogofile>./files/logo.png</brandlogofile>
        <font>noto</font>
        <showpopups>1</showpopups>
        <fixnumauto>off</fixnumauto>
    </options>

    <!-- Here datas about how LimeSurvey should load the theme -->
    <engine>
        <!-- If empty, bootstrap css/js files will not be loaded. In the future, we may have more engines, like foundation -->
        <cssframework>
            <name>bootstrap</name>
        </cssframework>

        <!-- Path of the views files (can be different than views -->
        <viewdirectory>views</viewdirectory>

        <!-- Asset manager will copy the whole theme directory to tmp. So it's possible to refer any file in the files directory in CSS via relative path (e.g: '../files/foo.jpg')   -->
        <filesdirectory>files</filesdirectory>

        <!-- Here, you can publish packages set as third party extensions in application/config/third_party or  application/config/package -->
        <!-- If bootstrap is registered as a css framework, it will be loaded first -->
        <packages>
            <add>pjax</add>
            <add>moment</add>
            <add>font-noto</add>
        </packages>

        <!--
            List of pages/files for tempalte editor
            When a user select a page, the related files will be offer in the editable files
        -->
        <template_editor>
            <screens>
                <question>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="content">./subviews/content/main.twig</file>
                    <file type="view" role="subview">./subviews/messages/justsaved.twig</file>
                    <file type="view" role="subview">./subviews/survey/group.twig</file>
                    <file type="view" role="subview">./subviews/survey/group_subviews/group_container.twig</file>
                    <file type="view" role="subview">./subviews/survey/group_subviews/group_desc.twig</file>
                    <file type="view" role="subview">./subviews/survey/group_subviews/group_name.twig</file>
                    <file type="view" role="subview">./subviews/survey/question.twig</file>
                    <file type="view" role="subview">./subviews/survey/question_container.twig</file>
                    <file type="view" role="subview">./subviews/survey/question_subviews/question_text_container.twig</file>
                    <file type="view" role="subview">./subviews/survey/question_subviews/question_text_content.twig</file>
                    <file type="view" role="subview">./subviews/survey/question_subviews/answers.twig</file>
                    <file type="view" role="subview">./subviews/survey/question_subviews/survey_question_help.twig</file>
                    <file type="view" role="subview">./subviews/survey/question_subviews/valid_message_and_help.twig</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </question>

                <surveylist>
                    <file type="view" role="layout">layout_survey_list.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="subview">./subviews/content/mainrow.twig</file>
                    <file type="view" role="subview">./subviews/content/outerframe.twig</file>
                    <file type="view" role="subview">./subviews/navigation/language_changer_form.twig</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </surveylist>

                <welcome>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="subview">./subviews/content/mainrow.twig</file>
                    <file type="view" role="subview">./subviews/content/outerframe.twig</file>
                    <file type="view" role="content">./subviews/content/firstpage.twig</file>
                    <file type="view" role="subview">./subviews/header/head.twig</file>
                    <file type="view" role="subview">./subviews/header/custom_header.twig</file>
                    <file type="view" role="subview">./subviews/header/nav_bar.twig</file>
                    <file type="view" role="subview">./subviews/header/progress_bar.twig</file>
                    <file type="view" role="subview">./subviews/messages/welcome.twig</file>
                    <file type="view" role="subview">./subviews/messages/warnings.twig</file>
                    <file type="view" role="subview">./subviews/messages/no_js_alert.twig</file>
                    <file type="view" role="subview">./subviews/privacy/privacy.twig</file>
                    <file type="view" role="subview">./subviews/navigation/language_changer.twig</file>
                    <file type="view" role="subview">./subviews/logincomponents/captcha.twig</file>
                    <file type="view" role="subview">./subviews/logincomponents/token.twig</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </welcome>

                <completed>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="subview">./subviews/content/mainrow.twig</file>
                    <file type="view" role="subview">./subviews/content/outerframe.twig</file>
                    <file type="view" role="content">./subviews/content/submit.twig</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </completed>

                <assessments>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="subview">./subviews/content/mainrow.twig</file>
                    <file type="view" role="subview">./subviews/content/outerframe.twig</file>
                    <file type="view" role="content">./subviews/content/submit.twig</file>
                    <file type="view" role="subview">./subviews/messages/assessments.twig</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </assessments>

                <error>
                    <file type="view" role="layout">layout_errors.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                </error>

                <clearall>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="subview">./subviews/content/mainrow.twig</file>
                    <file type="view" role="subview">./subviews/content/outerframe.twig</file>
                    <file type="view" role="content">./subviews/content/clearall.twig</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </clearall>

                <load>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="subview">./subviews/content/mainrow.twig</file>
                    <file type="view" role="subview">./subviews/content/outerframe.twig</file>
                    <file type="view" role="content">./subviews/content/load.twig</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </load>

                <save>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="subview">./subviews/content/mainrow.twig</file>
                    <file type="view" role="subview">./subviews/content/outerframe.twig</file>
                    <file type="view" role="content">./subviews/content/save.twig</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </save>

                <register>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="content">./subviews/content/register.twig</file>
                    <file type="view" role="subview">./subviews/registration/register_error.twig</file>
                    <file type="view" role="subview">./subviews/registration/register_head.twig</file>
                    <file type="view" role="subview">./subviews/registration/register_message.twig</file>
                    <file type="view" role="subview">./subviews/registration/register_success.twig</file>
                    <file type="view" role="subview">./subviews/registration/register_form.twig</file>
                    <file type="view" role="subview">./subviews/registration/required.twig</file>
                </register>

                <printanswers>
                    <file type="view" role="layout">layout_printanswers.twig</file>
                    <file type="view" role="subview">./subviews/content/outerframe.twig</file>
                    <file type="view" role="content">./subviews/content/printanswers.twig</file>
                    <file type="view" role="subview">./subviews/printanswers/printanswers_head.twig</file>
                    <file type="view" role="subview">./subviews/printanswers/printanswers_table.twig</file>
                    <file type="view" role="subview">./subviews/printanswers/printanswers_question.twig</file>
                    <file type="view" role="subview">./subviews/printanswers/printanswers_foot.twig</file>
                </printanswers>

                <pdf>
                    <file type="view" role="layout">layout_print.twig</file>
                </pdf>

                <navigation>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="content">./subviews/content/main.twig</file>
                    <file type="view" role="subview">./subviews/navigation/ajax_indicator.twig</file>
                    <file type="view" role="subview">./subviews/navigation/clearall_links.twig</file>
                    <file type="view" role="subview">./subviews/navigation/save_links.twig</file>
                    <file type="view" role="subview">./subviews/navigation/language_changer_top_menu.twig</file>
                    <file type="view" role="subview">./subviews/navigation/language_changer.twig</file>
                    <file type="view" role="subview">./subviews/navigation/question_index_menu.twig</file>
                    <file type="view" role="subview">./subviews/navigation/navigator.twig</file>
                    <file type="view" role="subview">./subviews/navigation/navigator_complement.twig</file>
                    <file type="view" role="subview">./subviews/navigation/clearall_buttons.twig</file>
                    <file type="view" role="subview">./subviews/navigation/save_buttons.twig</file>
                    <file type="view" role="subview">./subviews/navigation/question_index_buttons.twig</file>
                    <file type="view" role="subview">./subviews/navigation/question_index_questions_buttons.twig</file>
                    <file type="view" role="subview">./subviews/navigation/question_index_groups_buttons.twig</file>
                </navigation>

            </screens>
        </template_editor>
    </engine>
</config>
