
        <title twig="on">Bootstrap Vanilla</title>
        <description twig="on"><![CDATA[<strong>{{gT("LimeSurvey Bootstrap Vanilla Survey Theme")}}</strong><br>{{gT("A clean and simple base that can be used by developers to create their own Bootstrap based theme.")}}]]></description>
        <last_update>2019-09-23 18:00:00</last_update>

                <token>
                  <screen_title  type="data"  role="title" twig="on"><![CDATA[ {{gT('Token')}} ]]></screen_title>
                  <file type="view" role="layout">layout_user_forms.twig</file>
                  <file type="view" role="content">./subviews/content/userforms.twig</file>
                  <file type="view" role="content">./subviews/logincomponents/token.twig</file>
                  <file type="view" role="content">./subviews/logincomponents/captcha.twig</file>
                </token>


</config>
