/* This CSS file is included if a Right-to-Left language is used */
.survey-name {
	text-align: left;
}
.clear-all {
	text-align: right;
}
.submit-buttons {
	text-align: left;
}

.choice-5-pt-radio .answer ul,.list-radio-flexible .answer ul,.list-radio .answer ul,.list-with-comment .answer ul,.multiple-opt .answer ul,.multiple-opt-comments .answer ul,.multiple-short-txt .answer ul,.numeric-multi .answer ul,.yes-no .answer ul,.gender .answer ul
  {
  margin-left: 0;margin-right: 0;
  padding-left: 0;padding-right: 0;
}

.choice-5-pt-radio .answer li,.list-radio-flexible .answer li,.list-radio .answer li,.list-with-comment .answer li,.multiple-opt .answer li,.multiple-opt-comments .answer li,.multiple-short-txt .answer li,.numeric-multi .answer li,.yes-no .answer li,.gender .answer li
  {
  text-align: right;
  margin: 0 0.5em 0.5em 0;
}
.choice-5-pt-radio .answer li,.list-radio-flexible .answer li,.list-radio .answer li,.list-with-comment .answer li,.yes-no .answer li,.gender .answer li
  {
  margin-left: 0;margin-right: 2em;
}
.choice-5-pt-radio .answer .answer ul,.yes-no .answer .answer ul,.gender .answer .answer ul {
  text-align: right;
}
.choice-5-pt-radio .answer ul li,.yes-no .answer ul li,.gender .answer ul li {
  padding: 0 1em 0 1em;
}
p.question {
  margin-right: 1em;margin-left: 0;
}
.date p.tip,.numeric-multi p.tip,.numeric p.tip {
  margin-left: 0;margin-right: 1.5em;
}
ul.cols-2 li,ul.cols-2-ul,ul.cols-3 li,ul.cols-3-ul,ul.cols-4 li,ul.cols-4-ul,ul.cols-5 li,ul.cols-5-ul,ul.cols-6 li,ul.cols-6-ul,ul.cols-7 li,ul.cols-7-ul,ul.cols-8 li,ul.cols-8-ul
  {
  float: right;
}
.list-dropdown-flexible p.question {
  margin-left: 0; margin-right: 1em;
}
.list-with-comment div.list {
  float: right;
}
.list-with-comment p.select {
  float: right;
}
.list-with-comment div.list p {
  text-align: right;
}
.list-with-comment p.comment {
  text-align: right;
  float: right;
}
.numeric-multi td.answer ul.computed {
  float: right;
  padding-right: 0;padding-left: 2em;
}
.multiple-short-txt td.answer ul li label,.multiple-short-txt td.answer ul li label,.numeric-multi td.answer ul li label
  {
  padding: 0.3em 0 0 1em;
}
.multiple-opt-comments td.answer ul li span.comment,.multiple-short-txt td.answer ul li span,.numeric-multi td.answer ul li span
  {
  padding: 0.3em 1em 0 0;
}
.multiple-opt-comments td.answer ul li span {
  padding: 0.3em 0 0 1em;
}
.numeric-multi td.answer div.multinum-slider {
  float: right;
}
.numeric-multi td.answer ul.multiplenumerichelp li span,.numeric-multi td.answer ul.multiplenumerichelp.slider li span
  {
  padding: 0% 0.3em 0% 0;
  display: table-cell;
}
.text-short input,.text-short textarea,.text-long textarea,.text-huge textarea
  {
  margin-left: 0;margin-right: 1em;
}
#limesurvey table.question tbody th.answertext,#limesurvey table.question tbody th.arraycaptionleft
  {
  text-align: left;
}
#limesurvey table.question tbody th.answertextright {
  text-align: right;
}
#limesurvey .ranking table.question .answer tbody td.rank,#limesurvey .ranking table.question .answer tbody td.item
  {
  text-align: right;
}
table.rank td.helptext {
  padding: 5px 5px 0 0;
}
#tokenform label {
  float: right;
  margin-right: 0;margin-left: 0.5em;
  text-align: left;
}
#tokenform input.submit {
  margin-left: 0;margin-right: 18em;
}
.statsSurveyTitle {
  float: left;
  text-align: right;
}
.statsNumRecords {
  clear: left;
  float: left;
  text-align: right;
}

/* Question Index */
.outerframe.withindex,.withindex .outerframe{
  margin-right: 1em;
  margin-left: 26em;
}
#index {
  left: 0;
}
#index h2 { 
  text-align: left;
}
#index .container .row {
  text-align: right;
}
#index .container .row .hdr {
  text-align: left;
  padding: 0 0 0 0.5em;
}

/* ranking questions */

.dragDropTable .dragDropChoiceList li,
.dragDropTable .dragDropRankList li { 
	text-align: right;
}
.dragDropTable .dragDropRankList li span.DDRnumberprefix,
.dragDropTable .dragDropChoiceList li span.DDRnumberprefix {
	float: right;
}
