Source: limesurvey 
Section: web
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Nicolas Barcet <nicolas.barcet@canonical.com>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 4)
Homepage: http://www.limesurvey.org/

Package: limesurvey
Architecture: all
Depends: apache2 | httpd, libapache2-mod-php5, php5-gd, php5-ldap, php5-mysql | php5-pgsql, wwwconfig-common (>= 0.0.37), mysql-client | virtual-mysql-client | postgresql-client, dbconfig-common
Description: an open source web survey application
 Limesurvey basically contains everything you need for doing nearly 
 every survey with grace.
