#!/bin/bash

# Debconf config script for Drupal

set -e


# Source debconf library
. /usr/share/debconf/confmodule

if [ -f /usr/share/dbconfig-common/dpkg/config ]; then
	# we support mysql and pgsql
	dbc_dbtypes="mysql, pgsql"
	dbc_dbname=limesurvey
	dbc_dbuser=limesurvey

	# source dbconfig-common stuff
	. /usr/share/dbconfig-common/dpkg/config
	dbc_go limesurvey $@
fi

if [ "$DPKG_DEBUG" = "developer" ]; then
    set -x
fi
 
##################################################
# Begin installation directories definition block#
##################################################
package_name="limesurvey"
datadir="/var/lib/${package_name}"
filesdir="${datadir}"
backupdir="${datadir}/backups/"
pkgdir="/usr/share/${package_name}"
docdir="/usr/share/doc/${package_name}"
upgradesdir="${docdir}/upgrades"
configdir="/etc/limesurvey"
default_configfile="${configdir}/config.php"
includefile="${configdir}/apache.conf"
################################################
# End installation directories definition block #
################################################

########################################################################
# The actual configuration

OLDVERSION="$2"

db_input "medium" "${package_name}/webserver" || true
db_go || true

db_stop

exit 0
