/* This part don't have to be modified */
/* Base style only */
/* --- STYLES DE BASE --- */ 
/* source: http://www.alsacreations.com/astuce/lire/654-feuille-de-styles-de-base.html */
html { font-size: 100%; } 
body { 
	margin: 0; 
  padding: 0;
  font-family: Arial, Helvetica, FreeSans, sans-serif; 
  font-size: .85em;
  line-height: 1.4; 
  color: black; 
  background: white; 
} 
 
html,body{ height: 100%;}

h1, h2, h3, h4, h5, h6 { 
  margin: 1em 0 .5em 0; 
  line-height: 1.2; 
  font-weight: bold; 
  font-style: normal; 
} 
h1 {font-size: 1.5em;} 
h2 {font-size: 1.3em;} 
h3 {font-size: 1.2em;} 
h4 {font-size: 1.1em;}
h5 {font-size: 1em;}
h6 {font-size: 1em;}
 
ul, ol { margin: .75em 0 .75em 32px; padding: 0; } 
p { margin: .75em 0; } 
address { margin: .75em 0; font-style: italic; } 
 
a {text-decoration: underline;} 
a:link {color: #11C;} 
a:visited {color: #339;} 
a:hover, a:focus, a:active {color: #00F;} 
a:active {outline: none;} 
a img {border: none;} 
 
em {font-style: italic;} 
strong {font-weight: bold;} 
 
form, fieldset {margin: 0;padding: 0;border: none;} 
input, button, select {vertical-align: middle;}

/* --- STYLES DE BASE SUPPLÉMENTAIRES --- */ 
 
abbr[title] { border-bottom: 1px dotted; cursor: help; } 
blockquote { margin: .75em 0 .75em 20px;padding: 0 0 0 10px;border-left: solid 2px #ddd;} 
q, cite {font-style: italic;} 
q cite, q q {font-style: normal;} 
blockquote p, li p {margin: .5em 0;} 
dl {margin: .75em 0;} 
dt {margin: .75em 0 0 0;font-weight: bold;} 
dd {margin: .25em 0 .25em 32px;} 
 
table {
	margin: 0; 
  border: 1px solid gray; /* Pas de bordure = "none". */ 
  border-collapse: separate; /* Valeur par défaut: "separate". */ 
  border-spacing: 0; 
} 
table td, table th { 
  padding: 4px; /* Pas de retrait autour du texte = "0". */ 
  border: 1px solid #ccc; /* Pas de bordure = "none". */ 
  vertical-align: top; /* Valeur par défaut: "middle" */ 
} 
table {
  border: 1px solid gray; /* Pas de bordure = "none". */ 
} 
 
/* Semantic HTML 5 */ 
article, aside, dialog, figure, footer, header, 
hgroup, menu, nav, section {display: block;}

/* --- LIMESURVEY BASE --- */ 
ul#surveylist{list-style: none ;}
.hide{
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.error{color: #f70;}
.good{color: #090;}
.problem{color: #f70;}

/*****
Default styles for the jQuery UI progress bar
*****/
#progress-wrapper {
  width: 252px;
  height: 2em;
  margin: 10px auto 0 auto;
  font-size: 12px;
}

#progress-wrapper #progress-pre {
  float: left;
  margin: 0 5px 0 0;
  width: 45px;
  text-align: right;
}

#progress-wrapper .ui-widget-content {
  float: left;
  width: 150px;
  height: 1em;
  text-align: left;
  border-width: 1px
  border-style: solid
  border-color: #666666;
}

#progress-wrapper .ui-widget-header {
  background-color: #AAAAAA;
  background-image: none;
  border: 1px solid #666666;
}

#progress-wrapper #progress-post {
  float: left;
  margin: 0 0 0 5px;
  width: 45px;
  text-align: left;
}

/*****
Default styles for the jQuery UI slider
*****/
.ui-slider{width:15em;	margin: 0.4em 0 0.2em;display:inline;display:inline-block;border:1px solid #666666;
	-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.slider_showmin {
  float: left;
  width: 3em;
  margin: 1.4em 0 0 0;
  font-size: 0.7em;
  font-weight: normal;
  text-align: left;
  color:#666666;
}

.slider_showmax {
  float: right;
  width: 3em;
  margin: 1.4em 0 0 0;
  font-size: 0.7em;
  font-weight: normal;
  text-align: right;
  color:#666666;
}

.slider_lefttext {
  display: inline;
  display: inline-block;
  position:relative;
  top:-0.5em;
  padding-right: 1em;
  text-align: right;
  font-size: 0.9em;
  color:#666666;
}

.slider_righttext {
  display: inline;
  display: inline-block;
  position:relative;
  top:-0.5em;
  padding-left: 1em;
  font-size: 0.9em;
  color:#666666;
}

.slider_callout { 
    overflow: hidden; 
    position: absolute; 
    top: -1.3em;
    margin-left:0.8em;
    text-align:right;
    color: #333;
    font-size:0.9em;
}

#percentcomplete{height:20px;margin:5px 0;display:block;}
#progress-wrapper {
	height: 20px;
	margin: 0 auto;
}

