body {
    background-color : $g-200;
    margin           : 0;
    padding          : 0;
    display          : flex;
    min-height       : 100vh;
    flex-direction   : column;
}

#surveythemes h2 {
   font-weight: 500;
    font-size: 0.9975rem;
    line-height: 20px;
}

