body {
    background-color : $g-200;
    margin           : 0;
    padding          : 0;
    display          : flex;
    min-height       : 100vh;
    flex-direction   : column;
}
.modal-header .btn-close:focus {
    outline : 2px solid currentColor;
    outline-offset: 2px;
}