body {
    background-color : $g-200;
    margin           : 0;
    padding          : 0;
    display          : flex;
    min-height       : 100vh;
    flex-direction   : column;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus,
summary:focus,
details:focus,
[tabindex]:not([tabindex="-1"]):focus,
[contenteditable]:not([contenteditable="false"]):focus,
iframe:focus,
area:focus {
    outline: 2px solid currentColor;
   
}

.ls-breadcrumb .topbar-back-link:focus {
    outline: 2px solid currentColor !important;
    
}

.sort-link:focus {
    outline: 2px solid currentColor !important;
    
}

input[type="checkbox"]:focus {
    outline: 2px solid currentColor;
    outline-offset: 3px;
}