.form-change-lang {
    .language-icon, .control-label {
        color: $g-700;
    }
    #language-changer-select {
        color: $base-color;
        background-color: $white;
        @include language-select-icon-color($base-color);
    }
}
