body {
  font-family: verdana, arial, sans-serif;
  margin: 0;
  text-align: left;
}

.push {
    height: 40px;
    clear: both;
}


.footer {
  margin: 0;
  padding: 5px;
  text-align: center;
  color: #fff;
  height: 30px;
  background: #000;
  clear:both;
}

img {
  border: 0;
}

th,a,p,div {
  font-size: 10pt;
}

.maintitle {
  font-size: 14pt;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  margin: auto;
  background: black;
}

table.menubar {
  width: 100%;
  border-color: #555;
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
}

.menubar tr:first-child {
  background: #555;
}

.menubar tr {
  background: #999;
}

.menubar td:first-child {
  color: #FFF;
  font-size: 8pt;
}

.outlinetable {
  border: 1px solid #111;
}

.outlinetable td {
  font-size: 10pt;
  border: 1px solid #CCC;
  background: #EEE;
}

.outlinetable th {
  font-size: 10pt;
  color: #FFF;
  background: #777;
}

ul {
  font-size: 10pt;
  color: #000;
}

td {
  font-size: 10pt;
  color: #000;
}

.btstyle {
  font-size: 11px;
}

.standardbtn {
  height: 20px;
  color: #000;
  font-size: 11px;
}

.disabledbtn {
  height: 20px;
  color: #999;
  font-size: 11px;
}

input,select {
  color: #000080;
  background: #EEEFFF;
  font: 10px verdana, arial, sans-serif;
}

action {
  text-align: left;
}

textarea {
  font-size: 10px;
  color: #000080;
  background: #EEEFFF;
}

.subtitle {
  font-size: 10px;
  color: #FFF;
}

.listboxsurveys {
  margin-top: 10px;
  height: 20px;
  font-size: 10px;
  color: #333;
  background: SILVER;
  width: 180px;
}

.listboxgroups {
  margin-top: 10px;
  height: 20px;
  font-size: 10px;
  color: #333;
  background: SILVER;
  width: 180px;
}

.listboxquestions {
  margin-top: 10px;
  height: 20px;
  font-size: 10px;
  color: #333;
  background: SILVER;
  width: 180px;
}

.saveOrderbtn {
  border: thin solid #000;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  margin: 5px;
  background: #D4D0C8;
}

.settingentryhighlight {
  color: #000080;
  font-weight: bold;
}

.statusentryhighlight {
  font-size: 10px;
  color: #F00;
}

.warningtitle {
  font-weight: bold;
  color: #F00;
}

.successtitle {
  font-weight: bold;
  color: #090;
}

.settingentry {
  float: left;
  width: 450px;
  padding-left: 5px;
  font-size: 13px;
  text-align: left;
  clear: right;
  margin-bottom: 10px;
}

#dhtmlgoodies_tooltip {
  border: 1px solid #000;
  position: absolute;
  display: none;
  z-index: 20000;
  padding: 2px;
  -moz-border-radius: 5px;
  background: #FF6;
  font: 0.8em "Verdana", "Lucida Sans Unicode", Arial, sans-serif;
}

#dhtmlgoodies_tooltipShadow {
  position: absolute;
  display: none;
  z-index: 10000;
  opacity: 0.7;
  filter: alpha(opacity = 70);
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
  -moz-border-radius: 5px;
  background: #555;
}


.testsurvpopup {
  position: absolute;
  width: 100px;
  height: 110px;
  top: 151px;
  left: 80px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  padding: 8px;
  z-index: 10000;
  opacity: 0.7;
  visibility: hidden;
  filter: alpha(opacity =           95);
  -khtml-opacity: 0.95;
  -moz-opacity: 0.95;
  -moz-border-radius: 6px;
  background: #FF6;
  font: 11px arial, verdana, sans-serif;
}

.testsurvpopup	td {
  background: #FF6;
}

.testsurvpopup	td:first-child {
  color: #000;
  font-size: 10pt;
}

.previewpopup {
  position: absolute;
  width: 110px;
  height: 125px;
  top: 287px;
  left: 473px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  padding: 8px;
  z-index: 10000;
  opacity: 0.7;
  visibility: hidden;
  filter: alpha(opacity =           95);
  -khtml-opacity: 0.95;
  -moz-opacity: 0.95;
  -moz-border-radius: 6px;
  background: #FF6;
  font: 11px arial, verdana, sans-serif;
}


/* Start menubar */
div.menubar {
    background-color: #999;
    clear:both;
    padding:0;
    margin:3px auto 3px auto;
    width: 99.5%;
    min-height: 40px;
    border-style: solid;
    border-color:#555;
    border-width: 1px;
}

div.menubar .ui-widget-header
{
    font-weight:normal;
}

.menubar-main {
    background-color: #999;
    width: 99.5%;
    float: left;
    padding:0 0.2%;
    min-height: 20px;

}

.menubar img {
    vertical-align: middle;
    max-height:40px;
    border:0;
    margin:0;
    padding-top:2px;
}

.menubar-title {
    background-color: #555555;
    color:#fff;
    float: left;
    width: 99.6%;
    font-size: 11px;
    text-align: left;
    padding:0 0.2%;
    min-height:14px;
}

.menubar-title img {
    margin-bottom:2px;
}

.menubar-title-left {
    float: left;
    font-size:7.5pt;
}

.menubar-title-left a{
    font-size:7.5pt;
}

.menubar-title-right {
    float: right;
}

.menubar-title-right a {
    font-size:10px;
    font-weight:bold;
    color:#ee0000 !important;
    text-decoration: underline !important;
}

.menubar-left {
    background-color: #999;
    text-align: left;
    float: left;
    clear: none;
    margin: 0;
    padding: 0;

}

.menubar-right {
    background-color: #999;
    float: right;
    line-height: 1em;
    white-space: nowrap;
}

.menubar-right label{
    font-weight:bold;
    font-size:7.5pt;
}
.menubar select {
    color: #333;
    background-color: #c0c0c0;
    width: 200px;
    font-family: verdana;
    font-size: 9px;
}

.menubar-right .arrow-wrapper {
    display: inline; /* For IE */
    position:15;
    vertical-align: bottom;
}

html>body .menubar-right .arrow-wrapper { /* For real browsers */
    display: inline-block;
    padding:0 5px;
}

.menubar-right .arrow-wrapper a {
    display: block;
}

.menubar-right .arrow-wrapper img:first-child {
    display: block;
    margin-bottom: 2px;
}

.separator{
    height:20px;
}
/* END menubar CSS */


/* Wrapper */
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
    background-color:#ddd;
    width:100%;
}

#surveydetails, #groupdetails, #questiondetails {
    width: 100%;
    margin-top:-2px;
    margin-bottom:4px;
    padding:5px 0;
    clear:left;
}

#surveydetails td:first-child,
#groupdetails td:first-child,
#questiondetails td:first-child {
    width:25%;
    font-weight:bold;
    text-align:right;

}

#surveydetails td+td,
#groupdetails td+td,
#questiondetails td+td {
    text-align:left;
}

.form44 li label:first-child,
#exportspss li label:first-child,
#importtemplate li label:first-child,
#tokenimport li label:first-child,
#statistics_general_filter li label:first-child,
#vvexport li label:first-child,
#importlabels li label:first-child,
#exportdialog li label:first-child,
#importquestion li label:first-child,
#bouncesettings li label:first-child,
#importquestion li label:first-child {
    width: 44%;
    text-align: right;
    margin-right: 0.5em;
    float: left;
    font-weight: bold;
}

#loginform li label:first-child {
    width: 39%;
    text-align: right;
    margin-right: 0.5em;
    float: left;
    font-weight: bold;
}

.form30newtabs li label:first-child,
.form30 li label:first-child {
    width: 30%;
    text-align: right;
    margin-right: 0.5em;
    float: left;
    font-weight: bold;
    color: #666;
}

.form30newtabs li .warningtext,
.form30 li .warningtext {
    display: block;
    margin: 3px 0 10px 30.5%;
    font-weight: bold;
    color: #EE0000;
}

.form30 table {
    width: auto;
    float: left;
}

.form30newtabs div div div div li{
    list-style-type: none;
    clear:left;
    padding-bottom:5px;
}



.form30 li,
.form44 li,
#exportstructureQuestion li,
#exportstructureGroup li,
#frmeditgroup li,
#usergroupform li,
#importtemplate li,
#frmcopyquestion li,
#importlabelresources li,
#loginform li,
#statistics_general_filter li,
#tokenimport li,
#vvexport li,
#exportstructure li,
#importlabels li,
#sendreminder li,
#sendinvitation li,
#edittoken li,
#exportdialog li,
#addnewsurvey li,
#newquestiongroup li,
#importsurvey li,
#importgroup li,
#addnewquotaform li,
#importsurveyresources li,
#labelsetform li,
#bouncesettings li,
#exportspss li{
    list-style-type: none;
    clear:left;
    padding-bottom:5px;
}

.form30 ul.editor-parent {
    min-width:1000px;
}

#frmeditquestion li,
#importquestion li {
    list-style-type: none;
    clear:left;
    padding-bottom:7px;
}
