li.imageselect-listitem .imageselect-container .imageselect-label {
    border-radius : $border-radius !important;
}

// hidden in other themes:
.imageselect-radiobutton.d-none {
    display  : inline-block !important;
    position : absolute;
    left     : 45px;
    top      : 8px;
}

.imageselect-container .imageselect-radiobutton::before,
.imageselect-list .no-anwser-item .radio-label::before,
.imageselect-list .radio-text-item .label-radio::before {
    content       : "";
    display       : inline-block;
    position      : absolute;
    width         : 26px;
    height        : 26px;
    left          : 0;
    top           : 0;
    margin-left   : -20px;
    border-radius : 50%;
    transition    : border 0.15s ease-in-out;
    z-index       : 1;
}

.imageselect-container .imageselect-radiobutton::after,
.imageselect-list .no-anwser-item .radio-label::after,
.imageselect-list .radio-text-item .label-radio::after {
    display            : inline-block;
    position           : absolute;
    content            : " ";
    width              : 14px;
    height             : 14px;
    left               : 4px;
    top                : 4px;
    margin-left        : -18px;
    margin-top         : 2px;
    border-radius      : 50%;
    -webkit-transform  : scale(0, 0);
    -ms-transform      : scale(0, 0);
    -o-transform       : scale(0, 0);
    transform          : scale(0, 0);
    -webkit-transition : -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition    : -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition      : -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition         : transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    z-index            : 1;
}

li.imageselect-listitem .imageselect-container input.imageselect-checkbox:checked + label + .imageselect-radiobutton:after {
    transform : scale(1, 1);
}

// no answer, other
.imageselect-list .no-anwser-item, .imageselect-list .radio-text-item {
    padding-left : 55px;
}

.imageselect-list .no-anwser-item {
    // "row g-1" without the actual class, to match other-item
    margin-left : calc(4px * -.5);
}

.imageselect-list .othertext-label-checkox-container {
    padding-left : 0;
}

.imageselect-list .no-anwser-item .radio-label, .imageselect-list .radio-text-item .label-radio {
    padding-left : 10px;
    padding-top  : 2px;
    font-weight  : $font-weight-600;
}
