.picker {
  position: relative;
  display: flex;
  justify-content: end;
}

.swatch-container {
  display: flex;
  align-items: center;
  height: 40px;
  width: 70px;
  justify-content: space-evenly;
  border: 2px solid $g-700;
  border-radius: 4px;
  cursor: pointer;
}

.swatch {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  border: 3px solid #fff;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.popover {
  position: absolute;
  top: calc(100% + 2px);
  right: -1px;
  border-radius: 12px;
}

.custom-picker .react-colorful {
  padding: 16px;
  border-radius: 12px;
  background: $g-100;
  box-shadow: 0 6px 12px $g-700;
}

.custom-picker .react-colorful__saturation {
  margin: 0 0 15px 0;
  border-radius: 5px;
  border-bottom: none;
}

.custom-picker .react-colorful__hue,
.custom-picker .react-colorful__alpha {
  height: 14px;
  border-radius: 5px;
}

.custom-picker .react-colorful__hue-pointer,
.custom-picker .react-colorful__alpha-pointer {
  width: 20px;
  height: 20px;
}
