<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>ExportSTATAxml</name>
        <type>plugin</type>
        <creationDate>2013-08-05</creationDate>
        <lastUpdate>2017-11-23</lastUpdate>
        <author>Mirko Faber</author>
        <authorUrl>https://www.limesurvey.org</authorUrl>
        <version>1.0.0</version>
        <license>GNU General Public License version 2 or later</license>
        <description><![CDATA[Core: Export survey results to a STATA xml file]]></description>
    </metadata>

    <compatibility>
        <version>6.0</version>
        <version>5.0</version>
        <version>4.0</version>
        <version>3.0</version>
        <version>2.73</version>
    </compatibility>

    <updaters disabled="disabled">
    </updaters>
</config>
