<div class="row privacy">
    <div class="col-sm-12 col-centered">
        <div class="h4 text-primary">{{ "This survey is anonymous." | t }}</div>
        <div>{PRIVACYMESSAGE}</div>
    </div>
</div>
