{#
    Start of the form. If a upload_file question type is present on the page,
    the form must be enctype
#}
{% if aSurveyInfo.upload_file == true %}
    {{
        C.Html.form(
        {
            0: "/survey/index/",
            "sid": (aSurveyInfo.sid) ,
            2: 'post',
            3: {
                'enctype': 'multipart/form-data',
                'id': 'limesurveyazd',
                'name': 'limesurvey',
                'autocomplete': 'off',
                'class': 'survey-form-container',
                }
            })
            | raw
    }}
{% else %}
    {{
        C.Html.form(
        {
            0: "/survey/index/",
            "sid": (aSurveyInfo.sid) ,
            2: 'post',
            3: {
                'id': 'limesurveyazd',
                'name': 'limesurvey',
                'autocomplete': 'off',
                'class': 'survey-form-container',
            }
        })
        | raw
    }}
{% endif %}

<input type='hidden' name='fieldnames' value='{{ aSurveyInfo.hiddenfieldnames }}' id='fieldnames' />
<button type="submit" id="defaultbtn" value="default" name="move" class="submit hidden" style="display:none">default</button>
