@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  src: url('../fonts/Roboto-100/Roboto-100.eot');
  src: url('../fonts/Roboto-100/Roboto-100.eot?#iefix') format('embedded-opentype'),
       local('Roboto Thin'),
       local('Roboto-100'),
       url('../fonts/Roboto-100/Roboto-100.woff2') format('woff2'),
       url('../fonts/Roboto-100/Roboto-100.woff') format('woff'),
       url('../fonts/Roboto-100/Roboto-100.ttf') format('truetype'),
       url('../fonts/Roboto-100/Roboto-100.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Roboto-300/Roboto-300.eot');
  src: url('../fonts/Roboto-300/Roboto-300.eot?#iefix') format('embedded-opentype'),
       local('Roboto Light'),
       local('Roboto-300'),
       url('../fonts/Roboto-300/Roboto-300.woff2') format('woff2'),
       url('../fonts/Roboto-300/Roboto-300.woff') format('woff'),
       url('../fonts/Roboto-300/Roboto-300.ttf') format('truetype'),
       url('../fonts/Roboto-300/Roboto-300.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Roboto-regular/Roboto-regular.eot');
  src: url('../fonts/Roboto-regular/Roboto-regular.eot?#iefix') format('embedded-opentype'),
       local('Roboto'),
       local('Roboto-regular'),
       url('../fonts/Roboto-regular/Roboto-regular.woff2') format('woff2'),
       url('../fonts/Roboto-regular/Roboto-regular.woff') format('woff'),
       url('../fonts/Roboto-regular/Roboto-regular.ttf') format('truetype'),
       url('../fonts/Roboto-regular/Roboto-regular.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Roboto-500/Roboto-500.eot');
  src: url('../fonts/Roboto-500/Roboto-500.eot?#iefix') format('embedded-opentype'),
       local('Roboto Medium'),
       local('Roboto-500'),
       url('../fonts/Roboto-500/Roboto-500.woff2') format('woff2'),
       url('../fonts/Roboto-500/Roboto-500.woff') format('woff'),
       url('../fonts/Roboto-500/Roboto-500.ttf') format('truetype'),
       url('../fonts/Roboto-500/Roboto-500.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Roboto-700/Roboto-700.eot');
  src: url('../fonts/Roboto-700/Roboto-700.eot?#iefix') format('embedded-opentype'),
       local('Roboto Bold'),
       local('Roboto-700'),
       url('../fonts/Roboto-700/Roboto-700.woff2') format('woff2'),
       url('../fonts/Roboto-700/Roboto-700.woff') format('woff'),
       url('../fonts/Roboto-700/Roboto-700.ttf') format('truetype'),
       url('../fonts/Roboto-700/Roboto-700.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/Roboto-900/Roboto-900.eot');
  src: url('../fonts/Roboto-900/Roboto-900.eot?#iefix') format('embedded-opentype'),
       local('Roboto Black'),
       local('Roboto-900'),
       url('../fonts/Roboto-900/Roboto-900.woff2') format('woff2'),
       url('../fonts/Roboto-900/Roboto-900.woff') format('woff'),
       url('../fonts/Roboto-900/Roboto-900.ttf') format('truetype'),
       url('../fonts/Roboto-900/Roboto-900.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: italic;
  src: url('../fonts/Roboto-100italic/Roboto-100italic.eot');
  src: url('../fonts/Roboto-100italic/Roboto-100italic.eot?#iefix') format('embedded-opentype'),
       local('Roboto Thin Italic'),
       local('Roboto-100italic'),
       url('../fonts/Roboto-100italic/Roboto-100italic.woff2') format('woff2'),
       url('../fonts/Roboto-100italic/Roboto-100italic.woff') format('woff'),
       url('../fonts/Roboto-100italic/Roboto-100italic.ttf') format('truetype'),
       url('../fonts/Roboto-100italic/Roboto-100italic.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: italic;
  src: url('../fonts/Roboto-300italic/Roboto-300italic.eot');
  src: url('../fonts/Roboto-300italic/Roboto-300italic.eot?#iefix') format('embedded-opentype'),
       local('Roboto Light Italic'),
       local('Roboto-300italic'),
       url('../fonts/Roboto-300italic/Roboto-300italic.woff2') format('woff2'),
       url('../fonts/Roboto-300italic/Roboto-300italic.woff') format('woff'),
       url('../fonts/Roboto-300italic/Roboto-300italic.ttf') format('truetype'),
       url('../fonts/Roboto-300italic/Roboto-300italic.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Roboto-italic/Roboto-italic.eot');
  src: url('../fonts/Roboto-italic/Roboto-italic.eot?#iefix') format('embedded-opentype'),
       local('Roboto Italic'),
       local('Roboto-italic'),
       url('../fonts/Roboto-italic/Roboto-italic.woff2') format('woff2'),
       url('../fonts/Roboto-italic/Roboto-italic.woff') format('woff'),
       url('../fonts/Roboto-italic/Roboto-italic.ttf') format('truetype'),
       url('../fonts/Roboto-italic/Roboto-italic.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: italic;
  src: url('../fonts/Roboto-500italic/Roboto-500italic.eot');
  src: url('../fonts/Roboto-500italic/Roboto-500italic.eot?#iefix') format('embedded-opentype'),
       local('Roboto Medium Italic'),
       local('Roboto-500italic'),
       url('../fonts/Roboto-500italic/Roboto-500italic.woff2') format('woff2'),
       url('../fonts/Roboto-500italic/Roboto-500italic.woff') format('woff'),
       url('../fonts/Roboto-500italic/Roboto-500italic.ttf') format('truetype'),
       url('../fonts/Roboto-500italic/Roboto-500italic.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/Roboto-700italic/Roboto-700italic.eot');
  src: url('../fonts/Roboto-700italic/Roboto-700italic.eot?#iefix') format('embedded-opentype'),
       local('Roboto Bold Italic'),
       local('Roboto-700italic'),
       url('../fonts/Roboto-700italic/Roboto-700italic.woff2') format('woff2'),
       url('../fonts/Roboto-700italic/Roboto-700italic.woff') format('woff'),
       url('../fonts/Roboto-700italic/Roboto-700italic.ttf') format('truetype'),
       url('../fonts/Roboto-700italic/Roboto-700italic.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: italic;
  src: url('../fonts/Roboto-900italic/Roboto-900italic.eot');
  src: url('../fonts/Roboto-900italic/Roboto-900italic.eot?#iefix') format('embedded-opentype'),
       local('Roboto Black Italic'),
       local('Roboto-900italic'),
       url('../fonts/Roboto-900italic/Roboto-900italic.woff2') format('woff2'),
       url('../fonts/Roboto-900italic/Roboto-900italic.woff') format('woff'),
       url('../fonts/Roboto-900italic/Roboto-900italic.ttf') format('truetype'),
       url('../fonts/Roboto-900italic/Roboto-900italic.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?wnghtv');
    src:url('../fonts/icomoon.eot?wnghtv#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?wnghtv') format('truetype'),
        url('../fonts/icomoon.woff?wnghtv') format('woff'),
        url('../fonts/icomoon.svg?wnghtv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block; /* to fix width problem */

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
USER GROUP !!
*/

.icon-usergroup {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.icon-usergroup:before {
    content: "\f0c0";
}

/*
---------
Icon Moon
---------

To add (for /admin/user/sa/setuserpermissions) :
.icon-global:before, .icon-settings:before
.icon-template:before, .icon-templates:before
.icon-label:before, .icon-labels:before
.icon-add:before, .icon-survey:before
*/


.icon-notyetstarted .path1:before {
    content: "\e84c";
    color: rgb(79, 210, 0);
}
.icon-notyetstarted .path2:before {
    content: "\e84d";
    margin-left: -1em;
    color: rgb(148, 210, 0);
}
.icon-expired:before {
    content: "\e84e";
}
.icon-inactive:before {
    content: "\e84a";
}
.icon-active:before {
    content: "\e84b";
}
.icon-takeownership2:before {
    content: "\e846";
}
.icon-bounce_settings .path1:before {
    content: "\e847";
    color: rgb(148, 210, 0);
}
.icon-bounce_settings .path2:before {
    content: "\e848";
    margin-left: -1em;
    color: rgb(148, 210, 0);
}
.icon-bounce_settings .path3:before {
    content: "\e849";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-remind:before {
    content: "\e845";
}
.icon-token_manage:before {
    content: "\e844";
}
.icon-answers .path1:before {
    content: "\e83b";
    color: rgb(148, 210, 0);
}
.icon-answers .path2:before {
    content: "\e83c";
    margin-left: -1em;
    color: rgb(148, 210, 0);
}
.icon-answers .path3:before {
    content: "\e83d";
    margin-left: -1em;
    color: rgb(148, 210, 0);
}
.icon-answers .path4:before {
    content: "\e83e";
    margin-left: -1em;
    color: rgb(148, 210, 0);
}
.icon-answers .path5:before {
    content: "\e83f";
    margin-left: -1em;
    color: rgb(148, 210, 0);
}
.icon-answers .path6:before {
    content: "\e840";
    margin-left: -1em;
    color: rgb(148, 210, 0);
}
.icon-answers .path7:before {
    content: "\e841";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-answers .path8:before {
    content: "\e842";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-answers .path9:before {
    content: "\e843";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-viewlast:before {
    content: "\e83a";
}
.icon-dataforward:before {
    content: "\e836";
}
.icon-dataend:before {
    content: "\e837";
}
.icon-databegin:before {
    content: "\e838";
}
.icon-databack:before {
    content: "\e839";
}
.icon-minimize:before {
    content: "\e833";
}
.icon-maximize:before {
    content: "\e834";
}
.icon-import2:before {
    content: "\e835";
}
.icon-invite:before {
    content: "\e831";
}
.icon-superadmin:before {
    content: "\e82f";
}
.icon-cpdb:before {
    content: "\e830";
}
.icon-takeownership:before {
    content: "\e82c";
}
.icon-templatepermissions:before {
    content: "\e82e";
}
.icon-subquestions .path1:before {
    content: "\e822";
    color: rgb(148, 210, 0);
}
.icon-subquestions .path2:before {
    content: "\e824";
    margin-left: -1em;
    color: rgb(148, 210, 0);
}
.icon-subquestions .path3:before {
    content: "\e825";
    margin-left: -1em;
    color: rgb(148, 210, 0);
}
.icon-subquestions .path4:before {
    content: "\e826";
    margin-left: -1em;
    color: rgb(148, 210, 0);
}
.icon-subquestions .path5:before {
    content: "\e827";
    margin-left: -1em;
    color: rgb(148, 210, 0);
}
.icon-subquestions .path6:before {
    content: "\e828";
    margin-left: -1em;
    color: rgb(148, 210, 0);
}
.icon-subquestions .path7:before {
    content: "\e829";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-subquestions .path8:before {
    content: "\e82a";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-subquestions .path9:before {
    content: "\e82b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-renumber:before {
    content: "\e815";
}
.icon-conditions_add:before {
    content: "\e80a";
}
.icon-defaultanswers:before {
    content: "\e82d";
}
.icon-conditions:before {
    content: "\e80c";
}
.icon-copy:before {
    content: "\e80d";
}
.icon-importvv:before {
    content: "\e81f";
}
.icon-importldap:before {
    content: "\e820";
}
.icon-importcsv:before {
    content: "\e821";
}
.icon-import:before {
    content: "\e832";
}
.icon-organize:before {
    content: "\e823";
}
.icon-saved:before {
    content: "\e80b";
}
.icon-browse:before {
    content: "\e80e";
}
.icon-exportvv:before {
    content: "\e80f";
}
.icon-exportspss:before {
    content: "\e810";
}
.icon-exportr:before {
    content: "\e811";
}
.icon-exportcsv:before {
    content: "\e812";
}
.icon-export:before {
    content: "\e813";
}
.icon-resetsurveylogic:before {
    content: "\e814";
}
.icon-expressionmanagercheck:before {
    content: "\e816";
}
.icon-emailtemplates:before {
    content: "\e817";
}
.icon-assessments:before {
    content: "\e818";
}
.icon-quota:before {
    content: "\e819";
}
.icon-security:before {
    content: "\e81a";
}
.icon-responses:before {
    content: "\e81b";
}
.icon-display_export:before {
    content: "\e81c";
}
.icon-edit:before {
    content: "\e81d";
}
.icon-do:before {
    content: "\e81e";
}
.icon-add:before, .icon-survey:before {
    content: "\e800";
}
.icon-expression:before {
    content: "\e801";
}
.icon-global:before, .icon-settings:before {
    content: "\e802";
}
.icon-label:before, .icon-labels:before {
    content: "\e803";
}
.icon-logout:before {
    content: "\e804";
}
.icon-shield:before {
    content: "\e805";
}
.icon-list:before {
    content: "\e806";
}
.icon-template:before, .icon-templates:before {
    content: "\e807";
}
.icon-tools:before {
    content: "\e808";
}
.icon-user:before {
    content: "\e809";
}
