<?xml version="1.0" encoding="UTF-8"?>

<config>
    <!-- Metadata -->
    <metadata>
        <name>arrays/column</name>
        <type>question_theme</type>
        <title>Array by column</title>
        <creationDate>09/08/2018</creationDate>
        <author>LimeSurvey GmbH</author>
        <authorEmail>info@limesurvey.org</authorEmail>
        <authorUrl>http://www.limesurvey.org</authorUrl>
        <copyright>Copyright (C) 2005 - 2018 LimeSurvey Gmbh, Inc. All rights reserved.</copyright>
        <license>GNU General Public License version 2 or later</license>
        <version>1.0</version>
        <apiVersion>1</apiVersion>
        <description>Array by column question type configuration</description>
        <questionType>H</questionType>
        <group>Arrays</group>
        <subquestions>1</subquestions>
        <answerscales>1</answerscales>
        <hasdefaultvalues>0</hasdefaultvalues>
        <assessable>1</assessable>
        <class>array-flexible-column</class>
    </metadata>

    <compatibility>
        <version>4.0</version>
        <version>5.0</version>
    </compatibility>

    <!--
        List of the css/js files to load.
        Any file here will be loaded via the asset manager (when in config.php debug = 0)
    -->
    <files>
        <css>
            <filename></filename>
        </css>
        <js>
            <filename></filename>
        </js>
        <preview>
            <filename></filename>
        </preview>
    </files>

    <generalattributes>
        <attribute>question_template</attribute>
        <attribute>gid</attribute>
<!--        <attribute>other</attribute>-->
        <attribute>mandatory</attribute>
        <attribute>relevance</attribute>
        <attribute>encrypted</attribute>
        <attribute>save_as_default</attribute>
        <attribute>clear_default</attribute>
    </generalattributes>

    <!-- Question attributes -->
    <attributes>
        <!-- Display Attributes START -->
        <attribute>
            <name>random_order</name>
            <category>Display</category>
            <sortorder>100</sortorder>
            <inputtype>singleselect</inputtype>
            <options>
                <option>
                    <value>0</value>
                    <text>No</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Yes</text>
                </option>
            </options>
            <default>0</default>
            <help>Present subquestions/answer options in random order</help>
            <caption>Random order</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>keep_codes_order</name>
            <category>Display</category>
            <sortorder>101</sortorder>
            <inputtype>text</inputtype>
            <default></default>
            <help>Semicolon-separated list of subquestion codes that keep their original database position when items are randomized</help>
            <caption>Keep codes at original positions</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>hide_tip</name>
            <category>Display</category>
            <sortorder>100</sortorder>
            <inputtype>switch</inputtype>
            <options>
                <option>
                    <value>0</value>
                    <text>No</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Yes</text>
                </option>
            </options>
            <default>0</default>
            <help>Hide the tip that is normally shown with a question</help>
            <caption>Hide tip</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>hidden</name>
            <category>Display</category>
            <sortorder>101</sortorder>
            <inputtype>switch</inputtype>
            <options>
                <option>
                    <value>0</value>
                    <text>No</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Yes</text>
                </option>
            </options>
            <default>0</default>
            <help>Hide this question at any time. This is useful for including data using answer prefilling.</help>
            <caption>Always hide this question</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>cssclass</name>
            <category>Display</category>
            <sortorder>102</sortorder>
            <inputtype>text</inputtype>
            <expression>1</expression>
            <help>Add additional CSS class(es) for this question. Use a space between multiple CSS class names. You may use expressions - remember this part is static.</help>
            <caption>CSS class(es)</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
        </attribute>
        <attribute>
            <name>printable_help</name>
            <category>Display</category>
            <sortorder>201</sortorder>
            <inputtype>text</inputtype>
            <expression>1</expression>
            <i18n>1</i18n>
            <default></default>
            <help>In the printable version the condition is being replaced with this explanation text.</help>
            <caption>Condition help for printable survey</caption>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
        </attribute>
        <attribute>
            <name>answer_width_bycolumn</name>
            <category>Display</category>
            <sortorder>100</sortorder>
            <inputtype>integer</inputtype>
            <min>0</min>
            <max>100</max>
            <help>Set the percentage width of the answers column (1-100)</help>
            <caption>Answers column width</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <!-- Display Attributes END -->
        <!-- Logic Attributes START -->
        <attribute>
            <name>random_group</name>
            <category>Logic</category>
            <sortorder>180</sortorder>
            <inputtype>text</inputtype>
            <help>Place questions into a specified randomization group, all questions included in the specified group will appear in a random order</help>
            <caption>Randomization group name</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>em_validation_q</name>
            <category>Logic</category>
            <sortorder>200</sortorder>
            <inputtype>textarea</inputtype>
            <expression>2</expression>
            <xssfilter>0</xssfilter>
            <help>Enter a boolean equation to validate the whole question.</help>
            <caption>Question validation equation</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
        </attribute>
        <attribute>
            <name>em_validation_q_tip</name>
            <category>Logic</category>
            <sortorder>210</sortorder>
            <inputtype>textarea</inputtype>
            <expression>1</expression>
            <i18n>1</i18n>
            <help>This is a hint text that will be shown to the participant describing the question validation equation.</help>
            <caption>Question validation tip</caption>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
        </attribute>
        <!-- Logic Attributes END -->
        <!-- Other Attributes START -->
        <attribute>
            <name>page_break</name>
            <category>Other</category>
            <sortorder>100</sortorder>
            <inputtype>switch</inputtype>
            <options>
                <option>
                    <value>0</value>
                    <text>No</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Yes</text>
                </option>
            </options>
            <default>0</default>
            <help>Insert a page break before this question in printable view.</help>
            <caption>Insert page break in printable view</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>scale_export</name>
            <category>Other</category>
            <sortorder>100</sortorder>
            <inputtype>singleselect</inputtype>
            <options>
                <option>
                    <value>0</value>
                    <text>Default</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Nominal</text>
                </option>
                <option>
                    <value>2</value>
                    <text>Ordinal</text>
                </option>
                <option>
                    <value>3</value>
                    <text>Scale</text>
                </option>
            </options>
            <default>0</default>
            <help>Set a specific SPSS export scale type for this question</help>
            <caption>SPSS export scale type</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <!-- Other Attributes END -->
        <!-- Statistics Attributes START -->
        <attribute>
            <name>public_statistics</name>
            <category>Statistics</category>
            <sortorder>80</sortorder>
            <inputtype>switch</inputtype>
            <options>
                <option>
                    <value>0</value>
                    <text>No</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Yes</text>
                </option>
            </options>
            <default>0</default>
            <help>Show statistics of this question in the public statistics page</help>
            <caption>Show in public statistics</caption>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>statistics_showgraph</name>
            <category>Statistics</category>
            <inputtype>switch</inputtype>
            <sortorder>101</sortorder>
            <options>
                <option>
                    <value>0</value>
                    <text>No</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Yes</text>
                </option>
            </options>
            <help>Display a chart in the statistics?</help>
            <caption>Display chart</caption>
            <default>1</default>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <attribute>
            <name>statistics_graphtype</name>
            <category>Statistics</category>
            <inputtype>singleselect</inputtype>
            <sortorder>102</sortorder>
            <options>
                <option>
                    <value>0</value>
                    <text>Bar chart</text>
                </option>
                <option>
                    <value>1</value>
                    <text>Pie chart</text>
                </option>
                <option>
                    <value>2</value>
                    <text>Radar</text>
                </option>
                <option>
                    <value>3</value>
                    <text>Line</text>
                </option>
                <option>
                    <value>4</value>
                    <text>PolarArea</text>
                </option>
                <option>
                    <value>5</value>
                    <text>Doughnut</text>
                </option>
            </options>
            <help>Select the type of chart to be displayed</help>
            <caption>Chart type</caption>
            <default>0</default>
            <i18n></i18n>
            <readonly></readonly>
            <readonly_when_active></readonly_when_active>
            <expression></expression>
        </attribute>
        <!-- Statistics Attributes END -->
        <!-- Timer Attributes START -->
        <!-- Timer Attributes END -->
        <!-- Input Attributes START -->
        <!-- Input Attributes END -->
    </attributes>

    <!-- Core question js/css configuration -->
    <engine>
        <load_core_css>true</load_core_css>
        <load_core_js>true</load_core_js>
        <show_as_template>true</show_as_template>
        <show_as_question_type>true</show_as_question_type>
    </engine>
</config>
