// Navbar
.navbar {
  color: $white;
  background-color: $aubergine;
  border-bottom: 4px solid $grape;
  //box-shadow: 0 3px 3px $gray_approx_100_10;
  border-radius: 0 !important;
  .ls--selector--configuration-menu a {
    border-bottom: 1px solid $white;
  }
  .nav-icon-btn.nav-icon-btn-danger .label {
    background: $brown-10;
  }
  .nav-link {
    color: $white;
    font-weight: 500;
    font-size: 14px;
  }
}
.mega-dropdown-menu {
  .dropdown-header {
    color: $primary-hover_2;
  }
  > li {
    > ul {
      > li {
        > a {
          color: $primary-border_navbar_default;
        }
      }
    }
  }
}

.navbar {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  a {
    font-weight : 400;
  }
  .dropdown-menu > li > a {
    font-weight : 400;

  }
  .nav-icon-btn > a .label {
    font-size   : 10px;
    padding     : 0 3px;
    line-height : 15px;
    position    : absolute;
    display     : block;
    right       : 5px;
    top         : 10px;
  }
}

.navbar {
  border-radius: 0 !important;
  padding: 0;

  .navbar-brand {
    font-weight: 400;
  }
  .navbar-toggler {
    margin: map-get($spacers, 2);
  }

  a {
    font-weight: 400;
  }

  .dropdown-menu > li > a {
    font-weight: 400;
  }

  .nav-icon-btn > a .label {
    font-size: 10px;
    padding: 0 3px;
    line-height: 15px;
    position: absolute;
    display: block;
    right: 5px;
    top: 10px;
  }
}

// Navs
.nav {
  .nav-divider {
    background-color: $gray-06;
  }
  > li {
    > a {
      &:hover {
        color: $white;
        background-color: $g-900;
        //border-bottom: 1px solid $white;
      }
      &:focus {
        color: $white;
        background-color: $g-900;
        //border-bottom: 1px solid $white;
      }
    }
    &.disabled > a {
      color: $gray-15;
      &:hover {
        color: $gray-15;
      }
      &:focus {
        color: $gray-15;
      }
    }
  }
  .open > a {
    color: $white;
    background-color: $g-900;
    //border-bottom: 1px solid $white;
    &:hover {
      color: $white;
      background-color: $g-900;
    }
    &:focus {
      color: $white;
      background-color: $g-900;
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    .navbar-nav .nav-link {
      padding: 1rem;
    }
    #small-screens-menus {
      display: none!important;
    }
  }
}

.navbar-collapse {
  box-shadow: inset 0 1px 0 $white_opac_10;
}

.mega-dropdown {
  position : static !important;
}

.mega-dropdown-menu {
  padding : 20px 0;
  width   : 100%;
  .dropdown-header {
    font-size   : 18px;
    padding     : 5px 60px 5px 5px;
    line-height : 30px;
  }
  > li {
    > ul {
      padding : 0;
      margin  : 0;
      > li {
        list-style : none;
        > a {
          display : block;
          padding : 3px 5px;
        }
      }
    }
    ul > li > a {
      &:hover {
        text-decoration : none;
      }
      &:focus {
        text-decoration : none;
      }
    }
  }
}

#mainmenu-dropdown {
  z-index: 20002;
}

.mega-dropdown {
  position: static !important;
}

.mega-dropdown-menu {
  margin-left: auto;
  margin-right: auto;
  padding: $grid-gutter-width var(--bs-gutter-x, .75rem);
  width: 100%;
}

.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.mega-dropdown__column > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown__column > ul > li {
  list-style: none;
}

.mega-dropdown__column .dropdown-item {
  padding: 0;
  white-space: unset;
}

.mega-dropdown__column > ul > li > a {
  display: block;
  padding: 3px 5px;
}

.mega-dropdown__column ul > li > a:hover {
  text-decoration: none;
}

.mega-dropdown__column ul > li > a:focus {
  text-decoration: none;
}


