$white              : #fff;
$black              : #000;

$gray-03            : #fafafa;
$gray-04            : #f5f5f5;
$gray-05            : #ebebeb;
$gray-06            : #e6e6e6;
$gray-07            : #e3e3e3;
$gray-08            : #dadada;
$gray-09            : #cccccc;
$gray-11            : #adadad;
$gray-15            : #858585;
$gray-17            : #636363;
$gray-20            : #333333;

$gray_approx_100_10 : rgba(132, 136, 138, 0.1);

$white_opac_10      : rgba(255, 255, 255, 0.1);
$white_opac_15      : rgba(255, 255, 255, 0.15);
$white_opac_50      : rgba(255, 255, 255, 0.5);

$black_opac_05      : rgba(0, 0, 0, 0.05);
$black_opac_075     : rgba(0, 0, 0, 0.075);
$black_opac_10      : rgba(0, 0, 0, 0.1);
$black_opac_125     : rgba(0, 0, 0, 0.125);
$black_opac_12      : rgba(0, 0, 0, 0.12);
$black_opac_15      : rgba(0, 0, 0, 0.15);
$black_opac_16      : rgba(0, 0, 0, 0.16);
$black_opac_175     : rgba(0, 0, 0, 0.175);
$black_opac_20      : rgba(0, 0, 0, 0.2);
$black_opac_25      : rgba(0, 0, 0, 0.25);
$black_opac_50      : rgba(0, 0, 0, 0.5);
$black_opac_60      : rgba(0, 0, 0, 0.6);

$gray_approx_200    : #35363F;

//only in sunset_orange
$brown-light-05     : #ffd7cd;

$brown-opac-10      : rgba(99, 49, 48, 0.1);

$red-10             : #e8afae;
$red-50             : #b95967;
$red-90             : #a0352f;
$red-100            : #8c2e29;
$red-110            : #802b26;
$red-130            : #5d1f1b;

$orange-20          : #f6863a;
//only in sunset_orange
$orange-30          : #FE5B35;

$brown-light-40     : #a8876a;

$brown-10           : #a15426;
$brown-20           : #8c4921;
$brown-30           : #80431e;

$blue-10            : #67afe9;
$blue-opac          : rgba(102, 175, 233, 0.6);
