/* The following styles are for all versions of IE */

.numeric-multi dl.multiplenumerichelp
{
	margin-top: -4.5em;
	margin-bottom: 1em;
}

.numeric-multi dl.multiplenumerichelp dt
{
	margin-right: 10em;
	margin-bottom: -1.3em;
}

.numeric-multi dl.multiplenumerichelp.slider { left: 18em; }
.numeric-multi dl.multiplenumerichelp.X2 { left: 12em; }
.numeric-multi dl.multiplenumerichelp.X4 { left: 14em; }
.numeric-multi dl.multiplenumerichelp.X6 { left: 16em; }
.numeric-multi dl.multiplenumerichelp.X8 { left: 18em; }
.numeric-multi dl.multiplenumerichelp.X10 { left: 20em; }
.numeric-multi dl.multiplenumerichelp.X12 { left: 22em; }
.numeric-multi dl.multiplenumerichelp.X14 { left: 24em; }
.numeric-multi dl.multiplenumerichelp.X16 { left: 26em; }
.numeric-multi dl.multiplenumerichelp.X18 { left: 28em; }
.numeric-multi dl.multiplenumerichelp.X20 { left: 30em; }
.numeric-multi dl.multiplenumerichelp.X22 { left: 32em; }
.numeric-multi dl.multiplenumerichelp.X24 { left: 34em; }
.numeric-multi dl.multiplenumerichelp.X26 { left: 36em; }
.numeric-multi dl.multiplenumerichelp.X28 { left: 38em; }
.numeric-multi dl.multiplenumerichelp.X30 { left: 40em; }
.numeric-multi dl.multiplenumerichelp.X-large { display: static; }

.innergraph img {
height:17px;
vertical-align:top;
margin:0px 0px 0px 0px;
}