/* This CSS file is included if a Right-to-Left language is used */
.answertextright {
  text-align: right;
}
.clear-all{text-align:right}
.save-all{text-align:center}
.submit-buttons{text-align:left}

.asterisk {
  padding-right:0;padding-left:1em;
}
#progress-graph div.graph {
  margin-left: 0;
  margin-right: 2.1em;
  text-align: right;
}
#progress-graph div.cent {
  margin-right: 10.9em;
  margin-left: 0;
}
.choice-5-pt-radio .answer li,.list-radio-flexible .answer li,.list-radio .answer li,.list-with-comment .answer li,.multiple-opt .answer li,.multiple-opt-comments .answer li,.multiple-short-txt .answer li,.numeric-multi .answer li,.yes-no .answer li,.gender .answer li
  {
  text-align: right;
  margin: 0 0.5em 0.5em 0;
}
.choice-5-pt-radio .answer li,.list-radio-flexible .answer li,.list-radio .answer li,.list-with-comment .answer li,.yes-no .answer li,.gender .answer li
  {
  margin-left: 0;margin-right: 2em;
}
.choice-5-pt-radio .answer ul,.yes-no .answer ul,.gender .answer ul {
  text-align: right;
  margin-right: 0;
  padding-right: 0;
}
.choice-5-pt-radio .answer ul li,.yes-no .answer ul li,.gender .answer ul li {
  padding: 0 0 0 2em;
}
.date p.question {
  margin-left: 0;margin-right: 1em;
}
.date p.tip,.numeric-multi p.tip,.numeric p.tip {
  margin-left: 0;margin-right: 1.5em;
}
ul.cols-2 li,ul.cols-2-ul,ul.cols-3 li,ul.cols-3-ul,ul.cols-4 li,ul.cols-4-ul,ul.cols-5 li,ul.cols-5-ul,ul.cols-6 li,ul.cols-6-ul,ul.cols-7 li,ul.cols-7-ul,ul.cols-8 li,ul.cols-8-ul
  {
  float: right;
}
.list-dropdown-flexible p.question {
  margin-left: 0;margin-right: 1em;
}
.list-with-comment div.list {
  float: right;
  padding: 0.5em 0 0.5em 0.5em;
}
.list-with-comment p.select {
  float: right;
}
.list-with-comment div.list p {
  margin: 0 0.6em 0 0;
  text-align: right;
}
.list-with-comment p.comment {
  text-align: right;
  float: right;
}
.numeric-multi ul.computed {
  float: right;
  padding-right: 0;padding-left: 2em;
}
.multiple-opt-comments ul li span.option {
  padding: 0.3em 1.8em 0 1em;
}
.numeric-multi ul li label {
  padding: 0.3em 0 0 1em;
}
.multiple-short-txt ul li label {
  padding: 0.3em 0 0 1em;
}
.numeric-multi ul.computed li label
.numeric-multi ul.slider.computed li label {
  padding-left: 0;
}
.multiple-opt-comments ul li span.comment,.multiple-short-txt ul li span,.numeric-multi ul li span
  {
  padding: 0.3em 1em 0 0;
}
.multiple-opt-comments ul li span {
  padding: 0.3em 0 0 1em;
}
.numeric-multi ul.multiplenumerichelp li span,.numeric-multi ul.multiplenumerichelp.slider li span
  {
  padding: 0 0.3em 0 0;
}
.numeric input,.text-short input,.text-short textarea,.text-long textarea,.text-huge textarea
  {
  margin-left: 0;margin-right: 1em;
}
#limesurvey table.question tbody th.answertext,#limesurvey table.question tbody th.arraycaptionleft
  {
  text-align: left;
}
#limesurvey table.question tbody th.answertextright {
  text-align: right;
}
#limesurvey .ranking table.question .answer .rank tbody td {
  text-align: right;
}
.numeric-multi label.slider-label {
  padding: 0 0 0.2em 1em;
}
.numeric-multi div.multinum-slider {
  float: right;
}
.slider_callout {no-repeat;
  margin-right: -3px;  margin-left: 0;
  text-align: right;
}
.slider_showmin {
  float: right;
  text-align: right;
}
.slider_showmax {
  float: left;
  text-align: left;
}
.slider_lefttext {
  padding-right: 0;padding-left: 11px;
  text-align: left;
}

.slider_righttext {
  padding-left: 0;padding-right: 11px;
  text-align: right;
}
#tokenform label {
  float: right;
  margin-right: 0;margin-left: 0.5em;
  text-align: left;
}
#tokenform img {
  margin-right: 0;margin-left: 5px;
}
#tokenform input.submit {
  margin-left: 0;margin-right: 18em;
}
.statsSurveyTitle {
  float: left;
  text-align: right;
}
.statsNumRecords {
  float: left;
  text-align: right;
}
table.statisticstable {
  text-align: right;
}
div.fieldSummary {
  padding: 10px 0px 4px 10px;
  text-align: right;
}
/* Question Index */
.outerframe.withindex,.withindex .outerframe{
  margin-right: 1em;
  margin-left: 26em;
}
#index {
  position: absolute;
  left: 0;
  border-left: 0 none #fff;border-right: 1px solid #ccc;
}
#index h3 { margin: 0.5em 0.5em 0 0; }
#index .container .row .hdr {
  text-align: left;
  padding: 0 0 0 0.5em;
}
