.select2-selection__baselanguage {
    font-weight: bold;
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__choice__remove:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
}
