body {font-family: verdana, arial, helvetica, sans-serif;font-size: 12px;color: black; direction: ltr;}
h1 {color: #C7D92C;	font-size: 18px; font-weight: 400;}
a {	color: white;}
a:hover, a.hover {color: #C7D92C;}
ul { list-style: none; }
#dialog-confirm { padding: 0 20px; float: left; width: 750px; }

.previewblock {
    background-color: #99CCFF;
    margin: 10px auto;
    padding: 5px 20px;
}

img {
    display: block;
    margin: 5px;
    border: 0 none;
    border-style: solid;
}

.uploadmsg {
    text-align: center;
}

.uploadstatus {
    text-align: center;
}

.upload-button {
    border: 1px solid #79B7E7;
    background: url("jquery/css/start/images/ui-bg_glass_85_dfeffc_1x400.png") repeat-x scroll 50% 50% #DFEFFC;
    color: #5670A1;
    font-weight: bold;
    outline: medium none;
    -moz-border-radius: 5px 5px 5px 5px;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
    float: none;
    line-height: 1.4em;
    margin: 0.5em 0.4em 0.5em 0;
    overflow: visible;
    padding: 0.6em 0.6em 0.6em 0.6em;
    width: 100px;
    text-align: center;
}

.success, .error {
    border: 1px solid;
    margin: 15px 200px 20px 200px;
    padding:15px 60px 15px 60px;
    background-repeat: no-repeat;
    background-position: 20px center;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../../images/success_notice.png');
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../../images/error_notice.png');
}