
#questionEditLoader {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: rgba(225,225,225,0.7);
    z-index: 100;
}
#advancedQuestionEditor {
    .contains-question-selector .btn-group {
        width: 100%;
        &>.btn {            
            width: 100%;
        }
    }

    .ck.ck-content {
        min-height: 10rem;
    }
    .question-option-general-container {

        .question-option-general-setting-block {
            margin: 0.25rem  0 0.5rem 0; 
            
            .question-option-help {
                margin: 0.5rem 0;
                padding: .75rem;
            }
        }
        
    }
}