
#questionEditLoader {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: rgba(225,225,225,0.7);
    z-index: 100;
}
#advancedQuestionEditor {
    .contains-question-selector .btn-group {
        width: 100%;
        &>.btn {            
            width: 100%;
        }
    }

    .ck.ck-content {
        min-height: 10rem;
    }
    .question-option-general-container {

        .question-option-general-setting-block {
            margin: 0.25rem  0 0.5rem 0; 
            
            .question-option-help {
                margin: 0.5rem 0;
                padding: .75rem;
            }
        }
        
    }

  .slide-fade-enter-active {
    transition: all .4s ease;
  }
  .slide-fade-leave-active {
    transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(-10px);
    opacity: 0;
  }
  .slide-fade-enter-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(0px);
    opacity: 1;
  }
  .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
}