
#questionEditLoader {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: rgba(225,225,225,0.7);
    z-index: 100;
}
#advancedQuestionEditor {
    .contains-question-selector .btn-group {
        width: 100%;
        &>.btn {            
            width: 100%;
        }
    }

    .ck.ck-content {
        min-height: 10rem;
    }
    .question-option-general-container {

        .question-option-general-setting-block {
            margin: 0.25rem  0 0.5rem 0; 
            
            .question-option-help {
                margin: 0.5rem 0;
                padding: .75rem;
            }
        }
        
    }

    .slide-fade-left-enter-active {
        transition: all 350ms ease-in-out;
        transition-delay: 100ms;
      }
      .slide-fade-left-leave-active {
        position: absolute;
        transition: all 450ms ease-in-out;
      }
      .slide-fade-left-enter
      /* .slide-fade-leave-active below version 2.1.8 */ {
        transform: translate(-50%, 0);
        opacity: 0;
      }
      .slide-fade-left-enter-to
      /* .slide-fade-leave-active below version 2.1.8 */ {
        transform: translate(0, 0);
        opacity: 1;
      }
      .slide-fade-left-leave-to
      /* .slide-fade-leave-active below version 2.1.8 */ {
        transform: translate(50%, 0);
        opacity: 0;
      }
    
}
