body {
	font-family: verdana, arial, sans-serif;
	text-align: left;
	background-color: #5670A1;
	margin: 0;
}

form {
	margin: 0;
	padding: 0;
}

ul,ol {
	text-align: left;
	font-size: 10pt;
	color: #000;
}

p {
    clear: left;
}

.boxstyle {
	border-color: #9C0;
	border-style: solid;
	border-width: 1px;
}

.footer {
	text-align: center;
	color: #9C0;
	height: 30px;
	background: #121a28;
	margin: 0;
	padding: 5px;
}

img {
	border: 0;
}

a:hover {
	color: #819D26;
	text-decoration: underline;
}

th, p, div {
	font-size: 10pt;
}

.maintitle {
	font-size: 14pt;
	font-weight: 700;
	color: #328639;
	text-align: center;
	background: #C4C4C4;
	border-top: 2px solid #C9EF50;
	border-bottom: 2px solid #6a8b03;
	background-image: url(bkgmaintitle.gif);
	background-repeat: repeat-x;
	margin: auto;
}

table.statisticstable {
	margin: 2px auto;
}

.basic {
	color: #1d2d45;
}

.statisticstable td {
	vertical-align: top;
}

div.menubar {
	background-color: #EEF6FF;
	width: 99.2%;
	margin-top: 3px;
	margin-left: 3px;
}

.menubar-main {
	background-color: #EEF6FF;
	width: 100%;
	float: left;
	border-color: #D2E0F2 #8195BA #8195BA #D2E0F2;
	border-style: solid;
	border-width: 1px;
}

.menubar img {
	vertical-align: middle;
    max-height:40px;
    border:0;
    margin-left:-2px;
}

.menubar-title {
	background-color: #EEF6FF;
	float: left;
	width: 100%;
	font-size: 11px;
	text-align: left;
	border-color: #D2E0F2 #8195BA #D2E0F2 #D2E0F2;
	border-style: solid;
	border-width: 1px;
}


.menubar-title img {
    margin-bottom:2px;
}

.menubar-left {
	background-color: #EEF6FF;
	text-align: left;
	float: left;
	clear: none;
	margin: 0;
	padding: 0;
}

.menubar-right {
	background-color: #EEF6FF;
	float: right;
	line-height: 1em;
}

table.menubar {
	width: 100%;
	border-collapse: collapse;
	background-color: #EEF6FF;
	border-color: #8195BA;
	border-style: solid;
	border-width: 1px;
	/*	Check this setting when merging 
		I implemented it to correct the layout of the menu bar in statistics.php
		Mazi*/
	text-align: left;
}

.menubar td {
	color: #265522;
	font-size: 8pt;
	border-bottom: 2px solid #D2E0F2;
}

.menubar select {
	color: #333;
	width: 200px;
}

table.attributetable {
	width: 100%;
	text-align: center;
	border: 1px solid #d2e0f2;
	border-collapse: collapse;
}

.attributetable tr:first-child {
	background-color: #d2e0f2;
}

table.table2columns {
	background-color: #FFF;
	width: 100%;
	text-align: center;
	border: 1px solid #555;
}

.table2columns td:first-child {
	width: 250px;
}

table.form2columns {
	width: 100%;
	text-align: center;
	border: none;
	background-color: #f8f8ff;
}

table.form2columns td:first-child {
	width: 30%;
	text-align: right;
}

table.form2columns td.centered {
	text-align: center;
}

.outlinetable {
	border: 1px solid #111;
}

.outlinetable td {
	font-size: 10pt;
	border: 1px solid #483D8B;
	background: #EEF6FF;
}

.outlinetable th {
	font-size: 10pt;
	color: #1D2D45;
	background: #CCE6FF;
}

td {
	font-size: 10pt;
	color: #1D2D45;
}

.btstyle {
	font-size: 11px;
}

.standardbtn {
	height: 20px;
	color: #000;
	font-size: 11px;
}

.disabledbtn {
	height: 20px;
	color: #999;
	font-size: 11px;
}

input, select {
	color: navy;
	font: 10px verdana, arial, sans-serif;
}

input[disabled], textarea[disabled], select[disabled] {
	color: #999;
	background: #EEE;
	font: 10px verdana, arial, sans-serif;
    border:1px solid #ccc;
}

textarea {
	font-size: 10px;
	color: navy;
	font-family: verdana, arial, sans-serif;
}

.subtitle {
	font-size: 10px;
	color: #FFF;
}

.listboxtemplates {
	margin-top: 10px;
	height: 20px;
	color: #333;
	width: 180px;
}

.boxcaption {
	font-size: 12px;
	font-weight: 700;
	line-height: 40px;
}

.saveOrderbtn {
	border: thin solid #00CED1;
	text-decoration: none;
	font-weight: 700;
	color: #B5B0DD;
	background: #483D8B;
	border-top: 1px solid #00BFFF;
	border-left: 1px solid #00BFFF;
	margin: 5px;
}

.settingentryhighlight {
	color: navy;
	font-weight: 700;
}

.statusentryhighlight {
	font-size: 10px;
	color: #E00;
}

.errortitle {
	font-weight: 700;
	color: #FF0F0F;
}

.warningtitle {
	font-weight: 700;
	color: #FFA07A;
}

.successtitle {
	font-weight: 700;
	color: #16B700;
}

font.settingcaption {
	vertical-align: top;
	text-align: right;
	font-size: 13px;
	font-weight: 700;
	color: #1D2D45;
}

span.settingcaption {
	float: left;
	width: 350px;
	text-align: right;
	font-weight: 700;
	clear: left;
	margin-bottom: 10px;
	background-color: #F8F8FF;
	color: #1D2D45;
}

.settingentry {
	float: left;
	width: 600px;
	padding-left: 5px;
	font-size: 13px;
	text-align: left;
	clear: right;
	margin-bottom: 10px;
	background-color: #F8F8FF;
}

.settingrow {
	width: 1000px;
	clear: left;
	margin-bottom: 20px;
	background-color: #F8F8FF;
}

#dhtmlgoodies_tooltip {
	border: 1px solid #000;
	position: absolute;
	display: none;
	z-index: 20000;
	-moz-border-radius: 5px;
	background: #FDFDF5;
	font: 0.8em "Verdana", "Lucida Sans Unicode", Arial, sans-serif;
	padding: 2px;
}

#dhtmlgoodies_tooltipShadow {
	position: absolute;
	display: none;
	z-index: 10000;
	-khtml-opacity: 0.7px;
	-moz-border-radius: 5px;
	background: #555;
}

.movableList {
	padding-left: 0;
	margin-left: 0;
	margin-top: 0;
	padding-top: 0;
	width: 60em;
}

.movableNode {
	list-style-type: none;
	border: 1px solid #999;
	width: 60em;
	text-align: left;
	margin-top: 2px;
	background: #EEEFFF;
	padding: 0.5em;
}

.langpopup2 {
	position: absolute;
	width: 100px;
	height: 110px;
	top: 151px;
	left: 80px;
	z-index: 10000;
	visibility: hidden;
	-khtml-opacity: 0.95px;
	-moz-border-radius: 6px;
	background: #FDFDF5;
	font: 11px arial, verdana, sans-serif;
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	padding: 8px;
}

.langpopup1 {
	position: absolute;
	width: 100px;
	height: 110px;
	top: 100px;
	left: 80px;
	z-index: 10000;
	visibility: hidden;
	-khtml-opacity: 0.95px;
	-moz-border-radius: 6px;
	background: #FDFDF5;
	font: 11px arial, verdana, sans-serif;
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	padding: 8px;
}

.previewpopup {
	position: absolute;
	width: 110px;
	height: 125px;
	top: 287px;
	left: 473px;
	z-index: 10000;
	visibility: hidden;
	-khtml-opacity: 0.95px;
	-moz-border-radius: 6px;
	background: #FDFDF5;
	font: 11px arial, verdana, sans-serif;
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	padding: 8px;
}

.oddrow {
	background-color: #EBF2FA;
}

.choicelist {
	width: 200px;
	font-size: 10pt;
}

.ranklist {
	width: 200px;
	margin-top: 3px;
}

th.admincell {
	background-color: #F8BDB5;
}

form.token label {
	margin-top: 1em;
	width: 40%;
	float: left;
	text-align: right;
	margin-right: 0.5em;
}

.submit {
	float: none !important;
	margin: 0 auto;
}

th, .header, .headertwo, table.form2columns th, .settingcaption {
	text-align: center;
	font-size: 13px;
	font-weight: 700;
	background-color: #D2E0F2;
	color: #1D2D45;
}

a:link, a:visited {
	color: #819D26;
	text-decoration: none;
}

.statisticstable select, .statisticstable textarea {
	width: 170px;
}

.alertbox tr:first-child, .evenrow {
	background-color: #EEF6FF;
}

.table2columns td+td, table.form2columns td+td, action {
	text-align: left;
}

.checkboxbtn, .radiobtn {
	background-color: transparent;
}

.langpopup2td, .langpopup1td {
	background: #FDFDF5;
}

.langpopup2td:first-child, .langpopup1td:first-child {
	color: #000;
	font-size: 10pt;
}

form.token select, form.token input {
	margin-top: 1.5em;
	float: left;
}

table.alertbox {
    width: 450px;
    margin-left:auto; 
    margin-right:auto;
    border: 1px solid;
    border-color: #D2E0F2 #8195BA #8195BA #D2E0F2;
    text-align: left;  
}

.menubar tr {
    text-align:left;
}

div.menubar input {
    margin-left:-5px;
    vertical-align:top;
}

a.invalidemail {
	font-weight: 700;
	color: red;
}

.browsetable td {
    width:140px;     
    min-width:140px;
}

.browsetable td:first-child {
    min-width:50px;
}

.answertable th {
    font-weight:bold;
    font-size: 8pt;
    padding:3px;
}

.answertable tr {
    white-space: nowrap;
}

.answertable th:first-child {
    text-align:right;
}   

#languagetabs {
    width:60%;
    margin:0 auto;
}

.answertable tr.highlight {
    background-color:#EAF2FF;
}

.badtokenlist {
    width: 400px; 
    background-color: #FFF;
    border: 1px solid #CCC;
    height: 50px; 
    overflow: auto; 
    text-align: left;
    margin-bottom: 0px;
    font-size: 8pt
}

.browsetokens th {
white-space:nowrap;
width:auto;
padding:2px 15px 2px 5px;
font-size:12px;
}

.browsetokens th img {
 padding-right:4px;
}

.browsetokens td {
  padding:0 5px;
}

.browsetokens td:first-child {
    text-align:right;
   padding-right: 3px;
}   

.tokensummary tr:first-child {
 font-weight:bold;
}

.tokensummary tr {
 margin:0px;
 padding:0px;
}

.tokensummary td {
     outline: 1px solid;
     outline-color:#D2E0F2;
padding: 2px 5px;
}

.annotation
{
    font-size:10px;
}

table.templatecontrol {
    width: 100%;
    background-color: #EEF6FF;
    border-color: #8195BA;
    border-style: solid;
    border-width: 1px;
    text-align: left;
}

table.templatecontrol select
{
    min-width:150px;
}

.subheader {
    font-size:10px;
    font-weight:bold;
    background-color: #EEF6FF;
    text-align: left;
}

.flashmessage
{
    font-size:10px;
    font-weight:bold;
}

.templatecontrol textarea#changes {
   font-family: monospace;
   font-size:0.8em;
   width:95%;
}


table.statisticstable, table.statisticssummary {
    background-color:#EEF6FF;
    border-collapse:collapse;
    border-width: 0px;
    border-style: none;
}

.statisticstable td:first-child {
    text-align:right;
}

.statisticssummary th, .statisticssummary td, .statisticstable td {
    padding:3px 10px;
    
}

.statisticstable tr {
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
}

.statisticstable thead th {
    background:#D2E0F2;
    text-align:center;
    color:#1D2D45;
    padding:4 10px;
}

.statisticstable tfoot tr {
    background:#D2E0F2;
    text-align:center;
}
                   
#filtersettings ul {
 width:300px;
 list-style-type:none; 
}

#filtersettings ul {
 width:300px;
 list-style-type:none; 
  line-height:22px;
}

#filtersettings ul label, 
#filtersettings ul select, 
#filtersettings ul input {
   vertical-align:middle;
   margin:0 2px;
}

