body {
    font-family: verdana, arial, sans-serif;
    text-align: left;
    background-color: #5670A1;
    margin: 0;
    font-size: 9pt;
}

div, form {
    margin: 0;
    padding: 0;

}

ul,ol {
    text-align: left;
    font-size: 10pt;
    color: #000;
}

p {
    clear: left;
    text-align:center;
}

.boxstyle {
    border-color: #9C0;
    border-style: solid;
    border-width: 1px;
}

.footer {
    text-align: center;
    color: #9C0;
    height: 30px;
    background: #121a28;
    margin: 0;
    padding: 5px;
    margin-bottom:400px;
    clear:left;
}

img {
    border: 0;
}

a {
    color: #328639;
    text-decoration: underline;
    cursor:pointer;
}

a:hover {
    color: #819D26;
    text-decoration: underline;
}

th, p, div {
    font-size: 10pt;
}

.maintitle {
    font-size: 14pt;
    font-weight: 700;
    color: #328639;
    text-align: center;
    background: #C4C4C4;
    border-top: 2px solid #C9EF50;
    border-bottom: 2px solid #6a8b03;
    background-image: url(bkgmaintitle.gif);
    background-repeat: repeat-x;
    width:100%;
}

table.statisticstable {
    margin: 2px auto;
}


table.statisticstable span {   
     font-weight:bold;
}
    
.basic {
    color: #1d2d45;
}

.statisticstable td {
    vertical-align: top;
}

div.menubar {
    background-color: #EEF6FF;
    clear:left;
    padding:0;
    margin:3px auto 3px auto;
    width: 99.5%;
    height: 60px;    
}

.menubar-main {
    background-color: #EEF6FF;
    width: 99.6%;   
    float: left;
    border-color: #D2E0F2 #8195BA #8195BA #D2E0F2;
    border-style: solid;
    border-width: 1px; 
    padding:0 0.2%;           
    height: 43px;    

}

.menubar img {
	vertical-align: middle;
    max-height:40px;
    border:0;
    margin-left:-2px;
}

.menubar-title {
	background-color: #EEF6FF;
	float: left;
	width: 99.6%;
	font-size: 11px;
	text-align: left;
	border-color: #D2E0F2 #8195BA #D2E0F2 #D2E0F2;
	border-style: solid;
	border-width: 1px;
    padding:0 0.2%;
    height:14px;

}


.menubar-title img {
    margin-bottom:2px;
}

.menubar-left {
	background-color: #EEF6FF;
	text-align: left;
	float: left;
	clear: none;
	margin: 0;
	padding: 0;
      
}

.menubar-right {
	background-color: #EEF6FF;
	float: right;
	line-height: 1em;
}

.menubar-title-right {
    float: right;
}

.menubar-title-right a {
        font-size:10px;
        font-weight:bold;
        color:#ee0000 !important;
        text-decoration: underline !important; 
        
    }

table.menubar {
	width: 100%;
	border-collapse: collapse;
	background-color: #EEF6FF;
	border-color: #8195BA;
	border-style: solid;
	border-width: 1px;
	text-align: left;
}

.menubar td {
	color: #265522;
	font-size: 8pt;
	border-bottom: 2px solid #D2E0F2;
}

.menubar select {
	color: #333;
	width: 200px;
}

table.attributetable {
	width: 100%;
	text-align: center;
	border: 1px solid #d2e0f2;
	border-collapse: collapse;
}

.attributetable tr:first-child {
	background-color: #d2e0f2;
}

table.table2columns {
	background-color: #FFF;
	width: 100%;
	text-align: center;
	border: 1px solid;
    border-color: #fff #8195BA #8195BA #D2E0F2;
    margin-top:-2px;
    margin-bottom:4px;
    padding:5px 0;
    clear:left;
}

.table2columns td:first-child {
	width: 250px;
}

table.form2columns {
	width: 100%;
	text-align: center;
	border: none;
	background-color: #f8f8ff;
}

table.form2columns td:first-child {
	width: 30%;
	text-align: right;
}

table.form2columns td.centered {
	text-align: center;
}

.outlinetable {
	border: 1px solid #111;
}

.outlinetable td {
	font-size: 10pt;
	border: 1px solid #483D8B;
	background: #EEF6FF;
}

.outlinetable th {
	font-size: 10pt;
	color: #1D2D45;
	background: #CCE6FF;
}

td {
	font-size: 10pt;
	color: #1D2D45;
}

.btstyle {
	font-size: 11px;
}

.standardbtn {
	line-height: 20px;
    height: 20px;
	font-size: 11px;
}

.disabledbtn {
	height: 20px;
	color: #999;
	font-size: 11px;
}

input, select, button {
	color: navy;
	font: 10px verdana, arial, sans-serif;
}

input[disabled], textarea[disabled], select[disabled], button[disabled] {
	color: #999;
	background: #EEE;
	font: 10px verdana, arial, sans-serif;
    border:1px solid #ccc;
}

textarea {
	font-size: 10px;
	color: navy;
	font-family: verdana, arial, sans-serif;
}

.subtitle {
	font-size: 10px;
	color: #FFF;
}

.listboxtemplates {
	margin-top: 10px;
	height: 20px;
	color: #333;
	width: 180px;
}

.boxcaption {
	font-size: 12px;
	font-weight: 700;
	line-height: 40px;
    padding:0 4px;
}

.saveOrderbtn {
	border: thin solid #00CED1;
	text-decoration: none;
	font-weight: 700;
	color: #B5B0DD;
	background: #483D8B;
	border-top: 1px solid #00BFFF;
	border-left: 1px solid #00BFFF;
	margin: 5px;
}

.settingentryhighlight {
	color: navy;
	font-weight: 700;
}

.statusentryhighlight {
	font-size: 10px;
	color: #E00;
}

.errortitle {
	font-weight: 700;
	color: #FF0F0F;
}

.warningtitle {
	font-weight: 700;
	color: #ee303a;
}

.successtitle {
	font-weight: 700;
	color: #16B700;
}

font.settingcaption {
	vertical-align: top;
	text-align: right;
	font-size: 13px;
	font-weight: 700;
	color: #1D2D45;
}

span.settingcaption {
	float: left;
	width: 350px;
	text-align: right;
	font-weight: 700;
	clear: left;
	margin-bottom: 10px;
	background-color: #F8F8FF;
	color: #1D2D45;
}

.settingentry {
	float: left;
	width: 600px;
	padding-left: 5px;
	font-size: 13px;
	text-align: left;
	clear: right;
	margin-bottom: 10px;
	background-color: #F8F8FF;
}

.settingrow {
	width: 1000px;
	clear: left;
	margin-bottom: 20px;
	background-color: #F8F8FF;
}

.movableList {
	padding-left: 0;
	margin-left: 0;
	margin-top: 0;
	padding-top: 0;
	width: 60em;
}

.movableNode {
	list-style-type: none;
	border: 1px solid #999;
	width: 60em;
	text-align: left;
	margin-top: 2px;
	background: #EEEFFF;
	padding: 0.5em;
}

.langpopup2 {
	position: absolute;
	width: 100px;
	height: 110px;
	top: 151px;
	left: 80px;
	z-index: 10000;
	visibility: hidden;
	-khtml-opacity: 0.95px;
	-moz-border-radius: 6px;
	background: #FDFDF5;
	font: 11px arial, verdana, sans-serif;
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	padding: 8px;
}

.langpopup1 {
	position: absolute;
	width: 100px;
	height: 110px;
	top: 100px;
	left: 80px;
	z-index: 10000;
	visibility: hidden;
	-khtml-opacity: 0.95px;
	-moz-border-radius: 6px;
	background: #FDFDF5;
	font: 11px arial, verdana, sans-serif;
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	padding: 8px;
}

.previewpopup {
	position: absolute;
	width: 110px;
	height: 125px;
	top: 287px;
	left: 473px;
	z-index: 10000;
	visibility: hidden;
	-khtml-opacity: 0.95px;
	-moz-border-radius: 6px;
	background: #FDFDF5;
	font: 11px arial, verdana, sans-serif;
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	padding: 8px;
}

.oddrow {
	background-color: #EBF2FA;
}

.choicelist {
	width: 200px;
	font-size: 10pt;
}

.ranklist {
	width: 200px;
	margin-top: 3px;
}

th.admincell {
	background-color: #F8BDB5;
}

form.token label {
	margin-top: 1em;
	width: 40%;
	float: left;
	text-align: right;
	margin-right: 0.5em;
}

.submit {
	float: none !important;
	margin: 0 auto;
    margin-bottom: 10px;
}

.header, .formheader, .headertwo, table.form2columns th, .settingcaption {
	text-align: center;
	font-size: 13px;
	font-weight: 700;
	background-color: #D2E0F2;
	color: #1D2D45;
}

div.settingcaption{
    clear:both;
    margin: 3px 0;
}

.formheader
{
    width:100%;
}

a:link, a:visited {
	color: #819D26;
	text-decoration: none;
}

.statisticstable select, .statisticstable textarea {
	width: 170px;
}

.alertbox tr:first-child, .evenrow {
	background-color: #EEF6FF;
}

.table2columns td+td, table.form2columns td+td, action {
	text-align: left;
}

.checkboxbtn, .radiobtn {
	background-color: transparent;
}

.langpopup2td, .langpopup1td {
	background: #FDFDF5;
}

.langpopup2td:first-child, .langpopup1td:first-child {
	color: #000;
	font-size: 10pt;
}

form.token select, form.token input {
	margin-top: 1.5em;
	float: left;
}

table.alertbox {
    width: 450px;
    margin-left:auto; 
    margin-right:auto;
    border: 1px solid;
    border-color: #D2E0F2 #8195BA #8195BA #D2E0F2;
    text-align: left;  
}

.menubar tr {
    text-align:left;
}

div.menubar input {
    margin-left:-5px;
    vertical-align:top;
}

a.invalidemail {
	font-weight: 700;
	color: red;
}

.browsetable {
    border: 1px solid;  
    border-color: #D2E0F2 #8195BA #8195BA #D2E0F2;
    clear:left;
}

.browsetable tr:hover { 
    background-color: #C5D0F2;
}

.listsurveys {
    text-align:center;
    width:70%;
}

.listsurveys th {
    background-color: #D2E0F2;     
    font-size:10pt;
    padding:2px 4px;
}

.browsetable th {
    background-color: #D2E0F2;     
    font-size:10pt;
    padding:2px;
}

.browsetable td {
    width:140px;     
    min-width:120px;
    font-size:8pt;
    padding:1px 2px; 
}

.listsurveys td {
    font-size:8pt;
    padding:2px 6px; 
}


.browsetable td:first-child {
    min-width:50px;
    font-weight:bold;
}

.answertable th {
    font-weight:bold;
    font-size: 8pt;
    padding:3px;
}

.answertable tr {
    white-space: nowrap;
}

.answertable th:first-child {
    text-align:right;
}   

#languagetabs {
    width:60%;
    margin:0 auto;
}

.answertable tr.highlight {
    background-color:#EAF2FF;
}

.badtokenlist {
    width: 400px; 
    background-color: #FFF;
    border: 1px solid #CCC;
    height: 50px; 
    overflow: auto; 
    text-align: left;
    margin-bottom: 0px;
    font-size: 8pt
}

.browsetokens
{
    margin: 5px 2px;
    border: 1px solid;  
    border-color: #D2E0F2 #8195BA #8195BA #D2E0F2;
}

.browsetokens th {
    white-space:nowrap;
    width:auto;
    padding:2px 15px 2px 5px;
    font-size:12px;
    background-color:#D2E0F2;
    color: #1D2D45;
    vertical-align:top;    
}

.browsetokens tr {
    height:32px;
}

.browsetokens th span{
    white-space:normal;
}


.browsetokens th img {
    padding-right:4px;
}

.browsetokens td {
    padding:0 5px;
    color: #1D2D45;
}

.browsetokens td:first-child {
    text-align:right;
   padding-right: 3px;
}   

.tokensummary tr:first-child {
 font-weight:bold;
}

.tokensummary tr {
 margin:0px;
 padding:0px;
}

.tokensummary td {
     outline: 1px solid;
     outline-color:#D2E0F2;
padding: 2px 5px;
}

.annotation
{
    font-size:10px;
}

table.templatecontrol {
    width: 100%;
    background-color: #EEF6FF;
    border-color: #8195BA;
    border-style: solid;
    border-width: 1px;
    text-align: left;
}

table.templatecontrol select
{
    min-width:150px;
}

.subheader {
    font-size:10px;
    font-weight:bold;
    background-color: #EEF6FF;
    text-align: left;
}

.flashmessage
{
    font-size:10px;
    font-weight:bold;
}

.templatecontrol textarea#changes {
   font-family: monospace;
   font-size:0.8em;
   width:95%;
}



table.statisticstable, table.statisticssummary {
    background-color:#EEF6FF;
    border-collapse:collapse;
    border-width: 0px;
    border-style: none;
    margin: 0 auto;
}

.statisticssummary thead th
{
    background:#D2E0F2;
}

.statisticssummary th:first-child,
.statisticstable td:first-child {
    text-align:right;
}

.statisticssummary thead th:first-child
{
    text-align:center;
}

.statisticssummary th, .statisticssummary td, .statisticstable td {
    padding:3px 10px;
    
}

.statisticstable tr {
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
}

.statisticstable thead th {
    background:#D2E0F2;
    text-align:center;
    color:#1D2D45;
    padding:4px 10px;
}

.statisticstable tfoot tr {
    background:#D2E0F2;
    text-align:center;
}
                   
#filtersettings ul {
    width:300px;
    list-style-type:none; 
}

#filtersettings ul {
    width:300px;
    list-style-type:none; 
    line-height:22px;
}

#filtersettings ul label, 
#filtersettings ul select, 
#filtersettings ul input {
   vertical-align:middle;
   margin:0 2px;
}

#personalsettings label {  
    float: left;  
    width: 20em;  
    margin-right: 0.5em;  
    text-align: right;
    font-weight: bold;
}

#personalsettings li {  
    list-style-type: none;
    padding-bottom:5px;
}
    
form#personalsettings {
  width:750px;
  margin:0 auto;
}

div.messagebox {
    width: 450px;
    margin:10px auto; 
    border: 1px solid;
    border-color: #D2E0F2 #8195BA #8195BA #D2E0F2;
    text-align: center;
    padding:10px;  
}

div.messagebox .header{
    padding:10px;  
}

div.messagebox .warningheader {
    font-weight:bold;
    color:#ee0000;
    background-color: #ffeeee;   
    margin: 5px 0;
    padding:2px;  
}
      
.conditiontbl td {
    text-align:left;
}


.conditiontbl td:first-child {
    text-align:right;
}

#frmeditquestion li label:first-child, 
#frmglobalsettings li label:first-child {
    width: 44%;
    text-align: right;
    margin-right: 0.5em;
    float: left;      
    font-weight: bold;
}

#addnewsurvey li label:first-child{
    width: 30%;
    text-align: right;
    margin-right: 0.5em;
    float: left;      
    font-weight: bold;
}
       
#addnewsurvey li,
#frmeditquestion li,
#frmglobalsettings li {  
    list-style-type: none;
    padding-bottom:5px;
}

div.loader {
	background-image: url(images/ajax-loader.gif);
    background-repeat: no-repeat;
    width:31px;
    height:31px;
}

#wrapper {
     background-color:#f8f8ff;     
     width:100%;
     padding:1px 0px;
}

.background {
    background-color:#f8f8ff;
    padding:1% 10%;
}



#addnewsurvey iframe
{
    width:600px !important;
}

#editsurvey textarea,
#editsurvey input {
    width: 600px;
}

#editsurvey td {
    padding-left: 15px;
    font-size: 9pt;
} 


#help
{
    float:right;
}