body    {
	   margin-left: 0px;
	   margin-top: 0px;
	   margin-right: 0px;
	   margin-bottom: 0px;
        }


img     {
		border: 0px ;  
	    }


td,th,a,p,div
		{
		font-family:verdana,arial,sans-serif; 
		font-size:10pt
		}


.maintitle
        {
		font-size:14pt;
		font-weight: bold;
		color: #FFFFFF;
		background-color:black;
		text-align:center;
		margin:auto;
        }


.outlinetable
		{
		border: 1px solid #111111;
		}
		
.outlinetable td
		{
		font-family:verdana,arial,sans-serif; 
		font-size:10pt; 
		background-color: #EEEEEE; 
		border: 1px solid #CCCCCC
		}
		
.outlinetable th
		{
		font-family:verdana,arial,sans-serif; 
		font-size:10pt; 
		background-color: #777777; 
		color: #FFFFFF;
		}

ul 		{
		font-family:verdana,arial,sans-serif; 
		font-size:10pt; 
		color: #000000;
		}
		
td 		{
		font-family:verdana,arial,sans-serif; 
		font-size:10pt; color: #000000;
		}
		
.btstyle{
		font-family: verdana,arial,sans-serif; 
		font-size: 11px;
        }

.standardbtn
        {
		height: 20;
		font-family: verdana,arial,sans-serif;
		color: #000000;
		font-size: 11px;
        }
        
input,select
        {
		background-color: #EEEFFF; 
		font-family: verdana,arial,sans-serif;
		font-size: 10px;
		color: #000080;
		}
		
textarea{
		background-color: #EEEFFF; 
		font-family: verdana,arial,sans-serif;
		font-size: 10px;
		color: #000080
		}

.subtitle
	 	{
		font-family: verdana,arial,sans-serif;
		font-size: 10; 
		color: #FFFFFF
	 	}
.listboxsurveys
        {
        	margin-top: 10px; 
        	height: 20px; 
        	font-size: 10px;
        	font-family: verdana,arial,sans-serif;
        	color: #333333; 
        	background: SILVER; 
        	width: 180
        }
.listboxgroups
        {
        	margin-top: 10px;
        	height: 20px;
        	font-size: 10px;
        	font-family: verdana,arial,sans-serif;
        	color: #333333;
        	background: SILVER;
        	width: 180
        }
.listboxquestions
        {
        	margin-top: 10px;
        	height: 20px;
        	font-size: 10px;
        	font-family: verdana,arial,sans-serif;
        	color: #333333;
        	background: SILVER;
        	width: 180
        }
.boxcaption
        {
        	font-size: 12px;
        	font-family: verdana,arial,sans-serif;
			font-weight: bold;
        }
.saveOrderbtn
	   {
	     		border: thin solid #000000;
				text-decoration: none;
				background-color: #D4D0C8;
				font-weight: bold;
				color: #000000;
	   }
        

font.settingcaption
        {
            text-align : right;
        	font-size: 13px;
        	font-family: verdana,arial,sans-serif;
			font-weight: bold;
        }       

        
p.settingcaption
        {
            float:left;
            width:200px;
            text-align : right;
        	font-size: 13px;
        	font-family: verdana,arial,sans-serif;
			font-weight: bold;
            clear:left;
        }       
.settingentry
   {
            float:left;
            width:410px;
            padding-left: 5px;
        	font-size: 13px;
         	font-family: verdana,arial,sans-serif;
            vertical-align:texttop;
        	clear:right;
   }        
   
.settingrow
{
  width:620px;
  float:center;
}
         
/**
 *  CSS Classes related with the tooltips displayed over 
 * 	the images. 
 */ 	
#dhtmlgoodies_tooltip{
		background-color:#FFFF66;
		border:1px solid #000;
		position:absolute;
		display:none;
		z-index:20000;
		padding:2px;
		font-size:0.9em;
		-moz-border-radius:6px;	/* Rounded edges in Firefox */
		font-family: "Verdana", "Lucida Sans Unicode", Arial, sans-serif;		
   }
   
#dhtmlgoodies_tooltipShadow{
		position:absolute;
		background-color:#555;
		display:none;
		z-index:10000;
		opacity:0.7;
		filter:alpha(opacity=70);
		-khtml-opacity: 0.7;
		-moz-opacity: 0.7;
		-moz-border-radius:6px;	/* Rounded edges in Firefox */
}	 

/*
 *  CSS Classes related with the reordering 
 */ 	

	/* Don't change these options */
	#movableNode{
		position:absolute;
	}
	
	#arrDestInditcator{
		position:absolute;
		display:none;
		width:100px;
	}
/*	 End options that shouldn't be changed */

	
	#arrangableNodes,#movableNode ul{
	   /* cursor: move; */
		padding-left:-60px;
		margin-left:0px;
		margin-top:0px;
		padding-top:0px;
		width:500px;
	}
	
	#arrangableNodes li,#movableNode li{
		list-style-type:none;
		cursor: move;
		border:1px solid #999;
		padding:5px;
		width: 50em;
        text-align: left; 
		background-color:#EEE;
		margin-top:2px;
		padding-left: -200px;
	}
  	
