body    {
		font-family:verdana,arial,sans-serif; 
	    margin-left: 0px;
	    margin-top: 0px;
	    margin-right: 0px;
	    margin-bottom: 0px;
        text-align:left;
        }

.boxstyle
        {
        border-color: #111111; 
        border-width: 1; 
        border-style: solid;
        }
        
.footer
        {
	    margin-left: 0px;
	    margin-top: 0px;
	    margin-right: 0px;
	    margin-bottom: 0px;
	    background-color: #000000;
	    padding:5px;
        text-align:center;
        color: #ffffff;
	    height: 30px; 
        }
        

img     {
		border: 0px ;  
	    }


th,a,p,div
		{
		font-size:10pt
		}


.maintitle
        {
		font-size:14pt;
		font-weight: bold;
		color: #FFFFFF;
		background-color:black;
		text-align:center;
		margin:auto;
        }


.outlinetable
		{
		border: 1px solid #111111;
		}
		
.outlinetable td
		{
		font-size:10pt; 
		background-color: #EEEEEE; 
		border: 1px solid #CCCCCC
		}
		
.outlinetable th
		{
		font-size:10pt; 
		background-color: #777777; 
		color: #FFFFFF;
		}

ul 		{
		font-size:10pt; 
		color: #000000;
		}
		
td 		{
		font-size:10pt; color: #000000;
		}
		
.btstyle{
		font-size: 11px;
        }

.standardbtn
        {
		height: 20;
		color: #000000;
		font-size: 11px;
        }
        
input,select
        {
		background-color: #EEEFFF; 
		font-family: verdana,arial,sans-serif;
		font-size: 10px;
		color: #000080;
		}
		
action  {
        text-align:left;   
        }		
		
textarea{
		background-color: #EEEFFF; 
		font-size: 10px;
		color: #000080;
		}

.subtitle
	 	{
		font-size: 10px; 
		color: #FFFFFF;
	 	}
.listboxsurveys
        {
        	margin-top: 10px; 
        	height: 20px; 
        	font-size: 10px;
        	color: #333333; 
        	background: SILVER; 
        	width: 180px;
        }
.listboxgroups
        {
        	margin-top: 10px;
        	height: 20px;
        	font-size: 10px;
        	color: #333333;
        	background: SILVER;
        	width: 180px;
        }
.listboxquestions
        {
        	margin-top: 10px;
        	height: 20px;
        	font-size: 10px;
        	color: #333333;
        	background: SILVER;
        	width: 180px;
        }
.boxcaption
        {
        	font-size: 12px;
			font-weight: bold;
			vertical-align: middle;
        }
.saveOrderbtn
	   {
	     	border: thin solid #000000;
			text-decoration: none;
			background-color: #D4D0C8;
			font-weight: bold;
			color: #000000;
			margin: 5px;
	   }
        
.settingentryhighlight
{
  color:#000080;
  font-weight: bold;
}

.statusentryhighlight
{
  font-size: 10px;
  color:#FF0000;
}

font.settingcaption
        {
            vertical-align: top;
            text-align : right;
        	font-size: 13px;
			font-weight: bold;
        }       

        
span.settingcaption
    {
            float:left;
            width:150px;
            text-align : right;
        	font-size: 13px;
			font-weight: bold;
            clear:left;
            margin-bottom: 10px;
    }       

.settingentry
    {
            float:left;
            width:450px;
            padding-left: 5px;
            font-size: 13px;
            text-align:left;
            clear:right;
            margin-bottom: 10px;
    }           
   
.settingrow
    {
            width:620px;
            float:center;
            clear:left;
            margin-bottom: 20px;
            
    }

         
/**
 *  CSS Classes related with the tooltips displayed over 
 * 	the images. 
 */ 	
#dhtmlgoodies_tooltip{
		background-color:#FFFF66;
		border:1px solid #000;
		position:absolute;
		display:none;
		z-index:20000;
		padding:2px;
		font-size:0.9em;
		-moz-border-radius:6px;	/* Rounded edges in Firefox */
		font-family: "Verdana", "Lucida Sans Unicode", Arial, sans-serif;		
   }
   
#dhtmlgoodies_tooltipShadow{
		position:absolute;
		background-color:#555;
		display:none;
		z-index:10000;
		opacity:0.7;
		filter:alpha(opacity=70);
		-khtml-opacity: 0.7;
		-moz-opacity: 0.7;
		-moz-border-radius:6px;	/* Rounded edges in Firefox */
}	 

/*
 *  CSS Classes related with the reordering 
 */ 	

	/* Don't change these options */
	#movableNode{
		position:absolute;
	}
	
	#arrDestInditcator{
		position:absolute;
		display:none;
		width:100px;
	}
/*	 End options that shouldn't be changed */

	
	#arrangableNodes,#movableNode ul{
	   /* cursor: move; */
		padding-left:-60px;
		margin-left:0px;
		margin-top:0px;
		padding-top:0px;
		width:500px;
	}
	
	#arrangableNodes li,#movableNode li{
		list-style-type:none;
		cursor: move;
		border:1px solid #999;
		padding:5px;
		width: 50em;
        text-align: left; 
		background-color:#EEE;
		margin-top:2px;
		padding-left: -200px;
	}
  	
