/*!
 * Style for the template
 *
 */
.container-fluid{max-width: 80em;}

/* Sticky footer styles
 * see http://getbootstrap.com/examples/sticky-footer/
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

/* Some space */
.navigator{margin-top: 1em;margin-bottom: 1em; }
/* Some no boostrap class */
.ls-language-changer-item{text-align:right}
.dir-rtl .ls-language-changer-item{text-align:left}
/**
 * For the question label (number/code and mandatory)
 * If user add p or div : one line more
 */
.question-text{font-weight:500;font-size:18px}
.question-number,.question-code{float:left;margin:0 0.3em}
/**
 * Some specific to boostrap theme
 */

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  .ls-answers th.control-label {
    border-top-left-radius: 3px;border-top-right-radius: 3px;font-weight:500;
    font-size:16px;
    color: #fff;
    background-color: #158cba;
    border-color: #158cba;
  }
}
