/**
 * All of this part fix already included css (bootstrap + awesome) for this template
 */
/* Some partial reset */
.ls-answers img,.ls-answers video,.ls-answers svg{max-width: 100%;height: auto;}
.statisticstable img{max-width: 100%;height: auto;}

label,th{font-weight:400}

/**
 *  Question part
 */
/* Hide emty question-help */
.question-help:empty{display:none}
.help-wrapper{padding-top:0;padding-bottom:0}
.boilerplate .answers-wrapper,.equation .answers-wrapper{
    display:none;
}
/**
 * Answers part (ls-answers)
 */
/* Shown :text numeric at right */
[type='text'][data-number='1']{text-align:right}
/* Some specific question review */
.yesno-button .btn,.gender-button .btn{
    white-space: normal;
}
/* awesome-bootstrap-checkbox */
li.radio-item,li.checkbox-item{display:block}

/* Else big label break*/
.radio-item label,.checkbox-item label {display:block}
/* don't take place in wrapper */
.radio-item input[type="radio"],.checkbox-item input[type="checkbox"] {position:absolute;}

/* on little screen center text-right and text-left : package issue or template ?*/

@media only screen and (max-width: 760px){
  .ls-answers .col-xs-12.text-right{text-align:center}
  .ls-answers .col-xs-12.text-left{text-align:center}
}

/**
 * Table .question feature
 */
/* We have some settings to set width of the table : use it */
table.ls-answers{table-layout:fixed}
table.ls-answers{width:100%}
/* Basic alignment */
.ls-answers > tbody > tr > td,.ls-answers > tbody > tr > th
{vertical-align:middle}
.ls-answers tbody td
{text-align:center}
.ls-answers > thead > tr > th
{text-align:center;vertical-align:bottom}

.ls-answers .answertextright{text-align:left}
.dir-rtl .ls-answers .answertextright{text-align:right}

/**
 *  awesome-bootstrap-checkbox inside table with an sr-only label
 */
/* reset the margin and review the padding set by boostrap */
table.ls-answers input[type="checkbox"],table.ls-answers input[type="radio"]{
margin: 0;
}
.ls-answers td.radio-item,.ls-answers td.checkbox-item{
    padding: 2px;
    padding-left: 22px;
}
/* show partially sr-only inside table */
.radio-item label.ls-label-xs-visibility,.checkbox-item label.ls-label-xs-visibility{
    display:inline-block;
    position:relative;
    left:auto;
    overflow:hidden;
    width: 17px;
    height: 17px;
    margin-left:-20px;
    line-height: 21px;
    text-indent: 21px;
}
/* no argin on label : no margiun after and before too */
.radio-item label.ls-label-xs-visibility::before,.checkbox-item label.ls-label-xs-visibility::before{
    margin-left:0;
}
.radio-item label.ls-label-xs-visibility::after,.checkbox-item label.ls-label-xs-visibility::after {
    margin-left:0;
}
.checkbox-item label.ls-label-xs-visibility::after {
    line-height:17px;width:17px;text-align:center;text-indent: 0;
}
/* Hide the other content inside sr-only */
.radio-item label.ls-label-xs-visibility > * ,.checkbox-item label.ls-label-xs-visibility > *{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

/*
Max width before this PARTICULAR table gets nasty
For iPads specifically : add this : (min-device-width: 768px) and (max-device-width: 1024px)
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    table.ls-answers,.ls-answers thead,.ls-answers tbody,.ls-answers th,.ls-answers td,.ls-answers tr {
        display: block;
        text-align:left;
    }
    table.ls-answers{border:0 none}
    .ls-answers tr {margin-bottom:1em;}
    .ls-answers thead{display:none} /* We don't need it for accessibility : we already have the label */
    .ls-answers tbody >tr >th:empty{display:none}
    .ls-answers > tbody > tr > td.radio-item{padding:4px;padding-left: 24px;}
    /* Show the label */
    label.ls-label-xs-visibility
    {
        display:block;
        position:relative;
        left:auto;
        width: auto;
        height: auto;
    }
    .radio-item label.ls-label-xs-visibility,.checkbox-item label.ls-label-xs-visibility{
        display:block;
        left:auto;
        overflow:visible;
        width: auto;
        height: auto;
        margin-left:0;
        line-height: initial;
        text-indent: initial;
    }
    .ls-answers label.ls-label-xs-visibility > *
    {
        position:relative;
        left:auto;
        top:auto;
        width:auto;
        height:auto;
        overflow:auto;
    }
    .ls-answers .radio-item label.ls-label-xs-visibility::before,.ls-answers .checkbox-item label.ls-label-xs-visibility::before {
        margin-left:-20px;
    }
    .ls-answers .radio-item label.ls-label-xs-visibility::after,.ls-answers .checkbox-item label.ls-label-xs-visibility::after {
        margin-left:-20px;
    }

    /* bs fix */
    .ls-answers td.visible-xs,.ls-answers th.visible-xs{display:block !important}

    /* fix some border */
    .ls-answers>tbody>tr>td, .ls-answers>tbody>tr>th{border-width:0 1px 1px;}
    .ls-answers > tbody > tr:hover{background-color:inherit;}
    /* aligment */
    .ls-answers tbody .answertext{text-align:left}
    .ls-answers tbody td{text-align:left;}
    .ls-answers .answertextright{text-align:center}
}
