html, body{
    height: 100%;
}

.draggable-container {
	min-height: 300px;
}

#newcreated,
#tokenattribute,
#centralattribute {
    float: left;
    background-color: #D2E0F2;
    height: 100%;
    margin-top:10px;
    margin-left: 0.75%;
    margin-right: 0.75%;
    margin-bottom: 20px;
    border-color: #D2E0F2;
    border-style:solid;
    border-radius: 10px;
    border-width: 1px;
    text-align:center;
    width: 30.5%;
}

#tokenattribute {
    margin-left: 1.5%;
}

#centralattribute {
    margin-right: 1.5%;
}

#tokenatt,
#newcreated .newcreate {
    border: 1px solid #D2E0F2;
    border-radius: 0 0 10px 10px;
}

#centralattribute .centralatt {
    padding-bottom: 15px;
}

#newcreated .attribute-item,
#centralattribute .mappable-attribute-wrapper.paired div {
	color: #FFFFFF;
	background-color: #878787;
}

#newcreated  .attribute-item input {
	display: block;
	margin: 2px auto;
	width: 80%;
}

#centralattribute div.centralatt div.token-attribute {
	margin-top: -5px;
	border-top: 0;
	min-height: 20px;
}

#centralattribute div.centralatt div.paired {
	border-bottom: 0 none;
}

#newcreated, 
#tokenattribute {
    height: 100%;
}

.heading{
    background: #EAF2FF;
    text-decoration: none;
    color:#5670A1;
    border: 1px solid #EAF2FF;
    border-radius: 10px 10px 0 0;
    height: auto;
    padding-top: 7px;
    font-weight: bold;
}

div.mappable-attribute-wrapper {
	width : 90%;
	margin: 2px auto;
	padding:2px;
}

div.attribute-item {
	border:solid 2px #DEDEDE;
	background:#FFFFFF ;
	color:#222222;
	width : 80%;
	margin: 6px auto;
	padding:4px;
	text-align:center;
}

div.mappable-attribute-wrapper div.attribute-item {
	width : 88.88888888888889%;
	margin: 0 auto;
	padding:4px;
	text-align:center;
}


.notsortable div.attribute-item{
	background:#878787;
	color: white;
}

#centralattribute .explanation {
	width:90%;
	margin: 0 auto;
	text-align: left;
}

#centralattribute .explanation-row {
	display: table-row;
}

#centralattribute .explanation input,
#centralattribute .explanation label {
	display: table-cell;
	padding-top: 4px;
	padding-bottom: 4px;
}

#centralattribute .explanation label {
	padding-left: 8px;
}

.attribute-item.draggable {
	cursor: move;
}

.droppable.target-hover {
	background-color: #F0FBDB;
}

#tokenatt.target-hover,
#newcreated .newcreate.target-hover {
    border-color: #F0FBDB;
}

div.mappable-attribute-wrapper.target-hover {
	padding-bottom: 27px;
}

div.mappable-attribute-wrapper.paired.target-hover {
	padding-bottom: 4px;
}

div.mappable-attribute-wrapper.paired.ui-state-disabled {
    opacity: 1;
	filter:alpha(opacity=100);
}

.draggable-container .attribute-column .ui-draggable-dragging {
	z-index:100;
	color: #222222 !important;
	background-color: #FFFFFF !important;
}

