#sidebar{
    padding-top: 15px;
}

.menubar.surveybar{
    width:100%;
    margin: 8px auto;
}

#side-menu-container{
    width: 20%;
}

.btn-primary.force.color.white.onhover{
    &:hover, &:active,&:focus{
        color:white;
    }
}