#sidebar {
    padding-top: 15px;
}

#pjax-content {
    .surveybar {
        box-shadow: 3px 3px 3px rgba(99, 49, 48, 0.1);
    }
    .side-body {
        min-height: 0;
    }
}

.menubar {
    position: relative;
}

.menubar.surveybar {
    width: 100%;
    margin: 8px auto;
    z-index: 100;
}

#side-menu-container {
    width: 20%;
}

.nooverflow {
    overflow: hidden;
}

.overflow-enabled {
    overflow: auto;
}

.btn-primary.force.color.white.onhover {
    &:hover,
    &:active,
    &:focus {
        color: white;
    }
}

.side-body {
    min-height: 400px;
}

footer.footer {
    position: static;
}

ol.breadcrumb.title-bar-breadcrumb {
    background: transparent;
    color: white;
    margin-bottom: 0px;
    > :first-child {
        a {
            &.animate::after {
                margin-left: 0px;
            }
        }
    }
    a {
        color: white;
        text-decoration: none;
        line-height: 24px;
        font-size: 18px;
        &.animate::after {
            text-align: right;
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: #fff;
            transition: width .3s;
        }
        &.animate:hover::after {
            width: 100%;
        }
        &.animate.home-icon:hover::after {
            margin-left: 0;
            width: 100% !important;
        }
    }
    li {
        background: transparent;
        color: white;
        line-height: 24px;
        font-size: 18px;
        &.active {
            color: #dfdfdf;
            font-style: italic
        }
        >div{
            display: inline-block;
        }
    }
}

.breadcrumb-title {
    line-height: 24px;
    font-size: 18px;
    padding: 8px 15px;
}

#pjax-file-load-container {
    height: 6px;
    position: fixed;
    top: 1px;
    left: 0;
    width: 100%;
    width: 100vw;
    >div {
        display: none;
        height: 8px;
        border-radius: 1px;
        background: #0f3e12;
        background: linear-gradient(to right, #0f3e12 0%, #1F5523 50%, #042806 100%);
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
        -webkit-transition: width 1.6s;
        /* Safari */
        transition: width 1.6s;
    }
}

#sidebar {
    .button-sub-bar{
        min-height: 32px;
    }
    &.fill-height,
    .fill-height {
        height: 100%
    }
    .menu-open {
        animation-name: animate-gradient;
        animation-duration: 450ms;
        background: radial-gradient(circle at center, rgba(50, 134, 55, 0.50) 0px, rgba(50, 134, 55, 0.50) 8px, white 9px, white 100%);
    }
    .selected {
        padding-left: 20px;
        background: linear-gradient(to right, rgb(50, 134, 55) 0px, rgb(50, 134, 55) 13px, white 13px, white 100%);
        transition-property: all;
        transition-duration: .25s;
        transition-timing-function: cubic-bezier(1, 0.5, 0.5, 1);
    }
    .dragging {
        background-color: #efefef;
        opacity: 0.8;
        transition-property: all;
        transition-duration: .1s;
        transition-timing-function: ease-in-out;
    }
    .menu-selected {
        padding-left: 10px;
        background: linear-gradient(to right, rgb(50, 134, 55) 0px, rgb(50, 134, 55) 6px, white 6px, white 100%);
    }
    .subpanel {
        &.level-0 {
            .menu-selected {
                background: linear-gradient(to right, rgb(87, 164, 92) 0px, rgb(87, 164, 92) 6px, white 6px, white 100%);
            }
            .selected {
                background: linear-gradient(to right, rgb(87, 164, 92) 0px, rgb(87, 164, 92) 13px, white 13px, white 100%);
            }
        }
        &.level-1 {
            .menu-selected {
                background: linear-gradient(to right, rgb(137, 198, 141) 0px, rgb(137, 198, 141) 6px, white 6px, white 100%);
            }
            .selected {
                background: linear-gradient(to right, rgb(137, 198, 141) 0px, rgb(137, 198, 141) 13px, white 13px, white 100%);
            }
        }
        &.level-2 {
            .menu-selected {
                background: linear-gradient(to right, rgb(181, 221, 184) 0px, rgb(181, 221, 184) 6px, white 6px, white 100%);
            }
            .selected {
                background: linear-gradient(to right, rgb(181, 221, 184) 0px, rgb(181, 221, 184) 13px, white 13px, white 100%);
            }
        }
    }
}

@keyframes animate-gradient {
    0%   { background: radial-gradient(circle at center, rgba(50, 134, 55, 0.50) 0px, rgba(50, 134, 55, 0.50) 1px, white 2px, white 100%); }
    10%  { background: radial-gradient(circle at center, rgba(50, 134, 55, 0.50) 0px, rgba(50, 134, 55, 0.50) 2px, white 3px, white 100%); }
    20%  { background: radial-gradient(circle at center, rgba(50, 134, 55, 0.50) 0px, rgba(50, 134, 55, 0.50) 3px, white 4px, white 100%); }
    30%  { background: radial-gradient(circle at center, rgba(50, 134, 55, 0.50) 0px, rgba(50, 134, 55, 0.50) 4px, white 5px, white 100%); }
    40%  { background: radial-gradient(circle at center, rgba(50, 134, 55, 0.50) 0px, rgba(50, 134, 55, 0.50) 5px, white 6px, white 100%); }
    50%  { background: radial-gradient(circle at center, rgba(50, 134, 55, 0.50) 0px, rgba(50, 134, 55, 0.50) 6px, white 7px, white 100%); }
    60%  { background: radial-gradient(circle at center, rgba(50, 134, 55, 0.50) 0px, rgba(50, 134, 55, 0.50) 7px, white 8px, white 100%); }
    70%  { background: radial-gradient(circle at center, rgba(50, 134, 55, 0.50) 0px, rgba(50, 134, 55, 0.50) 8px, white 9px, white 100%); }
    80%  { background: radial-gradient(circle at center, rgba(50, 134, 55, 0.50) 0px, rgba(50, 134, 55, 0.50) 9px, white 10px, white 100%); }
    90%  { background: radial-gradient(circle at center, rgba(50, 134, 55, 0.50) 0px, rgba(50, 134, 55, 0.50) 10px, white 10px, white 100%); }
    100% { background: radial-gradient(circle at center, rgba(50, 134, 55, 0.50) 0px, rgba(50, 134, 55, 0.50) 8px, white 9px, white 100%); }
}
