<div class="position-relative overflow-hidden w-100 p-2">
    <img class="img-fluid"
         src="{{ aQuestion.image.image_path }}"
         alt="{{ aQuestion.image.image_alt_text|default('Question image') }}"
         style="{{ aQuestion.image.image_styles }}">
</div>