@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url('../../../assets/fonts/ibm-plex-sans/IBMPlexSans-Thin.ttf');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url('../../../assets/fonts/ibm-plex-sans/IBMPlexSans-ExtraLight.ttf');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../../../assets/fonts/ibm-plex-sans/IBMPlexSans-Light.ttf');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../../../assets/fonts/ibm-plex-sans/IBMPlexSans-Regular.ttf');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../../../assets/fonts/ibm-plex-sans/IBMPlexSans-Medium.ttf');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../../../assets/fonts/ibm-plex-sans/IBMPlexSans-SemiBold.ttf');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../../../assets/fonts/ibm-plex-sans/IBMPlexSans-Bold.ttf');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url('../../../assets/fonts/ibm-plex-sans/IBMPlexSans-ThinItalic.ttf');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  src: url('../../../assets/fonts/ibm-plex-sans/IBMPlexSans-ExtraLightItalic.ttf');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url('../../../assets/fonts/ibm-plex-sans/IBMPlexSans-LightItalic.ttf');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../../../assets/fonts/ibm-plex-sans/IBMPlexSans-Italic.ttf');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url('../../../assets/fonts/ibm-plex-sans/IBMPlexSans-MediumItalic.ttf');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url('../../../assets/fonts/ibm-plex-sans/IBMPlexSans-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../../../assets/fonts/ibm-plex-sans/IBMPlexSans-BoldItalic.ttf');
}
