@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/ibm-plex-sans/IBMPlexSans-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/ibm-plex-sans/IBMPlexSans-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/ibm-plex-sans/IBMPlexSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/ibm-plex-sans/IBMPlexSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/ibm-plex-sans/IBMPlexSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/ibm-plex-sans/IBMPlexSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/ibm-plex-sans/IBMPlexSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url('/assets/fonts/ibm-plex-sans/IBMPlexSans-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  src: url('/assets/fonts/ibm-plex-sans/IBMPlexSans-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url('/assets/fonts/ibm-plex-sans/IBMPlexSans-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('/assets/fonts/ibm-plex-sans/IBMPlexSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url('/assets/fonts/ibm-plex-sans/IBMPlexSans-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url('/assets/fonts/ibm-plex-sans/IBMPlexSans-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('/assets/fonts/ibm-plex-sans/IBMPlexSans-BoldItalic.ttf') format('truetype');
}
