/* The following styles are for all versions of IE */


 .multiple-opt-comments ul.X2  label.answertext , .multiple-short-txt ul.X2  label , .numeric-multi ul.X2  label
,.multiple-opt-comments ul.X4  label.answertext , .multiple-short-txt ul.X4  label , .numeric-multi ul.X4  label
,.multiple-opt-comments ul.X6  label.answertext , .multiple-short-txt ul.X6  label , .numeric-multi ul.X6  label
,.multiple-opt-comments ul.X8  label.answertext , .multiple-short-txt ul.X8  label , .numeric-multi ul.X8  label
,.multiple-opt-comments ul.X10 label.answertext , .multiple-short-txt ul.X10 label , .numeric-multi ul.X10 label
,.multiple-opt-comments ul.X12 label.answertext , .multiple-short-txt ul.X12 label , .numeric-multi ul.X12 label
,.multiple-opt-comments ul.X14 label.answertext , .multiple-short-txt ul.X14 label , .numeric-multi ul.X14 label
,.multiple-opt-comments ul.X16 label.answertext , .multiple-short-txt ul.X16 label , .numeric-multi ul.X16 label
,.multiple-opt-comments ul.X18 label.answertext , .multiple-short-txt ul.X18 label , .numeric-multi ul.X18 label
,.multiple-opt-comments ul.X20 label.answertext , .multiple-short-txt ul.X20 label , .numeric-multi ul.X20 label
,.multiple-opt-comments ul.X20 label.answertext , .multiple-short-txt ul.X20 label , .numeric-multi ul.X20 label
,.multiple-opt-comments ul.X22 label.answertext , .multiple-short-txt ul.X22 label , .numeric-multi ul.X22 label
,.multiple-opt-comments ul.X24 label.answertext , .multiple-short-txt ul.X24 label , .numeric-multi ul.X24 label
,.multiple-opt-comments ul.X28 label.answertext , .multiple-short-txt ul.X28 label , .numeric-multi ul.X28 label
,.multiple-opt-comments ul.X30 label.answertext , .multiple-short-txt ul.X30 label , .numeric-multi ul.X30 label
{
	margin-bottom: -1.4em;
}


.numeric-multi dl.multiplenumerichelp
{
	margin-top: -4em;
}
.numeric-multi dl.multiplenumerichelp dt
{
	margin-right: 10em;
	margin-bottom: -1.3em;
}


  .list-radio-flexible ul.cols-2 li:first-child , .list-radio ul.cols-2 li:first-child
, .list-radio-flexible ul.cols-3 li:first-child , .list-radio ul.cols-3 li:first-child
, .list-radio-flexible ul.cols-4 li:first-child , .list-radio ul.cols-4 li:first-child
, .list-radio-flexible ul.cols-5 li:first-child , .list-radio ul.cols-5 li:first-child
, .list-radio-flexible ul.cols-6 li:first-child , .list-radio ul.cols-6 li:first-child
, .list-radio-flexible ul.cols-7 li:first-child , .list-radio ul.cols-7 li:first-child
, .list-radio-flexible ul.cols-8 li:first-child , .list-radio ul.cols-8 li:first-child
{
	text-indent: 1.5em;
}


.choice-5-pt-radio ul
{
    margin-left: 2em;
}