/* The following styles are for versions of IE older than 7 */

 .list-radio-flexible li
,.list-radio li
{
	margin-left: 0.5em;
	text-indent: 0em;
}

 .multiple-opt-comments ul.X2  label.answertext
,.multiple-opt-comments ul.X4  label.answertext
,.multiple-opt-comments ul.X6  label.answertext
,.multiple-opt-comments ul.X8  label.answertext
,.multiple-opt-comments ul.X10 label.answertext
,.multiple-opt-comments ul.X12 label.answertext
,.multiple-opt-comments ul.X14 label.answertext
,.multiple-opt-comments ul.X16 label.answertext
,.multiple-opt-comments ul.X18 label.answertext
,.multiple-opt-comments ul.X20 label.answertext
,.multiple-opt-comments ul.X20 label.answertext
,.multiple-opt-comments ul.X22 label.answertext
,.multiple-opt-comments ul.X24 label.answertext
,.multiple-opt-comments ul.X28 label.answertext
,.multiple-opt-comments ul.X30 label.answertext
{
	margin-bottom: -1.7em;
}

 .multiple-short-txt ul.X2  label , .numeric-multi ul.X2  label
,.multiple-short-txt ul.X4  label , .numeric-multi ul.X4  label
,.multiple-short-txt ul.X6  label , .numeric-multi ul.X6  label
,.multiple-short-txt ul.X8  label , .numeric-multi ul.X8  label
,.multiple-short-txt ul.X10 label , .numeric-multi ul.X10 label
,.multiple-short-txt ul.X12 label , .numeric-multi ul.X12 label
,.multiple-short-txt ul.X14 label , .numeric-multi ul.X14 label
,.multiple-short-txt ul.X16 label , .numeric-multi ul.X16 label
,.multiple-short-txt ul.X18 label , .numeric-multi ul.X18 label
,.multiple-short-txt ul.X20 label , .numeric-multi ul.X20 label
,.multiple-short-txt ul.X20 label , .numeric-multi ul.X20 label
,.multiple-short-txt ul.X22 label , .numeric-multi ul.X22 label
,.multiple-short-txt ul.X24 label , .numeric-multi ul.X24 label
,.multiple-short-txt ul.X28 label , .numeric-multi ul.X28 label
,.multiple-short-txt ul.X30 label , .numeric-multi ul.X30 label
{
	margin-bottom: -1.3em;
}


.numeric-multi dl.multiplenumerichelp
{
	margin-top: -4em;
}
.numeric-multi dl.multiplenumerichelp.slider { left: 22em; }
.numeric-multi dl.multiplenumerichelp.X2  { left: 10em; }
.numeric-multi dl.multiplenumerichelp.X4  { left: 12em; }
.numeric-multi dl.multiplenumerichelp.X6  { left: 18em; }
.numeric-multi dl.multiplenumerichelp.X8  { left: 16em; }
.numeric-multi dl.multiplenumerichelp.X10 { left: 18em; }
.numeric-multi dl.multiplenumerichelp.X12 { left: 20em; }
.numeric-multi dl.multiplenumerichelp.X14 { left: 22em; }
.numeric-multi dl.multiplenumerichelp.X16 { left: 24em; }
.numeric-multi dl.multiplenumerichelp.X18 { left: 26em; }
.numeric-multi dl.multiplenumerichelp.X20 { left: 28em; }
.numeric-multi dl.multiplenumerichelp.X22 { left: 30em; }
.numeric-multi dl.multiplenumerichelp.X24 { left: 32em; }
.numeric-multi dl.multiplenumerichelp.X26 { left: 34em; }
.numeric-multi dl.multiplenumerichelp.X28 { left: 36em; }
.numeric-multi dl.multiplenumerichelp.X30 { left: 38em; }
.numeric-multi dl.multiplenumerichelp.X-large { display: static; }
.numeric-multi dl.multiplenumerichelp dt
{
	margin-bottom: -1.3em;
}

.survey-question
{
	float: left;
	width: 96.3%;
	margin-bottom: 1em;
}
