.rank,.rank td {
  background-color: #f5f9f9;
}

.survey-cleared {
  margin: 0 auto 0 auto;
  text-align: center;
}

.survey-navigator,
.clear-all,
.save-all {
  text-align: center;
}

.survey-navigator {
  margin: 15px 0 10px 0;
}

.warning-text {
	color:#FF0000;
	font-weight: bold;
}

.register {
	text-align: center;
}

.register-message-1 {
	font-weight: bold;
}

.register-message-2 {
}

.register-form {
	margin-bottom: 10px;
}

.register-form table.register {
	margin: 0 auto 0 auto;
}

.survey-load {
	text-align: center;
}

.load-survey,
.save-survey {
	text-align: center;
	padding: 10px 0;
}

.load-heading,
.save-heading {
	font-size: 18px;
	font-weight: bold;
}

.load-message {
}

.load-form table,
.save-form table {
	margin: 0 auto 0 auto;
}

.return-to-survey {
}

.save-message{
}

.save-form{
}

.survey-list-wrapper {
	background-color:#E0FBFF;
	border:1px solid #3C9AAE;
	margin:20px 0;
	padding:20px 10px;
	text-align:center;
}

.survey-list-heading {
	font-weight: bold;
}

.survey-list {
}

.survey-list ul {
	padding: 0;
}

.survey-list li {
	list-style: none;
	padding-bottom: 5px;
}

.survey-contact {
}

.language-changer {
}

/* --------------------------------------------------- */
.numquestions {
  color: green;
}

table,tr,td,th {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  align: center;
}

table {
  
}

.grayboxheader {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.grayboxfont {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #424142;
}

.question {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #262C4C;
}

.percentage {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #000000;
}

.error {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  color: #CB0404;
}

.warning{
    display:block;
    }
    
.printouttable {
  width: 100%;
}

.printouttable td {
  border-style: solid;
  border-color: #ffffff;
  border-bottom-color: #B6DAE3;
  border-width: 1px;
}

.printouttable td:first-child {
  background-color: #B6DAE3;
  font-weight: bold;
  text-align: right;
  padding-right: 5px;
  padding-left: 5px;
}

.printouttitle {
  padding-right: 5px;
  padding-left: 5px;
}

/* ---Hacks by joost---------------------------------------- */
html {
  background: #7bbbcc url(pagebg.png) 0 0 repeat-x;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  nt-size: 8pt
}

div#survey-wrapper {
  margin: 0 auto;
  width: 868px;
}

div#wrapper2 {
  margin: 0 auto;
  padding-top: 18px;
}

div#header {
  background: url(header-bg.png) no-repeat;
  right-bottom
}

div#header .rk-1 {
  background: url(header-r.png) 100% 0 no-repeat;
}

div#header .rk-2 {
  background: url(header-l.png) 0 0 no-repeat;
  height: 153px;
  overflow: hidden;
}

img#logo {
  float: left;
  margin-left: 38px;
  width: 255px;
  height: 148px;
  background: url(logo.gif) 0 0 no-repeat;
}

div#prefooter1 {
  height: 4px;
  padding: 0;
  background: #00677d;
}

div#prefooter2 {
  height: 100px;
  background: url(prefooter-bg.png) 0 0 repeat-x;
  text-align: center;
}

div#prefooter3 {
  height: 54px;
  background: #00407a;
  text-align: center;
}

div#footer {
  background: url(footer-bg.png) 0 0 repeat-x;
  height: 95px;
}

div#footer .rk-1 {
  background: url(footer-r.png) 100% 0 no-repeat;
}

div#footer .rk-2 {
  background: url(footer-l.png) 0 0 no-repeat;
  height: 105px;
  overflow: hidden;
}

.surveyname {
  background: #00677d;
  text-align: center;
  color: white;
  padding: 5px;
  font-size: 1.3em;
}

.survey-main {
  background: #f5feff;
  border: 1px solid #00677d;
  padding: 15px;
}

.survey-description,.survey-survey-description {
  font-weight: bold;
  padding-left: 20px;
  margin-bottom: 10px
}

.survey-welcome {
  border-top: 1px solid #86b8bc;
  border-bottom: 1px solid #86b8bc;
  background-color: #f0fdff;
  padding: 5px;
  text-align: justify;
}

.submit {
  background-color: #e0fcff;
  border: 1px solid #86b8bc;
  cursor: pointer;
}

.submit:hover {
  background: #c2f9ff;
  border: 1px solid #00677d;
}

input.submit:hover {
  background: #c2f9ff;
  border: 1px solid #00677d;
}

.clearall,.saveall {
  margin: 0 0 10px 0;
  background-color: #E0FCFF;
  border: 1px solid #86B8BC;
  cursor: pointer;
}

.survey-survey-description {
  margin: 5px 0 10px 0;
}

.survey-survey-percent {
  padding: 0.2em 0%;
}

#progress-graph {
  line-height: 1.5em;
  width: 17em;
  font-size: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.2em;
  padding: 0.5em 0.5em 0.4em 1em;
  text-align: left;
}

.hide {
  font-weight: normal;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#progress-graph div.zero {
  width: 2.6em;
  margin-right: 0%;
}

#progress-graph div.graph {
  width: 10em;
  height: 1.5em;
  border: 1px solid #000;
  margin-top: -1.7em;
  margin-left: 2.6em;
  margin-right: 0%;
}

#progress-graph div.cent {
  width: 3em;
  margin-top: -1.5em;
  margin-left: 13.3em;
  margin-right: 0%;
}

/*
.innergraph {background-color:#f0fdff;color: #777777;font-family: arial;}
.innergraph img{height:12px;vertical-align:top;}
.innergraph table{height:12px;border:1px solid #00677d;table-layout:fixed !important;}
.innergraph td{height:12px;}
.graph {border:solid;border-width:2px;border-color:#86b8bc;background-color:#f0fdff;}
*/
.survey-groupname {
  color: #00677d;
  font-weight: bold;
  margin: 20px 0 0 0;
  padding: 2px 0 0 3px;
  text-align: center;;
  border-bottom: 2px solid #71acbc;
}

.survey-groupdescription {
  font-weight: normal;
  color: #00262e;
  padding: 10px;
  margin: 0 0 10px 0;
}

.survey-question {
  margin: 0;
  padding: 5px;
  border: 1px solid #86b8bc;
  background: #fafeff;
}

.survey-question-text {
  display: inline;
  font-weight: bold;
  margin: 0 0 15px 0;
  font-size: 0.9em
}

.asterisk {
  color: #FF0000;
  padding: 0 5px 0 10px;
}

.questionhelp {
  visibility: visible;
  display: block;
  font-size: 0.8em
}

/*.survey-question-answer {display:inline;font-weight:normal;padding-left:25px;}*/
.survey-question-answer button {
  
}

.survey-question-answer input {
  
}

.survey-question-answer select {
  background-color: #f0fdff;
}

.survey-question-answer option {
  background-color: #f0fdff;
}

.select {
  background-color: #f0fdff;
}

.survey-question-help {
  margin: 12px 0px 0 2px;
  clear: both;
}

.survey-question-help img {
  padding: 0 5px 10px 10px;
}

.radio {
  
}

table.question {
  background: #fafeff
}

.answertextright {
  text-align: left;
  font-weight: normal;
  font-size: 0.9em;
}

.textarea {
  background: #white;
  color: #00677d;
  width: 96%;
  border: 1px solid #3c9aae;
  padding: 4px;
  margin: 0 10px 0 10px;
}

.textarea:focus {
  background: white;
  color: #004554;
}

.array1 {
  background-color: #cbeff2;
  text-align: center;
}

.array2 {
  background-color: #e0fbff;
  text-align: center;
}

th.array1 {
  background-color: #a5d6da;
}

table.question tr.array1:hover {
  background-color: #a5d6da;
}

table.question tr.array2:hover {
  background-color: #a5d6da;
}

.errormandatory {
  font-weight: bold;
  color: #CB0404;
}

.survey-assessment,.survey-completed {
  text-align: center;
  border: 1px solid #00677d;
  background: #f0fdff;
}

.survey-assessment {
  font-weight: bold;
}

A:link,A:visited,A:active {
  text-decoration: none;
  color: #00677d;
  border-bottom: 1px dashed #00677d;
}

A:hover {
  text-decoration: none;
  color: #004554;;
  border-bottom: 1px solid #004554;
}

.credits {
  color: white;
  font-style: italic;
  float: right;
  padding-right: 15px;
  margin: -35px 0 0 0;
  font-size: 0.7em
}

.credits a {
  color: white;
  border-bottom: 1px dashed white
}

.credits a:hover {
  border-bottom: 1px solid white
}

a.imglink {
  text-decoration: none;
  border: 0
}

.kullogo {
  border: 0;
  margin: 10px 0 -10px 0
}

.warningjs {
  font-weight: bold;
  color: red;
}

.survey-question-space {
  height: 5px;
}

.answertext {
  color: #000;
  font-weight: normal;
  font-size: 0.9em;
}

.nosurveyid {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  padding: 20px 10px 20px 10px;
  margin: 20px 0 20px 0;
  border: 1px solid #3c9aae;
  background-color: #e0fbff
}

/* -------------------------------------------------
   START: Question styles  ------------------------- */
  /* =====================================
== Full list of question classes =======

 .boilerplate
,.numeric
,.choice-5-pt-radio
,.yes-no
,.gender
,.date
,.numeric-multi
,.numeric
,.list-radio
,.list-radio-flexible
,.list-with-comment
,.list-dropdown
,.list-dropdown-flexible
,.ranking
,.numeric-multi
,.language
,.multiple-opt-comments
,.multiple-short-txt
,.text-short
,.text-long
,.text-huge
,.numeric-multi
,.array-5-pt
,.array-10-pt
,.array-yes-uncertain-no
,.array-increase-same-decrease 
,.array-flexible-row 
,.array-flexible-column 
,.slider 
,.array-multi-flexi 
,.array-multi-flexi-text
,.array-flexible-duel-scale 
*/ /* - - -  - - -  - - -  - - - - - -  - - -  - - - -
   START: General list styles - - -  - - -  - - - - */
.choice-5-pt-radio ul,.list-radio-flexible ul,.list-radio ul,.list-with-comment ul,.multiple-opt ul,.multiple-opt-comments ul,.multiple-short-txt ul,.numeric-multi ul,.yes-no ul,.gender ul
  {
  margin-left: 0%;
  padding-left: 0%;
}

.choice-5-pt-radio li,.list-radio-flexible li,.list-radio li,.list-with-comment li,.multiple-opt li,.multiple-opt-comments li,.multiple-short-txt li,.numeric-multi li,.yes-no li,.gender li
  {
  list-style-type: none;
  text-align: left;
  margin: 0% 0% 0.5em 0.5em;
}

.choice-5-pt-radio li,.list-radio-flexible li,.list-radio li,.list-with-comment li
  {
  margin-left: 2em;
  text-indent: -1.6em;
}

/* END:  General list styles - - - -  - - -  - - - -
- - - - -  - - -  - - -  - - - - - -  - - -  - - - - */
  /* STYLES NOT YET DEFINED - - - - -
.boilerplate {}
*/
.choice-5-pt-radio ul,.yes-no ul,.gender ul {
  text-align: left;
}

.choice-5-pt-radio ul li,.yes-no ul li,.gender ul li {
  display: inline;
  padding: 0% 2em 0% 0%;
}

/* STYLES NOT YET DEFINED - - - - -
.date {}
*/
.date p.question {
  margin-left: 1em;
}

.date p.question select.day {
  
}

.date p.question select.month {
  
}

.date p.question select.year {
  
}

.date p.tip,.numeric-multi p.tip,.numeric p.tip {
  margin-left: 1.5em;
  font-size: 80%;
  font-style: italic;
  line-height: 150%;
}

.numeric p.question {
  margin-left: 1em;
  font-size: 80%;
  font-weight: normal;
}

.numeric-multi p.tip.error,.numeric-multi input.tip.error {
  color: #f70;
  font-weight: bold;
  text-align: left;
}

.numeric-multi p.tip.good,.numeric-multi input.tip.good {
  color: #090;
  font-weight: bold;
  text-align: left;
}

/* DEFINED ABOVE UNDER "General list styles" - - - - -
.list-radio-flexible
.list-radio
*/
ul.cols-2,table.cols-2,ul.cols-3,table.cols-3,ul.cols-4,table.cols-4,ul.cols-5,table.cols-5,ul.cols-6,table.cols-6,ul.cols-7,table.cols-7,ul.cols-8,table.cols-8
  {
  width: 98%;
  margin: 0% auto 0% auto;
}

ul.cols-2 li,ul.cols-2-ul,ul.cols-3 li,ul.cols-3-ul,ul.cols-4 li,ul.cols-4-ul,ul.cols-5 li,ul.cols-5-ul,ul.cols-6 li,ul.cols-6-ul,ul.cols-7 li,ul.cols-7-ul,ul.cols-8 li,ul.cols-8-ul
  {
  float: left;
  padding: 0% 0.5em;
  white-space: normal
}

ul.cols-2 li,ul.cols-2-ul,table.cols-2 td {
  width: 48%;
}

ul.cols-3 li,ul.cols-3-ul,table.cols-3 td {
  width: 30.5%;
}

ul.cols-4 li,ul.cols-4-ul,table.cols-4 td {
  width: 23%;
}

ul.cols-5 li,ul.cols-5-ul,table.cols-5 td {
  width: 19%;
}

ul.cols-6 li,ul.cols-6-ul,table.cols-6 td {
  width: 15%;
}

ul.cols-7 li,ul.cols-7-ul,table.cols-7 td {
  width: 13%;
}

ul.cols-8 li,ul.cols-8-ul,table.cols-8 td {
  width: 11.5%;
}

.list-dropdown-flexible p.question,.list-dropdown p.question {
  margin-left: 1em;
}

/* STYLES NOT YET DEFINED - - - - -
.list-dropdown {}
*/
.list-with-comment div.list {
  width: 47%;
  float: left;
  padding: 0.5em;
}

.list-with-comment p.select {
  width: 47%;
  float: left;
  padding: 0.5em;
  margin: 0%;
}

.list-with-comment div.list p {
  margin: 0%;
  text-align: left;
}

.list-with-comment p.comment {
  margin: 0%;
  padding: 0.5em;
  text-align: left;
  float: left;
  width: 47%;
}

.list-with-comment p.comment textarea {
  width: 100%;
}

.ranking {
  
}

/* DEFINED ABOVE UNDER "General list styles" - - - - -
.multiple-opt
*/
.language {
  
}

/* The following styles only apply to modern (relatively) complete CSS2 compliant browsers. (Not less than IE 8) */
.multiple-opt-comments td.answer,.multiple-short-txt td.answer,.numeric-multi td.answer
  {
  
}

.multiple-opt-comments ul,.multiple-short-txt ul,.numeric-multi ul {
  display: table;
  padding: 0%;
  margin: 1em;
}

.numeric-multi ul {
  margin: 0% 1em 1.5em 1em;
}

.numeric-multi ul.computed {
  float: left;
  padding-right: 2em;
}

.numeric-multi ul.slider.computed {
  width: 14em;
}

.multiple-opt-comments ul li,.multiple-short-txt ul li,.numeric-multi ul li
  {
  display: table-row;
}

.multiple-opt-comments ul li span.option {
  padding: 0.3em 1em 0% 2em;
  text-indent: -1.5em;
  display: table-cell;
  vertical-align: baseline;
}

.multiple-short-txt ul li label,.numeric-multi ul li label {
  padding: 0.3em 1em 0% 0%;
  display: table-cell;
  vertical-align: middle;
}

.numeric-multi ul.computed li label
.numeric-multi ul.slider.computed li label {
  padding-right: 0%;
}

.multiple-opt-comments ul li span.comment,.multiple-short-txt ul li span,.numeric-multi ul li span
  {
  padding: 0.3em 0% 0% 1em;
  display: table-cell;
  vertical-align: baseline;
  white-space: nowrap;
}

.multiple-opt-comments ul li span {
  padding: 0.3em 1em 0% 0%;
}

.numeric-multi div.multinum-slider {
  width: auto;
  float: left;
  margin-top: 1.5em;
  margin-bottom: 0.2em;
}

.numeric-multi ul.multiplenumerichelp.slider {
  display: table;
}

.numeric-multi ul.multiplenumerichelp.slider li {
  display: table-row;
}

.numeric-multi ul.multiplenumerichelp li label,.numeric-multi ul.multiplenumerichelp.slider li label
  {
  padding: 0.3em 0% 0% 0%;
  display: table-cell;
}

.numeric-multi ul.multiplenumerichelp li span,.numeric-multi ul.multiplenumerichelp.slider li span
  {
  padding: 0% 0% 0% 0.3em;
  display: table-cell;
}

.numeric-multi ul.multiplenumerichelp span input {
  border: none;
  background-color: #fff;
  color: #222;
  padding: 0%;
  width: 7em;
}

.text-short input,.text-short textarea,.text-long textarea,.text-huge textarea
  {
  margin-left: 1em;
}

/* STYLES NOT YET DEFINED - - - - -
.yes-no {}
.gender {}
*/
#limesurvey table.question thead th,#limesurvey table.question .repeat th
  {
  text-align: center;
  vertical-align: bottom;
  font-weight: normal;
  font-size: 90%;
}

#limesurvey .array-flexible-duel-scale table.question .header_answer_text,
#limesurvey .array-flexible-duel-scale table.question .header_separator,
#limesurvey .array-flexible-duel-scale table.question .header_answer_text_right {
	background-color: #FFFFFF;
}

#limesurvey table.question  thead tr.header_row {
  background-color: #CBEFF2;
}

#limesurvey table.question tbody td {
  text-align: center;
}

#limesurvey table.question tbody th.answertext,#limesurvey table.question tbody th.arraycaptionleft
  {
  text-align: right;
  font-weight: normal;
  font-size: 90%;
}

#limesurvey table.question tbody th.answertextright {
  text-align: left;
  font-weight: normal;
  font-size: 90%;
}

.array-flexible-column col.even {
  background-color: #e0fbff;
}

.array-flexible-column col.odd {
  background-color: #cbeff2;
}

.survey-question {
  float: left;
  width: 98.5%;
  margin-bottom: 1em;
}

.text-huge textarea {
  width: 97%;
}

/* Jquery CSS */ /** UI Base **/
.ui-wrapper {
  border: 1px solid #50A029;
}

.ui-wrapper input,.ui-wrapper textarea {
  border: 0;
}

/** Progress bar **/
#progress-wrapper .ui-widget-header {
  background-color: #3D9BAF;
}

/** UI Slider **/
.numeric-multi label.slider-label {
  display: table-cell;
  width: auto !important;
  padding: 0 1em 0 0;
  margin-top: 1.4em;
  vertical-align: middle;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  height: 24px;
  width: 12px;
  top: -6px;
  left: 0px;
  margin-left: -3px;
  background-image: url(slider-handle.gif);
  background-color: transparent;
  border-width: 0;
}

.ui-slider-1 {
  width: 200px;
  height: 9px;
  margin-bottom: 20px;
}

.ui-slider-2 {
  width: 200px;
  height: 23px;
  position: relative;
  background-image: url(../../images/slider-bg-2.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.slider_callout {
  height: 20px;
  width: 100px;
  overflow: hidden;
  position: absolute;
  top: -19px;
  margin-left: -3px;
  font-family: 'Arial';
  font-size: 9pt;
  color: #284a6e;
  font-weight: bold;
  text-align: left;
}

.slider_showmin {
  float: left;
  width: 50px;
  margin: 18px 0 0 0;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: normal;
  text-align: left;
}

.slider_showmax {
  float: right;
  width: 50px;
  margin: 18px 0 0 0;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: normal;
  text-align: right;
}

.slider_lefttext {
  display: table-cell;
  padding-top: 1.5em;
  padding-right: 5px;
  vertical-align: top;
  text-align: right;
  font-size: 0.9em;
}

.slider_righttext {
  display: table-cell;
  padding-top: 1.5em;
  padding-left: 9px;
  vertical-align: top;
  font-size: 0.9em;
}

.choice-5-pt-radio li {
  display: inline;
  margin-left: 0.5em;
}

.rank label,
.rank td {
  font-size: 0.80em;
}

table.rank td.helptext {
  font-size: 0.80em;
  padding: 5px;
}

.text-long textarea,.text-huge textarea,.text-short textarea {
  margin-top: 1em;
}

#tokenform {
  margin-top: 1em;
}

#tokenform input {
  
}

#tokenform label {
  float: left;
  width: 20em;
  margin-right: 0.5em;
  text-align: right;
}

#tokenform li {
  padding-bottom: 5px;
  list-style: none;
}

#tokenform img {
  margin-bottom: -5px;
  margin-right: 5px;
}

p#tokenmessage {
  margin: 20px;
}

p#tokenmessage {
  margin: 20px;
  text-align: center;
}

#tokenform input.submit {
  margin-left: 18em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#statsContainer {
  width: 80%;
  margin: 8px auto;
  background-color: #F5FEFF;
  padding: 0px;
  min-width: 690px;
  border: 1px solid #000000;
}

#statsHeader {
  color: #FFF;
  background-color: #00677D;
  text-align: center;
  padding: 10px 0px;
  height: 96px;
}

.statsSurveyTitle {
  font-size: 1.1em;
  font-weight: bold;
  padding: 24px 0px 0px 0px;
  width: 100%;
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.statsNumRecords {
  font-size: 1em;
  clear: right;
  float: right;
  width: 100%;
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #CCCCCC;
  padding-top: 10px;
}

table.statisticstable {
  width: 90%;
  text-align: left;
  margin: 0px auto;
  padding-bottom: 8px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  border: 1px solid #999;
}

table.statisticstable td {
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
}

table.statisticstable img {
  margin: 12px auto;
}

table.statisticstable strong {
  font-weight: bold;
}

div.fieldSummary {
  font-size: .9em;
  padding: 0px 0px 0px 6px;
  text-align: left;
}

div.questionTitle {
  font-size: 1.0em;
  padding: 20px 20px 20px 20px;
  font-weight: bold;
  background-color: #CBEFF2;
  line-height: 1.5em;
}

td.statsImageholder {
  background-color: #FFF;
}

/* Question Index */
.outerframe.withindex {
  margin-left: 1em;
  margin-right: 26em;
}

#index {
  position: absolute;
  right: 0;
  width: 25em;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  background: #F5FEFF;
  border-left: 1px solid #00677D;
}

#index h2 { 
  margin-top: 0;
  padding: 10px;
  background: #00677D;
  color: #fff;
  text-align: center;
  font-size: 1.3em;
  font-weight: normal;
}

#index h3 {
  margin: 0.5em 0 0 0.5em;
  color: #00677D;
  font-size: 100%;
}

#index .container {
  width: 24em;
}

#index .container .row {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  border-top: 1px solid #fff;
}

#index .container .row:hover {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

#index .container .row .hdr {
  width: 3em;
  text-align: right;
  display: inline-block;
  padding: 0 0.5em 0 0;
}

#index .container .row.odd { background: #FFF; }
#index .container .row.current { background: #00407A; color: #fff; }
#index .container .row.missing { background: #CC0000; color: #fff; }
#index .container input { margin: 1em; }
