<pre>{{dump(question)}}</pre>
<div class="row">
    <div class="col-md-4">
        <b>{{question.question}} ({{question.qid}})</b>
    </div>
    <div class="col-md-8">
        {{question.answervalue}}
    </div>
</div>