#emailtemplatesLoader {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    min-height: 640px;
    min-height: 50vh;
    background-color: rgba(225,225,225,0.7);
    z-index: 100;
}
#emailTemplatesEditor {
    .slide-fade-enter-active {
      transition: all .4s ease;
    }
    .slide-fade-leave-active {
      transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter
    /* .slide-fade-leave-active below version 2.1.8 */ {
      transform: translateX(-10px);
      opacity: 0;
    }
    .slide-fade-enter-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
      transform: translateX(0px);
      opacity: 1;
    }
    .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
      transform: translateX(10px);
      opacity: 0;
    }
  }