<FilesMatch "^fu_[a-z0-9]*$">
    <IfModule mod_version.c>
        <IfVersion < 2.4>
            Order deny,allow
            Deny from all
        </IfVersion>
        <IfVersion >= 2.4>
           Require all denied
           <IfModule mod_access_compat.c>
               Order deny,allow
               Deny from all
           </IfModule>
        </IfVersion>
    </IfModule>
    <IfModule !mod_version.c>
        <IfModule !mod_authz_core.c>
            Order deny,allow
            Deny from all
        </IfModule>
        <IfModule mod_authz_core.c>
            Require all denied
        </IfModule>
    </IfModule>
</FilesMatch>
