.collapsible {
  &-header {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    background: transparent;
    border: 0;
    padding: 0;
    font-size: $font-size-sm;
    font-weight: $font-weight-500;
    color: $g-900;
    cursor: pointer;
    margin-bottom: 12px;

    &:hover {
      color: $grape;
    }
  }

  &-caret {
    font-size: $font-size-sm;
    line-height: 1;
  }
}
