
.summary-table {
  font-size: $font-size-sm;
  padding-left: 0.5rem;
  strong {
    font-weight: $font-weight-600;
  }
}

// Headings
.pagetitle {
  border-bottom : solid 2px $g-400;
  position      : relative;
  margin-bottom : 1em;

  &.h3 {
    @include h3
  }
}
.side-body {
  h3 {
    border-bottom: solid 2px $g-400;
  }
}

/**
 * comfortUpdate
 */
#ajaxContainerLoading,
.ajaxLoading {
  height: 130px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 100px;
  display: none;
}

#comfortUpdateIcon {
  height: 1em;
  margin-right: 0.5em;
}

#comfortUpdateGeneralWrap h3.maintitle {
  background-color: transparent;
  @include h3;
  border-bottom: solid 2px $g-400;
}

#comfortUpdateGeneralWrap .on {
  font-weight: bold;
  font-size: 1em;
  padding-left: 0.5em;
  padding-top: 0.5em;
}

#comfortUpdateGeneralWrap .on span {
  display: block;
  padding: 0.1em;
  padding-left: 0.5em;
  width: 40%;
  background-color: var(--bs-primary);
  color: $white;
}

#comfortUpdateGeneralWrap .off {
  font-size: 0.9em;
  padding-left: 0.5em;
  padding-top: 0.5em;
}

#comfortUpdateGeneralWrap #welcomeMessage {
  border-right: 2px solid $g-400;
}

#comfortUpdateGeneralWrap #key-actions {
  padding-left: 1em;
}
/**
 * comfortUpdate END
 */

// Blockquotes
blockquote {
  border-left: 8px solid var(--bs-primary);
  footer {
    color: $g-600;
  }
  small {
    color: $g-600;
  }
  .small {
    color: $g-600;
  }
  &.float-end {
    border-right: 8px solid var(--bs-primary);
  }
}
.blockquote-reverse {
  border-right: 8px solid var(--bs-primary);
}
// Blockquotes END