@import "typography/typography-mixins.scss";

@mixin expression {
  padding: 2px 4px;
  border-radius: $border-radius;
  font-weight: bold;
}

@mixin inset-border($width, $color) {
    box-shadow: inset $width 0 0 $color,
                inset (-$width) 0 0 $color,
                inset 0 (-$width) 0 $color,
                inset 0 $width 0 $color;
}

@mixin state-border($width, $color, $radius: 2px) {
    border-radius: $radius;
    border: $width solid $color;
}

