$aubergine    : #25003E; // background
$zucchini     : #003E24; // background
$focus        : #3BFFB7; // background
$grape        : #8146F6; // background secondary
$litschi      : #FF9AA2; // background secondary
$blueberry    : #A3C8FF; // background passive
$orange       : #FFBA68; // tertiary
$banana       : #FFE872; // tertiary
$apple        : #B2FF8E; // tertiary
$success      : #4DD753; // success
$warning      : #FFE046; // warning
$error        : #FF515F; // danger/error
$lime-green   : #7FF409; // links on dark
$action       : #4200FF; // links on light
$active-green : #14AE5C; // buttons & links

$white        : #fff;
$black        : #000;
$black75      : rgba(0, 0, 0, 0.75);

$g-900        : #1E1E1E;
$g-800        : #333641;
$g-700        : #5E6372;
$g-600        : #ACACAC;
$g-400        : #C2C5D1;
$g-300        : #DDDEE8;
$g-200        : #EEEFF7;
$g-100        : #F9F9FB;

$theme-colors: (
    "primary":    $active-green,
    "secondary":  $g-600,
    "success":    $success,
    "danger":     $error,
    "warning":    $warning,
    "info":       $grape,
    "light":      $g-200,
    "dark":       $g-900,
    "cancel":     $g-600, // replace with secondary
);

$border-radius: 4px;

// Buttons
$line-height-16: 16px;
$line-height-20: 20px;
$line-height-28: 28px;
$line-height-38: 38px;

$btn-font-weight: 500;

$btn-height-sm: 24px;
$btn-height: 36px;
$btn-height-lg: 44px;
$btn-height-xl: 52px;

$btn-font-size: 14px;
$btn-font-size-sm: 12px;

$ibm-font-family:
"IBMPlexSans",
 // Cross-platform generic font family (default user interface font)
 system-ui,
 // Safari for macOS and iOS (San Francisco)
 -apple-system,
 // Windows
 "Segoe UI",
 // Android
 Roboto,
 // Basic web fallback
 "Helvetica Neue", Arial,
 // Linux
 "Noto Sans",
 "Liberation Sans",
 // Sans serif fallback
 sans-serif,
 // Emoji fonts
 "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;

$font-weight-normal: 400;
$font-weight-500: 500;
$font-weight-600: 600;

$line-height-20: 20px;
$line-height-24: 24px;
$line-height-26: 26px;

// START spacer
$spacer: 1rem;

$tooltip-bg:                        $g-900;
// $tooltip-border-radius:             $border-radius;
$tooltip-opacity:                   1;
$tooltip-padding-y:                 $spacer * .5;
$tooltip-padding-x:                 $spacer * 1.2;

$tooltip-arrow-color:               $tooltip-bg;
// $tooltip-arrow-color:               null; // Deprecated in Bootstrap 5.2.0 for CSS variables

// breadcrumb variables
$breadcrumb-font-size:              14px;
$breadcrumb-spacing:                12px;
$breadcrumb-divider-color:          $g-600;
$breadcrumb-active-color:           $g-900;
$breadcrumb-link-color:             $action;

// modal
$modal-inner-padding: 1.5rem; // 24px
