@import "lime-admin-colors";
@import "statistics";

$aubergine  : #25003E;
$zucchini   : #003E24;
$grape      : #8146F6;
$lime_green : #7FF409;
$orange     : #FFBA68;
$litschi    : #FF9AA2;
$banana     : #FFE872;
$apple      : #B2FF8E;
$blueberry  : #A3C8FF;
$error      : #FF515F;
$warning    : #FFE046;
$success    : #4DD753;
$action     : #4200FF;
$focus      : #3BFFB7;

$white      : #fff;
$black      : #000;
$black75    : rgba(0, 0, 0, 0.75);

$g-900      : #1E1E1E;
$g-800      : #333641;
$g-700      : #5E6372;
$g-600      : #7C8191;
$g-400      : #C2C5D1;
$g-300      : #DDDEE8;
$g-200      : #EEEFF7;
$g-100      : #F9F9FB;

// START font-variables
$font-size-root: 14px;
$font-weight-root: 400;
$line-height-root: 20px;
// END font-variables

// START spacer
$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 4.5,
    7: $spacer * 6,
);
// END spacer
// $tooltip-font-size:                 $font-size-sm;
$zindex-tooltip:                    1080;
$tooltip-max-width:                 200px;
$tooltip-color:                     $white;
$tooltip-bg:                        $g-900;
// $tooltip-border-radius:             $border-radius;
$tooltip-opacity:                   1;
$tooltip-padding-y:                 $spacer * .5;
$tooltip-padding-x:                 $spacer * 1.2;
$tooltip-margin:                    0;

$tooltip-arrow-width:               .8rem;
$tooltip-arrow-height:              .4rem;
$tooltip-arrow-color:               $tooltip-bg;
// $tooltip-arrow-color:               null; // Deprecated in Bootstrap 5.2.0 for CSS variables
// this is an example, if you work on the buttons you can remove it
@import "buttons/buttons.scss";
@import "typography/typography.scss";
@import "tooltip/tooltip.scss";
