$line-height-16: 16px;
$line-height-20: 20px;

$btn-font-weight: 500;

$btn-height-sm: 24px;
$btn-height: 36px;
$btn-height-lg: 44px;
$btn-height-xl: 52px;

$btn-font-size: 14px;
$btn-font-size-sm: 12px;
