.yesno-button,
.gender-button {
    &.btn-group {
        > .btn {
            border-radius : 4px;
            margin-right  : 0;
            &:not(:last-child) {
                border-radius : 4px;
                margin-right  : 20px;
            }
        }
    }
    .ls-button-label {
        min-width : 80px;
        .ls-icon {
            font-size   : $font-size-lg;
            display     : block;
            line-height : 1;
        }
    }
}

.btn-check + .btn {
    min-height  : $btn-height-lg;
    padding     : 12px;
    line-height : $line-height-20;
}

.row > .bootstrap-buttons-div {
    padding-left  : 0;
    padding-right : 20px;
    & .form-check {
        padding-left : 0;
    }
}

@media (min-width : 768px) {
    .dir-rtl .yesno-button,
    .dir-rtl .gender-button {
        float : right;
    }
}