/* The following styles are for versions of IE older than 7 */

 .choice-5-pt-radio ul
,.yes-no ul
,.gender ul
{
	margin-left: 2em;
}
 .choice-5-pt-radio ul li
,.yes-no ul li
,.gender ul li
{
	padding: 0% 3em 0% 0%;
}
.list-with-comment p.select
{
	width: 45%;
	padding: 0%;
	margin: 0%;
}
.list-with-comment p.comment
{
	padding: 0.5em 0%;
	width: 45%;
}
.list-with-comment p.comment textarea
{
	margin-left: -4em;
}


.multiple-short-txt ul.numbers-only li span
{
	width: 10em;
}
.numeric-multi div.multinum-slider
{
	margin-top: 3.5em;
}
 .multiple-short-txt ul
,.multiple-opt-comments ul
,.numeric-multi ul
,.multiple-short-txt ul li
,.multiple-opt-comments ul li
,.numeric-multi ul li
{
	margin-left: 0%;
	padding-left: 0%;
}
.numeric-multi ul.computed	{	margin-right: 2em;	}
.numeric-multi ul label
{
	margin-bottom: -1.9em;
	margin-top: 0.5em;
	display: block;
}
.multiple-short-txt ul label
{
	margin-bottom: -1.9em;
	display: block;
}
.multiple-opt-comments ul span.option
{
	margin-bottom: -2.1em;
	display: block;
}
 .multiple-opt-comments ul.X-large span.option
,.multiple-short-txt ul.X-large span
,.numeric-multi ul.X-large span
{
	margin-bottom: 0%;
}
 .multiple-opt-comments ul span.comment
,.multiple-short-txt ul span
,.numeric-multi ul span
{
	display: block;
	margin-bottom: 0.7em;
    font-size:80%;
}
.multiple-opt-comments ul.X2  span.option , .multiple-short-txt ul.X2 label  , .numeric-multi ul.X2 label  { width: 3em;}
.multiple-opt-comments ul.X2  span.comment  , .multiple-short-txt ul.X2 span   , .numeric-multi ul.X2 span   { margin-left: 3.5em; }

.multiple-opt-comments ul.X4  span.option , .multiple-short-txt ul.X4 label  , .numeric-multi ul.X4 label  { width: 5em;}
.multiple-opt-comments ul.X4  span.comment  , .multiple-short-txt ul.X4 span   , .numeric-multi ul.X4 span   { margin-left: 5.5em; }

.multiple-opt-comments ul.X6  span.option , .multiple-short-txt ul.X6 label  , .numeric-multi ul.X6 label  { width: 7em;}
.multiple-opt-comments ul.X6  span.comment  , .multiple-short-txt ul.X6 span   , .numeric-multi ul.X6 span   { margin-left: 7.5em; }

.multiple-opt-comments ul.X8  span.option , .multiple-short-txt ul.X8 label  , .numeric-multi ul.X8 label  { width: 9em;}
.multiple-opt-comments ul.X8  span.comment  , .multiple-short-txt ul.X8 span   , .numeric-multi ul.X8 span   { margin-left: 9.5em; }

.multiple-opt-comments ul.X10 span.option , .multiple-short-txt ul.X10 label , .numeric-multi ul.X10 label { width: 11em;}
.multiple-opt-comments ul.X10 span.comment  , .multiple-short-txt ul.X10 span  , .numeric-multi ul.X10 span  { margin-left: 11.5em; }

.multiple-opt-comments ul.X12 span.option , .multiple-short-txt ul.X12 label , .numeric-multi ul.X12 label { width: 13em;}
.multiple-opt-comments ul.X12 span.comment  , .multiple-short-txt ul.X12 span  , .numeric-multi ul.X12 span  { margin-left: 13.5em; }

.multiple-opt-comments ul.X14 span.option , .multiple-short-txt ul.X14 label , .numeric-multi ul.X14 label { width: 15em;}
.multiple-opt-comments ul.X14 span.comment  , .multiple-short-txt ul.X14 span  , .numeric-multi ul.X14 span  { margin-left: 15.5em; }

.multiple-opt-comments ul.X16 span.option , .multiple-short-txt ul.X16 label , .numeric-multi ul.X16 label { width: 17em;}
.multiple-opt-comments ul.X16 span.comment  , .multiple-short-txt ul.X16 span  , .numeric-multi ul.X16 span  { margin-left: 17.5em; }

.multiple-opt-comments ul.X18 span.option , .multiple-short-txt ul.X18 label , .numeric-multi ul.X18 label { width: 19em;}
.multiple-opt-comments ul.X18 span.comment  , .multiple-short-txt ul.X18 span  , .numeric-multi ul.X18 span  { margin-left: 19.5em; }

.multiple-opt-comments ul.X20 span.option , .multiple-short-txt ul.X20 label , .numeric-multi ul.X20 label { width: 21em;}
.multiple-opt-comments ul.X20 span.comment  , .multiple-short-txt ul.X20 span  , .numeric-multi ul.X20 span  { margin-left: 21.5em; }

.multiple-opt-comments ul.X22 span.option , .multiple-short-txt ul.X22 label , .numeric-multi ul.X22 label { width: 23em;}
.multiple-opt-comments ul.X22 span.comment  , .multiple-short-txt ul.X22 span  , .numeric-multi ul.X22 span  { margin-left: 23.5em; }

.multiple-opt-comments ul.X24 span.option , .multiple-short-txt ul.X24 label , .numeric-multi ul.X24 label { width: 25em;}
.multiple-opt-comments ul.X24 span.comment  , .multiple-short-txt ul.X24 span  , .numeric-multi ul.X24 span  { margin-left: 25.5em; }

.multiple-opt-comments ul.X26 span.option , .multiple-short-txt ul.X26 label , .numeric-multi ul.X26 label { width: 27em;}
.multiple-opt-comments ul.X26 span.comment  , .multiple-short-txt ul.X26 span  , .numeric-multi ul.X26 span  { margin-left: 27.5em; }

.multiple-opt-comments ul.X28 span.option , .multiple-short-txt ul.X28 label , .numeric-multi ul.X28 label { width: 29em;}
.multiple-opt-comments ul.X28 span.comment  , .multiple-short-txt ul.X28 span  , .numeric-multi ul.X28 span  { margin-left: 29.5em; }

.multiple-opt-comments ul.X30 span.option , .multiple-short-txt ul.X30 label , .numeric-multi ul.X30 label { width: 31em;}
.multiple-opt-comments ul.X30 span.comment  , .multiple-short-txt ul.X30 span  , .numeric-multi ul.X30 span  { margin-left: 31.5em; }

.multiple-opt-comments ul.X-large span.option , .multiple-short-txt ul.X-large label , .numeric-multi ul.X-large label { margin-bottom: 0%;}
.multiple-opt-comments ul.X-large span.comment  , .multiple-short-txt ul.X-large span  , .numeric-multi ul.X-large span  { margin-left: 2em; }

.numeric-multi dl.multiplenumerichelp.X-large { display: static; }

.numeric-multi ul.multiplenumerichelp	{	display: block;	float: left;	}
.numeric-multi ul.multiplenumerichelp li	{	display: block;	}

 .numeric-multi ul.multiplenumerichelp li label
{
	margin: 0% 0% -1.4em 0%;
	width: 3.5em;
	display: block;
}
 .numeric-multi ul.multiplenumerichelp li span
{
	margin: 0% 0% 0% 4em;
	display: block;
	width: 8em;
}

.innergraph img
{
height:14px;
vertical-align:top;
margin:0px 0px 0px 0px;
}