body {
font-size:8pt;
font-family:verdana;
}

.submit {
color:#339;
font-size:8pt;
font-family:verdana;
}

.answertextright {
text-align:left;
}

.clearall {
font-size:7pt;
}

.clearall
A:hover {
text-decoration:underline;
font-family:verdana;
color:#F93;
}

.graph {
border:solid;
background-color:#FFD1A4;
border-color:#339;
border-width:1px;
}

.innergraph {
background-color:#FFD1A4;
color:#C86400;
font-size:8pt;
font-family:verdana;
direction: ltr;
}

.rank {
background-color:#FFE4CA;
border:solid;
border-color:#FFB4CA;
border-width:1px;
}

.array1 {
background-color:#FFE0CA;
}

.array2 {
background-color:#FFEFCA;
}

.question {
font-family:verdana;
font-size:10px;
}

.questionhelp {
font-size:10px;
font-style:italic;
}

.questiontext{
font-family:verdana;
font-size:12px;
font-weight:bold;
}

.asterisk {
color:red;
font-size:9pt;
font-family:verdana;
}

.innergraph img {
height:12px;
vertical-align:top;
}

.innergraph table {
height:12px;
border:1px solid #000;
table-layout:fixed !important;
}

.innergraph td {
height:12px;
}

.printouttable {
width:100%;
}

.printouttable td {
border-color:#fff #fff #ddf;
border-style:solid;
border-width:1px;
}

.printouttable td:first-child {
background-color:#ddf;
font-weight:700;
text-align:right;
padding-right:5px;
padding-left:5px;
}

.printouttitle {
padding-right:5px;
padding-left:5px;
font-size:18px;
}

.surveytitle {
font-size:1.2em;
height:1.5em;
}

.languagechanger {
font-size:1em;
}

.text,.select,.textarea {
color:#339;
font-size:9pt;
font-family:verdana;
}

.clearall
A:link,.clearall
A:visited,.clearall
A:active {
text-decoration:none;
font-family:verdana;
color:#F93;
}

.errormandatory,.warningjs {
font-size:12px;
font-weight:700;
color:RED;
}

table.question {
width: 100%;
}

table.question tr.array1:hover,table.question tr.array2:hover {
background-color:#A7A9D1;
}
