 {% extends "./subviews/printanswers/printanswers_question.twig" %}
 {% block question_answer %}
 <div class="col-md-8">
    <div class="row">
        <div class="col-md-4 text-right">
            {% if question.answercode == '-oth-' %}
                {{question.answeroption.answer|escape}}
            {% else %}
                {{question.answeroption.answer}}
            {%endif %}
        </div>
        <div class="col-md-8 text-left">
            <b>{{question.answervalue}}</b>
        </div>
    </div>
</div>
{% endblock %}
