 {% extends "./subviews/printanswers/printanswers_question.twig" %}
 {% block question_answer %}
 <div class="col-md-8">
    <div class="row">
        <div class="col-md-4 text-right">
        </div>
        <div class="col-md-8 text-left">
            {{question.answervalue|date(question.dateformat.phpdate)}}
        </div>
    </div>
</div>
{% endblock %}
