 {% extends "./subviews/printanswers/printanswers_question.twig" %}
 {% block question_answer %}
 <div class="col-lg-8">
    <div class="row">
        <div class="col-lg-4 text-end">
        </div>
        <div class="col-lg-8 text-start">
            {{question.answervalue}}
        </div>
    </div>
</div>
{% endblock %}
