 {% extends "./subviews/printanswers/printanswers_question.twig" %}
 {% block question_answer %}
 <div class="col-md-8">
    <div class="row">
        <div class="col-md-4 text-right">
        </div>
        <div class="col-md-8 text-left">
            {{question.answervalue}} - {{question.answeroption.answer}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-right">
        </div>
        <div class="col-md-8 text-left">
            {{question.comment.answervalue|escape}}
        </div>
    </div>
</div>
{% endblock %}
