{% extends "./subviews/printanswers/printanswers_question.twig" %}
{% block question_answer %}
 <div class="col-lg-8">
    {% for subquestionId, subquestion in question.subquestions %}
        <div class="row">
            <div class="col-lg-4 text-end">
                {{subquestion.answervalue}}
            </div>
            <div class="col-lg-8 text-start">
                <b>{{subquestion.question}} ({{subquestion.qid}})</b>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
