table {
    border-collapse: separate;
    border-spacing: 0;
    .ls-sticky-column {
        &:first-child {
            position         : sticky;
            background-color : $white;
            left             : 0;
            box-shadow       : inset -15px 0px 15px -15px rgba(0, 0, 0, 0.05);
        }
        &:last-child {
            position         : sticky;
            background-color : $white;
            right            : -1px; // Chrome(<109) bug forces us to use -1px because it would show a 1px gap
            box-shadow       : inset 15px 0 15px -15px rgba(0, 0, 0, 0.05);
        }
    }
    [class^="ri-"], [class*=" ri-"]  {
        vertical-align: 0;
    }
}

.table {
    > {
        thead > tr,
        tbody > tr,
        tfoot > tr, {
            &.active > {
                td, th {
                    background-color : $g-200;
                }
            }
            &.success > {
                td, th {
                    background-color : $success;
                }
            }
            &.info > {
                td, th {
                    background-color : $grape;
                }
            }
            &.warning > {
                td, th {
                    background-color : $warning;
                }
            }
            &.danger > {
                td, th {
                    background-color : $error;
                }
            }
            > {
                td, th {
                    &.active {
                        background-color : $g-200;
                    }
                    &.success {
                        background-color : $success;
                    }
                    &.info {
                        background-color : $grape;
                    }
                    &.warning {
                        background-color : $warning;
                    }
                    &.danger {
                        background-color : $error;
                    }
                }
            }
        }
    }
    tbody + tbody {
        border-top : 2px solid $g-600;
    }
    tfoot > tr > td {
        border-top : 1px solid $g-600;
    }
    thead > tr > th {
        border-bottom : 2px solid $g-600;
    }
}

.table {
    background-color : $white;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color : $g-200;
}

.table-hover > tbody > tr {
    &:hover > {
        td {
            background-color : $g-200;
        }
        td:not(.ls-sticky-column) {
            box-shadow : none;
        }
    }
    &.active:hover > {
        td, th {
            background-color : $g-200;
        }
    }
    &.success:hover > {
        td, th {
            background-color : mix($g-200, $success, percentage($table-hover-bg-factor));
        }
    }
    &.info:hover > {
        td, th {
            background-color : mix($g-200, $grape, percentage($table-hover-bg-factor));
        }
    }
    &.warning:hover > {
        td, th {
            background-color : mix($g-200, $warning, percentage($table-hover-bg-factor));
        }
    }
    &.danger:hover > {
        td, th {
            background-color : mix($g-200, $danger, percentage($table-hover-bg-factor));
        }
    }
    > {
        td, th {
            &.active:hover {
                background-color : $g-200;
            }
            &.success:hover {
                background-color : mix($g-200, $success, percentage($table-hover-bg-factor));
            }
            &.info:hover {
                background-color : mix($g-200, $grape, percentage($table-hover-bg-factor));
            }
            &.warning:hover {
                background-color : mix($g-200, $warning, percentage($table-hover-bg-factor));
            }
            &.danger:hover {
                background-color : mix($g-200, $danger, percentage($table-hover-bg-factor));
            }
        }
    }
}

/** For all grid view table */
.scrolling-wrapper {
    overflow-x: auto;
    overflow-y: hidden;

    // if go to last page of table, the action dropdown is hidden.
    min-height: 300px;
}


.grid-view, .grid-view-ls {
  --main-color: #8046F5;
  --main-border-color: #6D748C;

  .table {
    padding: 20px;
    //background-color: $g-100;
    border-radius: 4px;
    border: solid 1px rgb(39 39 39 / 15%);
    box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.2);

    .ls-sticky-column, .checkbox-column {
      text-align: center;
      padding: 7px 20px;
      box-shadow : none;
    }


    thead {
      tr {
        border: 0 none white;

        th {
          padding-bottom: 9px;
          //padding-left: 25px;
          font-weight: 600;
          vertical-align: middle;
          border-bottom: solid 1px  #9DA1B2;

          .sort-link  {
            color: black;
            font-weight: 600;

            ::before {
              //visibility: hidden;
              font-weight: 500;
              color: var(--bs-primary);
            }
          }
        }

        th:hover .sort-link :before {
          visibility: visible;
        }
      }
    }

    tbody {

      td input[type=checkbox]:after {
        margin-right: 0;
      }

      tr {
        border: solid 1px #F9F9FB;
      }

      //tr:hover td .dropdown.ls-action_dropdown button.btn .ri-more-fill:before,
      //tr td .dropdown.ls-action_dropdown button.btn.show .ri-more-fill:before {
      //  visibility: visible;
      //  color: black;
      //}

      .dropdown.ls-action_dropdown {

      }
    }


    button {
      //color: white;
      //border: solid 1px  white;
      border-color: white;
    }

    button:hover,
    button:focus {
      color: black;
      box-shadow : none;
      border-color: white;
    }

    button.btn .ri-more-fill:before {
      font-size: 1.1em;
      //visibility: hidden;
    }

  }

  .ri-play-fill:before,
  .ri-stop-fill:before,
  .ri-skip-forward-fill:before{
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 0px;
    margin-bottom: 4px;
    font-size: 1.6em;
  }

  .survey-state.disabled {
    opacity: 0.5;
  }

  .action-list {
    .disabled {
      opacity: 0.3;
    }

    ul {
      padding: 0;
      margin: 0;
      padding-left: 0;

      li a {
        //background-color: lightgray;
        display: inline-block;
        padding: 2px;
        margin: 0;

        i:before {
          display: inline-block;
          color: black;
          font-size: 1.4em;
        }
      }

      li:last-child a {
        padding-right: 0;
      }

      li a.active i::before {
        color: var(--main-color);
      }

    }

  }
}
