/* Drag-n-drop ranking default styles */

.dragDropTable .SortableTitle{display:block}
.dragDropTable .columns2{width:50%;float:left;margin:0;padding:0;}
:dir(ltr) .dragDropTable .columns2{float:right}
.dragDropTable .clear{clear:both}

.dragDropTable {
    width: 100%;
}


.dragDropTable .dragDropChoices,
.dragDropTable .dragDropRanks {
	margin: 5px 0 0 0; 
	background: transparent none;
}

.dragDropTable .dragDropChoiceList,
.dragDropTable .dragDropRankList {
    margin: 0;
    padding: 0;
    padding-bottom:2em;
    list-style-type: none;
	border: 1px solid #CCCCCC;
	display: block; /* Force the li to full width */
}

.dragDropTable .dragDropChoiceList li,
.dragDropTable .dragDropRankList li {
    margin: 3px;
    padding: 3px;
	min-height: 1.3em;
	font-weight: normal;
	cursor: move;
	clear:both;
}

