#dialog-confirm { padding: 0 20px; float: left; width: 750px; }/* Used .*/

/* Using display:table and hack for IE6/7 */
.files-list {
    display: table;
    table-layout: fixed;
    width: 100%;
    list-style: none;
    padding: 1em;
    margin: 0;
}
.file-element{display:table-row;width:100%;padding:0.5em 0;}
.file-info fieldset{
border:0 none;
padding:0;
margin:0;
}

.file-preview,.file-info,.file-tool{
display:table-cell;vertical-align:middle;
* float:left 
}
.file-preview{width:50%;text-align:center;min-height:80px;}
.file-info{
text-align:left;
* width:40%
}
.file-tool{width:50px;text-align:center}

@media handled,screen and (max-width: 479px) {
    .files-list{
    display:block;
    }
    .file-element{
    display:block;
    }
    .file-preview,.file-info,.file-tool{
    width:100%;
    display:block;
    }
}



.file-info label{
    float:left;
    clear:left;
    display:block;
    width:12em;
    padding:0 0.5em;
    line-height:1.5;
    text-align:right;
}

.file-info .input-container{
    display:block;
    margin-left:13em;
}
@media only screen and (max-width: 767px) {
    .file-info label{
    display:bloc;
    float:none;
    width:auto;
    text-align:left;
    }
    .file-info .input-container{
        margin-left:0;
    }
}
.upload-div{
    text-align: center;
}
.uploadmsg {
    text-align: center;
}

.uploadstatus {
    text-align: center;
}

.upload-button {
    border: 1px solid #79B7E7;
    background: url("./images/ui-bg_glass_85_dfeffc_1x400.png") repeat-x scroll 50% 50% #DFEFFC;
    color: #5670A1;
    font-weight: bold;
    outline: medium none;
    -moz-border-radius: 5px 5px 5px 5px;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
    float: none;
    line-height: 1.4em;
    margin: 0.5em 0.4em 0.5em 0;
    overflow: visible;
    padding: 0.6em 0.6em 0.6em 0.6em;
    min-width: 10em;
    text-align: center;
}

#notice .success,#notice  .error {
    border: 1px solid;
    margin: 1.3em auto 1.5em auto;
    padding:1.3em 60px;
    background-repeat: no-repeat;
    background-position: 20px center;
    max-width:40em;
}

#notice .success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('img/upload-success.png');
}

#notice .error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('img/upload-error.png');
}

body.uploader {
    padding: 1em;
}
