/*** Minimized/Maximized Toolbar ***/

.cke_minimized .cke_break,
.cke_minimized .buttonSpan-1,
.cke_minimized .buttonSpan-2,
.cke_minimized .buttonSpan-3,
.cke_minimized .buttonSpan-4,
.cke_minimized .buttonSpan-6,
.cke_minimized .buttonSpan-7,
.cke_minimized .buttonSpan-8,
.cke_minimized .buttonSpan-9,
.cke_minimized .buttonSpan-10,
.cke_minimized .buttonSpan-12,
.cke_minimized .buttonSpan-13,
.cke_minimized .buttonSpan-14 {
		display: none;
}

.cke_maximized .buttonSpan-16,
.cke_maximized .buttonSpan-17,
.cke_maximized .buttonSpan-18,
.cke_maximized .buttonSpan-19,
.cke_maximized .buttonSpan-20,
.cke_maximized .buttonSpan-21 {
		display: none;
}

/* Some changes to codemirror used on template editor */
.codemirror-ui-button-frame input,.codemirror-ui-button-frame label{
	font-size: 0.7em !important;
}

.codemirror-ui-find-bar{
	margin-top: 0.2em !important;
}

/* HTML editor */
div.htmleditor {
    display: inline-block;
}

.imagelink {
    float:left;
}

.imagelink img {
    margin-top: 3px;
    margin-left: 1px;
    margin-right: 1px;
}
.popuptip {
    position:absolute;left:-99999em;
}
.menubar a{display:inline-block;}


.menubar select {
    margin-bottom: 0px;

}
.qtip-questiontype {
    z-index: 100000;
    background-color: white;
    border: 1px solid #ddd;
    max-width: 468px;
    width: 468px;
}

#surveydetails td:first-child,
#groupdetails td:first-child,
#questiondetails td:first-child {
    width:25%;
    font-weight:bold;
    text-align:right;
    vertical-align:top;
}

#surveydetails td+td,
#groupdetails td+td,
#questiondetails td+td {
    text-align:left;
}


/* Some color for information block */
/* Best is to replace in template   */
.error{color:#B94A48}
.success{color:#468847}
.warning{color:#C09853}
/******************************************************************************/
/* Bootstrap overrides.                                                       */
/******************************************************************************/
label {display: inline-block;}/* override but leave admin template to override again */
/* Fixes li not expanding to size of containing table. (Survey settings add language interface) */
form li {
    overflow: hidden;
}
/* Fix padding on table cell */
table td, table th {
    padding: 1px;
}
/* Fix select width, bootstrap set it for mobile */
select {
    width: auto;
}
/* Fix select and input width, taken from getskeleton and other */
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]
{
    max-width:99%;
}
/* Specific select ?*/
.select{
    margin-left: 10px;
}

.select * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Think this can be in template/adminstyle.css */
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    min-width: 6em;
    width:auto;
    margin-bottom: 0px;
    font-size: 1em;
    line-height: 1.5;
}
textarea,select[size]{
    height: auto;
}
.ui-jqgrid{clear:both}
.ui-jqgrid-btable.load{opacity:0.5}
.ui-jqgrid select,.ui-jqgrid textarea,.ui-jqgrid input[type="text"]{
    padding: 2px;
}
.gridcontrol.disabled{visibility:hidden}
label, legend {
    width:auto;
    min-height: 26px;
    margin-bottom: 0px;
    padding: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
}

/* Make line spacing more compact for advanced question settings */
li label {
    line-height: 1em;
    margin-top: .4em;
}

/* Fix input height for jqgrid (survey overview) */
div.ui-jqgrid-hbox input, div.ui-jqgrid-hbox input{
    height: 18px;
}
/* fix jqgrid th height */
.ui-jqgrid .ui-jqgrid-htable th {
    height: auto;
    padding: 0 2px;
}
/* fix jqgrid pager width see bug #9555#c32072 */
#pager_left{width:auto !important}

/* Fix height of browsettable */
#gview_displayresponses th .qcode {
    display: block;
    padding-right:16px; /* leave place for ordering arrow */
    height: auto;
}
#gbox_displayresponses.ui-jqgrid .s-ico{
 position:absolute;right:18px;top:0; /* The ordering arrow */
}
#gview_displayresponses th .questiontext {
    display: block;
    height: 2.5em;
    overflow: hidden;
}
#gbox_displayresponses.ui-jqgrid .ui-jqgrid-htable th div {
     height: auto;
}
/* jqgrid table must take all place if avalaible, but header and footer must not be outside the screen */
/* Myabe use a pseudo fixd-y solution is a good idea */
.ui-jqgrid,.ui-jqgrid-view,.ui-jqgrid-titlebar,.ui-jqgrid-toppager,.ui-jqgrid-pager{
    min-width:100%;
    max-width:100%;
    margin-right:0;margin-left:0;
    box-sizing: border-box
}
.grid-wrapper{
    max-width:100%;
}
#surveylist-wrapper{
    overflow:hidden
}
.ui-tooltip.tooltip-text{min-width:15em}
.templateeditor {
    float:left;
    width:70%;
    padding:1em;
}

/* Make jqgrid pagers fit in IE */
.ui-jqgrid .ui-jqgrid-toppager,
.ui-jqgrid .ui-jqgrid-pager {
    height: auto !important;
}

/* some li in form have clear */
.ui-tabs .ui-tabs-nav li{
clear: none !important;
}

/* Make pager not so high */
.ui-jqgrid input,
.ui-jqgrid select {
    height: auto;
    min-height: 1.4em;
    line-height: 1.4em;
    display: inline-block;
    min-width: 0;
    width: auto;
    overflow: hidden;
}

legend { line-height: normal; }

/* export tooltips */
.tooltip-export {
    display: inline;
}
.tooltip-export .exporttip {
    display: none;
}
.popover-content p .exporttip { text-align: left;}
.exporttip li { overflow: visible;}
li input+label { display: inline;}
#resultexport ol, #resultexport ul { margin: 0 0 10px 10px;}

.hide {
    display: none !important;
}
.hidden { /* Bootstarp 3 */
  display: none !important;
  visibility: hidden !important;
}
#deleteMode input{
    margin-left:2em;
}

.conditionlist td.operator{
    text-align:center; font-weight:bold;
}

#quotalist form{display:inline;}

/* For Permissions settings */
.mixed{opacity:0.4;}
/* For the iframe in dialog */
iframe#dialog{display:block; width:100%!important; height:100%!important;margin:0;padding:0;border:0}
/* fix .form30 css for cke_editor table */
.form30 table.cke_editor{float:none}
