/*** Minimized/Maximized Toolbar ***/

.cke_minimized .cke_break,
.cke_minimized .buttonSpan-1,
.cke_minimized .buttonSpan-2,
.cke_minimized .buttonSpan-3,
.cke_minimized .buttonSpan-4,
.cke_minimized .buttonSpan-6,
.cke_minimized .buttonSpan-7,
.cke_minimized .buttonSpan-8,
.cke_minimized .buttonSpan-9,
.cke_minimized .buttonSpan-10,
.cke_minimized .buttonSpan-12,
.cke_minimized .buttonSpan-13,
.cke_minimized .buttonSpan-14 {
		display: none;
}

.cke_maximized .buttonSpan-16,
.cke_maximized .buttonSpan-17,
.cke_maximized .buttonSpan-18,
.cke_maximized .buttonSpan-19,
.cke_maximized .buttonSpan-20,
.cke_maximized .buttonSpan-21 {
		display: none;
}

/* Some changes to codemirror used on template editor */
.codemirror-ui-button-frame input,.codemirror-ui-button-frame label{
	font-size: 0.7em !important;
}

.codemirror-ui-find-bar{
	margin-top: 0.2em !important;
}

/* HTML editor */
div.htmleditor {
    display: inline-block;
}

.imagelink {
    float:left;
}

.imagelink img {
    margin-top: 3px;
    margin-left: 1px;
    margin-right: 1px;
}
.popuptip {
    position:absolute;left:-99999em;
}
.menubar a{display:inline-block;}


.menubar select {
    margin-bottom: 0px;
   
}
.qtip-questiontype {
    z-index: 100000;
    background-color: white;
    border: 1px solid #ddd;
    max-width: 468px;
    width: 468px;
}


/******************************************************************************/
/* Bootstrap overrides.                                                       */
/******************************************************************************/
label {display: inline-block;}/* override but leave admin template to override again */
/* Fixes li not expanding to size of containing table. (Survey settings add language interface) */
form li {
    overflow: hidden;
}
/* Fix padding on table cell */
table td, table th {
    padding: 1px;
}
/* Fix select width, bootstrap set it for mobile */
select {
    width: auto;
}
/* Fix select and input width, taken from getskeleton and other */
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]
{
    max-width:99%;
}
/* Specific select ?*/
.select{
    margin-left: 10px;
}

.select * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Think this can be in template/adminstyle.css */
label, legend,
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    min-width: 6em;
    width:auto;
    min-height: 26px;
    margin-bottom: 0px;
    padding: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
}

legend {
    min-width: 0;
    border: 0px;
}

/* fixing login form password/login height in IE */
#loginform input { 
    height: auto;
    min-height: 0;
}

/* Make line spacing more compact for advanced question settings */
li label {
    line-height: 1em;
    margin-top: .4em;
}

/* Fix input height for jqgrid (survey overview) */
div.ui-jqgrid-hbox input, div.ui-jqgrid-hbox input{
    height: 18px;
}
/* fix jqgrid th height */
.ui-jqgrid .ui-jqgrid-htable th {
    height: auto;
    padding: 0 2px;
}
/* Fix height of browsettable */
.browsetable th .questiontext {
    display: block;
    height: 4em;
    overflow: hidden;
}

.templateeditor {
    float:left;
    width:70%; 
    padding:1em;
}