div.htmleditor {
    display: inline-block;
}
/*** Minimized/Maximized Toolbar ***/

.cke_minimized .cke_break,
.cke_minimized .buttonSpan-1,
.cke_minimized .buttonSpan-2,
.cke_minimized .buttonSpan-3,
.cke_minimized .buttonSpan-4,
.cke_minimized .buttonSpan-6,
.cke_minimized .buttonSpan-7,
.cke_minimized .buttonSpan-8,
.cke_minimized .buttonSpan-9,
.cke_minimized .buttonSpan-10,
.cke_minimized .buttonSpan-12,
.cke_minimized .buttonSpan-13,
.cke_minimized .buttonSpan-14 {
		display: none;
}

.cke_maximized .buttonSpan-16,
.cke_maximized .buttonSpan-17,
.cke_maximized .buttonSpan-18,
.cke_maximized .buttonSpan-19,
.cke_maximized .buttonSpan-20,
.cke_maximized .buttonSpan-21 {
		display: none;
}

/* Some changes to codemirror used on template editor */
.codemirror-ui-button-frame input,.codemirror-ui-button-frame label{
	font-size: 0.7em !important;
}

.codemirror-ui-find-bar{
	margin-top: 0.2em !important;
}

.imagelink {
    float:left;
}

.imagelink img {
    margin-top: 3px;
    margin-left: 1px;
    margin-right: 1px;
}