.em-expression{background:#eee8aa /* palegoldenrod */ ;display:inline-block;font-weight: bold;border:1px dotted #ccc}
.em-haveerror{border-color: #ff4500}
.em-var-string{color: #808080 /* gray */}
.em-var-string{font-weight: normal;}
.em-function{color: #0000ff /* blue */; }
.em-var-static,a.em-var-static{color:#a0522d /* sienna */}/* Static */
.em-var-before,a.em-var-before{color:#9370db /* mediumpurple*/ }/* Var used before set */
.em-var-after,a.em-var-after{color:#008000 /* green */}/* Var used after - no js except for survey */
.em-var-inpage,a.em-var-inpage{color:#4169e1 /* royalblue */} /* Javascript used in survey or group mode*/
.em-var-error,a.em-var-error{color: #ff0000 /* red */}
.em-assign{color: #ff4500 /* orangered */}
.em-error{border: 2px solid #ff0000; /* red */;}
