// Alerts
.alert-success {
  background-color: $white;
  border: 1px solid $primary-active;
  color: $primary;
  hr {
      border-top-color: $primary-bg_hover_success;
  }
  .alert-link {
      color: $primary-hover;
  }
}
.alert-info {
  background-color: $white;
  //border: 1px solid $primary-bg_hover;
  //color: $primary-bg_hover;
  border: 1px solid $alert-info;
  color: $alert-info;
  hr {
      border-top-color: $primary-bg_info_hover_3;
  }
  .alert-link {
      color: $primary-bg_info_hover_4;
  }
}
.alert-warning {
  background-color: $white;
  border: 1px solid $brown-10;
  color: $brown-10;
  hr {
      border-top-color: $brown-light-40;
  }
  .alert-link {
      color: $orange-20;
  }
}
.alert-danger {
  border: 1px solid $red-50;
  color: $red-50;
  hr {
      border-top-color: $danger-hr;
  }
  .alert-link {
      color: $danger-light;
  }
}