$alert-status: (
  success: $success,
  warning: $warning,
  danger: $error,
);

@mixin alert-variant($color, $status) {
  border: 1.33px solid $g-900;
  color: $g-900;

  @if ($status== "outlined") {
    background-color: $white;
    border-left: 8px solid $color;
  } @else {
    background-color: $color;
  }

  hr {
    border-top-color: $color;
  }
  .alert-link {
    color: $grape;
  }
}

@each $state, $value in $alert-status {
  .alert-#{$state} {
    @include alert-variant($value, "filled");
  }
  .alert-#{$state}-outlined {
    @include alert-variant($value, "outlined");
  }
}
