/* This CSS file is included if a Right-to-Left language is used */
td.survey-description {
	text-align: right;
}
td.survey-welcome {
	text-align: right;
}
.save-all {
	text-align: right;
	width: 33%;
	padding: 5px 25px 5px 0;
}
.progress-cell {
	text-align: right;
}
.submit-buttons {
	text-align: left;
	padding: 5px 0 5px 25px;
}
table.group-name {
	text-align: right;
}
.load-form,
.save-form {
	text-align: right;
}
.answertextright {
  text-align: right;
}
.survey-question-help {
  text-align: right;
}
.survey-question-help img {
  margin: 2px 0 2px 4px;
  vertical-align: middle;
}
.asterisk {
  padding-left:1em;padding-right:0;
}
#progress-graph div.graph {
  margin-right: 2.6em;
  margin-left: 0;
}
#progress-graph div.cent {
  margin-right: 13.5em;
  margin-left: 0;
}
.choice-5-pt-radio .survey-question-answer li,.list-radio-flexible .survey-question-answer li,.list-radio .survey-question-answer li,.list-with-comment .survey-question-answer li,.multiple-opt .survey-question-answer li,.multiple-opt-comments .survey-question-answer li,.multiple-short-txt .survey-question-answer li,.numeric-multi .survey-question-answer li,.yes-no li,.gender .survey-question-answer li
  {
  text-align: right;
  margin: 0 0.5em 0.5em 0;
}
.choice-5-pt-radio .survey-question-answer li,.list-radio-flexible .survey-question-answer li,.list-radio .survey-question-answer li,.list-with-comment .survey-question-answer li
  {
  margin-right: 2.5em;margin-left: 0;
}
.choice-5-pt-radio .survey-question-answer ul,.yes-no .survey-question-answer ul,.gender .survey-question-answer ul {
  text-align: left;
  margin-right: 0.7em;margin-left:0;
  padding-right: 0;padding-left:0;
}
.date p.question {
  margin-right: 1em;margin-left: 0;
}
.date p.tip,.numeric-multi p.tip,.numeric p.tip {
  margin-left: 0;margin-right: 1.5em;
}
.numeric p.question {
  margin-left: 0;margin-right: 1em;
}
ul.cols-2 li,ul.cols-2-ul,ul.cols-3 li,ul.cols-3-ul,ul.cols-4 li,ul.cols-4-ul,ul.cols-5 li,ul.cols-5-ul,ul.cols-6 li,ul.cols-6-ul,ul.cols-7 li,ul.cols-7-ul,ul.cols-8 li,ul.cols-8-ul
  {
  float: right;
}
.list-with-comment div.list {
  float: right;
}
.list-with-comment p.select {
  float: right;
}
.list-with-comment div.list p {
  text-align: right;
}
.list-with-comment p.comment {
  text-align: right;
  float: right;
}
table.rank td.helptext {
  text-align: right;
}
.numeric-multi ul.computed {
  float: right;
  padding-left: 2em;padding-right: 0;
}
.multiple-opt-comments ul li span.option {
  padding: 0.3em 2.2em 0 1em;
}
.numeric-multi ul li label {
  padding: 0.3em 0 0 1em;
}
.multiple-short-txt ul li label {
  padding: 0.3em 0 0 1em;
}
.multiple-opt-comments ul li span.comment,.multiple-short-txt ul li span,.numeric-multi ul li span
  {
  padding: 0.3em 1em 0 0;
}
.numeric-multi div.multinum-slider {
  float: right;
}
.numeric-multi ul.multiplenumerichelp li span,.numeric-multi ul.multiplenumerichelp.slider li span
  {
  padding: 0 0.3em 0 0;
}
#limesurvey table.question tbody th.answertext,#limesurvey table.question tbody th.arraycaptionleft
  {
  text-align: left;
}

#limesurvey table.question tbody th.answertextright {
  text-align: right;
}
#tokenform label {
  float: right;
  margin-right: 0.5em;margin-left: 0;
  text-align: left;
}
#tokenform img {
  margin-left: 5px;margin-right: 0;
}
#tokenform input.submit {
  margin:1em 18em 1em 0;
}
.outerframe.withindex, .withindex .outerframe{
  margin-left: 26em;
  margin-right: 1em;
}
#index {
  left: 0;
  border-right: 1px solid #000;
}
#index h3 {
  margin: 0.5em 0.5em 0 0;
}
#index .container .row {
  text-align: right;
}
#index .container .row .hdr {
  text-align: left;
}
