// Wells
.well {
  background-color: $g-300;
  border: none;
  box-shadow: none;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border-radius: 4px;
  blockquote {
    border: 1px solid $g-600;
  }
}

.well-sm {
  padding: 9px;
  border-radius: 3px;
}
