/* This CSS file is included if a Right-to-Left language is used */
.answertextright {
  text-align: right;
}
.innergraph {
  direction: ltr;
}
.choice-5-pt-radio .question-answer ul,.list-radio-flexible .question-answer ul,.list-radio .question-answer ul,.list-with-comment .question-answer ul
  {
  margin-left: 0;margin-right: 0.75em;
  padding-right: 0;
}

.multiple-opt .question-answer ul,.multiple-opt-comments .question-answer ul,.multiple-short-txt .question-answer ul,.numeric-multi .question-answer ul,.yes-no .question-answer ul,.gender .question-answer ul
  {
  margin-right: 0;
  padding-right: 0;
}
.choice-5-pt-radio .question-answer li,.list-radio-flexible .question-answer li,.list-radio .question-answer li,.list-with-comment .question-answer li,.multiple-opt .question-answer li,.multiple-opt-comments .question-answer li,.multiple-short-txt .question-answer li,.numeric-multi .question-answer li,.yes-no .question-answer li,.gender .question-answer li
  {
  text-align: right;
  margin: 0 0.5em 0.5em 0;
}
.choice-5-pt-radio .question-answer li,.list-radio-flexible .question-answer li,.list-radio .question-answer li,.list-with-comment .question-answer li,.yes-no .question-answer li,.gender .question-answer li
  {
  margin-left:0;margin-right: 2em;
  text-indent: -2.2em;
}
.choice-5-pt-radio .question-answer ul,.yes-no .question-answer ul,.gender .question-answer ul {
  text-align: right;
  padding-left: 0.5em;
}
.choice-5-pt-radio .question-answer ul li,.yes-no .question-answer ul li,.gender .question-answer ul li {
  margin-right: 0;
  padding: 0 0 0 2em;
}
.date p.question {
  margin-left: 0;margin-right: 1em;
}
.date p.tip,.numeric-multi p.tip,.numeric p.tip {
  margin-left: 0;margin-right: 1.5em;
  font-size: 80%;
  font-style: italic;
  line-height: 150%;
}
.numeric p.question {
  margin: 0.5em 1em 0 0.5em;
}
ul.cols-2 li,ul.cols-2-ul,ul.cols-3 li,ul.cols-3-ul,ul.cols-4 li,ul.cols-4-ul,ul.cols-5 li,ul.cols-5-ul,ul.cols-6 li,ul.cols-6-ul,ul.cols-7 li,ul.cols-7-ul,ul.cols-8 li,ul.cols-8-ul
  {
  float: right;
}
#limesurvey .list-dropdown p.question,#limesurvey .list-dropdown-flexible p.question
  {
  margin-left: 0;margin-right: 1em;
  text-align: right;
}
.list-with-comment div.list {
  float: right;
}
.list-with-comment p.select {
  float: right;
}
.list-with-comment div.list p {
  text-align: right;
}
.list-with-comment p.comment {
  text-align: right;
  float: right;
}
.multiple-opt-comments ul,.multiple-short-txt ul,.numeric-multi ul {
  margin: 0.5em 0.7em 0.5em 0.5em;
}
.numeric-multi ul.computed {
  float: right;
  padding-right: 0;padding-left: 2em;
}
.multiple-opt-comments ul li span.option {
  padding: 0.3em 2.3em 0 1em;
}
.multiple-short-txt ul li label,.numeric-multi ul li label {
  padding: 0.3em 0 0 1em;
}
.numeric-multi ul.computed li label
.numeric-multi ul.slider.computed li label {
  padding-left: 0;
}
.multiple-opt-comments ul li span.comment,.multiple-short-txt ul li span,.numeric-multi ul li span
  {
  padding: 0.3em 1em 0 0;
}
.multiple-opt-comments ul li span {
  padding: 0.3em 0 0 1em;
}
.numeric-multi div.multinum-slider {
  float: right;
}
.text-short input,.text-short textarea,.text-long textarea,.text-huge textarea
  {
  margin-left: 0;margin-right: 1em;
}
#limesurvey table.question tbody th.answertext,#limesurvey table.question tbody th.arraycaptionleft
  {
  text-align: left;
}
#limesurvey table.question tbody th.answertextright {
  text-align: right;
}
.boilerplate td td,.numeric td td,.choice-5-pt-radio td td,.yes-no td td,.gender td td,.date td td,.numeric-multi td td,.numeric td td,.list-with-comment td td,.list-dropdown-flexible td td,.ranking td td,.numeric-multi td td,.language td td,.multiple-opt-comments td td,.multiple-short-txt td td,.text-short td td,.text-long td td,.text-huge td td,.numeric-multi td td,.array-5-pt td,.array-10-pt td,.array-yes-uncertain-no td,.array-increase-same-decrease td,.array-flexible-row td,.array-flexible-column td,.array-multi-flexi td,.array-multi-flexi-text td,.array-flexible-duel-scale td
  {
  text-align: right;
}
#tokenform label {
  float: right;
  margin-right: 0.5em;margin-left: 0.5em;
  text-align: left;
}
#tokenform input.submit {
  margin-left: 0;margin-right: 18em;
}
.outerframe.withindex,.withindex .outerframe{
  margin-left: 26em;
  margin-right: 1em;
}
#index {
  left: 0;
  border-right: 1px solid #000;
}
#index .container .row {
  text-align: right;
}
#index .container .row .hdr {
  text-align: left;
  padding: 0 0 0 0.5em;
}

/* ranking questions */
.dragDropTable .dragDropChoiceList li,
.dragDropTable .dragDropRankList li {
	text-align: left;
}
.dragDropTable .dragDropRankList li span.DDRnumberprefix,
.dragDropTable .dragDropChoiceList li span.DDRnumberprefix {
	float: right;
}
