body {
font-size:8pt;
font-family:verdana;
}

.answertextright {
text-align:left;
}

.clearall {
font-size:10pt;
}

.clearall
A:hover {
text-decoration:underline;
font-family:verdana;
color:#FFF;
}

.graph {
border:solid;
background-color:#DDD;
border-color:#042455;
border-width:1px;
}

.questionhelp {
font-size:10px;
font-style:italic;
}

.questiontext{
font-family:verdana;
font-size:12px;
font-weight:bold;
}

.warningjs {
font-size:12px;
font-weight:700;
color:RED;
}

.asterisk {
color:red;
font-size:9pt;
font-family:verdana;
}

.innergraph img {
height:12px;
vertical-align:top;
}

.innergraph table {
height:12px;
border:1px solid #000;
table-layout:fixed !important;
}

.innergraph td {
height:12px;
}

.printouttable {
width:100%;
}

.printouttable td {
border-color:#fff #fff #ddf;
border-style:solid;
border-width:1px;
}

.printouttable td:first-child {
background-color:#ddf;
font-weight:700;
text-align:right;
padding-right:5px;
padding-left:5px;
}

.printouttitle {
padding-right:5px;
padding-left:5px;
font-size:18px;
}

.surveytitle {
font-size:1.2em;
height:1.5em;
}

.surveytitle:hover {
background-color:#F0F0F0;
}

.languagechanger {
font-size:1em;
}

.submit,.text,.textarea {
background-color:#EDEDED;
color:#042455;
font-size:10pt;
font-family:verdana;
}

.clearall
A:link,.clearall
A:visited,.clearall
A:active {
text-decoration:none;
font-family:verdana;
color:#FFF;
}

table.question {
width: 100%;
}

.innergraph {
direction: ltr;
}

.innergraph,.question {
font-family:verdana;
font-size:10pt;
}

table.question tr.array1:hover,table.question tr.array2:hover {
background-color:#A7A9D1;
}
