body {
font-size:8pt;
font-family:verdana;
}

.answertextright {
text-align:left;
}

.clearall {
font-size:10pt;
}

.clearall
A:hover {
text-decoration:underline;
font-family:verdana;
color:#FFF;
}

.graph {
border:solid;
background-color:#DDD;
border-color:#042455;
border-width:1px;
}

.questionhelp {
font-size:10px;
font-style:italic;
}

.questiontext{
font-family:verdana;
font-size:12px;
font-weight:bold;
}

.warningjs {
font-size:12px;
font-weight:700;
color:RED;
}

.asterisk {
color:red;
font-size:9pt;
font-family:verdana;
}

.innergraph img {
height:12px;
vertical-align:top;
}

.innergraph table {
height:12px;
border:1px solid #000;
table-layout:fixed !important;
}

.innergraph td {
height:12px;
}

.printouttable {
width:100%;
}

.printouttable td {
border-color:#fff #fff #ddf;
border-style:solid;
border-width:1px;
}

.printouttable td:first-child {
background-color:#ddf;
font-weight:700;
text-align:right;
padding-right:5px;
padding-left:5px;
}

.printouttitle {
padding-right:5px;
padding-left:5px;
font-size:18px;
}

.surveytitle {
font-size:1.2em;
height:1.5em;
}

.surveytitle:hover {
background-color:#F0F0F0;
}

.languagechanger {
font-size:1em;
}

.submit,.text,.textarea {
background-color:#EDEDED;
color:#042455;
font-size:10pt;
font-family:verdana;
}

.clearall
A:link,.clearall
A:visited,.clearall
A:active {
text-decoration:none;
font-family:verdana;
color:#FFF;
}

table.question {
width: 100%;
}

.innergraph {
direction: ltr;
}

.innergraph,.question {
font-family:verdana;
font-size:10pt;
}

table.question tr.array1:hover,table.question tr.array2:hover {
background-color:#A7A9D1;
}


/* -------------------------------------------------
   START: Question styles  ------------------------- */

/* =====================================
== Full list of question classes =======

 .boilerplate
,.numeric
,.choice-5-pt-radio
,.yes-no
,.gender
,.date
,.numeric-multi
,.numeric
,.list-radio
,.list-radio-flexible
,.list-with-comment
,.list-dropdown
,.list-dropdown-flexible
,.ranking
,.numeric-multi
,.language
,.multiple-opt-comments
,.multiple-short-txt
,.text-short
,.text-long
,.text-huge
,.numeric-multi
,.array-5-pt
,.array-10-pt
,.array-yes-uncertain-no
,.array-increase-same-decrease 
,.array-flexible-row 
,.array-flexible-column 
,.slider 
,.array-multi-flexi 
,.array-multi-flexi-text
,.array-flexible-duel-scale 
*/

/* - - -  - - -  - - -  - - - - - -  - - -  - - - -
   START: General list styles - - -  - - -  - - - - */
 .choice-5-pt-radio ul
,.list-radio-flexible ul
,.list-radio ul
,.list-with-comment ul
,.multiple-opt ul
,.multiple-opt-comments ul
,.multiple-short-txt ul
,.numeric-multi ul
,.yes-no ul
,.gender ul
{
	margin-left: 0%;
	padding-left: 0%;
}

 .choice-5-pt-radio li
,.list-radio-flexible li
,.list-radio li
,.list-with-comment li
,.multiple-opt li
,.multiple-opt-comments li
,.multiple-short-txt li
,.numeric-multi li
,.yes-no li
,.gender li
{
	list-style-type: none;
	text-align: left;
	margin: 0% 0% 0.5em 0.5em;
}

/* END:  General list styles - - - -  - - -  - - - -
- - - - -  - - -  - - -  - - - - - -  - - -  - - - - */


/* STYLES NOT YET DEFINED - - - - -
.boilerplate {}
*/
/*
 .choice-5-pt-radio ul
,.yes-no ul
,.gender ul
{
	text-align: left;
}
 .choice-5-pt-radio ul li
,.yes-no ul li
,.gender ul li
{
	display: inline;
	padding: 0% 1em;
}
*/

/* STYLES NOT YET DEFINED - - - - -
.date {}
*/
.date p.question { margin-left: 1em; }
.date p.question select.day {}
.date p.question select.month {}
.date p.question select.year {}

 .date p.tip
,.numeric-multi p.tip
,.numeric p.tip
{
	margin-left: 1.5em;
	font-size: 80%;
	font-style: italic;
	line-height: 150%;
}

 .numeric-multi p.tip.error
,.numeric-multi input.tip.error
{
	color: #f70;
	font-weight: bold;
}
 .numeric-multi p.tip.good
,.numeric-multi input.tip.good

{
	color: #090;
	font-weight: bold;
}

/* DEFINED ABOVE UNDER "General list styles" - - - - -
.list-radio-flexible
.list-radio
*/

  ul.cols-2 , table.cols-2
, ul.cols-3 , table.cols-3
, ul.cols-4 , table.cols-4
, ul.cols-5 , table.cols-5
, ul.cols-6 , table.cols-6
, ul.cols-7 , table.cols-7
, ul.cols-8 , table.cols-8
{
	width: 98%;
	margin: 0% auto 0% auto;
}
  ul.cols-2 li , ul.cols-2-ul
, ul.cols-3 li , ul.cols-3-ul
, ul.cols-4 li , ul.cols-4-ul
, ul.cols-5 li , ul.cols-5-ul
, ul.cols-6 li , ul.cols-6-ul
, ul.cols-7 li , ul.cols-7-ul
, ul.cols-8 li , ul.cols-8-ul
{
	float: left;
	padding: 0% 0.5em;

	white-space: normal
}

ul.cols-2 li , ul.cols-2-ul , table.cols-2 td { width: 48%; }
ul.cols-3 li , ul.cols-3-ul , table.cols-3 td { width: 30.5%; }
ul.cols-4 li , ul.cols-4-ul , table.cols-4 td { width: 23%; }
ul.cols-5 li , ul.cols-5-ul , table.cols-5 td { width: 19%; }
ul.cols-6 li , ul.cols-6-ul , table.cols-6 td { width: 15%; }
ul.cols-7 li , ul.cols-7-ul , table.cols-7 td { width: 13%; }
ul.cols-8 li , ul.cols-8-ul , table.cols-8 td { width: 11.5%; }

.list-dropdown-flexible p.question
{
	margin-left: 1em;
}
/* STYLES NOT YET DEFINED - - - - -
.list-dropdown {}
*/
.list-with-comment div.list
{
	width: 47%;
	float: left;
	padding: 0.5em;
}
.list-with-comment p.select
{
	width: 47%;
	float: left;
	padding: 0.5em;
	margin: 0%;
}
.list-with-comment div.list p
{
	margin: 0%;
	text-align: left;
}
.list-with-comment p.comment
{
	margin: 0%;
	padding: 0.5em;
	text-align: left;
	float: left;
	width: 47%;
}
.list-with-comment p.comment textarea
{
	width: 100%;
}


.ranking {}

/* DEFINED ABOVE UNDER "General list styles" - - - - -
.multiple-opt
*/

.language {}
.multiple-opt-comments input.text
{
	width: 20em;
}
.multiple-opt-comments label.answertext input.checkbox
{
	position: relative;
	top: 0.1em;
}
.multiple-opt-comments input.text.other
{
	width: 7em;
	display: inline;
}
/*
.multiple-opt-comments li label.answertext
{
	display: block;
	margin-top: -1.5em;
	margin-left: 2.5em;
}
.multiple-opt-comments li input.text
{
	display: block;
	margin-left: 2em;
	margin-top: 0.2em;
}
.multiple-opt-comments li.other label.answertext
{
	display: inline;
	margin-top: 0%;
	margin-left: 2.5em;
}
.multiple-opt-comments li.other input.text.other
{
	display: inline;
	margin-left: 0%;
}
*/


.multiple-short-txt li input.text
{
	margin-left: 0.5em;
	width: 20em;
}
.multiple-short-txt ul.numbers-only li input.text
{
	width: 10em;
}


.numeric-multi ul.computed
{
	margin-right: 12em;
}

 .multiple-opt-comments ul.X2  label.answertext , .multiple-short-txt ul.X2  label , .numeric-multi ul.X2  label
,.multiple-opt-comments ul.X4  label.answertext , .multiple-short-txt ul.X4  label , .numeric-multi ul.X4  label
,.multiple-opt-comments ul.X6  label.answertext , .multiple-short-txt ul.X6  label , .numeric-multi ul.X6  label
,.multiple-opt-comments ul.X8  label.answertext , .multiple-short-txt ul.X8  label , .numeric-multi ul.X8  label
,.multiple-opt-comments ul.X10 label.answertext , .multiple-short-txt ul.X10 label , .numeric-multi ul.X10 label
,.multiple-opt-comments ul.X12 label.answertext , .multiple-short-txt ul.X12 label , .numeric-multi ul.X12 label
,.multiple-opt-comments ul.X14 label.answertext , .multiple-short-txt ul.X14 label , .numeric-multi ul.X14 label
,.multiple-opt-comments ul.X16 label.answertext , .multiple-short-txt ul.X16 label , .numeric-multi ul.X16 label
,.multiple-opt-comments ul.X18 label.answertext , .multiple-short-txt ul.X18 label , .numeric-multi ul.X18 label
,.multiple-opt-comments ul.X20 label.answertext , .multiple-short-txt ul.X20 label , .numeric-multi ul.X20 label
,.multiple-opt-comments ul.X20 label.answertext , .multiple-short-txt ul.X20 label , .numeric-multi ul.X20 label
,.multiple-opt-comments ul.X22 label.answertext , .multiple-short-txt ul.X22 label , .numeric-multi ul.X22 label
,.multiple-opt-comments ul.X24 label.answertext , .multiple-short-txt ul.X24 label , .numeric-multi ul.X24 label
,.multiple-opt-comments ul.X28 label.answertext , .multiple-short-txt ul.X28 label , .numeric-multi ul.X28 label
,.multiple-opt-comments ul.X30 label.answertext , .multiple-short-txt ul.X30 label , .numeric-multi ul.X30 label
,.multiple-opt-comments ul.X-large label.answertext , .multiple-short-txt ul.X-large label , .numeric-multi ul.X-large label
{
	margin-bottom: -1.8em;
	display: block;
}
 .multiple-opt-comments ul.X2  label.answer-comment , .multiple-short-txt ul.X2  input.text , .numeric-multi ul.X2  div.input
,.multiple-opt-comments ul.X4  label.answer-comment , .multiple-short-txt ul.X4  input.text , .numeric-multi ul.X4  div.input
,.multiple-opt-comments ul.X6  label.answer-comment , .multiple-short-txt ul.X6  input.text , .numeric-multi ul.X6  div.input
,.multiple-opt-comments ul.X8  label.answer-comment , .multiple-short-txt ul.X8  input.text , .numeric-multi ul.X8  div.input
,.multiple-opt-comments ul.X10 label.answer-comment , .multiple-short-txt ul.X10 input.text , .numeric-multi ul.X10 div.input
,.multiple-opt-comments ul.X12 label.answer-comment , .multiple-short-txt ul.X12 input.text , .numeric-multi ul.X12 div.input
,.multiple-opt-comments ul.X14 label.answer-comment , .multiple-short-txt ul.X14 input.text , .numeric-multi ul.X14 div.input
,.multiple-opt-comments ul.X16 label.answer-comment , .multiple-short-txt ul.X16 input.text , .numeric-multi ul.X16 div.input
,.multiple-opt-comments ul.X18 label.answer-comment , .multiple-short-txt ul.X18 input.text , .numeric-multi ul.X18 div.input
,.multiple-opt-comments ul.X20 label.answer-comment , .multiple-short-txt ul.X20 input.text , .numeric-multi ul.X20 div.input
,.multiple-opt-comments ul.X22 label.answer-comment , .multiple-short-txt ul.X22 input.text , .numeric-multi ul.X22 div.input
,.multiple-opt-comments ul.X24 label.answer-comment , .multiple-short-txt ul.X24 input.text , .numeric-multi ul.X24 div.input
,.multiple-opt-comments ul.X26 label.answer-comment , .multiple-short-txt ul.X26 input.text , .numeric-multi ul.X26 div.input
,.multiple-opt-comments ul.X28 label.answer-comment , .multiple-short-txt ul.X28 input.text , .numeric-multi ul.X28 div.input
,.multiple-opt-comments ul.X30 label.answer-comment , .multiple-short-txt ul.X30 input.text , .numeric-multi ul.X30 div.input
,.multiple-opt-comments ul.X-large label.answer-comment , .multiple-short-txt ul.X-large input.text , .numeric-multi ul.X-large div.input
{
	display: block;
	margin-bottom: 1em;
}

.multiple-opt-comments ul.X2 label.answertext , .multiple-short-txt ul.X2 label , .numeric-multi ul.X2 label { width: 2em;}
.multiple-opt-comments ul.X2 label.answer-comment , .multiple-short-txt ul.X2 input.text , .numeric-multi ul.X2 div.input { margin-left: 2.5em; }

.multiple-opt-comments ul.X4 label.answertext , .multiple-short-txt ul.X4 label , .numeric-multi ul.X4 label { width: 4em;}
.multiple-opt-comments ul.X4 label.answer-comment , .multiple-short-txt ul.X4 input.text , .numeric-multi ul.X4 div.input { margin-left: 4.5em; }

.multiple-opt-comments ul.X6 label.answertext , .multiple-short-txt ul.X6 label , .numeric-multi ul.X6 label { width: 6em;}
.multiple-opt-comments ul.X6 label.answer-comment , .multiple-short-txt ul.X6 input.text , .numeric-multi ul.X6 div.input { margin-left: 6.5em; }

.multiple-opt-comments ul.X8 label.answertext , .multiple-short-txt ul.X8 label , .numeric-multi ul.X8 label { width: 8em;}
.multiple-opt-comments ul.X8 label.answer-comment , .multiple-short-txt ul.X8 input.text , .numeric-multi ul.X8 div.input { margin-left: 8.5em; }

.multiple-opt-comments ul.X10 label.answertext , .multiple-short-txt ul.X10 label , .numeric-multi ul.X10 label { width: 10em;}
.multiple-opt-comments ul.X10 label.answer-comment , .multiple-short-txt ul.X10 input.text , .numeric-multi ul.X10 div.input { margin-left: 10.5em; }

.multiple-opt-comments ul.X12 label.answertext , .multiple-short-txt ul.X12 label , .numeric-multi ul.X12 label { width: 12em;}
.multiple-opt-comments ul.X12 label.answer-comment , .multiple-short-txt ul.X12 input.text , .numeric-multi ul.X12 div.input { margin-left: 12.5em; }

.multiple-opt-comments ul.X14 label.answertext , .multiple-short-txt ul.X14 label , .numeric-multi ul.X14 label { width: 14em;}
.multiple-opt-comments ul.X14 label.answer-comment , .multiple-short-txt ul.X14 input.text , .numeric-multi ul.X14 div.input { margin-left: 14.5em; }

.multiple-opt-comments ul.X16 label.answertext , .multiple-short-txt ul.X16 label , .numeric-multi ul.X16 label { width: 16em;}
.multiple-opt-comments ul.X16 label.answer-comment , .multiple-short-txt ul.X16 input.text , .numeric-multi ul.X16 div.input { margin-left: 16.5em; }

.multiple-opt-comments ul.X18 label.answertext , .multiple-short-txt ul.X18 label , .numeric-multi ul.X18 label { width: 18em;}
.multiple-opt-comments ul.X18 label.answer-comment , .multiple-short-txt ul.X18 input.text , .numeric-multi ul.X18 div.input { margin-left: 18.5em; }

.multiple-opt-comments ul.X20 label.answertext , .multiple-short-txt ul.X20 label , .numeric-multi ul.X20 label { width: 20em;}
.multiple-opt-comments ul.X20 label.answer-comment , .multiple-short-txt ul.X20 input.text , .numeric-multi ul.X20 div.input { margin-left: 20.5em; }

.multiple-opt-comments ul.X22 label.answertext , .multiple-short-txt ul.X22 label , .numeric-multi ul.X22 label { width: 22em;}
.multiple-opt-comments ul.X22 label.answer-comment , .multiple-short-txt ul.X22 input.text , .numeric-multi ul.X22 div.input { margin-left: 22.5em; }

.multiple-opt-comments ul.X24 label.answertext , .multiple-short-txt ul.X24 label , .numeric-multi ul.X24 label { width: 24em;}
.multiple-opt-comments ul.X24 label.answer-comment , .multiple-short-txt ul.X24 input.text , .numeric-multi ul.X24 div.input { margin-left: 24.5em; }

.multiple-opt-comments ul.X26 label.answertext , .multiple-short-txt ul.X26 label , .numeric-multi ul.X26 label { width: 26em;}
.multiple-opt-comments ul.X26 label.answer-comment , .multiple-short-txt ul.X26 input.text , .numeric-multi ul.X26 div.input { margin-left: 26.5em; }

.multiple-opt-comments ul.X28 label.answertext , .multiple-short-txt ul.X28 label , .numeric-multi ul.X28 label { width: 28em;}
.multiple-opt-comments ul.X28 label.answer-comment , .multiple-short-txt ul.X28 input.text , .numeric-multi ul.X28 div.input { margin-left: 28.5em; }

.multiple-opt-comments ul.X30 label.answertext , .multiple-short-txt ul.X30 label , .numeric-multi ul.X30 label { width: 30em;}
.multiple-opt-comments ul.X30 label.answer-comment , .multiple-short-txt ul.X30 input.text , .numeric-multi ul.X30 div.input { margin-left: 30.5em; }

.multiple-opt-comments ul.X-large label.answertext , .multiple-short-txt ul.X-large label , .numeric-multi ul.X-large label { margin-bottom: 0%;}
.multiple-opt-comments ul.X-large label.answer-comment , .multiple-short-txt ul.X-large input.text , .numeric-multi ul.X-large div.input { margin-left: 2em; }

.numeric-multi div.multinum-slider
{
	margin-top: 1.5em;
}
.numeric-multi dl.multiplenumerichelp
{
	position: relative;
	width: 16em;
	margin-top: -4.3em;
	margin-bottom: 0%:
	padding: 0.3em;
}
.numeric-multi dl.multiplenumerichelp.slider { left: 22em; }
.numeric-multi dl.multiplenumerichelp.X2  { left: 14em; }
.numeric-multi dl.multiplenumerichelp.X4  { left: 16em; }
.numeric-multi dl.multiplenumerichelp.X6  { left: 18em; }
.numeric-multi dl.multiplenumerichelp.X8  { left: 20em; }
.numeric-multi dl.multiplenumerichelp.X10 { left: 18em; }
.numeric-multi dl.multiplenumerichelp.X12 { left: 20em; }
.numeric-multi dl.multiplenumerichelp.X14 { left: 22em; }
.numeric-multi dl.multiplenumerichelp.X16 { left: 24em; }
.numeric-multi dl.multiplenumerichelp.X18 { left: 26em; }
.numeric-multi dl.multiplenumerichelp.X20 { left: 28em; }
.numeric-multi dl.multiplenumerichelp.X22 { left: 30em; }
.numeric-multi dl.multiplenumerichelp.X24 { left: 32em; }
.numeric-multi dl.multiplenumerichelp.X26 { left: 34em; }
.numeric-multi dl.multiplenumerichelp.X28 { left: 36em; }
.numeric-multi dl.multiplenumerichelp.X30 { left: 38em; }
.numeric-multi dl.multiplenumerichelp.X-large { display: static; }

.numeric-multi dl.multiplenumerichelp dt
{
	text-align: right;
	width: 8em;
	padding: 0%;
	margin: 0% 0% -1.5em 0%;
	font-size: 90%;
}
.numeric-multi dl.multiplenumerichelp dd
{
	text-align: left;
	margin: 0% 0% 0.8em 8em;
	padding: 0%;
}
.numeric-multi dl.multiplenumerichelp dd input
{
	border: none;
	background-color: #fff;
	color: #222;
	padding: 0%;
	width: 7em;
}

 .numeric input
,.text-short input
,.text-long textarea
,.text-huge textarea
{
	margin-left: 1em;
}
/* STYLES NOT YET DEFINED - - - - -
.yes-no {}
.gender {}
*/

#limesurvey table.question thead th
{
	text-align: center;
	vertical-align: bottom;
	font-weight: normal;
}
#limesurvey table.question tbody td
{
	text-align: center;
}
 #limesurvey table.question tbody th.answertext
,#limesurvey table.question tbody th.arraycaptionleft
{
	text-align: right;
	font-weight: normal;
}
#limesurvey table.question tbody th.answertextright
{
	text-align: left;
	font-weight: normal;
}
.array-flexible-column col.odd
{
	background-color: #eee;
}

 .boilerplate td td
,.numeric td td
,.choice-5-pt-radio td td
,.yes-no td td
,.gender td td
,.date td td
,.numeric-multi td td
,.numeric td td
,.list-with-comment td td
,.list-dropdown-flexible td td
,.ranking td td
,.numeric-multi td td
,.language td td
,.multiple-opt-comments td td
,.multiple-short-txt td td
,.text-short td td
,.text-long td td
,.text-huge td td
,.numeric-multi td td
,.array-5-pt td
,.array-10-pt td
,.array-yes-uncertain-no td
,.array-increase-same-decrease td
,.array-flexible-row td
,.array-flexible-column td
,.array-multi-flexi td
,.array-multi-flexi-text td
,.array-flexible-duel-scale td 
{
	text-align: left;
}




/* Jquery CSS
 */
/** UI Base **/
.ui-wrapper { border: 1px solid #50A029; }
.ui-wrapper input, .ui-wrapper textarea { border: 0; }
/** UI Slider **/
.ui-slider-handle { position: absolute; height: 23px; width: 12px; top: 0px; left: 0px; background-image: url(../../images/slider-handle.gif);  }
.ui-slider-disabled .ui-slider-handle { opacity: 0.5; filter: alpha(opacity=50); }
.ui-slider-1 { width: 200px; height: 23px; padding: 1px; position: relative; background-image: url(../../images/slider-bg-1.png); background-repeat: no-repeat; background-position: center center; }
.ui-slider-2 { width: 200px; height: 23px; position: relative; background-image: url(../../images/slider-bg-2.png); background-repeat: no-repeat; background-position: center center; }
.slider_callout { no-repeat; height: 20px; width: 100px; overflow: hidden; position: absolute; top: -17px; margin-left:+15px; font-family: 'Myriad Pro'; color: #284a6e; font-weight: bold; text-align: left;}
