<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>TwoFactorAdminLogin</name>
        <type>plugin</type>
        <creationDate>2019-03-10</creationDate>
        <lastUpdate>2025-03-14</lastUpdate>
        <author>LimeSurvey GmbH</author>
        <authorUrl>https://www.limesurvey.org</authorUrl>
        <version>1.3.0</version>
        <license>GNU General Public License version 2 or later</license>
        <description><![CDATA[Use a TOTP based 2 factor authentication on logging in into the admin portal.]]></description>
        <supportUrl>https://www.limesurvey.org</supportUrl>
    </metadata>
    <compatibility>
        <version>6.0</version>
        <version>5.0</version>
        <version>4.0</version>
 	    <version>3.0</version>
    </compatibility>
    <updaters>
        <updater>
            <stable>1</stable>
            <type>rest</type>
            <source>https://comfortupdate.limesurvey.org/index.php?r=limestorerest</source>
        </updater>
    </updaters>
</config>
