// Typography START
$font-size-base: 1.14rem; // 16px, Browser default usually is 14px
$font-size-xs: $font-size-base * 0.75; // 12px
$font-size-sm: $font-size-base * 0.875; // 14px
$font-size-lg: $font-size-base * 1.25; // 20px

$font-weight-300: 300;
$font-weight-normal: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-900: 900;

$line-height-20: 20px;
$line-height-24: 24px;
$line-height-26: 26px;
// Typography End


$border-radius: 4px;
