div.row {
    border: 2px solid red;
}

.settingswidget * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.settingswidget input[type^='button'], .settingswidget label{
    height: 30px;
    line-height: 30px;
    margin-top: 0px;
}

.settingswidget textarea {
    min-height: 100px;
}

.settingswidget .boolean label{
    margin-right: 10px;
}

.settingswidget {
    margin: auto;
    width: 60%;
}

/*
    Special layout for list settings (inline).
*/

.settingswidget .settingslist input[data-type=int]{
    width: 50px;
}

.settingswidget .settingslist table{
    width: 100%;
}
.settingswidget .settingslist label{
    width: auto;
    margin-right: 5px;
}

.settingswidget div.setting {
    width: 100%;
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
}


.settingswidget {
    padding-top: 10px;
    padding-bottom: 10px;
}

.settingswidget .setting > * {
    width: 70%;
    display: inline-block;
}

.settingswidget .setting > label {
    text-align: right;
    padding-right: 10px;
    width: 30%;
    display: inline-block;
}
.settingswidget .setting > label:after{
    content: ':';
}
.settingswidget .setting input[type=checkbox]{
    width: auto;
}

.settingswidget legend {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.settingswidget .buttons {
    text-align: center;
}

.settingswidget ul.wysihtml5-toolbar li {
    clear: none !important;
}

.settingswidget .jsoneditor-wrapper {
    height: 400px;
    vertical-align: middle;
}