.question-code-tag {
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid #6e748c;
  color: #1e1e1e;
  text-align: center;
  font-size: 10px;
  font-style: $font-style-base;
  font-weight: $font-weight-normal;
  line-height: 16px;
  letter-spacing: -0.5px;
  height: 28px;
  min-width: 60px;
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides overflow text */
  text-overflow: ellipsis; /* Shows "..." when text overflows */
}
