.question-code-tag {
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid #6e748c;
  color: #1e1e1e;
  text-align: center;
  font-size: 10px;
  font-style: $font-style-base;
  font-weight: $font-weight-normal;
  line-height: 16px;
  letter-spacing: -0.5px;
  height: 28px;
  width: 60px;
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides overflow text */
  text-overflow: ellipsis; /* Shows "..." when text overflows */
  margin-left: 20px;
}

.question-code-icon-error {
  height: 16px;
  width: 16px;
  fill: $error;
}

.question-code-container {
  min-width: 60px;
}

.question-code-tag-error {
  font-size: 10px;
  font-weight: 500;
  margin-left: 20px;
}
