/* This CSS file is included if a Right-to-Left language is used */
#panel-left {
  float: right;
}
ul,ol {
  margin: 15px 40px 15px 0;
}
ul ul,ul ul ul,ol ol,ol ol ol {
  margin: 0;
  margin-right: 20px;
}
dd {
  margin-right: 30px;margin-left: 0;
}
.f-left {
  float: right;
}

.f-right {
  float: left;
}
.a-left,tr.a-left td {
  text-align: right;
}
.a-right,tr.a-right td {
  text-align: left;
}
.survey-groupdescription {
  padding: 0 3px 2px 0;
}
.survey-groupname {
  padding: 2px 3px 0 0;
}
.survey-question-help {
  margin: 2px 2px 0 0;
}
.survey-question-help img {
  padding: 0 0 0 10px;
}
.asterisk {padding-left:1em;}
.choice-5-pt-radio .survey-question-answer li,.list-radio-flexible .survey-question-answer li,.list-radio .survey-question-answer li,.list-with-comment .survey-question-answer li,.multiple-opt .survey-question-answer li,.multiple-opt-comments .survey-question-answer li,.multiple-short-txt .survey-question-answer li,.numeric-multi .survey-question-answer li,.yes-no .survey-question-answer li,.gender .survey-question-answer li
  {
  margin: 0 0.5em 0.5em 0;
}
.choice-5-pt-radio .survey-question-answer li,.list-radio-flexible .survey-question-answer li,.list-radio .survey-question-answer li,.list-with-comment .survey-question-answer li
  {
  margin-right: 2em;margin-left: 0;
}
.list-dropdown optgroup option {
  margin-right: 1.5em;margin-left: 0;
}
.choice-5-pt-radio .survey-question-answer ul,.yes-no .survey-question-answer ul,.gender .survey-question-answer ul {
  text-align: right;
}
.date p.question {
  margin-right: 1em;margin-left: 0;
}
.date p.tip,.numeric-multi p.tip,.numeric p.tip {
  margin-right: 1.5em; margin-left: 0;
}
ul.cols-2 li,ul.cols-2-ul,ul.cols-3 li,ul.cols-3-ul,ul.cols-4 li,ul.cols-4-ul,ul.cols-5 li,ul.cols-5-ul,ul.cols-6 li,ul.cols-6-ul,ul.cols-7 li,ul.cols-7-ul,ul.cols-8 li,ul.cols-8-ul
  {
  float: right;
}
.list-dropdown-flexible p.question {
  margin-right: 1em;margin-left: 0;
}
.list-with-comment div.list {
  float: right;
  padding: 0.5em;
}
.list-with-comment p.select {
  float: right;
}
.list-with-comment p.comment {
  text-align: right;
  float: right;
}
.numeric-multi ul.computed {
  float: right;
  padding-left: 2em;padding-right: 0;
}
.multiple-opt-comments ul li span.option {
  padding: 0.3em 1.8em 0 1em;
}
.numeric-multi ul li label {
  padding: 0.3em 0 0 1em;
}
.multiple-short-txt ul li label {
  padding: 0.3em 0 0 1em;
}
.numeric-multi ul.computed li label
.numeric-multi ul.slider.computed li label {
  padding-left: 0;
}
.multiple-opt-comments ul li span.comment,.multiple-short-txt ul li span,.numeric-multi ul li span
  {
  padding: 0.3em 1em 0 0;
}
.multiple-opt-comments ul li span {
  padding: 0.3em 0 0 1em;
}
.numeric-multi div.multinum-slider {
  float: right;
}
.numeric-multi ul.multiplenumerichelp li span,.numeric-multi ul.multiplenumerichelp.slider li span
  {
  padding: 0 0.5em 0 0;
}
.text-short input,.text-short textarea,.text-long textarea,.text-huge textarea
  {
  margin-right: 1em;margin-left: 0;
}
#limesurvey table.question tbody th.answertext,#limesurvey table.question tbody th.arraycaptionleft
  {
  text-align: left;
}
.array-flexible-column tbody th.arraycaptionleft {
  padding-left: 1em;padding-right: 0;
}
#limesurvey table.question tbody th.answertextright {
  text-align: right;
}
.survey-question {
  float: right;
}
#tokenform label {
  float: right;
  margin-left: 0.5em;
  text-align: left;
}
#tokenform img {
  margin-left: 5px;margin-right: 0;
}
#tokenform input.submit {
  margin-right: 18em; margin-left: 0;
}
.outerframe.withindex,.withindex .outerframe{
  margin-right: 1em;
  margin-left: 26em;
}
#index {
  left: 0;
  border-right: 1px solid #ccc;
}
#index h3 { margin: 0.5em 0.5em 0 0; }
#index .container .row {
  text-align: right;
}
#index .container .row .hdr {
  text-align: left;
  padding: 0 0 0 0.5em;
}

/* ranking questions */
.dragDropTable .dragDropChoiceList li,
.dragDropTable .dragDropRankList li {
	text-align: right;
}
.dragDropTable .dragDropRankList li span.DDRnumberprefix,
.dragDropTable .dragDropChoiceList li span.DDRnumberprefix {
	float: right;
}
