/**
 * OBS! NO COLOURS IN THIS FILE.
 */

.inputbuttons {
    width: 120px;
}

.inputbuttons-square {
    width: 20px;
    height: 16px;
    float: left;
}

/* Avoid numerical right aligned to be too close to word left aligned */
.jqgrid-tokens-number-padding {
    padding-right: 4px;
}

/* z-index fix */
.tooltip {
    position: fixed;
}

/** For token table */
.scrolling-wrapper {
    overflow-x: scroll;
}

/** Search criteria pop-up for token table */
#search {
    display: none;
    overflow-y: auto;
}
